[2017-05-02 23:01] #184 closed

[2017-05-02 23:02] Caoimhinmg commented on #184
Oops sorry about that just saw that it was depreciated didn't realize it would break everything for people with older matplotlibs.

[2017-05-02 23:03] moonshoes87 commented on #184
I only know because I tried the same thing ;)

[2017-05-03 00:13] njarboe opened #185 "Demag GUI without measurement-level data"
I have a location table with one entry and I get this error when I run demag_gui from pmag_gui:
Traceback (most recent call last):
  File "/Users/njarboe/git/pmagpy/PmagPy/programs/pmag_gui.py", line 518, in on_run_demag_gui
    evt_quit=DemagGuiExitEvent)
  File "/Users/njarboe/git/pmagpy/PmagPy/programs/demag_gui.py", line 225, in __init__
    self.locations.sort()# get list of sites
TypeError:

[2017-05-03 04:49] moonshoes87 commented on #185
Somehow, this line:

    self.locations=list(self.Data_hierarchy['locations'].keys())# get list of sites

was getting some string values and some np.nan values.  We should figure out why Data_hierarchy is getting any np.nan values, but I've pushed a fix that removes any non-null values.

[2017-05-03 16:13] njarboe commented on #185
This fix works. Should I close this issue or leave it open until you find out "why Data_hierarchy is getting any np.nan values"?

[2017-05-03 16:14] njarboe commented on #182
Working.

[2017-05-03 16:14] #182 closed

[2017-05-03 16:25] Caoimhinmg commented on #185
@njarboe, do you think I could see the data file causing this error? I for the life of me can't recreate it by messing up locations.txt. Once I know what caused it, I'll try another fix that might fit slightly better in the framework of the GUI (I have a few ideas) then I'll close the issue.

[2017-05-03 16:39] njarboe opened #186 "In the demag_gui "add fit" does not save the fit name if one makes a custom fit name"
Maybe I am not using the GUI correctly, but when I make a fit I would like to create my own name for the fit and then use that name on many specimens. If I click on add fit, I can change the default name from "Fit 1" to say "ChRM". I then select the demag steps I want for the fit. If I then go to the next specimen, "ChRM" is not available and I have to type ChRM in every time. This also happens if

[2017-05-03 17:01] moonshoes87 commented on #185
Yes, please leave it open.  Nick included an example above, Archive.zip.  Do you want to look into this, or should I?

[2017-05-03 17:02] Caoimhinmg commented on #186
When you click the "add fit" button in the main frame of Demag GUI you will always get a fit with a default name, the same occurs if it is your first fit and you double click on the list. This is because there isn't a good way to pick out what name to use so it picks a default generally of the form "Fit #".

If you want to rename a fit you have created click on the text potion of the fit drop down

[2017-05-03 17:26] #180 closed

[2017-05-03 17:38] njarboe opened #187 "When saving MagIC tables in demag_gui the sites table is overwritten and only sites that have interpreted specimens get saved"
In the current master branch (probably the same on Python 2 as well). When I interpreted specimens BL8129A-BL8136A fitting 200-800mT for each (these high levels are due to USGS using Oe instead of mT which needs to be fixed probably with another option in cit_magic) and create a site mean using a Fisher fit and then "Save MagIC Tables", the original sites.txt table is replaced with one that has on

[2017-05-03 17:52] Caoimhinmg commented on #185
Oops, can't believe I missed that archive. I'll handle this one.

[2017-05-03 18:13] #172 closed

[2017-05-03 18:28] Caoimhinmg commented on #185
So this is an interesting error, it seems to be caused because the sites you have listed in the sites.txt table don't match up with the sites in the samples.txt table so when propagating down from locations.txt to measurements.txt it hits a data gap. I have patched this by simply removing any data for which this problem exists. Problem is that is most of your dataset @njarboe.

The ultimate soluti

[2017-05-03 18:50] moonshoes87 commented on #185
Producing files with continuity between locations/sites/samples/specimens is obviously important.  But I am curious about these lines more generally:

            # do some filtering
            if 'location' in meas_data3_0.columns:
                meas_data3_0 = meas_data3_0[meas_data3_0['location'].notnull()]
             if 'site' in meas_data3_0.columns:
                 meas_data3_0 = meas_d

[2017-05-03 19:13] Caoimhinmg commented on #185
Well it doesn't need a location interpretation, but it does need a name of some kind. It has to group the data that's the idea of the GUI and data model so it needs a group name. I could give a default name to data with this issue, like "unknown". So it'd be more like:

[code]

[2017-05-03 22:23] moonshoes87 commented on #185
Interesting.  It just seems like if we don't exclude measurements without location data as long as *none* of them have location data, we shouldn't exclude measurements without location data if only *some* of them are missing it.

I don't know the details of how all this is implemented in Demag GUI, so you probably understand the challenges better than I do.  It seems like your strategy above could

[2017-05-03 22:56] moonshoes87 opened #188 "Thellier GUI threshold windows are blank"
We are missing values in the threshold windows...

<img width="1141" alt="screen shot 2017-05-03 at 3 49 52 pm" src="https://cloud.githubusercontent.com/assets/1836578/25684803/426b9f4a-3018-11e7-9460-f577b73f5d20.png">

I'm also now getting this error.  I wonder if this is somehow a consequence of downgrading to Python 3.5 and shuffling some packages around?

    AttributeError: module 'wx' has n

[2017-05-03 22:58] Caoimhinmg commented on #185
Okay I applied the fix suggested above. The basic problem @moonshoes87 is that there has to be a location you can say the samples or specimens belong to in the GUI. It's too ingrained to move around even when there is nothing but measurement data the GUI invents the 'unknown' location for the dataset. This is simply the logical extension of that so if there is partially unaccounted for data it goe

[2017-05-03 23:02] moonshoes87 commented on #188
Looks like the exec statements are fairly broken.  I'm going to see about refactoring.

[2017-05-03 23:02] Caoimhinmg commented on #187
This was a serious one @njarboe, I've tried squashing this about two dozen times at this point I think ever since we switched to data model 3. Think I've finally cracked it though, give it another shot. Part of it was just a lot of little things caused by Python3, part of it was me over complicating things. This new method seems more stable than the old one and worked like a charm over here. Let m

[2017-05-03 23:11] Caoimhinmg commented on #87
@sslotznick and @Swanson-Hysell this has been implemented, I forgot to tag the last few commits on it, but I've given it a few tests and in data model 3.0 only Demag GUI outputs dir_dec/inc as the normal vector of a plain fit and dir_bfv_dec/inc are the best fit vector. Reopen or open another issue if there is anything more you all want done on this topic. Also sorry for the long delay on implemen

[2017-05-03 23:11] #87 closed

[2017-05-04 00:42] njarboe commented on #185
This data set is from the USGS with the measurement data for all the specimens collected over decades (long projects at the USGS sometimes). So in this case they converted over to the Cal Tech system around 2005. We have the data files from those, but before that they are either on paper or some dos floppies. We may try and get those eventually, but I wanted to get the partial set of data availabl

[2017-05-04 19:33] moonshoes87 commented on #188
Lots of refactoring in progress.  Exec statements are not "best practice" anyway, but they work differently in Python 3 vs. Python 2.

This breaks a bunch of pieces in Thellier GUI code.  I should be able to fix them all in the next day or so, but no one should bother working with Thellier GUI in the meantime.

[2017-05-04 22:59] njarboe commented on #186
Thanks for the info @Caoimhinmg. I guess it makes more sense when you are getting new data you just call it Fit 1, Fit 2, etc because until you have done quite a few, you may not know what caused the components yet. Especially for you guys doing 0.5-1 Ga rocks. When I am loading studies already published, I know all the fits and just want to set them straight away. Maybe a feature for the future.

[2017-05-04 22:59] #186 closed

[2017-05-05 21:21] njarboe commented on #187
@Caoimhinmg, I tried running today's pull of pmag_gui.py (I'm trying to use only Python 3 versions of programs so that we can get to 3 as soon as possible, so I mean Python 3 unless otherwise stated) on Hagstum's data files.
[OrgHagstrumFiles.zip](https://github.com/PmagPy/PmagPy/files/980331/OrgHagstrumFiles.zip)
And then fit all of the specimens of site BL8192 using 200-800. Then when I tried to

[2017-05-05 21:29] moonshoes87 commented on #187
It looks like we might just need to drop null values here, because they are breaking the sorting.  This is an easy fix assuming that it is “ok” that for the specimens.location column to have null values at this point in the workflow…  But if the presence of null values in this column is a problem, then there is a deeper issue to fix.

[2017-05-05 21:41] njarboe commented on #187
@moonshoes87 @Caoimhinmg I think it is OK to require that specimens must have parents up to location and the same for samples and sites and measurements. I did not realize that this was the problem. I thought the problem was that some sites had measurements/specimens/samples and some sites had no children. Hagstrum's data all have parents and it is the cit_magic program that needs to be modified t

[2017-05-06 06:09] njarboe commented on #187
I closed this on accident. Now reopened

[2017-05-09 20:13] #188 closed

[2017-05-09 20:16] moonshoes87 opened #189 "Thellier GUI consistency test"
This functionality doesn't have much documentation and has not been updated for MagIC data model 3.  I took out some of the breaking exec statements, but the data model issue persists.

@ronshaar, @ltauxe, any thoughts about this?  I can tackle this translation at some point if that would be helpful.

[2017-05-09 20:19] moonshoes87 opened #190 "Thellier GUI plot paleointensity curve"
I don't think the "plot paleointensity curve" was fully updated for MagIC 3.  I've been able to run this, but I always get an empty plot.

@ronshaar, @ltauxe, has this plotting worked for you?  Should I add it to my to do list?

[2017-05-09 20:20] #178 closed

[2017-05-10 15:17] ltauxe commented on #190
oh yeah - i forgot about that.  sure!  if you can handle this that would be great.  It has to do with where to put the ages - they aren’t supposed to be in ages.txt which is where thellier_gui was looking (er_ages.txt in the old model). They belong in sites.txt now.
lisa

[2017-05-10 16:42] ronshaar commented on #190
Lori,
please leave this bug open and I will close it.
Ron.

[2017-05-10 18:13] moonshoes87 commented on #190
Great, I will leave this alone!  Thanks!

[2017-05-10 18:36] moonshoes87 opened #191 "aarm_magic.py & atrm_magic.py"
aarm_magic.py is not updated to use MagIC data model 3.0.  It still works fine with MagIC data model 2.5.

Changes needed: Currently aarm_magic.py outputs to rmag_anisotropy.txt and rmag_results.txt.  Presumably these results should be written to specimens.txt instead.  Also, headers need to be switched from 2.5 to 3.0.

atrm_magic.py has the same issue.

[2017-05-10 18:42] #165 closed

[2017-05-11 00:27] ltauxe commented on #191
roger that.  I’ll take a look when I have a moment.
lisa

[2017-05-11 23:11] moonshoes87 opened #192 "replace .ix with .loc or .iloc"
pandas is deprecating the .ix style search.  This just means I need to replace .ix with .loc or .iloc sooner or later.  (iloc indexes by position, loc indexes by label, ix used to be flexible and use either).  Future pandas code should use .iloc or .loc as needed.

[2017-05-11 23:16] moonshoes87 opened #193 "Python 3 orientation_magic bug"
2) When using “calculate gepgraphic/tilt correction…” from pmag_gui I get:
  File "/Users/ronshaar/PmagPy/dialogs/pmag_basic_dialogs.py", line 3149, in on_m_calc_orient
    ran_successfully, error_message = ipmag.orientation_magic(or_con, dec_correction_con, dec_correction, bed_correction, hours_from_gmt=hours_from_gmt, method_codes=method_codes, average_bedding=average_bedding, orient_file='demag

[2017-05-11 23:17] moonshoes87 opened #194 "Demag GUI geographic coordinate system"
Not working as expected with Golan heights data.

[2017-05-12 18:14] njarboe opened #195 "Confusion on the cit_magic.py volume and weight conversion code"
@Caoimhinmg I am using cit_magic.py to convert some data files from Scott Bogue at Occidental College and I am a bit confused by the weight/vol moment to magnetization conversion code.

First, the help says the volume/weight can be set to gm, kg, cc, or m3, but only cc or m3 are used in the following code (if not cc or m3, defaults to cc). I'll remove the weight options in the help decription for

[2017-05-13 17:26] ronshaar commented on #194
Fixed.

[2017-05-13 17:26] #194 closed

[2017-05-13 17:29] ronshaar commented on #193
Fixed.
In Python 3 we can use exec to assign values to local variables but they need to declared first.

[2017-05-13 17:29] #193 closed

[2017-05-15 19:39] moonshoes87 commented on #193
@ronshaar, a clarification about being able to assign variables using exec in Python 3:

You actually cannot assign a “local” variable using exec.

...     a = 1
...     exec("a = 3")
...     print(a)
...

1

So, in that case, declaring the local variable first just means that you end up using that first declared value.  You can still set global variables with exec, though:

3

Exec also still wor

[2017-05-15 19:42] moonshoes87 commented on #192
fixed with 4c9c843

[2017-05-15 19:42] #192 closed

[2017-05-16 05:28] ronshaar commented on #193
Thanks Lori.
You are totally correct about the exec. Im happy you found this bug.  My mistake was that I didn’t understand that   exec behaves differently inside a definition:

3

 but

...     a=1;exec("a=3");print (a)
...

1

Thanks !!
Ron.

[2017-05-16 06:04] moonshoes87 commented on #187
@njarboe, I just pushed a fix for this (basically reverting to @Caoimhinmg's original way of doing it, plus adding a warning that some measurements are being deleted).  With the data from OrgMagICFiles.zip, this means that 1747 measurements are excluded for lack of a location name.  There is only one site in the sites table, so there is only one available site --> location relationship.

However,

[2017-05-16 08:08] ronshaar opened #196 "Earth-Ref MagIC builder in model 3.0 overwrites sample orientation in samples.txt"
Environment:
MagIC model 3.0 , Python 3.6, osx.10.11

I use orientation_magic in pmag_gui to calculate sample orientation. orientation_magic.py writes two lines to samples.txt:  one with "SO-MAG" and second one with "SO-MAG:SO-CMD-NORTH"

When Im using Earth-Ref MagIC builder to add ER data the program delete the line with "SO-MAG:SO-CMD-NORTH" leaving only  "SO-MAG",

What is the best solution? S

[2017-05-16 18:00] moonshoes87 opened #197 "lowrie.py has unicode problems in Python 3"
This line (from data_files/lowrie/lowrie_example.dat), does not decode correctly with utf-8, but I am not sure what encoding to use.

    318-U1359A-002H-1-W-109              0.00     0.4  2.288E-3    73.5   -46.8     07/04/12;15:10;¡C;0.0000;microT;Saiko;G34; 1

[2017-05-16 18:00] moonshoes87 commented on #197
switched to Latin-1, not sure this is a high quality solution, but it is working for now.

[2017-05-16 18:01] moonshoes87 opened #198 "install wxPython Phoenix for Python 3"
Installing wxpython Phoenix:

this doesn't currently work:

sudo -H pip install --upgrade --pre -f https://wxpython.org/Phoenix/snapshot-builds/ wxPython_Phoenix

but this does:

conda install -c newville wxpython-phoenix=3.0.3

We need to make sure this consistently works.

[2017-05-16 18:07] moonshoes87 commented on #197
sio_magic should have this same problem, probably want to fix it in pmag.magic_read (try using utf-8, if it is broken, use latin-1)

[2017-05-16 18:11] moonshoes87 commented on #119
From meeting:  Add a warning, and an are you sure?

[2017-05-16 18:17] moonshoes87 commented on #142
@ltauxe and I concluded that this minor munching of the upgrade isn't a big issue.  If it comes up in the future, we'll fix it then.

[2017-05-16 18:17] #142 closed

[2017-05-16 18:33] moonshoes87 commented on #179
Deprecate: odp_spn_magic, specimen_results_magic, reorder_samples.py, parse_measurements.py, sites_locations.py, odp_srm_magic, odp_kly4s_magic, odp_dsc_magic

[2017-05-16 18:36] ltauxe commented on #196
If you put the higher priority orientation first (SO-CMD-NORTH) in the file, that would be better.   What absolutely has to be in the samples table is the one that is used.

[2017-05-16 18:41] moonshoes87 commented on #196
I can check and see why this is happening.  Could you send the files that you are using that have produced this error?  Thanks!

[2017-05-16 18:59] njarboe commented on #119
My two cents worth is that when creating a MagIC file for upload the
columns that are used internally in the PmagPy programs, but not found in
the data model, should be dropped without a warning. Columns added by the
user, but not in the data model, should be kept with a warning. The user,
as you said, can link an unknown column to the correct one in the data
model when uploading. I'm generally ag

[2017-05-16 19:01] moonshoes87 commented on #191
All data should go into specimens.txt, one line that combines RmagSpecRec and RmagResRec.

[2017-05-16 20:26] moonshoes87 opened #199 "save pmag tables breaks with Demag GUI data model 2, python3"
Save Pmag tables in Demag GUI data model 2, Python 3:

    demag_gui.py -WD /Users/ronshaar/Dropbox/pmag-users/Nicole/GH-Pmag-Nicole-Python3Test/MagIC
      File "/Users/ronshaar/PmagPy/programs/demag_gui.py", line 5792, in on_menu_make_MagIC_results_tables
        self.On_close_MagIC_dialog(dia)
      File "/Users/ronshaar/PmagPy/programs/demag_gui.py", line 4987, in On_close_MagIC_dialog

[2017-05-17 19:06] #199 closed

[2017-05-17 19:07] moonshoes87 commented on #199
Here is the source of this bug in ipmag.specimens_results_magic.  It results from a faulty translation from Python 2 --> Python 3:

    ...
          sd = pmag.get_dictitem(SiteNFO, 'er_site_name', site, 'T')
            if len(sd) > 0:
                sitedat = sd[0]
                if not avg_all_components:  # do component wise averaging
                    for comp in Comps:

[2017-05-17 19:33] ltauxe commented on #199
great sleuthing.  thanks

[2017-05-18 00:44] moonshoes87 commented on #198
Looks like this works:

sudo -H pip install --upgrade --pre -f https://wxpython.org/Phoenix/snapshot-builds/ wxPython

Not sure why wxPython_Phoenix worked before, but it's just wxPython now, it seems.

[2017-05-18 01:09] #198 closed

[2017-05-18 02:29] moonshoes87 commented on #197
Fixed in these commits:  29d5ce840ae0ee467b55255b5ab08545230f1486, 3a13e96e33819bfb1717fa0f4adc9a8d4edc88e3

[2017-05-18 02:29] #197 closed

[2017-05-18 17:56] moonshoes87 commented on #197
New function pmag.open_file deals appropriately with missing file an improper encoding.  In general, this can be used instead of open() in future code.

[2017-05-18 18:04] #179 closed

[2017-05-18 18:10] moonshoes87 opened #200 "Pmag GUI orientation step "None" values"
Shouldn't get any "None" values in Pmag GUI orientation step

<img width="1278" alt="screen shot 2017-05-18 at 11 09 51 am" src="https://cloud.githubusercontent.com/assets/1836578/26216911/9cf5bc40-3bba-11e7-9f9b-48319186ed96.png">

[2017-05-18 18:13] moonshoes87 commented on #200
Also, longitude should have been read in here...

[2017-05-18 19:22] #200 closed

[2017-05-22 19:39] moonshoes87 commented on #196
I've made some progress on this.

I fixed the problem in Pmag GUI step 3 where some lines from the sample file were incorrectly deleted.  @ronshaar, could you give this another try and let me know if it seems to work as you expect?

There is another problem in orientation_magic with MagIC 3:

If there is pre-existing data for a sample, cooling rate and method codes appear to be overwritten in orie

[2017-05-23 17:10] njarboe opened #201 "File uploaded to MagIC from the MIT group crashes pmag_gui in OSX 2.1.1 and developer most recent version"
Attached is the MagIC text file, but it should be the same as you get for version 3 of the Weiss 2017 contribution on the MagIC homepage (first on the list at this moment).
[magic_contribution_11943.txt](https://github.com/PmagPy/PmagPy/files/1023011/magic_contribution_11943.txt)
The pmag_gui developer error is:

pmag_gui.py
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be pat

[2017-05-23 19:25] moonshoes87 commented on #201
Ok, I am debugging (on master branch, Python 3, and data model 3).

[2017-05-23 19:32] #201 closed

[2017-05-23 19:33] moonshoes87 commented on #201
The problem came because null values can be None, '', or np.nan.  I added a function to new_builder that correctly evaluates all of those values to null.

[2017-05-23 20:15] moonshoes87 opened #202 "OS X frozen binary for Python 3"
We want to make the standalones in Python 3.  I need to figure out if there are any differences with doing this in Python 2 vs. Python 3.  As the master branch has become relatively stable, this is the blocker for creating new OS X standalones.

[2017-05-23 20:35] moonshoes87 commented on #119
@njarboe, thanks for your input.  I've implemented a solution that does more or less what you suggest, although the problem with blacklisting PmagPy columns is that I suspect I don't have a complete list of what should be dropped.  I will keep trying to add those (in ipmag.upload_magic3, to RmKeys and extra_RmKeys) as I find them.  Everyone else should feel free to do the same, or let me know what

[2017-05-23 20:40] moonshoes87 opened #203 "Windows standalones for Python 3"
As with py2app, this may or may not be significantly different in Python 3.

[2017-05-23 20:41] moonshoes87 commented on #201
I fixed it in the Python2 branch also.

[2017-05-24 15:14] njarboe commented on #202
Looking forward to having the standalones on the main development branch again. Let me know how I can help. I can run the Python 3 standalone pmag_gui on some data I'm familiar with before we release it to the public.

[2017-05-24 18:14] moonshoes87 opened #204 "PmagPy translation of 2.5 --> 3.0 needs proper disclaimers, and/or to crunch together some records"
Note for Lori: with Crowne data

[2017-05-24 18:15] #119 closed

[2017-05-24 18:25] moonshoes87 commented on #187
From discussions with @njarboe:

Make the warning a pop-up so it is harder to miss.  Warning something like:  This many measurements cannot be associated with a location.  Try using Pmag GUI step 3 to make sure you have the full chain from specimens --> locations.

We may want to implement a more informative error message later, but this is not a top priority.

[2017-05-24 18:43] moonshoes87 opened #205 "Add conversion script tests for the MagIC 3"
This should be a simple matter of translating test_imports2.

[2017-05-25 21:37] ltauxe opened #206 "eqarea_magic.py"
Downloading data from Swanson-Hysell's latest (doi: 10.1093/gji/ggv402) and unpacking with download_magic.py,  I get this error with eqarea_magic.py:

hermione-pro-2:sh17 ltauxe$ eqarea.py -f tmp
 S[a]ve to save plot, [q]uit without saving:  q
hermione-pro-2:sh17 ltauxe$ eqarea_magic.py -f pmag_sites.txt
-I- Using cached 3.0 data model
-I- Using cached method codes
-I- Using cached vocabularies
-I

[2017-05-25 21:49] Caoimhinmg commented on #195
Hey @njarboe, I have no idea what is going on with this piece of the code, I've just never touched it. It's basically still hanging around from an earlier era. I think part of the challenge is that the field volume/weight is the same in CIT convention and different in MagIC so the handling of this is a bit strange. I'd just rewrite it such that the user specified units either volume or mass and th

[2017-05-25 21:50] Caoimhinmg commented on #203
This is going to be a bit annoying having to set up a python environment in Windows again, I'll see what I can do this weekend. I'll let you know when it's all up @moonshoes87.

[2017-05-25 21:52] moonshoes87 commented on #202
py2app *should* be compatible with Python 3.  However, it doesn't seem to work with 3.6.

So I downgraded to 3.5, which fixed some problems.

Then I ran into a LOT more problems.

Those are mainly documented [here](https://stackoverflow.com/questions/44169646/py2app-failing-with-anaconda-python-3) and [here](https://stackoverflow.com/questions/44190269/py2app-with-anaconda-python-3-missing-constra

[2017-05-25 23:13] moonshoes87 commented on #202
Using a different Python 3 (Enthought EDM) results in the same 'missing constraints' error.  So this is a more systematic issue.

[2017-05-25 23:31] moonshoes87 commented on #202
Pyinstaller was able to produce a minimal working wxPython python 3 frozen binary.  So I'm trying with that for now.

This does require pulling pyinstaller from develop:

https://github.com/pyinstaller/pyinstaller/issues/2434

And I am now stuck for the real GUIs on this issue:

https://github.com/pyinstaller/pyinstaller/issues/2135

[2017-05-25 23:38] ltauxe commented on #206
um.. my bad

[2017-05-25 23:38] #206 closed

[2017-05-26 18:37] moonshoes87 commented on #202
monkey patch for pyinstaller with EDM:

found:  /Users/***/anaconda/python.app/Contents/Resources/qt_menu.nib

try putting it here:  /Users/**/.edm/envs/py2app-python3/Resources/Python.app/Contents/MacOS/../../../../python.app/Contents/Resources

so it is now:   /Users/***/.edm/envs/py2app-python3/python.app/Contents/Resources/qt_menu.nib/

And it can, apparently, be found.

Now pyinstaller runs w

[2017-05-26 19:42] moonshoes87 commented on #202
Looks like I need Pyside, which is only compatible with Python 3.4.  sigh.

[2017-05-26 19:56] moonshoes87 commented on #203
Well, it is going very, very slowly for OS X.  So no pressure ; )

[2017-05-26 20:42] moonshoes87 commented on #202
pip install PySide.whl (downloaded)

pip install delocate: https://github.com/matthew-brett/delocate

[2017-05-26 22:16] njarboe commented on #196
Hello @ronshaar ,

I was trying to figure out how to solve your problem and I was wondering why you want to record three different ways of measuring the orientation of a sample? Lori gave me this file as an example of your data.
[output_samples.txt](https://github.com/PmagPy/PmagPy/files/1033055/output_samples.txt)

Do you want people to be able to choose a different one if they want? I would thin

[2017-05-26 22:26] ltauxe commented on #196
in the 2.5 version, ONLY the one used was kept, so that does make sense.  I can imagine a scenario in which someone might want to compare different orientation methods (like we did in Cromwell’s Jan Mayen study), but I’m happy with just keeping the ‘best’ one in the database.  makes life simpler.
lisa

[2017-05-26 23:27] njarboe commented on #195
Scott Bogue at Occidental, who has the same system, uses 1.0 because he does not care about the magnetization. Jonathan Glen in an email does care about the magnetization and puts in the volume. He explained to situation to me thus:

I believe Scott routinely puts in 1 because if the samples get mixed up its very difficult to fix the files.  Since Magnetizations is very important for my potential

[2017-05-26 23:36] moonshoes87 commented on #202
Now let's try Anaconda with pyinstaller.

First, install develop version of pyinstaller:  pip install git+https://github.com/pyinstaller/pyinstaller.git

Minimal script non-windowed with matplotlib import --> success

Minimal script windowed with matplotlib --> success

Magic GUI --> pyinstaller runs without substantial errors, but then lots of SandboxViolations in console.  Progress.

[2017-05-27 01:20] moonshoes87 commented on #196
Also, just to clarify, I completely invented the orientation file that I used with Ron’s data and populated it with arbitrary values, so it isn’t very “realistic”.

Getting rid of all but the best orientation is definitely a simple solution to implement...

[2017-05-31 22:56] moonshoes87 commented on #202
Something in self.add_fit is breaking things in Demag GUI.  It isn't self.user_warning.  Seems this may be a matplotlib issue?

[2017-06-02 23:24] moonshoes87 commented on #202
It is a matplotlib issue.  Trying with some different versions of matplotlib:

Newest version (2 something) --> fails

1.5.3 --> still fails

1.5.2 --> not available

[2017-06-02 23:27] moonshoes87 commented on #196
@njarboe & @ltauxe , what is the status with this?  Should I update ipmag.orientation_magic to only keep the top orientation?  Also, what about appending vs. not appending method codes?

[2017-06-05 04:29] ltauxe commented on #196
sorry - i’ve been working on something that was due a while ago.  will try to catch up this week.
lori - maybe we can skype tuesday?
lisa

[2017-06-05 19:58] moonshoes87 commented on #202
So, with these specifications, everything works except actually showing a minimal plot:

pyinstaller # latest from develop as of 6/5/17.  must use develop branch or else breaks with wx
python # anaconda 3.5 or 3.6
matplotlib # 2.2, 1.5.3, or 1.5.1

Error output:

    /Users/***/Python/PmagPy/dist/minimal_matplotlib ; exit;
     ~ /Users/***/Python/PmagPy/dist/minimal_matplotlib ; exit;
    /var/fo

[2017-06-05 20:09] moonshoes87 commented on #202
Install anaconda python 3.

To build:

    pip install git+https://github.com/pyinstaller/pyinstaller.git
    conda instal nomkl

Make the .spec file:

    pyi-makespec --onefile --windowed --icon=.\programs\images\PmagPy.ico  --name=PmagGUI .\programs\pmag_gui.py

add the following to the resulting pmag_gui.spec file:

    files = [
         ('/Users/***/PmagPy/pmagpy/data_model/*.json', './pmagp

[2017-06-06 04:33] njarboe commented on #202
I have run the pmag_gui that you linked in your dropbox and it runs on my system. I can see data with demag_gui. When I try to create an upload file with these MagIC files:
[HagstrumMagICFiles.zip](https://github.com/PmagPy/PmagPy/files/1053827/HagstrumMagICFiles.zip)
the program hangs.

I also do not see a console window for looking at the error and warnings. Does the consolw=e exist for you @moo

[2017-06-06 18:23] moonshoes87 commented on #202
I just replaced both GUIs on Dropbox with version that do show a console window.  Now I'll have a look at the upload problem.

[2017-06-06 18:50] moonshoes87 commented on #202
I fixed the upload issue and another problem or two.  An updated Pmag GUI is synching on Dropbox now.  Let me know what else you find!

[2017-06-06 20:14] moonshoes87 opened #207 "core_depthplot.py error"
core_depthplot error (in _PmagPy.ipynb)

    -W-  <class 'IsADirectoryError'> [Errno 21] Is a directory: './'

[2017-06-06 20:16] moonshoes87 opened #208 "kly4s_magic.py error"
In _PmagPy.ipynb:

    Error opening file:  kly4s_magic/KLY4S_magic_example.dat

[2017-06-06 21:10] moonshoes87 commented on #191
@ltauxe, aarm_magic and atrm_magic now take the -DM switch (defaulting to MagIC 3).  I've tried them with the example data_files and they seem correct, but If you could have a look as well that would be great.  Also, I didn't have a sample file to check that aarm_magic works with the -crd option, so that would be particularly worth looking at.

Should azdip_magic also be updated to use 3.0?

[2017-06-07 18:45] moonshoes87 commented on #204
@njarboe, we discussed these data a bit in our meeting two weeks ago.  You were suggesting that we shouldn't end up with multiple records for each sample after translating from MagIC 2 to MagIC 3.  However, multiple records are also created when using the MagIC upgrade tool:

PmagPy translation:

![screen shot 2017-06-07 at 11 31 51 am](https://user-images.githubusercontent.com/1836578/26895002-f3

[2017-06-07 18:46] moonshoes87 commented on #204
I am adding a clarifying warning and an option to go straight to the Earthref upgrade tool, also.

[2017-06-07 22:59] njarboe commented on #204
@moonshoes87  Looks like the MagIC translation puts the data together but still has two lines (except for the description) while the PmagPy has different fields filled out in each line. I'm not clear on what we mean when there are two rows for the same sample name as sample name should be unique ( @rminnett may have some idea ).

[2017-06-07 23:39] moonshoes87 commented on #207
Looks like core_depthplot hasn't been updated to MagIC 3....

[2017-06-07 23:41] moonshoes87 commented on #204
It was my impression that sample name (or any other name level) does not have to be unique in the new data model....

[2017-06-08 04:15] rminnett commented on #204
Other than the description, are these two rows identical? If not, that's the reason they won't fit in a single row in the 3.0 data model. If they are, I need to take another look at the upgrade tool and see why they didn't get merged at the end.

[2017-06-08 05:32] moonshoes87 commented on #204
There are a few different elements.

It looks like row 1 comes from pmag_samples and row 2 comes from pmag_results.

this isn't nicely formatted, but here:

	citations	cooling_rate	criteria	description	        geologic_classes	        geologic_types	int_abs	int_abs_sigma	int_abs_sigma_perc	int_n_specimens	lat	lithologies	lon	method_codes	result_quality	result_type	sample	site	software_packages	spe

[2017-06-08 19:25] moonshoes87 commented on #207
I've gotten rid of the IsADirectory error and updated core_depthplot to MagIC 3 (at least so that the example in _PmagPy.ipynb works).  @ltauxe, when you have time, can you test out core_depthplot to see if it works as you expect with MagIC 3?

[2017-06-08 19:30] moonshoes87 commented on #202
@njarboe, from your testing, do you think the Python 3 OS X standalone is ok to be released?  I technically have one more week of work before going on leave, so I'm trying to wrap up loose ends as much as possible.

[2017-06-08 19:50] #208 closed

[2017-06-08 20:07] moonshoes87 commented on #187
@njarboe, are you satisfied with the current behavior of Demag GUI on this issue?  If so, feel free to close it, or I can.

[2017-06-08 20:07] ltauxe commented on #207
also agm_magic

[2017-06-08 21:05] moonshoes87 opened #209 "put up new python2/python3 pip packages and make sure they work"

[2017-06-08 21:13] moonshoes87 opened #210 "update cookbook documentation"
+ Pip install for python 2 or python 3

+ Dev install for python 3

+ Important note: with pip install, anaconda still must be run with pmag_gui_anaconda, etc.

+ Standalones should still just work.

+ Examples must be updated to use -DM switch if necessary (core_depthplot, etc.)

[2017-06-09 18:10] moonshoes87 commented on #209
These are now up on PyPI.  The nice thing is that if someone is running Python 3, they will automatically download the Python 3 version, and vice versa for Python 2.  I am still in the process of updating the installation instructions in the Cookbook.

[2017-06-09 18:10] #209 closed

[2017-06-09 20:38] moonshoes87 opened #211 "*_anaconda command line programs not working on windows..."
Oddly, they do work on OS X, but Windows gives a 'not recognized as an internal or external command...' error.

[2017-06-09 21:45] moonshoes87 commented on #211
They aren't getting labeled as .exe files on Windows, but they are put in the scripts directory, i.e.:

    # fails (generated by scripts in setup file)
    c:\users\lori\appdata\local\continuum\anaconda3\scripts\new
    # works (generated by entry_points in setup file)
    c:\users\lori\appdata\local\continuum\anaconda3\scripts\angle.exe

[2017-06-09 23:24] moonshoes87 commented on #211
Never mind -- pmag_gui_anaconda is only required for OS X.  I will update the Cookbook accordingly.

[2017-06-09 23:24] #211 closed

[2017-06-10 00:05] moonshoes87 opened #212 "aarm_magic wants location name, which is no longer found at measurement level..."
RmagSpecRec["er_location_name"] = data[0]["er_location_name"]

[2017-06-10 00:09] moonshoes87 commented on #210
Just finished all but updating the Cookbook examples.

[2017-06-12 18:14] moonshoes87 commented on #210
@ltauxe, could you glance at the new install instructions and let me know if everything seems clear and correct?  I've now spent too much time looking at it and can't see it anymore.  @njarboe, maybe you could have a look too?

[2017-06-12 18:15] moonshoes87 opened #213 "update agm_magic to MagIC 3"
also make sure you update the agm_magic example in the cookbook and _PmagPy.ipynb

[2017-06-12 18:26] #212 closed

[2017-06-12 18:27] moonshoes87 opened #214 "update azdip_magic to MagIC DM 3"
also make sure you update the azdip_magic example in the cookbook and _PmagPy.ipynb

[2017-06-12 18:43] moonshoes87 opened #215 "make anaconda versions for all programs that require the screen (i.e., core_depthplot, etc.)"
Framework build issue exists here...  This problem will affect OS X python 3 Anaconda users with pip install only.

Ani_depthplot needs the same thing.

irmaq_magic will likely need the same.

Also will need to mention these in the Cookbook.

[2017-06-12 18:58] moonshoes87 opened #216 "update irmaq_magic to use MagIC 3"
also make sure you update the irmaq_magic example in the cookbook and _PmagPy.ipynb

[2017-06-12 19:03] moonshoes87 commented on #207
@ltauxe, I've created a new issue for agm_magic.  If you get a chance to test out core_depthplot with MagIC 3 files and don't find any problems, you can close this issue!

[2017-06-12 19:05] moonshoes87 commented on #191
@ltauxe, I've created a separate issue for updating azdip_magic.  If you have the chance to test out aarm_magic and atrm_magic with MagIC 3, and find they work as expected, you can close this issue!

[2017-06-12 19:20] moonshoes87 commented on #210
Cookbook examples are now updated (a few of them just note that the program doesn't yet support MagIC 3).

[2017-06-12 20:42] moonshoes87 opened #217 "can't build pip packages with matplotlib>= 2"
The error message lead me here:

https://matplotlib.org/faq/osx_framework.html

Not sure if this is an issue that will affect users or not -- need to investigate.

To do: create a Python 3 conda environment with matplotlib 2.0.2 (or whatever is most up to date), and see if installing and using pmagpy-cli with screen-using programs works.

If the issue is just with building the pip package, dealing

[2017-06-12 20:56] moonshoes87 opened #218 "core_depthplot matplotlib error messages"
lots of error that look like approximately like this, but don't break anything:

    Bad key "ytick.minor.right" on line 273 in
    /Users/***/anaconda/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle.
    You probably need to get an updated matplotlibrc file from
    http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
    or from the matplotlib

[2017-06-12 20:59] moonshoes87 commented on #215
Done for core_depthplot.

[2017-06-12 23:54] moonshoes87 commented on #215
Done for ani_depthplot

[2017-06-12 23:54] moonshoes87 commented on #215
Ugh, really probably need this for every plotting program.....

[2017-06-13 17:53] njarboe opened #219 "demag_gui does not handle multiple locations"
@moonshoes87 @Caoimhinmg

Using the Python 3 stand-alone of pmag-gui and these files:
[SheepCreekMagICFiles.zip](https://github.com/PmagPy/PmagPy/files/1072362/SheepCreekMagICFiles.zip)

when I open the demag gui, only the sites in the first location "Western Locality" is displayed. If I change the display level to location the only option is "Western Locality" and the two others in the locations.

[2017-06-13 17:59] njarboe commented on #202
@moonshoes87, I have been using the new pmag_gui stand-alone to look at some data. Looks good so far. I just opened a new issue on the gui problems in the demag_gui, but that is probably an on issue and not related to the new code. I am leaving to do some field work tomorrow and won't be back until Sunday/Monday. If you are out for a while starting next week I would say you should push the new sta

[2017-06-13 18:40] moonshoes87 opened #220 "pmag_gui_anaconda doesn't work correctly in conda special envs"
(matplotlib2)  ~ core_depthplot_anaconda -h
    Traceback (most recent call last):
      File "/Users/nebula/anaconda/envs/matplotlib2/bin/core_depthplot_anaconda", line 11, in <module>
    from programs.core_depthplot import main
    ModuleNotFoundError: No module named 'programs'

It works fine when installed into default Anaconda environment, though.  That puts this at a relatively low priority

[2017-06-13 18:45] moonshoes87 commented on #217
It looks like an Anaconda user can have matplotlib 2.* and install/run pmagpy-cli just fine.  So, this is just a build issue.

However, it also lead me to #220, where pmagpy-cli isn't installed completely correctly in a conda env other than your default environment.

[2017-06-13 18:49] moonshoes87 commented on #202
Thanks @njarboe.  I will release OSX standalones by the end of the week.  Please create new issues for anything else weird that comes up!  Enjoy your field work :)

[2017-06-13 18:49] #202 closed

[2017-06-14 18:31] moonshoes87 opened #221 "copy selected cells not working in MagIC GUI"
With MagIC GUI OSX standalone.  No error, but nothing pastes into a new document.  Copy all cells works fine, though

[2017-06-14 18:35] moonshoes87 opened #222 "MagIC GUI ages table should have nicer default if age file is missing"
See Jarboe contribution

[2017-06-14 18:36] moonshoes87 opened #223 "Measurement table having some display issues (HugeTable problem)"
See Jarboe contribution

    TypeError: invalid result from HugeTable.GetValue(), numpy.float64 cannot be converted to a C/C++ wxString in this context

[2017-06-14 18:39] moonshoes87 opened #224 "MagIC GUI (validation gui) should be able to pull open error files"
I.e., "For full error messages, see sites_errors.txt" should link to a way of opening sites_errors.txt.  This is done in Thellier GUI and Demag GUI.

[2017-06-14 18:42] moonshoes87 opened #225 "In MagIC GUI, "change directory" should remove red highlighting from grid buttons"

[2017-06-14 19:12] moonshoes87 opened #226 "latitude/longitude in generic_magic input"
Should this be "location" latitude/longitude?  Otherwise this only makes sense if you only have a single site in your measurement file....  And, of course, it is possible to have more than one location.  This seems a bit confusion and might benefit from clarification.  @Caoimhinmg, this is your addition, right?

<img width="323" alt="screen shot 2017-06-14 at 11 53 31 am" src="https://user-images.

[2017-06-14 20:29] moonshoes87 opened #227 "orientation magic fills default "Not Specified" values"
Orientation_magic probably shouldn't set automatically set missing values for lithology (etc.) to "Not Specified".  This interferes with filling in values in Pmag GUI step 3.

[2017-06-14 20:38] #227 closed

[2017-06-15 17:56] #223 closed

[2017-06-15 21:22] #221 closed

[2017-06-15 21:22] moonshoes87 commented on #221
https://groups.google.com/forum/#!topic/wxpython-dev/Isw1L5_i6po

[2017-06-15 23:07] ltauxe commented on #226
i don’t think this should be in pmag_gui at all.  i found it confusing.  we should have the site lat/lon data filled in via orientation_magic or the gui, not at the study level.
lisa

[2017-06-19 16:32] njarboe opened #228 "Download of Mac Standalone is very slow"
I am downloading the current Mac standalone and it seems quite slow. My connection reads 14 Mbps using fast.com and the download has completed 100 MB in 10 minutes. Do you think there has been new restrictions on bandwidth from github?

[2017-06-19 19:17] moonshoes87 commented on #228
I just tried downloading it, and I got the whole thing in 3 minutes or less (1.5 - 1.7 MB/sec, according to Safari).  Not sure why yours is going so slowly, if it isn't a bad internet connection....

[2017-06-19 20:00] moonshoes87 commented on #226
I removed the input box for latitude/longitude in Pmag GUI, but left it alone in sio_magic itself.

[2017-06-19 20:57] njarboe commented on #228
Tried again and seems better now. Not sure what the problem was.

[2017-06-19 20:57] #228 closed

[2017-06-20 02:04] moonshoes87 commented on #203
I made a Windows release, but didn't really have a chance to test it at all.  If someone can check it out, that would be great:  https://github.com/PmagPy/PmagPy-Standalone-Windows/releases/tag/3.0.0

It is off the master branch and using Python 3.  If it is super broken, maybe someone can take it down?

[2017-06-20 20:12] njarboe opened #229 "Geochronology Method (GM) is not an option when adding method codes to the location table."
Geochronology Method (GM) is not an option when adding method codes to the location table.
![screen shot 2017-06-20 at 1 07 50 pm](https://user-images.githubusercontent.com/1278789/27353757-07b8dc88-55ba-11e7-94ab-e497ab902952.png)

[2017-06-20 20:26] njarboe opened #230 "Help button does not work in Mac OX standalone"
![screen shot 2017-06-20 at 1 26 35 pm](https://user-images.githubusercontent.com/1278789/27354364-2be5e41e-55bc-11e7-98b5-755ad0859f29.png)

[2017-06-27 13:54] Caoimhinmg commented on #226
@moonshoes87 Yes I did this, mostly because there didn't seem to be a method for adding this and for Demag GUI this information is extremely useful for outputting tables and generating figures. I knew it was a bit hack and slash but I figured it was better than nothing. Though if there are other better channels to allow adding this data then this method should certainly be removed.

[2017-06-27 14:02] Caoimhinmg commented on #219
@njarboe It should be able to handle multiple locations I used to test regularly with multi-location projects just in case. I'll give it a look and see if I can figure out what's up.

[2017-06-29 01:16] ltauxe opened #231 "trouble in zeq_magic.py"
This doesn't work at all anymore.  i tried it on the upgraded McMurdo data set. first it complained about a missing orientation_flag in the samples table.  when that got fixed, it just quit.  no error, nothing.
it also doesn't work on any file i can find.

[2017-06-29 01:19] ltauxe opened #232 "demag_gui"
This program fails to produce any plots if sites can not be associated with specimens.  it also seems to treat sample and site names that look like integers as integers and not strings.

Here is a folder  with data that "should" work but it doesn't.

[Dubois_MagIC.zip](https://github.com/PmagPy/PmagPy/files/1110628/Dubois_MagIC.zip)

HELP!

[2017-06-29 01:20] ltauxe commented on #231
Here is the test file that 'should' work.
[McMurdo.zip](https://github.com/PmagPy/PmagPy/files/1110630/McMurdo.zip)

[2017-06-29 02:46] Caoimhinmg commented on #232
Oops saw the email before the issue, here's a copy of my last message:

Okay I have applied a patch to master. Basically it checks for empty or improperly propagated fields in the necessary meta data of measurements and replaces the stuff that just didn't work out with the 'unknown' place holder. This allows the data to still be viewed but the data hierarchy is obviously not preserved and will mak

[2017-06-29 03:12] moonshoes87 commented on #232
Yes, I should be able to make sure names are read in as strings, which should be easy.  I hope to do this tomorrow.  Baby Eleanor has arrived, though, so no absolute promises :)

[2017-06-29 04:43] ltauxe commented on #232
thanks to all for helping track this down.  I thought it was something like the fact that Shelby’s samples are all numbers - of course we could change that, but i don’t think that is unusal and should be possible.

lisa

[2017-06-29 22:04] ltauxe opened #233 "thellier_gui"
has this bug:

Traceback (most recent call last):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/thellier_gui.py", line 1629, in on_prev_button
    self.update_selection()
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/thellier_gui.py", line 1518, in update_selection
    self.update_GUI_with_new_interpretation()
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/thelli

[2017-06-29 22:26] ltauxe commented on #233
and thellier_gui fails to print the B_anc value and sometimes also the sample mean, even if there is a valid one.

[2017-06-29 22:27] ltauxe commented on #233
here is the symptom and the upgraded data file:

![screen shot 2017-06-29 at 3 26 10 pm](https://user-images.githubusercontent.com/174861/27713202-4ee52770-5cdf-11e7-8276-4efc0be7fa59.png)
[Benaras.zip](https://github.com/PmagPy/PmagPy/files/1113687/Benaras.zip)

[2017-06-30 16:26] ltauxe commented on #233
I found the bug - line 5840 had some typos (wx.Green) and SetBackGroundColour instead of wx.GREEN and SetBackgroundColour.

[2017-06-30 16:26] #233 closed

[2017-07-01 20:45] moonshoes87 commented on #232
@Caoimhinmg, @ltauxe, I haven't been able to get to this.  If one of you wants to make sure that names are string-i-fied in the MagicDataFrame object, please go ahead!  We are having lots of busy baby times around here :)

[2017-07-11 06:27] njarboe opened #234 "Add version numbers to pmag_gui and magic_gui stand alone download file names"
For the next versions of the pmag and magic would you add the version number to the download name like before. I found the useful in keeping track of the versions.

[2017-08-11 18:17] ltauxe opened #235 "import scripts"
some of these are seriously messed up - the variable command_line is not set and this causes the program to crash when the cooling rate option is called. this happens within pmag_gui and from the command line:

sio_magic.py -F /Users/ltauxe/Dropbox/4Carlos/Archeomag3_0/Archarmenia.cool.magic -Fsp Archarmenia_specimens.txt -Fsa Archarmenia_samples.txt -Fsi Archarmenia_sites.txt -Flo Archarmenia_loc

[2017-08-11 19:36] ltauxe commented on #235
found all the bugs in cooling rate import (there were many).  now it works.

[2017-08-11 19:37] #235 closed

[2017-08-22 15:26] Caoimhinmg commented on #219
Hey @njarboe, sorry about the like 2 month delay on a real response to this. So I just looked in depth on this and the problem seems to be mostly with the data. The measurements.txt has the no dec or inc data for any of the specimens in any of the locations besides Western Locality so Demag GUI doesn't allow the user to try to display the measurement data as it doesn't exist. In addition the some

[2017-08-22 15:26] #219 closed

[2017-08-23 23:04] ltauxe opened #236 "thellier_gui sample/site info"
when we have properly converted data files from 2.5 to 3.0, there is no sample or site information in the measurements.txt file - but it seems that thellier_gui needs that and i'm not sure it is being properly propagated into the 2.5 data model that is what the program uses.  I'm also not sure how to fix this problem.  Lori?

[2017-08-23 23:14] ltauxe commented on #236
umm...  that wasn't the problem.  never mind.

[2017-08-23 23:14] #236 closed

[2017-08-28 23:19] ltauxe opened #237 "ipmag.combine_magic.py does not work as advertised"
The output file does not include the directory name as specified either through -F or through -WD.  it is just the file name in the current directory.

[2017-08-28 23:20] ltauxe commented on #213
I fixed agm_magic but not the cookbook or notebook yet.

[2017-08-28 23:22] ltauxe opened #238 "hysteresis_magic.py"
I copied the existing code to hysteresis_magic2.py and am updating hysteresis_magic.py to use Model 3.0

[2017-08-28 23:44] ltauxe opened #239 "nb.contribution does not respect output file for files other than measurements.txt"
weird.

[2017-08-31 20:07] njarboe commented on #219
@Caoimhinmg, Thanks for taking a look at this. The file was quite malformed. I'll take a closer look at that in the future before reporting problems with pmag_gui. Hope you are enjoying Rice so far and the flooding is not too crazy where you are.

[2017-09-06 21:44] moonshoes87 commented on #229
Great.  Are geochronology methods needed at any additional levels?

[2017-09-06 22:02] moonshoes87 commented on #230
Should just need to update .spec files to be able to find the html.

[2017-09-07 22:10] moonshoes87 commented on #230
I have fixed this locally, and will be making a new standalone release soon

[2017-09-07 22:12] #230 closed

[2017-09-07 23:12] moonshoes87 commented on #234
I added this to the .spec files, and it will be the case from the next standalone releases onward.

[2017-09-07 23:18] moonshoes87 commented on #239
@ltauxe, nb.contribution writes output to whatever names are in Contribution.filenames.  Where exactly were you having this problem?  It should be simple to fix.

[2017-09-08 23:37] moonshoes87 commented on #237
I will check this out.

[2017-09-11 00:34] ltauxe commented on #237
My old combine_magic should work just fine - not sure what happened to it

Sent from my iPhone

[2017-09-11 02:34] moonshoes87 commented on #237
If I remember correctly Combine_magic required some small updates to work with MagIC 3.  I believe I've fixed this issue now with 12c3a3bcd4046c24cef45fd897f8cab4f26190c2

[2017-09-12 18:23] njarboe opened #240 "Problem with pandas not being installed in the Windows version of PmagPy"
Courtney Sprain would like to use PmagPy to analyze her data but is having some problems with the Anaconda and pip install on Windows.  (see info below)

What can I do to help solve this problem? I will update my Windows test system to see if I get the same error, but was wondering if this is a known issue already.

------
Hi Nick,

I've recently installed pmapy etc. on a new laptop and tried to u

[2017-09-12 21:59] moonshoes87 commented on #240
I don't think this is a problem with pandas, but most likely with an earlier import failing and causing pandas not to be imported, thus leading to the name pd not being defined.  I'm looking into it.

[2017-09-12 22:30] njarboe commented on #240
It works on my recently installed Windows 10. Should I tell her to re-install pmagpy, as per the cookbook?:
To uninstall either, use the command: pip uninstall pmagpy or pip uninstall pmagpy-cli
If you run into trouble, use pip to uninstall both pmagpy and pmagpy-cli, then try again to install first pmagpy and then pmagpy-cli.

[2017-09-12 22:36] moonshoes87 commented on #240
I couldn't reproduce the problem either.  Uninstalling and reinstalling is a good idea.

[2017-09-13 05:14] njarboe commented on #240
I'll let you know how it goes and close this issue if that fixes it.

[2017-09-18 19:13] moonshoes87 commented on #240
@njarboe, any update on this issue?

[2017-09-18 20:41] njarboe commented on #240
She has not yet responded to my email suggesting to try uninstalling and installing pmagpy (six days ago). Just sent her a query on if she got it working.

[2017-09-19 01:20] #232 closed

[2017-09-19 01:27] moonshoes87 opened #241 "Demag GUI plots look weird...."
These plots look improperly formatted:

<img width="610" alt="screen shot 2017-09-18 at 6 23 00 pm" src="https://user-images.githubusercontent.com/1836578/30571739-8d1bb7a8-9c9e-11e7-88f6-15b11f7c581d.png">
<img width="604" alt="screen shot 2017-09-18 at 6 24 12 pm" src="https://user-images.githubusercontent.com/1836578/30571759-a783b546-9c9e-11e7-88eb-894cc47afad7.png">

This is with the Dubois d

[2017-09-19 01:31] moonshoes87 commented on #229
@njarboe, I believe this is fixed so I am closing the issue.  Let me know if I have missed something!

[2017-09-19 06:21] njarboe commented on #229
Sorry I did not see your previous comment. Geochronology method codes could be at any level, but are required at the site level. Maybe you already added them at all levels, but I'll reopen in case you have not.

[2017-09-19 06:25] njarboe commented on #241
One or two step demag is likely to occur in the Dubois data set, as seen here. The tick marks seem too bunched up. Is this what you mean by "improperly formatted"?

[2017-09-19 13:34] Caoimhinmg commented on #241
Ah, yes, my old nemesis. This has been a well documented problem which seems to occur with the default plot settings for some data. I have been stumped about it for a while, but as it is a fringe effect dominantly I never put the time into investigating a fix for it. I can take a look through and see about coming up with a new method of generating tick marks I'll let you know if I come up with som

[2017-09-20 18:39] moonshoes87 commented on #241
This doesn't necessarily seem urgent, I just noticed it and thought it looked a bit odd.

[2017-09-20 19:37] moonshoes87 commented on #231
I fixed two problems in zeq_magic.  Both were basically caused by the same type of pandas error, i.e.:
 code that checks for a column name but doesn't check to see if there is any data in that column.  So, in the McMurdo measurements the column "treat_mw_power" is present, but empty.  That means that this check:

    if 'treat_mw_power' in meas_data.columns:

causes problems, because the program t

[2017-09-20 19:56] #229 closed

[2017-09-20 19:59] #203 closed

[2017-09-21 20:29] moonshoes87 opened #242 "MagIC GUI propagate_ages problem"
Error MagIC GUI in sio_magic directory, with "copy all cells".

    -I- writing ages data to /Users/***/PmagPy/data_files/Measurement_Import/sio_magic/ages.txt
    Traceback (most recent call last):
      File "dialogs/grid_frame3.py", line 834, in onSelectAll
      File "dialogs/grid_frame3.py", line 1039, in save_grid_data
      File "pmagpy/new_builder.py", line 1000, in propagate_ages
    Type

[2017-09-23 21:54] moonshoes87 opened #243 "Windows troubles with default program to open .py files"
On my Windows 10 virtual machine, I set Atom as the default program to open .py files.  This was a big mistake, and now when I try to run PmagPy programs, Atom is opened.  I tried resetting it using "choose default apps" for .py files, but there is no appropriate python option available that way.  I suspect I would have to go into the registry and select python.exe, or something like that.

This s

[2017-09-23 22:49] moonshoes87 opened #244 "dev_setup.py not working as expected on Windows"
Dev_setup.py hasn't been working correctly on my Windows 10 VM.  (It appears to work correctly on OS X).   I had to update some of the syntax from Python 2:

ce891f251a28abfa4c8ef5997f61e164e1078343

7ae354b4d0c25c5859e178452663373324add73b

Once I fixed those issues, I tried again to install.  The install reported success, but with the character limit issue:

<img width="1108" alt="screen shot 20

[2017-09-25 06:02] njarboe commented on #243
I had a similar problem with the .py extension being attached to the wrong
program and never did find a solution. Now on windows 10, so left the
problem behind on my window 7 install.

On Sat, Sep 23, 2017 at 2:54 PM, Lori J <notifications@github.com> wrote:

[2017-09-25 14:17] Caoimhinmg commented on #244
I'll give it a shot on my Windows partition and get back to you, this solution was always a bit of a hack. It seems to have something wrong with the file delimiters going nuts. Might  take me a few days, my Windows partition isn't set up with any python gear.

[2017-09-25 14:26] Caoimhinmg commented on #243
No, this is one of the dumb problems Windows has with interpretive languages like python. The thing is .py is encoded as a text file not an executable so Windows will by default always try to open a word processor or text editor. Which means to run the .py files you have to run through a shell or compile the text file to an executable there is no option to treat it like an executable by default an

[2017-09-25 20:14] rminnett commented on #243
Yes, I agree, we could possibly include a jscript to set the extension to run the Python interpreter, but that's not really how those scripts are intended to be used. The .py files are meant to be used on the command line with arguments, not executed by clicking on the file. If this is what users are doing, the effort is better spent on adding instructions to the cookbook or directing people to th

[2017-09-25 20:22] moonshoes87 opened #245 "measurements table is not working correctly"
some issue with HugeTable (found this with NZ data).  More details to come.

[2017-09-25 20:25] moonshoes87 commented on #244
Sorry to ask this -- I've been trying to set up so I can consistently release Windows standalones.  I appreciate your help!  I'm happy to work on this as well, but I might need a little guidance.  Thanks!

[2017-09-27 13:26] adrianmux opened #246 "Thellier_GUI statistics incorrect and other issues"
Hello,

We have been using the standalone Thellier_GUI (version 3.10.1 - Mac (app) and PC (exe)), and have found a number of problems with it, which I think need fixing.

1) We have noticed that it does not give the correct answers for dpal or dt, nor do earlier versions of the software. This is quite worrying. I think alpha maybe incorrect too - it gives a different answer to ThellierTool.

Also:

[2017-09-27 15:47] moonshoes87 commented on #243
This problem occurs not only when clicking on a file, but also when trying to run the executable on the command line.  So I think this is a significant concern for anyone doing development on Windows -- if you choose, say, Atom as your .py default, you will no longer be able to run .py files as executables from the command line.

[2017-09-27 17:38] Swanson-Hysell commented on #246
Thanks for posting this bug report. @ronshaar is going to be the best person to have a look at it. It might be helpful if you could post a link to a data set where the dpal/dt/alpha issue is arising (although I realize it may be ubiquitous) along with screenshots of the offending behavior and what the correct values should be.

[2017-09-27 17:43] moonshoes87 commented on #246
I am also checking/updating the SPD module that generates these statistics.

[2017-09-27 19:10] rminnett commented on #243
Oh, I see, well if they're just trying to run a single Python script then adding "python " in front of the script's name on the command line should work if Python is installed.

Otherwise, at least for Windows 10, to reassociate the .py files with the python interpreter they have installed:
- in a command line type "where python" and make a note of the location of their preferred python interprete

[2017-09-30 20:35] ltauxe opened #247 "pmag_gui doesn't work"
After following all the instructions on the Cookbook, I get this error error with pmag_gui.py

-I- Importing Pamg GUI dependencies
-I- Starting Pmag GUI - please be patient
This program nees access to the screen.  Please run with a Framework build of python and only when you are logged in on the main display of your Mac.

This shouldn't happen....

[2017-09-30 20:57] moonshoes87 commented on #243
Thanks Rupert!  I was able to follow those steps successfully.  Unfortunately, that resulted (I think) in python no longer working on the command line.

    'python' is not recognized as an internal or external command, operable program or batch file

Anaconda Python is still in my path, though (which is looking a bit weird because of running dev_setup.py...):

<img width="1108" alt="screen shot 2

[2017-09-30 23:42] njarboe commented on #243
As you might have heard, Microsoft recently added the ability to run various linux environment in windows. I'm wondering if this might be a better path to take. I have not installed any of these myself and this might just be another rabbit hole to go down, but it could be much better to set windows people up in the linux environment, if they want to run on the command line. PmagPy was built on a u

[2017-10-02 04:07] rminnett commented on #243
Hmmm, that PATH environment variable looks suspiciously messy (Windows is supposed to ignore extra backslashes, but you also have duplicate entries and appear to include Anaconda, which should give you at least one python.exe) . Before giving up on that VM, you could:
- right click on the Windows icon on the left of the taskbar
- select "System"
- click on "Advanced system settings"
- click on "En

[2017-10-02 15:46] njarboe opened #248 "Validation in pmag_gui does not check ages correctly"
Here is the email I sent describing this problem:

Age low and age high are not clear terms. age_low means age younger and age_high means age older. Need to check and fix all database entries.

Some description on the error:
Age younger and older would have been much better but I think we are stuck with this ambiguous wording. I can change the descriptions to be clear at least, but we have used th

[2017-10-02 17:08] rminnett commented on #248
There are two paths we can take on the website:

1. **Age Low/High are bounds in either order:**
    - Remove the validation requirement in the data model that age_low <= age_high.
    - Relax the summarizing so Elasticsearch will still index (1400 AD to 1500 AD) as (450 BP to 550 BP) and not ignore (550 BP to 450 BP).
    - Re-index existing data.

2. **Age Low (BP) <= Age High (BP):**
    - Impl

[2017-10-02 19:43] moonshoes87 commented on #248
Hmm, yes, it seems like removing this validation might be best... all I would need to do in that case is re-cache the updated data model.

[2017-10-02 21:23] rminnett commented on #248
Ok, I'll post an updated one here. Other than validation, does PmagPy expect one to be less than the other anywhere?

[2017-10-03 20:30] lfairchild opened #249 "KeyError in Thellier GUI when reading in (some) MagIC files"
I am getting a KeyError when opening MagIC files in Thellier GUI. All data files have been auto-converted to data model 3. Some open without this error. I have attached two example data files (one that is working for me and one that is not).

[code]
Example data file that gets this error:
[Tauxe_2006.zip](https://github.com/PmagPy/PmagPy/files/1353772/Tauxe_2006.zip)

Data file that opens successf

[2017-10-03 20:45] moonshoes87 opened #250 "NavigationToolbar error with some versions of wxPython & matplotlib"
Both analysis GUIs are failing to open on Windows.  I believe this must have something to do with either the latest matplotlib or the latest wxPython, since it didn't happen with my old VM.

<img width="1108" alt="screen shot 2017-10-03 at 9 23 39 am" src="https://user-images.githubusercontent.com/1836578/31136277-964b1e98-a81c-11e7-8ac6-71008982f698.png">

Edit:  solution is upgrading as follows

[2017-10-04 01:45] moonshoes87 commented on #250
I tried downgrading to Python 3.5, and then got a different error:

<img width="1108" alt="screen shot 2017-10-03 at 6 06 52 pm" src="https://user-images.githubusercontent.com/1836578/31155802-b6ea51fc-a865-11e7-91c0-b8c25743d5cd.png">

I resolved this error by reinstalling wxPython.  Then I was back to the same error as before.

I tried to downgrade matplotlib to 1.5, but couldn't:

<img width="1

[2017-10-04 06:37] moonshoes87 commented on #248
Possibly.  It looks like age_high/age_low might need to be updated in Demag GUI, but I'm not super familiar with that code so I don't know how exactly the ages are used there.

It also seem that the pmag.convert_ages function might need to be updated.  (It is used in several programs to convert ages to Ma).

@ltauxe, does this seem reasonable to update?

[2017-10-04 11:26] moonshoes87 commented on #250
Tried to install pyqt 4.* and matplotlib 1.5.1 and see if that helps.  The original error persists with downgraded matplotlib.

Maybe the trouble comes from wxPython-phoenix going from 3.* to 4.*.  Trying to use: https://anaconda.org/newville/wxpython-phoenix 3.* instead of https://wxpython.org/Phoenix/snapshot-builds/ 4.* and see if that fixes it.

[2017-10-04 11:35] moonshoes87 commented on #250
Somehow in the process of trying to upgrade back to python 3.6 etc. conda was uninstalled.  I can't find a simple way to reinstall it in the same location yet.

[2017-10-04 22:20] moonshoes87 opened #251 "Problems installing Anaconda Python on Windows"
While troubleshooting #250, I accidentally messed up my version of Anaconda on my Windows VM (I interrupted a conda upgrade process and as a result, conda disappeared).  I've tried uninstalling both by deleting the Anaconda directory and using the Anaconda uninstall executable, but I still haven't been able to reinstall.  I've tried reinstalling into a new directory and reinstalling without changi

[2017-10-04 22:23] moonshoes87 commented on #250
@Caoimhinmg, do you know anything about the NavigationToolbar module, from when you were doing the Python 2 to Python 3 upgrade?

[2017-10-04 22:25] moonshoes87 commented on #250
This may be the same issue: https://github.com/wxWidgets/Phoenix/issues/527

[2017-10-04 23:58] moonshoes87 commented on #250
Looks like this version of wxPython works:

    pip install -U --pre -f http://wxpython.org/Phoenix/snapshot-builds/ wxPython==4.0.0a1

[2017-10-05 19:08] moonshoes87 commented on #250
I will update the cookbook instructions to install this version, for now.  I believe that this problem will be resolved by a later version of matplotlib that isn't released yet.

[2017-10-06 12:42] moonshoes87 commented on #249
Thanks Luke, I will check into this.

[2017-10-06 20:34] lfairchild commented on #249
These were downloaded directly from MagIC ([Tauxe, 2006](https://www2.earthref.org/MagIC/12742) and [Zhu et al., 2008](https://www2.earthref.org/MagIC/14775)). Thanks for looking into this Lori.

[2017-10-08 19:29] moonshoes87 opened #252 "MagIC GUI won't compile on Windows"
Everything runs fine, but the dist/ folder is empty at the end.  MagIC GUI itself runs fine on Windows, and Pmag GUI compiles fine with an essentially identical .spec file.

[2017-10-08 19:30] moonshoes87 commented on #247
If using Anaconda and installing with pip, you must call pmag_gui_anaconda instead of pmag_gui.py.

[2017-10-09 22:32] moonshoes87 commented on #249
Tauxe 2006 uses 'meas_step_max' in the criteria file.  ('measurement_step_max' in 2.5).  Thellier GUI generates acceptance_criteria by calling pmag.initialize_acceptance_criteria.  'measurement_step_max' is missing from those default criteria, hence the `KeyError`.

Measurement_step_max isn't in the display for Thellier GUI's acceptance criteria, but should it be?

Options:

1. Add a default crite

[2017-10-10 23:14] ltauxe commented on #249
yes measurement_step_max should be in Thellier GUI’s acceptance criteria.  so let’s do options 1 and 2?  if 3 is straightforward, then we can do it.

until that is done, we should just ignore unexpected criteria, perhaps with a warning.
lisa

[2017-10-11 19:40] moonshoes87 commented on #249
Ok, I need some help with the defaults:

category: IE-SPEC
criterion_name: measurement_step_max
value:  ?
threshold type:  'high'
decimal: ?

2.  It should be added to the specimen acceptance criteria, right?

[2017-10-11 19:57] moonshoes87 commented on #249
@lfairchild, you should be able to at least run Thellier GUI on contributions using unrecognized criteria.   I will need to do a bit more digging to figure out how to deal more elegantly with these kind of criteria.

[2017-10-11 20:21] lfairchild commented on #249
Great, thanks. The file now opens successfully with the warning `-W- Your criteria file contains measurement_step_max, which is not currently supported in Thellier GUI`.

[2017-10-12 21:23] moonshoes87 commented on #249
Adding measurement_step_max into Thellier GUI is a bit awkward.  The rest of the IE-SPEC acceptance criteria are SPD statistics which are re-calculated every time new bounds are selected (except for measurements.experiment, which is just used to select only measurements from a thellier type experiment).  I'm not sure how measurement_step_max should be handled here.  Should it be added to the SPD m

[2017-10-12 21:27] moonshoes87 commented on #252
I finally got this working -- still not sure what was wrong, ha.

[2017-10-12 21:27] #252 closed

[2017-10-12 22:30] moonshoes87 opened #253 "Can't see SPD display options on Thellier GUI windows (small screen?)"
The SPD preferences window doesn't scroll, so on my very small screen (virtual machine) the OK and CANCEL buttons are hidden.

[2017-10-13 07:22] rminnett commented on #249
Yes, I believe specimens.meas_step_min/max are intended to describe lower and upper limits on the parameter that was swept for the experiment and they don't have to be describing just temperature or microwave power. Perhaps @njarboe could help clarify the descriptions next week?

[2017-10-14 20:49] moonshoes87 commented on #253
I've tried using scrolling adaptation: https://wxpython.org/Phoenix/docs/html/dialog_overview.html

but without success so far.

[2017-10-14 23:48] moonshoes87 commented on #246
@adrianmux, I believe I have fixed issues 2 and 3.

These changes are reflected in the master branch, the latest pip release, and in the standalones for both OSX and Windows.

@ronshaar, any update on the calculations?

[2017-10-15 15:14] ltauxe opened #254 "new troubles in thellier_gui"
When importing files in 2.5, thellier_gui is called sio_magic - not sio_magic2.py - so a version 3.0 file is created, messing everything else up down the line.

[2017-10-15 16:57] moonshoes87 commented on #254
The import is happening in Pmag GUI with data model 2.5?  Or in Thellier GUI with data model 2.5?

[2017-10-15 17:11] moonshoes87 commented on #254
@ltauxe, this seems to work correctly for me.  If I run Pmag GUI with data model 2, it uses pmag_basic_dialogs which imports sio_magic2 from conversion_scripts2.  If I run Pmag GUI with data model 3, it uses pmag_basic_dialogs_native3 which imports sio_magic from conversion_scripts.  Is this not what you are looking at?

[2017-10-15 18:04] ltauxe commented on #254
It is in Pmag GUI when running in model 2.5 - the file created on importing is a data model 3. But let me mess around a bit more.

Sent from my iPad

[2017-10-15 19:28] moonshoes87 commented on #254
I tried the same thing, and got a 2.5 .magic file.  So I'm wondering what we're doing differently...

[2017-10-15 19:41] moonshoes87 commented on #251
I went in and manually edited my PATH, then reinstalled.  I think possibly my PATH was messed up by running dev_setup.py install and uninstall a few times.

[2017-10-15 19:41] #251 closed

[2017-10-15 19:43] moonshoes87 commented on #247
I am closing this issue, @ltauxe let me know if there is still a problem...

[2017-10-15 19:43] #247 closed

[2017-10-15 19:44] moonshoes87 commented on #244
@Caoimhinmg, have you had a chance to look at this?

[2017-10-16 15:48] Caoimhinmg commented on #244
@moonshoes87, I yeah I looked at it a bit. I'm having a little bit of an issue setting up my Windows distribution it's been finicky lately for completely different reasons related to my linux install blowing up (which is why I haven't really replied).

What I did try seemed to work on my distro. The command I'm using to add these files to path permanently, setx, is notoriously tricky and can cause

[2017-10-16 16:40] yuempark opened #255 "pmag_gui.py CIT to magic file conversion always averages replicates"
When converting between CIT and magic using the GUI, replicates are always averaged in the output, regardless of which radio button is selected.

[2017-10-16 16:53] Swanson-Hysell commented on #255
This must be a new bug. Could you have a look at old version of the stand-along release of the GUI and see what versions do/don't do this? The version of the GUI on my desktop (v 0.33) doesn't average replicates.

[2017-10-16 16:56] adrianmux commented on #246
Hi Lori,

Both my student and I, have downloaded the latest app/exe for pmagpy. We
both found that more things now work, but with one exception: for  both
windows and Mac versions dt = -999.

Adrian

On 15 October 2017 at 00:48, Lori J <notifications@github.com> wrote:

--
Adrian Muxworthy
Dept. of Earth Science & Engineering
Imperial College London
South Kensington Campus
London
SW7 2AZ
UK
office

[2017-10-16 17:38] moonshoes87 commented on #255
This seems to be failing in the current version of Pmag GUI.  I can look into it.

[2017-10-16 21:31] #237 closed

[2017-10-16 21:32] #226 closed

[2017-10-16 21:33] #234 closed

[2017-10-16 21:35] moonshoes87 commented on #217
It looks like this is no longer a problem....

[2017-10-16 21:35] #217 closed

[2017-10-17 18:56] yuempark commented on #255
after the 8b1e934 above, the radio buttons are switched (i.e. selecting "import all replicates" averages the replicates, but clicking "average replicates" imports all replicates).

[2017-10-18 03:23] moonshoes87 opened #256 "grid problems"
![screen shot 2017-10-17 at 8 22 43 pm](https://user-images.githubusercontent.com/1836578/31699667-fd321262-b378-11e7-9706-687438fec645.png)

[2017-10-18 03:24] moonshoes87 commented on #255
Haha, oops.  I will fix this.

[2017-10-18 03:29] moonshoes87 commented on #255
The variable is 'no average', so I got it backwards.  Should work now, though.

[2017-10-18 20:28] #242 closed

[2017-10-21 23:43] moonshoes87 commented on #256
This seems to only happen when citations column is blank.

[2017-10-21 23:45] #256 closed

[2017-10-21 23:46] #255 closed

[2017-10-22 00:00] moonshoes87 commented on #245
I believe this was fixed in #256

[2017-10-22 00:00] #245 closed

[2017-10-22 00:02] #210 closed

[2017-10-23 22:00] moonshoes87 commented on #244
Thanks @Caoimhinmg.  I did have success after manually fixing the PATH.  I'll try this again on a clean Windows VM and see what happens.

Should we remove the windows reinstall option?

[2017-10-24 19:11] moonshoes87 commented on #239
I believe this is working now.  Reopen if it's still a problem.

[2017-10-24 19:11] #239 closed

[2017-10-24 19:13] #204 closed

[2017-10-24 19:18] moonshoes87 opened #257 "float precision problems"
Fix float precision in calculate lat/lon:

    -W- In Boring volcanic field, automatically generated lat_s value (45.17912000000001) will overwrite previous value (45.179120000000005)

[2017-10-25 22:27] #222 closed

[2017-10-26 01:12] #257 closed

[2017-10-27 18:52] #224 closed

[2017-10-27 18:56] moonshoes87 opened #258 "matplotlib error messages"
Get rid of matplotlib error messages if possible:

    /Users/***/anaconda/lib/python3.6/site-packages/matplotlib/__init__.py:1405: UserWarning:
    This call to matplotlib.use() has no effect because the backend has already
    been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
    or matplotlib.backends is imported for the first time.

[2017-10-30 02:45] #207 closed

[2017-11-01 18:49] moonshoes87 opened #259 "fix core_depthplot"
Changes made to ipmag in commit 0c98d00f226553b0a9f8648ac729348cac18fd36 appear to have been overwritten, not sure how.

[2017-11-02 18:38] moonshoes87 opened #262 "Demag GUI dropping duplicate rows from MagIC files"
find out why this error message happens:

    test_click_demag_gui (pmagpy_tests.test_pmag_gui.TestMainFrame3) ...
    /Users/***/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:881: UserWarning: DataFrame columns are not unique, some columns will be omitted.
      "columns will be omitted.", UserWarning)

Is it a problem with the data file?

[2017-11-02 18:58] #258 closed

[2017-11-03 01:35] moonshoes87 opened #263 "make demag gui preferences work like thellier gui preferences"
Put preferences in the same location every time with user_data_dir.

[2017-11-03 21:34] moonshoes87 commented on #262
This issue happens in Demag GUI when a file has multiple rows for the same item.  This can cause problems in MagIC 3.  This line in get_data_info:

    data_er_samples = samp_data2.T.to_dict()

is the problem.  Unlike a dataframe index, a dictionary can't have non-unique keys, so data is lost.

For example, when this abridged samples table is turned into a dictionary:

          azimuth
    sample

[2017-11-03 21:59] moonshoes87 commented on #259
This commit 44a1b483540ae7027bfabccab4bb3ffdf349d3ab overwrote core_depthplot so that it no longer works with MagIC data model 3.  I think this was just an accident/git mess up.

@Caoimhinmg, I plan to change the core_depthplot function back to where it was as of this commit:  3001f9aa99e067931a8b254deadc6d9e59991949.  That (use correct file name defaults in core_depthplot if data_model_num is 3)

[2017-11-04 19:47] #259 closed

[2017-11-05 02:53] moonshoes87 commented on #218
These messages seem to be gone -- possibly with updated matplotlib?

[2017-11-05 02:53] #218 closed

[2017-11-05 02:54] #205 closed

[2017-11-05 02:58] moonshoes87 commented on #126
This doesn't seem to happen anymore.

[2017-11-05 02:58] #126 closed

[2017-11-05 03:00] #183 closed

[2017-11-05 22:27] moonshoes87 commented on #263
It looks like the preferences cannot actually be modified in Demag GUI, anyway.  Also, some of the preferences options are broken -- for instance, setting 'show_eqarea_treatments' to True doesn't work.  I'm going to stop having Demag GUI try to import zeq_gui_preferences (which doesn't work correctly in the standalones) and just switch to using display defaults in all cases, unless we want to actu

[2017-11-08 20:52] #263 closed

[2017-11-10 18:28] moonshoes87 opened #265 "conversion scripts should accept long or short file paths"
Conversion scripts like sio_magic should be able to take long or short file names.  I.e.:

    sio_magic.py -f infile.txt -WD path/to/

or

    sio_magic.py -f path/to/infile.txt

or, of course, if you're in the path/to directory:

    sio_magic.py -f infile.txt

To support this, I've added a pmag function resolve_file_name that takes the filename and the working directory (if available).  It prio

[2017-11-11 21:38] moonshoes87 commented on #265
All conversion scripts now work this way.  This same thing could be implemented in some other scripts as well, but I'll do that as needed later.

[2017-11-11 21:38] #265 closed

[2017-11-12 01:13] moonshoes87 commented on #250
Installing the latest matplotlib (2.1.0) and the latest wxPython fixes this issue.

[2017-11-14 01:36] moonshoes87 commented on #185
@njarboe  -- I'm going back through old issues.  Is this resolved?  As far as I can tell, it isn't a problem to have sites without samples/specimens in Pmag GUI.

[2017-11-14 01:38] #74 closed

[2017-11-14 01:41] moonshoes87 commented on #162
@ltauxe, is the propagation stuff now working as you expect?  Let me know, otherwise I will close this issue.

[2017-11-14 01:43] #187 closed

[2017-11-14 17:48] moonshoes87 commented on #213
I just checked this and agm_magic is not currently working.  It has been renamed agm_magic2, and it looks like it was partially but not fully converted to work with MagIC 3.  I am pushing a small fix to make sure it still works with MagIC 2.  @ltauxe,  Do you want to finish converting this to work with MagIC 3, or do you want me to?

[2017-11-14 19:23] #241 closed

[2017-11-14 21:20] njarboe commented on #185
@moonshoes87 I unpacked this MagIC file that has four locations and many sites, but no measurements, and tried to look at the site level data using demag_gui through pmag_gui. I get an error that no measurement file was found and the site level data is not displayed. Also the samples in this data file are only a sub-set of all the samples used to determine the site level data. The only samples inc

[2017-11-14 21:43] ltauxe commented on #185
Nick - you demag gui only works on measurement data - it just plots zijderveld diagrams, etc.
lisa

[2017-11-14 21:46] njarboe commented on #162
@ltauxe @moonshoes87 Is there a reason why the age table needs to be populated with the ages from locations and sites? That is, does some program read that table for ages?

Right now we don't know how to deal with ages in detail.  Every time it is discussed we decide to think about it more. What we want is clear but hard to implement. We want every site to have an age and for there to be some way

[2017-11-14 22:16] njarboe commented on #185
That is what I thought. OK. People will have to play with site and sample level data downloaded from MagIC in some other way then. I was hoping to let Hagstrum do some interpretations on his data that I uploaded but, since he does not have measurement level data for all of his sites, I guess this won't work. If he opens up his data in demag_gui, he can see the specimens and sites with measurement

[2017-11-15 00:18] moonshoes87 commented on #216
Done -- but this program is now a little more awkward because sample/site/location information is no longer present in a measurements file.  I've updated irmaq_magic so that it tries to grab that data from the working directory if possible and propagate it down.  I've updated the cookbook and _PmagPy.ipynb as well.

[2017-11-15 00:18] #216 closed

[2017-11-15 18:40] ltauxe commented on #185
this would be what those notebooks would be for.

[2017-11-15 18:48] ltauxe commented on #213
oh - i was using it happily.  i’ll look into it. lisa

[2017-11-15 20:29] #214 closed

[2017-11-15 20:31] moonshoes87 commented on #254
@ltauxe, let me know if this is still acting up for you.  If not, feel free to close this issue.

[2017-11-15 20:35] moonshoes87 commented on #243
Ultimately, I removed all PmagPy/Python stuff from my PATH manually as @rminnett explained above, then reinstalled.  I don't think there's a really clean solution to the Windows madness.  Hopefully if anyone gets into this same situation, they will find this issue as a reference.

[2017-11-15 20:35] #243 closed

[2017-11-16 18:13] Swanson-Hysell commented on #185
As Lisa says, we haven't built demag_gui with this use case in mind as the goal with it is to facilitate the analysis of measurement level data. My go to for looking at site level data would be to use pmagpy functions in a notebook as Lisa writes. The notebooks in this repository are a good place for people to get started: https://github.com/PmagPy/2016_Tauxe-et-al_PmagPy_Notebooks

[2017-11-16 18:24] njarboe commented on #185
Ok. Maybe we can build some online tools to look at and interact with data
on the MagIC website with the next MagIC grant.

On Thu, Nov 16, 2017 at 10:13 AM, Nick Swanson-Hysell <
notifications@github.com> wrote:

[2017-11-16 18:32] Swanson-Hysell commented on #185
The ability to deal with sample and site level data (sans measurements) could be integrated into demag_gui with additional development.

[2017-11-16 19:19] ltauxe commented on #185
maybe a different GUI?  something like dir_gui ?  which would plot directions, poles, do study level calculations?  or do we want a notebook template for that?
lisa

[2017-11-16 20:17] moonshoes87 opened #266 "update ani_depthplot to MagIC 3"

[2017-11-16 21:48] moonshoes87 commented on #162
Thanks, @njarboe.

Currently, age data is not automatically propagated into the age table.  Age data is taken *from* the age table and propagated into locations/sites/samples/specimens.  Taking age data from the age table and propagating it into the other tables is useful in some cases for PmagPy plotting programs, like aniso_depthplot.

I guess the issue is this: for plotting and analysis purpose

[2017-11-16 22:08] njarboe commented on #249
Here is what I have changed the descriptions to:
meas_step_min: The lower bound for the parameter varied during the experiment
meas_step_max: The upper bound for the parameter varied during the experiment

If there are two experiments on a specimen that both use step_min and step_max, then we will just have separate lines for each? How would one know which experiment it was if the specimens.experi

[2017-11-17 00:57] njarboe commented on #162
@moonshoes87 @ltauxe This seems best. Do you fill out all of the levels from the age table when the age table is incomplete. Say the age table has two ages. One at 1 Ma for one sample and the other at 2Ma. If you had only one age you could use that for everything, but with two ages, how do you determine the age?

[2017-11-22 23:51] #266 closed

[2017-11-25 01:11] moonshoes87 opened #267 "pip uninstall of pmagpy-cli is incomplete"
Uninstall pmagpy-cli with pip leaves behind the guis, in ~/anaconda/bin.  All other PmagPy programs are successfully uninstalled.

[2017-11-28 02:43] Caoimhinmg commented on #262
Hey @moonshoes87, I've tried mitigating this by making it so that there is less need to have more than one record for any single specimen, sample, or site (simply propagating intensity/geologic/directional data all into one line which is not always perfect). To this end I call drop_duplicates on some of the exports so the output looks more like what Demag GUI actually uses. I also often use DataFr

[2017-11-28 17:07] Caoimhinmg commented on #244
@moonshoes87, no we should keep the reinstall option because it exists particularly for the purpose of avoiding this. If you use reinstall it should restore the old path before trying to install again, the problem should only occur when you install more than once not reinstall. If the reinstall option is buggy that means the uninstall option is buggy and we should address that because we don't wan

[2017-11-28 18:39] moonshoes87 commented on #244
Ok.  Windows :\  Do you want me to work on or test this some more?  Or is there information I can give you that would be helpful for debugging, e.g. do one round of install/uninstall on a fresh VM and see what my PATH looks like before and after?

I wonder if I somehow installed two or more times in a row without uninstalling, and that is what caused all the trouble?

[2017-11-28 19:10] moonshoes87 commented on #262
An example of this problem is in data_files/Pmag_GUI/3_0/.  (Ron Shaar's Tel Hazor/Tel Megiddo study).

Demag GUI must have a strategy for reading in files like this, since they are to be expected in MagIC 3 and a user may or may not have used a PmagPy conversion script.  Maybe there is a relatively simple way to decide which of the two rows for each sample is more relevant for Demag GUI, either b

[2017-11-28 19:17] Caoimhinmg commented on #244
I'll give it a shot on my windows partition. Saving the original PATH so I can revert once I have messed it up. Then I'll try to find out what happens when I just install then uninstall then install. I'll test the reinstall feature once install and uninstall work, though to be honest all reinstall does is a clean uninstall and install so it is dependent on the other 2. I'll give a progress update

[2017-11-28 19:18] moonshoes87 commented on #253
I asked this [question](https://stackoverflow.com/questions/47522532/wxpython-4-0-automatic-scrolling-not-working) on stack overflow, we'll see if anything gets cleared up.

[2017-11-28 19:26] CourtneySprain opened #268 "Demag_GUI will not save plots"
Current version of Demag_GUI will not save plots in the PmagPy package or standalone. Receive error message "AttributeError: module 'wx' has no attribute 'SAVE'".

[2017-11-28 19:28] moonshoes87 commented on #268
This is a wxPython 3 --> 4 problem, fixed elsewhere but apparently missed it here.  I will get this fixed shortly.

[2017-11-28 19:33] #268 closed

[2017-11-28 19:33] moonshoes87 commented on #268
I still need to re-release for pip and the standalones, which I'll do asap since this is core functionality.  It is working again with the developer install now, and I'll get the other releases up shortly.

[2017-11-28 20:06] moonshoes87 commented on #268
pip release is done.  @CourtneySprain, let me know if this isn't fixed for you!

[2017-11-28 20:20] moonshoes87 commented on #88
I am closing this issue, since the tests work on Linux/Windows, and the tested functionality works on OS X.

[2017-11-28 20:20] #88 closed

[2017-11-28 20:31] moonshoes87 commented on #162
I'm not sure I've correctly understood your question, but here are some clarifications.

I only propagate ages using the data hierarchy. So, if site h5a has an age of 1 Ma and there are no other entries in the ages table, "1 Ma" will be propagated down only to site h5a's samples and specimens.  So:

specimen h5a10 will have the age 1 Ma
specimen h6b22 will have no value for age.

The plotting prog

[2017-11-28 21:24] moonshoes87 commented on #268
standalones now updated as well (Windows & OS X)

[2017-11-28 22:27] moonshoes87 commented on #267
I now can't reproduce this issue....  It seems that sometimes you have to `pip uninstall` more than once, for some reason.

[2017-11-28 22:27] #267 closed

[2017-11-28 22:31] moonshoes87 commented on #244
Sounds good -- I tried to uninstall/reinstall again just now so I could test the pip installation, and shenanigans followed.

<img width="1205" alt="screen shot 2017-11-28 at 2 29 10 pm" src="https://user-images.githubusercontent.com/1836578/33347685-934d4042-d448-11e7-827f-e8a12b0ce4ac.png">

[2017-11-30 22:38] moonshoes87 opened #269 "several tests are failing on Windows"

[2017-12-01 17:58] moonshoes87 commented on #254
I'm closing this issue because it seems to be working correctly for me at present, @ltauxe let me know if you have more troubles along these lines.

[2017-12-01 17:58] #254 closed

[2017-12-01 19:17] moonshoes87 commented on #240
I'm closing this issue for now, since we weren't able to reproduce it and haven't heard back from Courtney Sprain.  @njarboe, please feel free to reopen it!

[2017-12-01 19:17] #240 closed

[2017-12-01 19:23] moonshoes87 commented on #108
I'm trying to clean up old issues.  Since this hasn't had any activity in many months, I'm going to close it.  @jmiristock, @Caoimhinmg, feel free to reopen this or create a new issue if there are unresolved elements related to this problem.

[2017-12-01 19:23] #108 closed

[2017-12-01 19:50] moonshoes87 commented on #195
@njarboe, @Caoimhinmg, was this issue ever resolved?  I can implement the Pmag GUI portion if so.

[2017-12-02 19:12] Swanson-Hysell commented on #195
This issue still needs to be dealt with and relates to different labs dealing with setting up their header files in different ways. At present, the code is dealing with things such that when the value is set to 1.0 it isn't improperly interpreting that as a real value. Instead it is treating it as a dummy value that is disregarded. We are following the same procedure as Scott such that the code is

[2017-12-02 22:00] moonshoes87 commented on #269
Fails when run with unittest discover, but succeeds when called alone or with just the test_pmag_gui module:

    pmagpy_tests.test_pmag_gui.TestMainFrame3.test_click_demag_gui

[2017-12-02 23:39] moonshoes87 commented on #195
conversion_scripts2 translates magnetometer files into MagIC 2.5, which pretty much no one should be doing at this point.  However, we didn't want to completely remove that functionality in case someone does need it for whatever reason.  conversion_scripts contains all of the scripts that translate magnetometer files into 3.0.

Both dev_setup.py and the pip version of PmagPy still install both the

[2017-12-03 00:00] moonshoes87 commented on #269
I've fixed all the rest.  The one issue above is weird, but not a real problem.

[2017-12-03 00:00] #269 closed

[2017-12-03 00:35] moonshoes87 commented on #249
After conversation with @ltauxe, we will ignore this!

[2017-12-03 00:35] #249 closed

[2017-12-03 00:53] moonshoes87 commented on #248
I still need to re-cache the data model, but it looks like this shouldn't be a problem.

[2017-12-03 00:58] #238 closed

[2017-12-03 01:11] moonshoes87 commented on #231
See MS_data

Issue with this line:

                prior_spec_data = spec_container.get_records_for_code(
                'LP-DIR', strict_match=False)  # look up all prior directional interpretations

It is grabbing records that it shouldn't, and then breaking later.

[2017-12-03 01:46] moonshoes87 opened #270 "combine_magic problems"
Lisa's issue Archaeomag_3

Step 1.3 combine_magic

something_specimens.txt
specimens.txt

Doesn't append nicely.  Stub values.

When you go back to run step 1 a second or third time, things get weird.

A row with just specimen, sample can be dropped if there is another row.

[2017-12-03 01:47] moonshoes87 commented on #213
Taking this on.

[2017-12-04 19:29] moonshoes87 commented on #231
zeq_magic is failing with a dataset that doesn't have a specimen file (or has a very minimal specimen file).  Does it need to work without saved specimen interpretations?

[2017-12-04 20:22] moonshoes87 commented on #213
@ltauxe, agm_magic wasn't properly skipping some of the metadata rows.  It now seems to work on the data you gave me.  Give it a try and then close this issue if it works.

[2017-12-04 21:40] ltauxe commented on #213
yes now agm_magic is working EXCEPT that the output files *_specimens.txt, etc. are being put in the directory in which the program is launched and not in the working directory as specified by -F.  and -WD doesn't seem to help.

[2017-12-04 21:45] ltauxe commented on #270
Also, combine_magic.py doesn't seem to work at all on the command line.

[2017-12-04 21:50] ltauxe commented on #231
the only thing this gets used for anymore is to make the plots for the MagIC website, so yes it should work with no saved specimen interpretations.

[2017-12-04 21:53] ltauxe commented on #231
also, even with a specimens.txt interpretation, now we get this:
-W- Column 'orientation_flag' isn't in samples table, skipping it
MS10A-1 1 out of  122
Segmentation fault: 11

so it should just assume that the orientation_flag is 'g' if there isn't one

[2017-12-04 21:57] ltauxe commented on #231
um and i think 'orientation_flag'  got changed to 'orientation_quality' and that is not an option in pmag_gui Option 3.

[2017-12-04 21:57] ltauxe opened #271 "orientation_quality not in pmag_gui"
'orientation_flag'  got changed to 'orientation_quality' and that is not an option in pmag_gui Option 3.  it should be.

[2017-12-04 21:58] #271 closed

[2017-12-04 21:58] ltauxe commented on #271
oh - it is in samples_optional.  my bad

[2017-12-04 21:59] ltauxe commented on #231
it IS in pmag_gui - never mind.

[2017-12-04 22:05] ltauxe commented on #231
I fixed the orientation_quality flag check and there is still a segmentation fault

[2017-12-04 22:56] moonshoes87 commented on #213
ok I'll fix this

[2017-12-05 01:00] moonshoes87 commented on #213
Ok, it now works like this:

by default, output files are written to your current directory

if you specify -WD, all output files will be written to that directory

if you specify -F path/to/file.txt, the measurements file will be written to that custom file (and likewise with -Fsp etc.).

Test it out and let me know if it is as expected.

[2017-12-05 01:07] moonshoes87 commented on #231
How do you want to assign beg_pca/end_pca when there are no saved specimen interpretations?  The current code just doesn't seem to have any way of doing this....

The two ways that beg_pcas/end_pcas are generated:

                beg_pcas = pd.to_numeric(
                    prior_specimen_interpretations.meas_step_min.values).tolist()

But this breaks if there are no previous interpretations.

T

[2017-12-05 20:21] moonshoes87 opened #272 "fix some deprecation warnings etc. in tests"
test_get_min_max_lat_lon (pmagpy_tests.test_new_builder.TestContribution) ... /Users/***/PmagPy/pmagpy/new_builder.py:398: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

    test_2g_succeed_option4 (pmagpy_tests.test_imports3.Test2g_bin_magic) ... /Users/***/programs/conversion_scripts/_2g_bin_magic.py:171: DeprecationW

[2017-12-05 20:27] moonshoes87 commented on #270
@ltauxe, here's an update on combine_magic.

First, the bug in Thellier GUI that we thought was due to combine_magic issues actually is from a pandas bug which will be fixed eventually.  In the meantime, I wrote in a workaround to prevent the pandas bug from crashing Thellier GUI.

Second, combine_magic still works on the command line for me.

<img width="826" alt="screen shot 2017-12-05 at 12 23

[2017-12-05 22:23] njarboe commented on #195
@Swanson-Hysell @Caoimhinmg
I have queried Jonathan for some example measurement data files and will forward them when I receive them.

Another issue in resolving all of the variations on the Caltech format is the use of mT or Oe. The document we have in the PmagPy github (included below) describing the format says that the AF units are in mT but both the USGS and MIT use Oe. Ben Weiss told me tha

[2017-12-05 23:59] njarboe commented on #240
Sent an inquire to Courtney. Will reopen if she still has the same problem.

[2017-12-06 01:20] #272 closed

[2017-12-06 21:41] #248 closed

[2017-12-06 21:46] moonshoes87 commented on #162
I'm going to close this issue for now.  If any more specific problems arise with regard to ages or other values that should propagate, let's open a new issue.

[2017-12-06 21:46] #162 closed

[2017-12-06 21:52] moonshoes87 opened #273 "measurements.sequence"
Since measurements.sequence is now a required field for measurements, the conversion scripts should presumably fill it in.

Our conversion scripts already generate measurements.txt with the records in the correct order.  So, in a measurements table with n rows, can the measurements simply be added to each record starting with 0 and ending with n-1?  (or starting with 1 and ending with n) .

Does a

[2017-12-06 23:19] #191 closed

[2017-12-07 04:22] ltauxe commented on #273
no - i guess we need this one.  lisa

[2017-12-07 05:10] moonshoes87 commented on #231
I've implemented some fixes.  For one, if there are no previous interpretations zeq_magic will use all of the measurements for a specimen (this appears to be what was implemented in zeq_magic with data model 2).  I've fixed a few other miscellaneous items, too.

Currently I'm looking at what happens with azimuth/dip information can't be found for a specimen.

[2017-12-07 07:17] njarboe commented on #273
When we have online validation, the plan is that, if the sequence is missing, we will add the sequence by using the order in the upload file. The sequence is a signed float so you can start with 1 or 0. Putting them into the scripts is probably a good idea as validation is not happening right now and having the sequence created closer to the original data files reduces the likely hood for mistakes

[2017-12-07 20:20] moonshoes87 commented on #273
Great, this is easy to implement anyway.

[2017-12-07 20:50] #273 closed

[2017-12-07 21:07] moonshoes87 commented on #190
This functionality is still missing for Thellier GUI with MagIC 3.  I can try to convert it, or at least remove the menu option so that users aren't trying and failing to use this.

I'm happy to try to update this to MagIC 3,  but I don't want to step on your toes @ronshaar.

[2017-12-08 16:10] ltauxe commented on #190
Lori why don’t you have a stab at it.  I think Ron is too busy?

[2017-12-08 21:14] ltauxe opened #274 "pmag.dotilt_V"
This returns incorrect answers.

[2017-12-15 21:15] moonshoes87 opened #275 "thellier_magic problems"
thellier_magic is running into problems at this line:

            pars, errcode = pmag.PintPars(
                thelblock, araiblock, zijdblock, start, end, accept, version=3)

apparently because start/end haven't been correctly set are are still both empty strings.  I'm having some trouble understanding the code that is supposed to set these parameters.

This is one of the last few obstacles to

[2017-12-16 02:54] moonshoes87 commented on #275
It seems that pmag.PintPars doesn't work without a value for start and end.  In Thellier_magic, using data without previous specimen interpretations, no value is set for start or end, so this fails:

            pars, errcode = pmag.PintPars(
                thelblock, araiblock, zijdblock, start, end, accept, version=3)

I tried making `start = 0` and `end = len(zijdblock) - 1,` but this fails la

[2017-12-18 19:29] ltauxe opened #276 "thellier_gui is broken"
objc[4635]: Class FIFinderSyncExtensionHost is implemented in both /System/Library/PrivateFrameworks/FinderKit.framework/Versions/A/FinderKit (0x7fffa0396a70) and /System/Library/PrivateFrameworks/FileProvider.framework/OverrideBundles/FinderSyncCollaborationFileProviderOverride.bundle/Contents/MacOS/FinderSyncCollaborationFileProviderOverride (0x1c1e1c0cd8). One of the two will be used. Which one

[2017-12-18 19:41] ltauxe commented on #276
ummm.  just bad input file. nevermind

[2017-12-18 19:41] #276 closed

[2017-12-18 20:17] ltauxe opened #277 "thellier GUI measurement quality"
should ignore data points with quality marked 'b' for calculations and plot them as x's as in demag gui.

[2017-12-19 04:12] ltauxe commented on #275
it should just skip the pintPars part if there are no interpretations.
lisa

[2017-12-22 22:32] moonshoes87 opened #278 "download_magic with data model 3"
Download_magic splits up records into Location_1, Location_2, etc.  The problem is, in data model 3, location name isn't necessarily available at the sample, specimen, and measurement level.

So this line fails to find any records:

                lrecs = pmag.get_dictitem(recs, 'location', loc_name, 'T')

So Location_* folders often are still created but are only populated with contribution, loc

[2017-12-22 22:32] moonshoes87 opened #279 "mk_redo not updated to MagIC 3"
Do we still need this program for MagIC 3.0?

@ltauxe?

[2017-12-23 02:43] moonshoes87 commented on #231
@ltauxe, I now believe that zeq_magic works correctly.  I'm closing this issue, but still looking at make_magic_plots.  Let me know if you find other ways that zeq_magic doesn't work.

[2017-12-23 02:43] #231 closed

[2017-12-23 02:43] moonshoes87 opened #280 "get make_magic_plots working"

[2017-12-26 01:03] ltauxe commented on #279
I don’t think we need this one, but it shouldn’t be hard to do.
lisa

[2017-12-27 21:09] ltauxe opened #281 "zeq_magic.py"
This program calls pmagplotlib.plotZ, which works fine, but somewhere in zeq_magic, the axes are being rescaled so that the zijderveld diagram is in the wrong units.  I can't find where that is happening.  please help!

[2017-12-27 21:12] ltauxe commented on #278
let’s ditch the many location folders.  (option 1)

[2017-12-27 21:13] #274 closed

[2017-12-28 00:33] ltauxe commented on #281
found where the scaling problem is  happening - somehow when the best fit direction is supposed to get plotted.  I can fix that, but I still have the weird problem that the data get doubled. this happens when it is read in by nb.Contributions.   Here is an example file.  run with zeq_magic.py -f tmp.txt
[tmp.txt](https://github.com/PmagPy/PmagPy/files/1590120/tmp.txt)

[2017-12-29 02:42] moonshoes87 commented on #281
I think this problem comes from #196

[2017-12-30 02:49] ltauxe commented on #281
all fixed (I hope).  multiple sample orientations are allowed and the priorities are set in pmag.set_priorities() with the preferred type selected by get_orient().  updated get_orient to allow data_model=3.

[2017-12-30 02:49] #281 closed

[2017-12-30 02:52] ltauxe opened #282 "demag_gui"
You cannot set up a criteria file with this program - only modify an existing one.  you should be able to set up a new one with the change criteria menu option.
AND
I can't figure out how to do a blanket DE-BFP interpretation on all samples - this (as well as doing fisher means) should be possible.

[2018-01-01 19:56] #275 closed

[2018-01-02 05:57] moonshoes87 commented on #278
Ok, splitting into location folders is now a non-default option.  If a user selects it, I do all the propagating of location name down to the measurement level, so that everything can be portioned out into the right folders.

[2018-01-02 05:57] #278 closed

[2018-01-02 17:14] moonshoes87 opened #283 "core_depthplot xlimits error"
See _PmagPy.ipynb output

    /Users/***/anaconda/lib/python3.6/site-packages/matplotlib/axes/_base.py:2923:
    UserWarning: Attempted to set non-positive xlimits for log-scale axis; invalid limits will be ignored.
      'Attempted to set non-positive xlimits for log-scale axis; '

[2018-01-02 17:15] moonshoes87 commented on #190
I think this is working now -- @ltauxe, want to give it a test and let me know if anything is functioning differently than you expect?

[2018-01-02 17:18] moonshoes87 opened #284 "nrm_specimens_magic not working"
See notebook output

[2018-01-02 17:20] moonshoes87 opened #285 "orientation_magic not generating output in _PmagPy.ipynb"

[2018-01-02 17:27] moonshoes87 opened #286 "matplotlib API changes"
We probably can't support matplotlib < 2 and matplotlib > 2.  We should update everything to 2, and make appropriate warnings for users that they should upgrade their matplotlib.  Also, add matplotlib > 2 as a dependency for pip install.

    /Users/***/anaconda/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3260:
    MatplotlibDeprecationWarning: The ishold function was deprecated i

[2018-01-02 17:29] moonshoes87 opened #287 "aniso_magic not working in _PmagPy.ipynb"

[2018-01-02 17:35] moonshoes87 opened #288 "zeq_magic NameError"
New zeq_magic bug:

<img width="3000" alt="screen shot 2018-01-02 at 9 33 43 am" src="https://user-images.githubusercontent.com/1836578/34493287-360f6090-efb9-11e7-959b-a5cb8853256a.png">

@ltauxe, this is from _PmagPy_3.0.ipynb.  Want to take a look, or should I?

[2018-01-02 18:01] ltauxe commented on #288
ok NOW it is fixed.  that should have been beg_pcas.
lisa

[2018-01-02 18:02] #285 closed

[2018-01-02 18:03] moonshoes87 commented on #288
Great -- I figured this was a simple one, but I didn't want to mess with zeq_magic anymore!

[2018-01-02 18:03] #288 closed

[2018-01-02 18:24] ltauxe commented on #287
there are no aniso data in the mcmurdo specimens table.

[2018-01-02 18:25] moonshoes87 commented on #284
@ltauxe, does nrm_specimens_magic need to be updated to data model 3?

[2018-01-02 18:25] moonshoes87 commented on #284
Also, it isn't working right with -crd g

[2018-01-02 18:27] moonshoes87 commented on #287
Hmm, well, this used to generate plots….

See: https://github.com/PmagPy/PmagPy/blob/master/data_files/notebooks/_PmagPy_3.0.ipynb

[2018-01-02 19:17] #287 closed

[2018-01-02 19:18] ltauxe commented on #287
there ARE aniso_s data in McMurdo, but the method of getting method_codes='AE-' was failing.  Now it just gets aniso_s data directly and it seems to work.

[2018-01-02 19:44] ltauxe commented on #284
well, I could…  not a big deal.  I’ll give it a go.
lisa

[2018-01-02 19:45] moonshoes87 commented on #284
I can also do it, just wasn’t sure if it had been superseded by another program.  Let me know if you want me to work on this.

[2018-01-02 22:38] ltauxe commented on #284
it wasn’t priority.  i just did it for practice.  it now seems to work (but the output doesn’t work with eqarea_magic, so I’m not sure what is up with THAT).  anyway, i pushed something.  it shouldn’t effect you (i hope i didn’t tromp on your stuff this time - i did a merge).

lisa

[2018-01-02 22:39] ltauxe commented on #284
I think it works now...

[2018-01-03 21:15] moonshoes87 commented on #284
There is still a problem in nrm_specimens_magic.  dir_tilt_correction is getting populated with 'g', which is why the resulting nrm_specimens.txt doesn't plot correctly with eqarea_magic.

<img width="645" alt="screen shot 2018-01-03 at 12 39 40 pm" src="https://user-images.githubusercontent.com/1836578/34538905-2ff9489a-f083-11e7-8239-a2cd88ed2414.png">

This happens because coord == 'g' (geograp

[2018-01-03 21:16] moonshoes87 commented on #283
- [ ]

[2018-01-03 21:16] #283 closed

[2018-01-03 21:57] moonshoes87 commented on #280
@ltauxe, I've fixed every issue that I've found.  Want to try this out in a few contributions and see if you get all the plots you expect?

@rminnett, I'm not sure where you are in terms of using make_magic_plots on the server.  If and when you give it a try, let me know if there are additional problems.

[2018-01-03 22:23] ltauxe commented on #284
correct.  dir_tilt_correction should be -1, 0 or 100.  sorry.
lisa

[2018-01-03 23:44] #284 closed

[2018-01-03 23:49] moonshoes87 opened #289 "eqarea_magic plot with the wrong name"
see nrm_specimens_magic in _PmagPy.ipynb.  name of the plot should have location name, but it should work with or without a location.  if not location, use 'all'.

[2018-01-03 23:54] moonshoes87 commented on #280
We haven't added core_depthplot to make_magic plots yet, so I'm going to work on that.

[2018-01-04 00:03] #270 closed

[2018-01-04 00:12] #213 closed

[2018-01-04 02:57] moonshoes87 commented on #189
I'm going to remove this as a menu item, since it isn't currently working.  @ronshaar, I won't get rid of any of the code, so if you want to update it/add it back in, feel free.

[2018-01-04 02:57] #189 closed

[2018-01-05 04:27] #289 closed

[2018-01-05 17:35] moonshoes87 commented on #286
Can't do this yet.  Because #250.  matplotlib 2.1 is not available with canopy, and is not the default download for anaconda.  and matplotlib 2.0 breaks with wxPython wxPhoenix.

[2018-01-05 19:01] #279 closed

[2018-01-05 20:21] moonshoes87 commented on #250
Canopy doesn't have matplotlib 2.1.0.

Also, conda won't install matplotlib 2.1.0 by default with `conda upgrade matplotlib` -- instead you have to use `conda install matplotlib=2.1.0`

[2018-01-05 20:33] moonshoes87 commented on #277
This is what @Caoimhinmg was working on in #170.  It is at least partially set up in the current code.  @Caoimhinmg, would you mind giving an update where you got to with this project and what might still need to be done?

@ltauxe, you might also want to look again at #170 and make sure the whole approach seems right to you.

[2018-01-05 21:42] moonshoes87 commented on #280
We need to decide on the defaults for core_depthplot in make_magic_plots.  I'm not sure how to figure out input for -LP, protocol and step.  @ltauxe?

[2018-01-05 22:52] ltauxe commented on #286
NO - contourf doesn't work in matplotlib >2.  we should use matplotlib 1.5.3  until that gets fixed.  hope that doesn't create other problems.  we should probably make a note of that in the cookbook as plot_magmap breaks with matplotlib >2.

[2018-01-05 23:03] ltauxe opened #290 "plot_magmap"
breaks now.  If using matplotlib >2, it breaks because of some error in the way python3 does division.  but with matplotlib 1.5.3, it breaks for some other reason:

/Users/ltauxe/anaconda/lib/python3.5/site-packages/mpl_toolkits/basemap/__init__.py:3644: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  xx = x[x.shape[0]/2,:]
Traceb

[2018-01-06 00:35] moonshoes87 commented on #290
I'll work on this.  Can you give me an example of how plot_magmap should work?   We should put it into _PmagPy.ipynb so that it gets tested.

[2018-01-06 00:45] moonshoes87 commented on #286
vgpmap_magic works with matplotlib 2.1, and it calls pmagplotlib.plotMAP which calls contourf.  So the plot_magmap issue #290 must be something else.

[2018-01-06 00:50] moonshoes87 commented on #286
All the programs that use basemap/matplotlib that are in _PmagPy.ipynb and _PmagPy_3.0.ipynb work correctly with matplotlib 2.1 and basemap 1.0.7

[2018-01-06 00:53] moonshoes87 opened #291 "thellier_gui problem when selecting interpretation bounds"
This error happens when trying to select bounds by double-clicking the list of measurements in this directory: data_files/Pmag_GUI/ThisProject/

    Traceback (most recent call last):
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 1182, in on_click_listctrl
        self.select_bounds_in_logger(index)
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 1

[2018-01-06 01:15] ltauxe commented on #290
plot_magmap.py -el B
should give a pretty plot of earth’s field intensity on  a Hammer projection
lisa

[2018-01-06 03:24] moonshoes87 commented on #290
For me, this command works correctly with:

1.  matplotlib 2.0/2.1 and basemap 1.0.7 with every format including jpeg

2. matplotlib 1.5 with every format other than jpeg.

3. matplotlib 1.5 with pillow downgraded to 4.1.1 with every format including jpeg

However, other plotting programs fail with matplotlib 1.5, unless this specific version of wxPython is downloaded:

    pip install -U --pre -f

[2018-01-06 17:38] ltauxe commented on #290
pillow?

[2018-01-06 18:13] moonshoes87 commented on #290
Pillow is a hidden dependency that causes the jpeg error.

[2018-01-06 20:38] moonshoes87 commented on #291
This only happens when there isn't an interpretation yet, (in the docstring for select_bounds_in_logger:NOTE: Requires an interpretation to exist before it is called.              )

I am putting code so that when you first click, if there is no prior interpretation, it sets your initial click as tmin and the highest available temp as tmax.

The whole implementation of this is still a bit buggy an

[2018-01-07 00:12] ltauxe commented on #290
ah yes.  savefig doesn’t work with jpg anymore.  so we should remove that possibility.
lisa

[2018-01-07 00:44] ltauxe commented on #290
It works now - you just can't save in jpg format because of but in matplotlib.

[2018-01-07 00:44] #290 closed

[2018-01-07 22:59] ltauxe commented on #286
the plot_magmap problems were: 1) a nasty warning which actually did nothing and 2) jpg output just doesn’t work - have to use png or other.
I put in an ‘ignore’ command for the warnings and suppressed the jpg option for saving of plots.
lisa

[2018-01-08 17:03] Caoimhinmg commented on #250
Hey @moonshoes87, I've been looking into this a bit myself (just realized you had this issue open once you changed the name). It looks like an internal problem though it's defiantly an issue for PmagPy's accessibility. I've got this problem on linux and I managed to fix it by rolling back wxpython to 4.0.0a1 as you suggest above. This is a real shame though as 4.0.0b2 has some major updates partic

[2018-01-08 18:18] moonshoes87 commented on #250
Yikes, I knew Basemap wasn't that well maintained but I didn't realize it was that bad.

Well, I finally got everything to work by upgrading as follows:

basemap                   1.1.0            conda-forge
matplotlib                  2.1.1            conda-forge
wxPython                  4.0.0b2

I don't know what problems you've run into, but with those updates Basemap works correctly without

[2018-01-08 18:26] moonshoes87 commented on #286
Correction: basemap must be updated to 1.1.0 to work correctly.

Here is the issue with matplotlib/basemap up to date:

    Traceback (most recent call last):
      File "/Users/nebula/Python/PmagPy/programs/plot_magmap.py", line 133, in <module>
    main()
      File "/Users/nebula/Python/PmagPy/programs/plot_magmap.py", line 110, in main
    cs=m.contourf(x,y,Bs,levels=levels,cmap=cmap)
      Fi

[2018-01-08 19:31] Caoimhinmg commented on #250
Well it's possible to get this to work, but it's very sketchy on linux. You cannot get basemap from pypi so it's easiest to install using aptitude (the built-in debian package manager). The version there is 1.0.7 and you get a namespace collision because the matplotlib in aptitude is 1.5.1 and everything falls apart when you update matplotlib using pip because for some reason it installs matplotli

[2018-01-08 20:15] #282 closed

[2018-01-08 20:19] moonshoes87 commented on #250
Messy indeed.  But good to have a fix.  I'm going to leave this issue open, and create a new one for trying out/switching to cartopy.

[2018-01-08 20:25] moonshoes87 opened #292 "implementing an alternative to basemap"
As @Caoimhinmg brought up in #286, Basemap is no longer being developed and won't be supported after 2020.  See discussion [here](https://github.com/SciTools/cartopy/issues/920).  There is no huge hurry to stop using it, but in the long run we will probably want to use something else.

It looks like [cartopy](http://scitools.org.uk/cartopy/) is the likely heir to the throne.  We should have a look

[2018-01-08 20:49] ltauxe commented on #292
yeah - the guy who developed it died in 2012 or so.  maybe we should look into plotly?  or something else?

[2018-01-08 21:29] Caoimhinmg commented on #262
Hey @moonshoes87 I don't think it's a matter reading in data that is the problem here when it reads in it just tosses the intensity data to the side so it doesn't fall apart same as it's always worked. It's the writing out when the analysis is done and this is a problem I've struggled with for a while.

I had originally assumed that the idea with Magic 3 was to have a simple yet extensive set of v

[2018-01-09 19:26] moonshoes87 commented on #292
It sounds like [cartopy](http://scitools.org.uk/cartopy/) is probably the right package to replace basemap. @ltauxe, do you want to have a look at this?  Here is a good place to look: http://scitools.org.uk/cartopy/docs/latest/matplotlib/intro.html

[2018-01-09 19:34] #291 closed

[2018-01-09 19:45] moonshoes87 commented on #286
Ok, I'm going to add in a warning that users should update to matplotlib 2.1.  This won't yet cause anything to break, it will just provide a heads up.

[2018-01-09 22:25] moonshoes87 opened #293 "Canopy Python issues"
I just tried to install Canopy with Python 3.  I ran into lots of problems, and wasn't ultimately able to set it as my default Python.  I submitted a bug report, but I am increasingly convinced that we should stick with recommending Anaconda, since installing Canopy seems to be such a mess.  Another issue with Canopy is that they are relatively slow with updating packages, which Anaconda does sign

[2018-01-09 23:14] moonshoes87 commented on #262
Yes, it is a little messy with how potentially heterogenous the data can be.  I haven't noticed specific problems at the measurement/specimen level, but it sounds like there is potential for trouble.  I don't really have a solution to the mixed data issue.  I have added a few methods to MagicDataFrame to help get rid of potentially unneeded rows that may have gotten added:

    drop_stub_rows  # d

[2018-01-10 00:42] moonshoes87 commented on #292
@ltauxe, I'm seeing how it goes to convert plot_magmap to cartopy.  So far, it seems doable.

[2018-01-10 00:51] ltauxe commented on #292
yes, cartopy looks like a promising option to replace basemap.    I’m reluctant to switch right now for my class, but it certainly can be added to PmagPy. there are only a few mapping programs anyway.  it shouldn’t be a bit deal for, e.g., basemap_magic, the vgp one and plot_magmap.  i can check for all the ones that call basemap.

but.  is cartopy actively being developed?    and what will we do

[2018-01-10 00:57] moonshoes87 commented on #292
cartopy is actively being developed, and is intended to be a replacement for Basemap.  cartopy is also mean to play nicely with matplotlib, so it actually works similarly to how Basemap does.

[2018-01-10 00:58] moonshoes87 commented on #292
And matplotlib itself is still being maintained/developed.

[2018-01-10 01:12] ltauxe commented on #292
here is a notebook that implements the examples from the cartopy website.  the only one that doesn’t work requires some data set that I didn’t have lying around…   I like it!

lisa

[2018-01-10 01:12] moonshoes87 commented on #292
Great!  And I already have plot_magmap partially working with cartopy.

[2018-01-10 19:12] moonshoes87 commented on #292
I just added cartopy_plot_magmap to the repo (d1f0bbcb8c736bb8354bc1059212aebaa1ad05af).  There are some issues with the projections -- cartopy doesn't have hammer, so things look a little different.  Also, some of the alternative models don't look the same (arch3k is all messed up with cartopy).

Otherwise, things are pretty good.

Cartopy:

![cartopy_igrf1800 0](https://user-images.githubusercon

[2018-01-10 19:12] moonshoes87 commented on #292
I'm not sure what's causing the white stripe in the cartopy version, though -- missing data?

[2018-01-11 21:40] moonshoes87 commented on #293
There is no longer a simple way to set Canopy Python as your "default" Python.  The recommendation is, instead, that you open a "Canopy Terminal" and work there.  This doesn't make sense with a developer install, but it can work fine with a pip install (except that you can't get up-to-date Basemap with Canopy).

So, here is how to install PmagPy with Canopy:

Download and install Canopy
Open the C

[2018-01-11 21:47] moonshoes87 opened #294 "McMurdo data has gotten a bit munched in data_files"
See specimens line 1358.

I will re-download this to fix the repo, then try to figure out where it is getting messed up.

[2018-01-12 02:42] moonshoes87 opened #295 "core_depthplot redo"
And add to make_magic_plots

[2018-01-12 02:48] moonshoes87 commented on #170
@Caoimhinmg, are you still willing/able to implement this?  @ltauxe and I were just meeting and agreed that this approach makes sense.  If you don't have the time, I may try to simply implement @ltauxe's #277 request (plotting measurements that were already marked as bad in the measurement file with an x)

[2018-01-12 14:52] Caoimhinmg commented on #170
It already works to some degree in the branch I left. If I remember right there were just a few calculation issues to hammer out because the functions that take in data to do statistics on them are not prepared to handle bad measurements. Particularly because there are so many different kinds of measurements in a standard paleointensity study at least compared to a paleodirection study. So that sa

[2018-01-16 03:14] moonshoes87 opened #296 "pyinstaller isn't working on OS X"
I updated a bunch of packages, and pyinstaller isn't working for pmag/magic GUIs anymore.  It does work with minimal matplotlib example.

[2018-01-16 03:19] moonshoes87 commented on #296
Also works with a minimal wxPython script.

[2018-01-16 17:36] Caoimhinmg commented on #296
Hey @moonshoes87, might be worth [raising this](https://github.com/pyinstaller/pyinstaller/issues) with their dev team. I have contacted them in the past regarding an issue I had getting pyinstaller to run locally, and they responded quickly and didn't seem to mind helping with my strange conflict I was having with a linux based skype instillation blocking pyinstaller.

[2018-01-16 18:48] moonshoes87 opened #297 "update sufar4_asc_magic to MagIC 3"
This was missed....

[2018-01-16 19:59] moonshoes87 opened #298 "update kly4s_magic to MagIC 3"

[2018-01-17 22:06] moonshoes87 commented on #296
@Caoimhinmg, yeah, definitely.  I want to home in on the problem a bit more first, and I have been called away to other bugs.  But I will definitely report the issue.

[2018-01-17 22:08] moonshoes87 commented on #295
Issue to deal with: what level has the core_depth/composite_depth data.

[2018-01-18 20:22] moonshoes87 commented on #296
I thought this might be the problem

    80893 INFO:   Matplotlib backend "WebAgg": ignored
        Traceback (most recent call last):
      File "<string>", line 12, in <module>
      File "/Users/nebula/anaconda3/lib/python3.6/site-packages/matplotlib/backends/backend_webagg.py", line 327, in <module>
        class _BackendWebAgg(_Backend):
      File "/Users/nebula/anaconda3/lib/python3.6/site-

[2018-01-18 20:22] moonshoes87 commented on #296
Any import from "dialogs" causes the whole script to fail.

[2018-01-18 20:26] Caoimhinmg commented on #296
[Here's](https://github.com/pyinstaller/pyinstaller/wiki/If-Things-Go-Wrong) a trouble shooting guide I used when I was having problems. Also [here's](https://github.com/pyinstaller/pyinstaller/wiki/How-to-Report-Bugs) the guide for bug reporting follow it to the letter and you'll get a lot more info.

[2018-01-19 21:29] moonshoes87 commented on #296
Thanks, that's handy!

[2018-01-19 21:34] #296 closed

[2018-01-23 23:18] moonshoes87 commented on #295
@ltauxe, here are some of the issues with core_depthplot:

- wig_file doesn't currently work
- sum_file doesn't currently work
- ngr_file doesn't currently work (never fully implemented)
- suc_file doesn't currently work (never fully implemented)
- problems with plotting susceptibility:
    + LT-X isn't a valid method code (should be LP-X?  I went ahead and changed this...)
    + SDecs, SIncs, and

[2018-01-25 19:44] moonshoes87 commented on #297
Upgraded in 45f8c4ef4d3d01038911fa7b73e9cc4beedeaa1b

[2018-01-26 01:01] moonshoes87 opened #299 "upgrade k15_magic to 3"

[2018-01-26 01:07] #286 closed

[2018-01-26 01:08] moonshoes87 commented on #297
need to implement this in Pmag GUI

[2018-01-26 18:48] moonshoes87 commented on #299
@ltauxe, I've run into some parts I don't know how to translate.

I don't know exactly how some of the new matrix anisotropy fields should work.  I can probably finish this with a little help.

[2018-01-27 20:58] #297 closed

[2018-01-27 20:59] #298 closed

[2018-02-01 21:58] moonshoes87 commented on #294
I re-downloaded McMurdo and ran through all the tests.  The weird extra column didn't show up again, so hopefully it is fixed!

[2018-02-01 21:58] #294 closed

[2018-02-01 22:21] moonshoes87 commented on #220
Not sure why, but this seems to work now.

[2018-02-01 22:21] #220 closed

[2018-02-01 22:46] moonshoes87 opened #300 "Pmag GUI shouldn't open up "validation mode" if there were no errors"

[2018-02-01 23:03] moonshoes87 opened #301 "orientation_quality should be in samples.txt after running orientation_magic"

[2018-02-01 23:16] moonshoes87 opened #302 "Pmag GUI step 3 shouldn't have "missing required data" message for empty tables"
I.e., if there are no ages, you shouldn't be warned that you don't have a value in a particular column.

[2018-02-01 23:17] moonshoes87 opened #303 "trying to validate upload with no/empty location"
Traceback (most recent call last):
      File "/Users/nebula/Python/PmagPy/programs/pmag_gui.py", line 699, in on_btn_upload
    contribution=self.contribution)
      File "/Users/nebula/Python/PmagPy/pmagpy/ipmag.py", line 3962, in upload_magic3
    locs = [loc.replace(' ', '-') for loc in locs]
      File "/Users/nebula/Python/PmagPy/pmagpy/ipmag.py", line 3962, in <listcomp>
    locs = [loc.rep

[2018-02-01 23:25] #301 closed

[2018-02-01 23:25] #303 closed

[2018-02-01 23:42] #300 closed

[2018-02-01 23:42] #302 closed

[2018-02-01 23:59] moonshoes87 opened #304 "bad stuff happens if pandas mistakes a specimen/sample/site name for a float"
see 7325B.sam.

[2018-02-02 18:57] #304 closed

[2018-02-09 18:24] moonshoes87 opened #305 "Run through each example import and makes sure it works"
- generic_magic -- done
- sio_magic -- done
- cit_magic -- done
- 2g_bin -- done
- huji -- done
- ldeo -- done
- iodp -- done
- pmd -- done
- tdt -- done except for #309
- jr6 -- done
- utrecht -- missing data file
- bcc -- done

[2018-02-10 21:21] moonshoes87 opened #306 "orientation window doesn't close"

[2018-02-10 21:22] #306 closed

[2018-02-10 23:26] moonshoes87 commented on #305
2g_bin not all specimens seem to be going into the specimens file (from measurements file)

[2018-02-12 19:50] moonshoes87 commented on #305
I thought columns were ordered by category in Pmag GUI step 3 / MagIC GUI, but apparently not?

[2018-02-13 21:06] ltauxe opened #307 "thellier_gui.py fails when aniso_s is present but other keys are absent in specimens.txt"
I upgraded data from Selkin et al., 2007 using the online MagIC upgrade tool.  It has anisotropy data in it, with, e.g., aniso_s, but not other parameters, generating this error on line 6580:
KeyError: "['aniso_ftest' 'aniso_ftest12' 'aniso_ftest23' 'aniso_s_n_measurements'\n 'description'] not in index"

these can be calculated from aniso_s and should be....

[2018-02-14 05:54] moonshoes87 opened #308 "fix where core depth info goes"
- Add to sites table in relevant programs (i.e., iodp_srm_magic)
- Make sure all plotting programs, etc. that use depth look in sites table
- Remove core depth during upload

[2018-02-14 23:20] moonshoes87 commented on #307
Is this an issue that should be solved in PmagPy or in the MagIC upgrade tool?

[2018-02-15 00:04] moonshoes87 commented on #305
we should probably add samples.orientation_quality and sites.age as defaults in Pmag GUI step 3.

[2018-02-15 00:49] moonshoes87 commented on #305
tdt_magic creates a column 'measurements.experiment' and a column 'measurements.experiments' which have different values.  measurements.experiment is the valid MagIC 3 column name.

[2018-02-15 18:51] ltauxe commented on #307
in thellier_gui

[2018-02-15 19:19] moonshoes87 opened #309 "tdt_magic experiment/experiments column"
tdt_magic generates measurements.experiment (valid MagIC column) and measurements.experiments (not valid MagIC column).  The two values are different, so I'm not sure which is correct.  @Caoimhinmg, I believe you did the conversion of tdt_magic to data model 3, so maybe you could have a quick look at this issue?

You can see the problem in the data from PmagPy/data_files/Measurement_Import/TDT_mag

[2018-02-15 19:34] moonshoes87 commented on #307
As it is done in aniso_magic?  It looks like the missing aniso_s_n_measurements is still a problem for calculating the other parameters...

[2018-02-15 19:50] moonshoes87 commented on #309
This issue exists in other import scripts as well (at least in generic_magic), but in that case the experiment column and the experiments column have the same value.

[2018-02-15 20:09] moonshoes87 commented on #309
It looks like measurements.experiment is set in pmag.measurements_methods3, and 'experiments' is being set in the import script.  So, I think in the case of generic_magic, just switching 'experiments' to 'experiment' in the script should be fine.  It may be that some of the import scripts are doing redundant work to figure out the experiment column, but that's probably not a big deal.  However, in

[2018-02-15 20:18] ltauxe commented on #307
yes you are right - this is all happening because rmag_anisotropy is not being translated properly.  maybe i should go back to the source…
lisa

[2018-02-15 20:20] ltauxe commented on #309
looks like the measurements.experiment is good enough.
lisa

[2018-02-16 04:16] moonshoes87 opened #310 "missing data file for Utrecht_magic"
We have no example measurement file for Utrecht_magic in data_files/Measurement_Import.  @ltauxe, @njarboe, do one of you have an example measurement file that I can put in?

[2018-02-16 04:32] moonshoes87 opened #311 "HugeGrid is still missing some functionality"
Like, add column (at least in validation mode)

[2018-02-19 19:44] moonshoes87 commented on #307
So maybe it is a MagIC upgrade issue after all?  Or is there something else to do on the PmagPy side?

[2018-02-19 19:46] #310 closed

[2018-02-21 02:07] #305 closed

[2018-02-21 02:09] moonshoes87 commented on #308
Maybe this could just happen in upload_magic?  Propagate any core depth info from samples to sites?

[2018-02-21 18:20] ltauxe commented on #308
yes

[2018-02-24 04:05] #309 closed

[2018-02-26 00:28] moonshoes87 commented on #308
Ok, I've implemented this into upload_magic, but ultimately it would be good to re-do all the depth stuff in PmagPy so that it all happen at the site level.

[2018-02-26 00:28] #308 closed

[2018-02-26 01:58] moonshoes87 commented on #244
@Caoimhinmg, did you ever have a chance to look at this further?  I tried again, and had a new issue -- after uninstalling, PmagPy was removed from my PYTHONPATH, but PmagPy and Pmagpy/programs remained in my PATH.

Then reinstalling failed as before.  Let me know if you  have made any progress or will have time to look at this -- if not, I'll have a look at it or at least add a disclaimer to the

[2018-02-27 01:48] moonshoes87 commented on #215
Check irmaq_magic.  It seems that, possibly, only programs that use wx backend need this....

[2018-02-27 03:55] moonshoes87 opened #312 "make executables smaller"
exclude data files, tests, if those are being grabbed.  see if you can exclude some matplotlib backends.

[2018-02-27 23:44] moonshoes87 commented on #215
Not needed for irmaq_magic.  Looks like we're fine!  matplotlib/wx backend is the issue.

[2018-02-27 23:44] #215 closed

[2018-02-27 23:48] #250 closed

[2018-02-27 23:49] #293 closed

[2018-02-28 00:15] #311 closed

[2018-03-04 20:36] ltauxe opened #313 "weird error"
when i try to import pmag in a jupyter notebook, i get this error:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-5-94b0f196b214> in <module>()
----> 1 import pmag as pmag
      2 #import ipmag as ipmag
      3 #import ipmagplotlib as ipmagplotlib
      4 import numpy as np

[2018-03-05 05:11] Swanson-Hysell commented on #313
Shouldn't the import be:

[code]

Might that be the problem?

[2018-03-05 06:18] ltauxe commented on #313
You are right - but that wasn’t the problem. I had to delete all the .pyc
files for some reason.

On Sun, Mar 4, 2018 at 9:20 PM Nick Swanson-Hysell <notifications@github.com>
wrote:

[2018-03-05 16:34] Swanson-Hysell commented on #313
Interesting. That's a bit odd, but I am glad that fixed the issue.

[2018-03-05 16:34] #313 closed

[2018-03-05 16:35] Swanson-Hysell commented on #312
Working to make the executables smaller is a great idea. Glad that you are working on this issue.

[2018-03-07 04:40] moonshoes87 commented on #312
I tried manually preventing all of the other backends, and it made basically no difference in the size:  https://github.com/pyinstaller/pyinstaller/issues/2785.

[2018-03-07 18:49] moonshoes87 commented on #312
Excluding basemap makes the distribution a tiny bit smaller, but not much (and it is used in Demag GUI).  I thought it might be worth excluding if the gains were large, but they are not.

Excluding pytz doesn't appear to help much either, but I think some substantial timezone stuff is still being grabbed.

[2018-03-07 18:50] ltauxe commented on #312
maybe we should shift to cartopy instead of basemap - it is where python seems to be moving.
lisa

[2018-03-07 21:26] moonshoes87 commented on #312
Yes, we definitely need to do that switch.  @ltauxe, do you have time to look at cartopy_map_magic.py again?  It mostly worked but there was a weird issue with a missing band of data in the plot...

[2018-03-15 21:48] moonshoes87 commented on #312
I've been able to get a modest but worthwhile size reduction in the windows executable by using UPX.  I've updated the setup_scripts README to reflect Haven't had much success on OS X.

I have a (currently) unanswered stack overflow question about this issue: https://stackoverflow.com/questions/49180871/upx-with-pyinstaller-not-working-on-os-x

[2018-03-15 23:23] #299 closed

[2018-03-15 23:26] moonshoes87 opened #314 "strip_magic.py --> 3.0"
Should this be updated to MagIC 3.0?

[2018-03-16 23:50] moonshoes87 commented on #312
Tried manually excluding some matplotlib backends as documented in this pyinstaller issue: https://github.com/pyinstaller/pyinstaller/issues/2785

but had only small gains here.

Between 3.13.0 and 3.15.0, the OS X standalones got much smaller (from ~400 to ~300).  I'm not sure what caused this.  Possibly it was upgrading to a newer version of Pyinstaller?

Current is 319.7 MB.

My optimizations s

[2018-03-17 18:42] moonshoes87 commented on #312
-O doesn't help at all.

[2018-03-21 20:17] ltauxe opened #316 "agm_magic in pmag_gui produces 2.5 output"
when selecting data model 3, the output is still in data model 2.5.

[2018-03-21 20:42] ltauxe commented on #316
actually.  this works fine - the problem is in pmag_gui

[2018-03-21 20:42] #316 closed

[2018-03-21 20:44] ltauxe opened #317 "pmag_gui"
when importing hysteresis files, this must call agm_magic2 and not agm_magic.py because it is producing an antique format - not even 2.5.

[2018-03-21 20:52] ltauxe commented on #317
the problem might be in ipmag.  agm_magic works just fine

[2018-03-21 21:42] moonshoes87 commented on #317
Thanks!  I will work on this soon (probably tomorrow).

[2018-03-21 21:52] ltauxe commented on #317
It seems that lots of ipmag functions are in 2.5. Sigh. Also none of the
3_0 notebook calls work any more - something to do with future imports....
class starting in 2 weeks so I’m panicking

On Thu, Mar 22, 2018 at 6:43 AM Lori J <notifications@github.com> wrote:

[2018-03-22 03:55] moonshoes87 opened #318 "wxPython deprecation warnings with NewId"
Get rid of deprecation warnings/use of NewId

    https://wxpython.org/Phoenix/docs/html/wx.functions.html#wx.NewId

[2018-03-22 03:59] moonshoes87 commented on #317
Which notebook is failing for you?

You should already have it installed, but just in case you can run:

conda install future

[2018-03-22 05:09] ltauxe commented on #317
The one in the 3_0 notebook folder indata_files

But I think I fixed. The import problem

On Thu, Mar 22, 2018 at 12:59 PM Lori J <notifications@github.com> wrote:

[2018-03-22 05:22] moonshoes87 commented on #317
I did some work on this but then saw your latest commit, so I haven't pushed my changes.  Is agm_magic working in Pmag GUI now as expected?  If not, I have it working locally and will push those changes....

[2018-03-22 06:04] moonshoes87 commented on #312
I was able to get down to 196.8 MB by installing Python with home-brew, instead of using Anaconda Python, yay!  I'll add instructions for installing Python + dependencies to the README.  Anaconda is still best for most uses, but it is bulky.

[2018-03-22 06:37] ltauxe commented on #317
i do have future installed and this problem only happens in the notebooks - not on the command line

[2018-03-22 06:38] ltauxe commented on #317
I did fix agm_magic and i think it works now.
lisa

[2018-03-22 17:00] rminnett commented on #312
Just a quick idea, but have you tried starting with Miniconda (https://conda.io/miniconda.html) and pip installing only the packages needed after that?

[2018-03-22 17:54] moonshoes87 commented on #312
@rminnett, yes,that is totally worth a try!

[2018-03-23 22:52] moonshoes87 commented on #312
Pyinstaller works with miniconda, but it has some quirks.  I've added instructions for building with brew python or miniconda.  Both ways are kind of annoying, but few people will need to do this.  I'm going to try the miniconda from scratch now that I know what needs to happen, and make doubly sure it all works.

[2018-03-27 01:08] moonshoes87 opened #319 "Deal with PmagPy version requirements better"
It would be good to formalize our list of dependencies for PmagPy.  In general, we've just instructed people to download the latest version of everything, but this can cause problems.

[2018-03-27 01:16] moonshoes87 opened #320 "update s_magic to 3.0"

[2018-03-28 21:00] ltauxe opened #321 "new? bug in pmag_gui"
when operating in 2.5, trying to combine magic files I get this error message:
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/dialogs/pmag_basic_dialogs.py", line 152, in on_nextButton
    combine_dia = combine_magic_dialog(self.WD, self.parent, data_model=2.5)
TypeError: __init__() got an unexpected keyword argument 'data_model'

I don't know where to start....

[2018-03-28 21:08] moonshoes87 commented on #321
I'll look into it.

[2018-03-28 21:12] #321 closed

[2018-03-28 21:13] moonshoes87 commented on #321
@ltauxe , reopen if this doesn't fix it for you.

[2018-03-28 22:23] Caoimhinmg commented on #292
Hey @moonshoes87 and @ltauxe. Paul Wessel just gave a talk here and it looks like the new GMT6 is coming with wrappers to python, julia, and matlab/octave. While they are not fully released yet it may be good to use this in PmagPy as users will be more familiar with GMT than other libraries and because the base code is C it should be quite fast. Here's an explanatory [jupyter notebook](https://hub

[2018-03-28 23:50] ltauxe commented on #292
I have a whole set of python native stuff that reproduces much of what is in GMT (5) [https://github.com/ltauxe/GMT_Notebooks <https://github.com/ltauxe/GMT_Notebooks>]
but they use basemap in case anyone finds them useful…

lisa

[2018-03-29 21:01] moonshoes87 commented on #312
Updating setuptools is important for this process!  otherwise there are weird errors with `six`.

[2018-03-29 22:18] moonshoes87 opened #322 "make the flow more intuitive for Pmag GUI step 1"
It is kind of annoying if you only import 1 measurement file.

[2018-03-29 22:18] #317 closed

[2018-03-29 22:19] moonshoes87 opened #323 "Fix tail check issue in pmag.measurements_methods"

[2018-03-30 19:59] moonshoes87 commented on #320
@ltauxe, give this a try.  s_magic now defaults to data model 3, but can produce 2.5 output with -DM 2. If it works as expected, you can close this issue.

[2018-03-30 23:58] ltauxe commented on #320
will do.

[2018-04-02 16:35] #320 closed

[2018-04-02 16:39] moonshoes87 commented on #312
I've now made new releases to for both the OS X and Windows standalones that are significantly smaller than they were before.  Instructions for how to do so are included:  https://github.com/PmagPy/PmagPy/tree/master/setup_scripts

There's probably no more low-hanging fruit here.

[2018-04-02 16:39] #312 closed

[2018-04-02 16:40] moonshoes87 commented on #323
@ltauxe, have you been able to look at this yet?

[2018-04-02 17:31] moonshoes87 opened #324 "make sure azdip_magic/orientation_magic are updated to 3 in Pmag GUI"

[2018-04-03 00:37] ltauxe commented on #323
not yet

[2018-04-04 16:11] #324 closed

[2018-04-09 22:38] Swanson-Hysell opened #325 "demag gui M/Mo data point selection issue"
There is currently an issue where the x-axis is not being properly picked for the active display of the selected data point in the M/Mo intensity plot. Here is an illustration of the issue:

<img width="512" alt="screen shot 2018-04-09 at 3 37 49 pm" src="https://user-images.githubusercontent.com/4332322/38526645-fb91b93c-3c0b-11e8-8526-80ba8289d4b6.png">

where the pink point is the currently sel

[2018-04-10 18:21] Swanson-Hysell opened #326 "change default color for fit so that second fit is not yellow"
The current default is to color the second fit made for a sample to be yellow which is hard to read on the equal area plot in particular.

[2018-04-11 01:54] moonshoes87 opened #327 "automatically update data model etc as needed"
check timestamp for latest
check timestamp auto-update json data model.
can happen in the background
or just time out if internet sucks

[2018-04-11 18:50] lfairchild opened #328 "add functionality to Demag GUI for averaging multiple measurements"
Currently, the only option for averaging multiple measurements at the same treatment step appears during the initial conversion of magnetometer files to MagIC format. Even then, the conversion scripts are pretty inflexible as they require you to make the choice between importing everything and averaging for *all* replicate measurements in the dataset.

It would be great if Demag GUI provided the o

[2018-04-11 20:47] Caoimhinmg commented on #325
Interesting, @Swanson-Hysell is the selected point marked bad? That would explain why it's not connected by a line to the others. Also I know you usually do low T steps after NRM did you skip that for this specimen? Oh or is this a selection bug, so whenever you select a point the cover point plots somewhere different than the original figure? That could mean a mutation of axis limits somewhere. C

[2018-04-11 21:16] Caoimhinmg commented on #326
@Swanson-Hysell I modified this slightly using a color picker. Let me know if you like it or not. For reference here's the [color picker](http://paletton.com/) and the line to modify in Demag GUI is 204 if you want to set it yourself.

[2018-04-11 21:27] Caoimhinmg commented on #328
@lfairchild this would not be a trivial thing...Demag GUI is very much set up so that modifying the measurements file is not done beyond writing a b or g in quality. I'd either need to hack this in with a custom session file keeping track of what to average (of course then this wouldn't get published in MagIC) which I'm reluctant to do. Alternatively something would need to be added to the vocabul

[2018-04-12 01:00] Swanson-Hysell commented on #326
Great. Much more legible.

[2018-04-12 01:00] #326 closed

[2018-04-12 01:58] Swanson-Hysell commented on #325
This example specimen did not have a low-temperature step (just pure thermal demag). I will send you the files.

This selection issue is also present in data with the low-temp step (check out these data: https://github.com/Swanson-Hysell-Group/2017_Midcontinent_Rift/tree/master/Data_New/Gooseberry)

[2018-04-13 02:44] ltauxe opened #329 "feature of demag_gui"
Having followed the instructions on the cookbook exactly, I would have problems uploaded the example file because of errors in the sites.txt saved by demag_gui.

name	row_number	problem_type	problem_col	error_message
sr01	0	type	dir_n_samples	"7.0" should be an integer
sr01	0	type	dir_n_specimens_lines	"8.0" should be an integer
sr01	0	type	dir_n_specimens_planes	"0.0" should be an integer
sr01	0

[2018-04-13 02:55] ltauxe opened #330 "validations require dir_bfv_dec, dir_bvf_inc if any Directional columns are selected"
somehow these are now required:
dir_bfv_dec, dir_bfv_inc
in the specimens table, but not provided by demag_gui.

I do NOT think these should be required and if they really are necessary, then demag gui should provide them.

[2018-04-13 03:07] ltauxe commented on #330
I added in these (unnecessary columns with Pmag GUI), then got these errors:

-I- specimens file successfully read in
-I- Validating specimens
-W- these rows have problems:
 row: 0, name: sr01a1
row: 1, name: sr01a1
row: 2, name: sr01a1
row: 3, name: sr01a2
row: 4, name: sr01a2  ...
(for full error output see error file)
-W- these columns contain bad values: int_n_measurements, dir_n_comps, dir_n_

[2018-04-13 03:10] Swanson-Hysell commented on #330
These dir_bfv_dec, dir_bfv_inc values certainly shouldn't be required as they are only appropriate for plane fits so will only be in a specimens file every once and a while.

[2018-04-13 03:11] ltauxe commented on #330
I fixed these, and successfully got a cheerful message to go to MagIC and upload.  But more problems!

somehow the upload tool added these columns to the sites table:

Column name "dir_n_specimens" is unrecognized in column number 41 for table name "sites".
--
Column name "int_n_ptrm" is unrecognized in column number 42 for table name "sites".
Column name "int_dang" is unrecognized in column numbe

[2018-04-13 03:25] moonshoes87 commented on #330
I will fix the float/integer issue.

The validations are generated from the data model.  The reason that those columns (dir_bfv_dec, etc.) are required is because they are governed columns.

For example, for dir_bfv_dec:

Validations: | min(0)max(360), requiredIfGroup("Direction")
-- | --

This means there are other columns present from the Direction group, and that is why dir_bfv_dec is required.

[2018-04-13 03:35] Swanson-Hysell commented on #330
In my view, ```dir_bfv_dec, dir_bfv_inc``` shouldn't have the ```requiredIfGroup("Direction")``` designation as they are values that will only occasionally be present in a dataset.

[2018-04-13 04:30] moonshoes87 commented on #330
I can remove this requirement in PmagPy right now, if that is helpful.  However, it sounds like we might want to change this in data model 3?

[2018-04-13 14:51] ltauxe commented on #330
They are rare and should in any case not be a show stopper. Demag GUI could
just add them to the specimen table behind the scenes or we should bust
make them optional in the data model

On Thu, Apr 12, 2018 at 9:30 PM Lori J <notifications@github.com> wrote:

[2018-04-13 14:59] moonshoes87 commented on #330
I’ve removed them in data_model.json, but I guess there will then be a problem when they try to validate/activate on MagIC?

[2018-04-13 15:00] moonshoes87 commented on #330
That is, I removed the requirement to include those columns, not the vocabulary items themselves.

[2018-04-13 22:10] moonshoes87 opened #331 "Pmag GUI Tutorial issues"
It looks like a bunch of the orientation related columns are getting propagated into sites when they should be only in samples...

These can easily be ignored doing upload, but I need to track down why this is happening.

[2018-04-13 22:27] moonshoes87 opened #332 "Pmag GUI tutorial missing criteria file"
Running [Save MagIc tables] in Thellier GUI adds IE-SPEC (etc.) to the site and sample tables.  However, validations require that a value in sites.criteria should be a value in the criteria table.

If a user follows our Pmag GUI tutorial, they do not currently generate a criteria table.  Because of this, they will have a validation error.

Should we change the tutorial directions to include select

[2018-04-13 22:28] moonshoes87 commented on #329
Fixed this in 74beca5

[2018-04-13 22:28] #329 closed

[2018-04-13 22:30] moonshoes87 commented on #331
I can fix this very simply by adding these values to RmKeys in ipmag.upload_magic3, but I want to know where this propagation is happening...

[2018-04-13 22:37] moonshoes87 commented on #331
It looks like it happens in orientation_magic.  I'm going to do the simple solution for now.

[2018-04-13 22:38] moonshoes87 opened #333 "Pmag GUI tutorial should propagate ages from sites to locations at some point?"

[2018-04-14 12:54] ltauxe commented on #333
Yes. At least to locations and from ages to sites

On Fri, Apr 13, 2018 at 3:38 PM Lori J <notifications@github.com> wrote:

[2018-04-14 12:56] ltauxe commented on #331
Right. Very weird and shouldn’t happen

On Fri, Apr 13, 2018 at 3:10 PM Lori J <notifications@github.com> wrote:

[2018-04-14 15:15] ltauxe commented on #331
Ok good. And once it’s all good could you do a pip release just in case the
students didn’t do developer install? Thx
Lisa

On Fri, Apr 13, 2018 at 4:11 PM Lori J <notifications@github.com> wrote:

[2018-04-15 18:25] moonshoes87 commented on #333
Ages table --> all other tables already happens.  I'm now putting in sites --> locations.

[2018-04-15 18:30] #333 closed

[2018-04-15 19:49] moonshoes87 opened #334 "Thellier GUI should save fits"
Thellier GUI should save a fit when you click "next" as Demag GUI does

[2018-04-15 19:56] moonshoes87 opened #335 "Thellier GUI: confusion about site/sample level when averaging by sample in Save MagIC Tables"
Following the Pmag GUI tutorial instructions, something weird is happening in Thellier GUI save magic tables.  It looks like sample names are showing up in the site column.  I'm not sure why/how this is happening.

<img width="1088" alt="screen shot 2018-04-15 at 12 54 23 pm" src="https://user-images.githubusercontent.com/1836578/38782690-2d0b2bfc-40ac-11e8-8577-f5959e74b001.png">

@ltauxe, do you

[2018-04-15 19:58] moonshoes87 commented on #332
Well, there is a line in the tutorial that implies you should set acceptance criteria:

- You can select bounds for the statistics under Analysis =>Acceptance criteria => Change acceptance criteria.

I'm just going to word it slightly more strongly, and leave it at that.

[2018-04-15 19:58] #332 closed

[2018-04-15 20:04] moonshoes87 commented on #334
Also, once this is fixed, the Cookbook instructions should be updated.

[2018-04-15 23:07] moonshoes87 commented on #335
Oh, or maybe this is correct?  Since we are averaging by sample, the sample data gets moved up into the sites table?

[2018-04-15 23:44] ltauxe commented on #335
Yes.  if averaging by sample, sample=site (by our MagIG definiation)
and if averaging by site, one would average by sample first.  it is confusing because the “site” is what you average over.  the sample is only relavant for oriented ones (in my opinion).
2 different scenarios:
1) a lava flow (site) with multiple oriented cores (samples) that have been chopped into multiple slices to measure (spec

[2018-04-16 13:06] ltauxe opened #336 "demag_gui criterion in specimens"
this gets set to ACCEPT by default, even if there are no directional criteria set, which throws an error on import.  only set criterion if there is a criteria file.  but ACCEPT is a model 2.5 hangover and should be replaced in model 3 with DE-SPEC, DE-SAMP, DE-SITE as in thellier_gui.

[2018-04-16 23:08] moonshoes87 opened #337 "Pmag GUI tutorial: Thellier GUI creating a pmag_criteria file"
Sometime during [save MagIC tables], a pmag_criteria.txt file is being created even though we are working in data model 3.  This happens whether or not criteria have been selected (if criteria have been selected, they are added to a valid 3.0 criteria file, and the pmag_criteria.txt file is created anyway).

I'd like to track this down and figure out what is meant to be happening...

[2018-04-16 23:26] moonshoes87 commented on #336
@ltauxe, I haven't been able to reproduce this error.  When following the tutorial, I don't get ACCEPT values in any files....  Maybe we can figure out where we are diverging here?

[2018-04-16 23:31] moonshoes87 opened #338 "Pmag GUI step 3 problems"
lithologies not propagating from site --> location on the first try
columns not properly sorted (should be grouped by category)

[2018-04-16 23:32] moonshoes87 commented on #336
I do get an issue with Thellier GUI putting IE-SPEC:IE-SAMP into sites.criteria even though there is no criteria file, though, if I don't select any criteria in Thellier GUI.

[2018-04-16 23:54] ltauxe commented on #337
yes i noticed that.  i don’t know where it is coming from yet.
lisa

[2018-04-17 00:42] ltauxe opened #339 "Pmag GUI tutorial: Thellier GUI adding invalid columns to sites table"
thellier_gui is inserting weird stuff into the site table which then messes up the upload process.
The  before is sites_bak.txt
[sites_bak.txt](https://github.com/PmagPy/PmagPy/files/1917736/sites_bak.txt)
and the after (sites.txt)
[sites.txt](https://github.com/PmagPy/PmagPy/files/1917738/sites.txt)

This happens when we save MagIC tables from thellier_gui
also, thellier_gui is creating the phant

[2018-04-17 01:10] ltauxe opened #340 "specimen in measurement table removed from specimens table by thellier_gui and other bugs"
when importing SrExample_thellier.txt to magic, an entry is made in SrExample_specimens.txt
It stays there through the demag_gui interpretations but  gets mysteriously removed by later events, apparently in the thellier_gui save MagIC tables step.
this of course means that measurements.txt has a specimen that is not in the specimens.txt table and upload_magic will throw an error.
I think this only

[2018-04-17 01:33] ltauxe commented on #340
upload_magic is also putting ACCEPT in the sites.txt file when there is no criteria file, then complaining about it.  If there are no acceptance criteria, then this column should be blank and upload_gui shouldn't worry about it.

[2018-04-17 02:02] ltauxe commented on #340
And thellier_gui seems to put IE-SAMP in the samples table when there is no IE-SAMP in the criteria table.  then upload_magic gets upset.

[2018-04-17 02:05] ltauxe commented on #340
AND:  thellier_gui is still writing out int_sigma and int_sigma_perc in the samples table, while these are now int_abs_sigma and int_abs_sigma_perc.  this sounds like the mapping module needs updating...

[2018-04-17 02:14] moonshoes87 opened #341 "Pmag GUI tutorial site --> location relationship missing"
Why isn't location column initially filled in for sites table??

[2018-04-17 02:26] moonshoes87 commented on #339
I can't reproduce the Demag GUI ACCEPT bug.  I can't work out what steps you are doing differently.

I *can* reproduce the issue where Thellier GUI adds a bunch of columns from the samples table into the sites table, however those columns are all removed by upload_magic and then don't cause a problem when I upload.  I want to get to the bottom of where these extra columns are coming from, but if t

[2018-04-17 02:28] ltauxe commented on #339
well, they aren’t being removed when I do it.  just ignored then caught by the MagIC website.  I think the upload_magic thing is putting them in.
lisa

[2018-04-17 02:29] moonshoes87 commented on #339
can you send me or attach a zipfile of the entire directory before you run the upload_magic step?

[2018-04-17 02:36] moonshoes87 commented on #340
I'll try to figure out the deleted specimen issue.

I don't get the int_sigma issue.  I'm getting int_abs_sigma and int_abs_sigma_perc, not int_sigma and int_sigma_perc.   Is it possible that you are somehow getting and older version of PmagPy?  Maybe you pip installed at some point?

Here is the samples file that I get from following the tutorial:
[samples.txt](https://github.com/PmagPy/PmagPy/fi

[2018-04-17 02:37] ltauxe commented on #339
so.. thellier_gui is adding a bunch of specimen level stuff to the sites table (see attached).  and then upload_magic puts it back in somehow if you trake it out.
‘

[2018-04-17 02:38] moonshoes87 commented on #339
There's no attachment...

[2018-04-17 03:09] moonshoes87 commented on #340
Around line: L3845 in thellier GUI in  on_menu_prepare_magic_results_tables,

                    # delete essentially blank records
                    condition = self.spec_data['method_codes'].isnull().astype(
                        bool)  # find the blank records
                    info_str = "specimen rows with blank method codes"
                    self.spec_data = self.spec_container.del

[2018-04-17 04:05] moonshoes87 commented on #340
I think I didn't find the specimen deletion issue initially because I was doing Demag GUI first then Thellier GUI, so those specimens got method codes added by Demag GUI and didn't get deleted.  Anyway, I will remove those lines above, since I am now confident that they are not producing a desired behavior.

[2018-04-17 04:32] ltauxe commented on #340
oh yes.  i think they were added to get rid of zombie lines, but it shouldn’t delete things just because no method_codes.  yes please comment them out.

[2018-04-17 04:49] ltauxe commented on #340
thanks that worked.  but now there is these  annoying bugs:

thellier_gui is putting in criteria names  in the samples and sites tables when none have been set and there is no criteria file.  this should be blank

demag gui is putting in ACCEPT under criteria in the sites table even though nothing is set.  this should be blank

and the upload step fails where there are no criteria listed in the si

[2018-04-17 05:52] moonshoes87 commented on #340
You can still upload even if some validations in Pmag GUI fail.  Even if some validations fail, should still generate an upload file.

That criteria validation comes from the data model.

I don’t know how Rupert handles this on the database side.  I can make a global change to how the PmagPy validations are done so that Found In validations are ignored if the table is missing.  Does that seem like

[2018-04-17 19:25] moonshoes87 commented on #341
It looks like orientation_magic is somehow overwriting sites.location

[2018-04-17 21:14] #341 closed

[2018-04-17 21:32] moonshoes87 commented on #331
This isn't happening in orientation_magic -- looks like it must be happening in Save MagIC Tables (either in Thellier GUI or Demag GUI).

[2018-04-17 21:45] moonshoes87 commented on #338
Fixed.

[2018-04-17 21:59] #338 closed

[2018-04-17 22:02] moonshoes87 commented on #336
I'm copying over this comment since it really belongs with this issue:

You can still upload even if some validations in Pmag GUI fail.  Even if some validations fail, should still generate an upload file.

That criteria validation comes from the data model.

<img width="647" alt="screen shot 2018-04-16 at 10 29 44 pm" src="https://user-images.githubusercontent.com/1836578/38851045-f417c17a-41c8-1

[2018-04-17 22:05] moonshoes87 commented on #340
I'm closing this issue since this specimen deletion problem has  been solved.  The Demag GUI "ACCEPT" issue can be tracked in #336

[2018-04-17 22:05] #340 closed

[2018-04-17 22:06] moonshoes87 opened #342 "Pmag GUI tutorial: Thellier GUI adds IE-SPEC/IE-SAMP to tables even if user selects no criteria"

[2018-04-17 22:27] moonshoes87 commented on #337
That happens around here:

Thellier GUI line 4427

        # make pmag_criteria.txt if it does not exist
        if not os.path.isfile(os.path.join(self.WD, "pmag_criteria.txt")):
            Fout = open(os.path.join(self.WD, "pmag_criteria.txt"), 'w')
            Fout.write("tab\tpmag_criteria\n")
            Fout.write("er_citation_names\tpmag_criteria_code\n")
            Fout.write("This study

[2018-04-17 23:24] ltauxe commented on #337
i think we should only have a criteria file if there are any criteria set.  no?
lisa

[2018-04-18 04:13] moonshoes87 commented on #337
That does make sense.  I’m not sure why the default is there for 2.5.  I will close this issue, then.

[2018-04-18 04:13] #337 closed

[2018-04-18 17:52] moonshoes87 commented on #339
It looks like this happens because we are averaging by sample, so sample records are being moved up into the sites table with all of their data.  You can see this in thellier_gui.py around line 4307.

So, this behavior is basically correct, but we should remove all invalid columns before writing back to file.  The only problem I see is that Thellier GUI uses a few non MagIC column names (we just t

[2018-04-18 18:05] moonshoes87 commented on #339
This are the columns that will be removed (at least for the tutorial) with this fix:  azimuth_dec_correction texture site_definition dip timestamp sample_alternatives azimuth orientation_quality num cooling_rate_corr cooling_rate_mcd.

Should any of those be kept?

[2018-04-19 00:56] ltauxe commented on #339
Yes that makes sense. One other thing is that geological info is not being
propagated to all tables where required- if that could happen, say in step
3, that would save steps for uploaders

On Thu, Apr 19, 2018 at 2:20 AM Lori J <notifications@github.com> wrote:

[2018-04-19 01:41] moonshoes87 commented on #339
Great.  Which geological info is missing?

During step 3, here are the current propagations that happen.  Lithology, type, and class propagate down from sites --> samples --> specimens.  Ages propagate down from ages --> all other tables.  Age also propagates up from sites --> locations.  Lat/lon propagate up from sites --> locations.  Lat/lon/height propagate up from samples --> sites.

Anything

[2018-04-19 01:58] moonshoes87 opened #343 "in Thellier GUI calculate anisotropy tensors not creating rmag_anisotropy file"

[2018-04-20 00:08] moonshoes87 commented on #339
For step 2/orientation_magic, I think that what happens is that orientation_magic overwrites method_codes that are provided in the demag_orient grid in favor of method_codes that are provided in Calculate Sample Orientations.  Should I remove the method_codes column in the step 2 editable grid?

<img width="593" alt="screen shot 2018-04-19 at 5 03 15 pm" src="https://user-images.githubusercontent.

[2018-04-20 01:48] ltauxe commented on #339
Yes take out the method codes from step 2 - it is redundant and yes I
missed the tip about the site level geology propagation- thanks

On Fri, Apr 20, 2018 at 8:08 AM Lori J <notifications@github.com> wrote:

[2018-04-20 03:41] moonshoes87 opened #344 "Megiddo datafiles are corrupted..."
data_files/3_0/Megiddo/specimens.txt file is totally broken.

[2018-04-20 03:55] moonshoes87 opened #345 "downloaded MagIC file with no locations breaks PmagPy"
I.e.:

    tab delimited   locations

leads to a location file that looks like this:

    tab     locations

    tab delimited
    site
    KS1414A
    ...

[2018-04-20 03:56] moonshoes87 commented on #345
should fix this in download_magic

[2018-04-20 19:34] #345 closed

[2018-04-20 19:49] #339 closed

[2018-04-22 07:37] ltauxe commented on #344
maybe we don’t need these anymore?  they were for testing the conversion to 3.0
lisa

[2018-04-23 21:29] moonshoes87 commented on #323
@ltauxe, let me know if I can assist on this.  I think it would be good if we can get to the bottom of this.

[2018-04-23 23:19] #342 closed

[2018-04-24 06:11] ltauxe commented on #323
I’ll try soon - I’m still swamped here having just given my fourth lecture
(whew) I’ll try to do this tomorrow

On Tue, Apr 24, 2018 at 5:29 AM Lori J <notifications@github.com> wrote:

[2018-04-24 20:51] moonshoes87 opened #346 "ensure Linux compatibility"
get Linux distribution set up, for standalones and general install instructions

[2018-04-26 21:34] moonshoes87 commented on #314
Can't upgrade the data file to get a comparison with 2.5:

https://github.com/earthref/MagIC/issues/342

[2018-04-27 17:53] moonshoes87 opened #347 "Pmag GUI orientation grid text looks weird"

[2018-04-27 18:34] moonshoes87 opened #348 "make_magic_plots"
Get make_magic_plots up and working for @njarboe

[2018-05-01 16:04] moonshoes87 commented on #346
I've been trying to get a Linux VM set up, but I'm having no success installing wxPython.  I've tried following the [docs](https://github.com/wxWidgets/Phoenix/blob/master/README.rst#how-to-build-phoenix), but I'm getting nothing but horrible and lengthy error messages.

@Caoimhinmg, any insight into the wxPython install process?

[2018-05-01 16:07] moonshoes87 commented on #346
I've gone through a few error messages, but this is the tail end of the one I can't seem to get past:

    g++: internal compiler error: Segmentation fault (program cc1plus)
    Please submit a full bug report,
    with preprocessed source if appropriate.
    See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
    Makefile:38646: recipe for target 'advdll_animatecmn.o' failed
    make:

[2018-05-01 16:47] Caoimhinmg commented on #346
Hey @moonshoes87, first things first. What kind of Linux you using? Ubuntu, Mint, Red Hat, Arch (god forbid)? Need to know what we're working with.

Have you used a package manager like apt or yum to install all of the packages mentioned on that docs page under the Linux header near the bottom? Including the GTK2 ones just in case? Then tried the install command again? It looks like it's failing w

[2018-05-01 21:32] moonshoes87 commented on #346
Ok, I got past this error.  I am going to add the instructions for building up PmagPy on Ubuntu from scratch.

[2018-05-02 17:06] moonshoes87 commented on #346
@Caoimhinmg, sorry for the lack of details.  I was using Ubuntu 16.04 in a Parallels VM.  I've added the list of steps I used to the repo: https://github.com/PmagPy/PmagPy/blob/master/setup_scripts/linux_instructions.md

It may or may not be enough to actually get someone else set up, but it should at least point them in the right direction.

[2018-05-02 17:06] moonshoes87 commented on #346
I'm planning to start doing Linux standalone releases in addition to OS X and Windows.

[2018-05-02 17:14] moonshoes87 commented on #348
@njarboe, I haven't been able to look at this yet, but I will soon!

[2018-05-02 18:14] moonshoes87 commented on #348
I'm finding lots of problems in the 2 --> 3 translation.  A big issue is that some pmag.py functions assume a string, where pandas reads in all kinds of datatypes.

[2018-05-03 18:24] ltauxe opened #349 "demag gui site mean option"
I can set the display level to "site" and the Mean Options to Fisher and Fit 1, but I have to do this for EVERY SPECIMEN.  Is there a way to keep these settings through out the session?  And better yet, set these as the defaults?

[2018-05-07 18:15] moonshoes87 commented on #348
I fixed every issue I found.  @njarboe and @ltauxe, let me know if you find additional problems with this program.

[2018-05-07 18:28] moonshoes87 opened #350 "matplotlib backend troubles on Ubuntu"
https://stackoverflow.com/questions/2801882/generating-a-png-with-matplotlib-when-display-is-undefined

[2018-05-07 18:31] njarboe commented on #348
This file was created and uploaded with data model 3.0.
[magic_contribution_16462.txt](https://github.com/PmagPy/PmagPy/files/1981009/magic_contribution_16462.txt)

I can upload it into pmag_gui and one can look at it in the demag_gui tool. It does not have any interpretations so this may be why zeq_magic.py does not work with it. It also does not have any anisotropy measurements but tries to crea

[2018-05-07 18:42] njarboe commented on #348
Here is another file I am testing with. It has been converted from 2.5 to 3.0 and so has multiple site rows with the same site names. It does produce a plot with all of the directions on it. This is great, but it would also be nice to have plots of the directions for each of the four locations individually. Is this what make_magic_plots.py is already expected to produce.
[magic_contribution_12463.

[2018-05-08 00:24] ltauxe commented on #348
well, download_magic originally split data out into different locations, so make_magic_plots would be run from those separate directories.  it could certainly be modified to go by location (which was in fact the original intent).
lisa

[2018-05-08 00:28] ltauxe commented on #348
thanks!  will do.
lisa

[2018-05-08 04:09] moonshoes87 commented on #348
download_magic still can split data into different location folders, but it no longer does so by default.  Unfortunately I don't remember exactly why we made this change.

To have download_magic write out to separate directories:

    download_magic.py -f infile -sep

or

    ipmag.download_magic(infile, separate_locs=True)

[2018-05-08 04:13] moonshoes87 commented on #348
We made the change in download_magic because of this issue:  https://github.com/PmagPy/PmagPy/issues/278.  Basically, it's because location name is no longer automatically available at the specimen and sample levels.

@ltauxe, are you changing make_magic_plots to find different locations, or do you want me to?  Or do we want to leave it as is?

[2018-05-08 16:06] Caoimhinmg commented on #350
@moonshoes87 does this show up in Demag or Thellier GUI both pick the WxAgg backend at the start so I haven't had any issues. After all the user has already had to install wx and it makes everything look a little more consistent. If this is cropping up in Pmag or MagIC GUI you could just steal the code setting backed from the top of Demag or Thellier GUI. If it's a command line problem isn't there

[2018-05-08 17:15] moonshoes87 commented on #350
This is an issue a user is having with running Ubuntu on a VM on windows.  She runs into it in curie.py.  I believe she is experiencing a problem specific to Windows + the virtual machine.  Normally, curie.py is able to correctly set the matplotlib backend as TKAgg (as most of the command line plotting programs do).  It needs to be set in both curie.py and programs/ \_\_init\_\_.py as as it has to

[2018-05-08 17:17] moonshoes87 commented on #348
Today I will look at: magic_contribution_16462.txt which has the key_error.

[2018-05-08 17:36] Caoimhinmg commented on #350
[This doc](https://matplotlib.org/users/customizing.html#customizing-matplotlib) on customizing matplotlib may be helpful, seems you can put a matplotlibrc file in the working directory and it will alter the plotting backend and style automatically. This maybe with a call to use in __init__could ensure all users are getting the same backend so user experience and error reports are more consistent.

[2018-05-08 17:56] ltauxe commented on #350
the problem that the student was having was completely solved by using the ipmag version of curie.  so maybe we can close this issue.

[2018-05-08 18:43] ltauxe commented on #350
apparently not.

[2018-05-08 19:11] moonshoes87 commented on #348
I've fixed the anisotropy problem.  It looks like another issue is that the method code SO-SUN-SIGHT isn't included in pmag.set_priorities.  If I add a few lines so that SO-SUN-SIGHT is treated like SO-SUN, then everything seems to work.

@ltauxe and @njarboe, does this seem like an appropriate solution?  Alternatively, I could add SO-SUN-SIGHTS to the list of SO_defaults, presumably after SO-SUN

[2018-05-08 19:56] njarboe opened #351 "Problems with getting make_magic_plots working on EC2 Unbuntu 16.04 server"
We want to run the make_python_plots on tofetolu to display the plots for the MagIC website. It is running:
CentOS release 6.9 (Final)

I tried miniconda3 to start as Anthony suggested we did not need to install everything. Since that did not work I upgraded to anaconda. Now when I run:
pip install --upgrade --pre -f https://wxpython.org/Phoenix/snapshot-builds/ wxPython

I get this error (total s

[2018-05-08 19:56] ltauxe commented on #348
yes SO-SUN-SIGHT would be before SO-SIGHT and after SO-SUN.  just like SO-SM (which is sun or magnetic_
lsia

[2018-05-08 20:08] moonshoes87 commented on #351
Here is some more information about installing to Linux from my most recent experience:
https://github.com/PmagPy/PmagPy/blob/master/setup_scripts/linux_instructions.md <https://github.com/PmagPy/PmagPy/blob/master/setup_scripts/linux_instructions.md>

This was on Ubuntu, but I had some similar looking errors.

[2018-05-08 20:54] moonshoes87 commented on #330
Those requirements are being removed.

[2018-05-08 20:54] #330 closed

[2018-05-09 04:44] moonshoes87 commented on #348
@njarboe, I have made lots of fixes, including splitting data out by location.  However, I am fairly sure that I've introduced some new bugs.  If you're willing to have another run at it, that would be very helpful.

[2018-05-09 18:26] moonshoes87 commented on #350
@Caoimhinmg, the problem with using .matplotlibrc is that different backends are required for different plotting programs, so it isn't helpful to globally set a backend in a directory.  This is generally solved in PmagPy in two ways:  each program that uses matplotlib calls matplotlib.use at the top of the file (takes priority in the developer install), and programs/\_\_init\_\_.py sets the backen

[2018-05-09 18:26] #350 closed

[2018-05-09 18:47] moonshoes87 commented on #349
It looks like if you choose "All" or "None" everything stays set, but if you choose Fit 1 then everything is reset when you go to the next specimen.

Maybe this is based on the expectation that the fits will have custom names that won't stay consistent?  @Caoimhinmg, do you have thoughts on this?  Otherwise, I may see if I can get the Mean Options to behave more consistently.

[2018-05-09 18:58] Caoimhinmg commented on #349
@moonshoes87, Interesting we both decided to look at this at the same time. Anyway it is partially me erasing the information when you switch specimens because I cannot be sure the same fits are around between any 2 specimens. Ideally it wouldn't default to None though, it should pick the fit at the same index as the one in the previous specimen or lacking that the first fit it can find. I'll see

[2018-05-09 19:12] #349 closed

[2018-05-09 21:46] rminnett commented on #330
The requiredIfGroup() validation has been removed from those two columns:

https://earthref.org/MagIC/data-models/3.0

[2018-05-09 22:31] njarboe commented on #351
We are now going to run it on a AWS EC2 Unbuntu 16 machine.
Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-1052-aws x86_64)

Try your instructions for the install and I am getting stuck on this:
sudo apt-get install libgtk-3-dev freeglut3-dev libgstreamer1.0-0 gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-doc gstreamer1.

[2018-05-10 01:26] moonshoes87 commented on #351
I just tried running that command, and I get the same errors.  It appears that those imports were bad/redundant, and I will pull those out of the instructions.  If you ignore those warnings, are you able to continue with the install?

[2018-05-10 01:31] moonshoes87 commented on #351
I believe those requirements are correctly satisfied as libjpeg-dev etc., which is in the next listed commands.

[2018-05-10 18:40] moonshoes87 commented on #346
Everything is working on my Linux VM, except that some of the GUI tests crash.  The functionality that is tested by those tests does work, though.

Pyinstaller is also working, and I'm seeing if I can get UPX.

[2018-05-10 18:52] moonshoes87 commented on #346
sudo apt-get install upx

[2018-05-10 19:10] Caoimhinmg commented on #346
@moonshoes87 the GUI tests always were finicky anyway. I just checked and I think the package you want is upx-ucl. Not super sure though I never used this utility. If you aren't sure what you're looking for in the Ubuntu repositories ever use this command: `sudo apt-cache search $KEYWORD`

[2018-05-10 19:39] moonshoes87 commented on #346
Thanks!  Upx seems to be working.  However, my executables aren’t working correctly.  Pyinstaller runs to completion, and the resulting executable works if run them from the command line but not if I run them by double-clicking the icon.  This seems rather unusual and I’m not sure how to troubleshoot it yet.  Have you encountered this?

[2018-05-10 19:47] Caoimhinmg commented on #346
Have you tried changing permissions? `chmod a+x $FILENAME`
If that doesn't work check what it's running when you double click and make sure it's using something sensible like autorunprompt or mono.
Finally when you run in command line make sure that you are running the local binary using ./ not accidentally running something else in path so you can debug it.

[2018-05-10 19:51] moonshoes87 commented on #346
Permissions don’t make a difference, and I am definitely running the local version.

How do you check what it’s using to run?  Looking in System monitor, I just see the name of the executable, i.e. pmag_gui_3.19.0.

[2018-05-10 19:56] moonshoes87 commented on #346
I’m trying pyinstaller with a minimal wxpython script and seeing what I get.

[2018-05-10 19:59] njarboe commented on #351
I've got python, needed libraries, and pmagpy (developer so I can get new versions right away) installed now on the new server, but now I am having a problem with the fact that there is no display on the server. I get this error:
magic@ip-172-31-53-34:~/magicPlots/testDataFiles$ make_magic_plots.py
propagation successful

working on:  Guano Rim
-W- No data to write to /home/magic/magicPlots/testDa

[2018-05-10 20:02] moonshoes87 commented on #351
Lisa just had a student with this problem.  We didn’t come up with a real solution, unfortunately.

This stackoverflow question has some information and many different solutions to try:

https://stackoverflow.com/questions/2801882/generating-a-png-with-matplotlib-when-display-is-undefined

[2018-05-10 20:04] moonshoes87 commented on #351
Did make_magic_plots previously to work on a server with no display?

https://github.com/matplotlib/matplotlib/issues/3466/

[2018-05-10 20:06] njarboe commented on #351
Thanks Lori. Saw that stackoverflow question and was my main starting point on trying to get it to work. Hmm. I guess I'll come back to this with fresh eyes later and see if I can think of anything. Did the student just give up trying to run it remotely?

[2018-05-10 20:11] moonshoes87 commented on #351
It looked like using “matplotlib.reset_backend” in the code worked for some…  I would probably try it with both “Agg” and “TKAgg”.

[2018-05-10 20:16] Caoimhinmg commented on #346
right click on it and click "open with" you should be able to see what it's using to run it and you should be able to pick which program to use.

[2018-05-10 20:29] moonshoes87 commented on #346
Hmmm, it doesn’t have any default set, so maybe that is the problem.  And I don’t have either of the programs you suggested.  It looks like I can install mono using apt-get, but that downloads a crap-ton of packages.

This is a similar issue, but it is being reported on OS X:  https://github.com/pyinstaller/pyinstaller/issues/1804

[2018-05-10 20:36] moonshoes87 commented on #346
This works:

    parallels@parallels-vm:~/Desktop$ ./dist/simple

This fails:

    parallels@parallels-vm:~/Desktop$ open ./dist/simple
    Couldn't get a file descriptor referring to the console

[2018-05-10 20:52] moonshoes87 commented on #346
When I open the last Linux executable that you released, it opens and runs just fine.  However, when I right-click it just says “Run” and doesn’t specify the program for that either, so I’m not sure how it works even when it’s working, hah.

If I rename my executable from simple to simple.exe, it opens the Archive Viewer instead.  Renaming to simple.app and nothing happens (as before).

Adding the

[2018-05-10 21:39] Caoimhinmg commented on #346
Okay that is honestly very strange and usually Linux is nothing if not consistently logical in it's stupidity. Tomorrow I'll see what happens when I try this myself and try to remember my control flow for making the binaries to see if I can identify where we are differing.

[2018-05-11 17:40] moonshoes87 commented on #346
Thanks -- I'm definitely confused at this point.  Let me know what you find.

[2018-05-11 17:42] #280 closed

[2018-05-11 17:45] moonshoes87 commented on #348
We previously have discussed adding core_depthplot and/or ani_depthplot to make_magic_plots.  Is that still on the agenda?  If so, I'll need some help figuring what the treatment protocol and step are (required arguments).

[2018-05-11 18:36] ltauxe commented on #348
oh yeah.  i’ll take a look.  maybe this week-end

[2018-05-11 19:15] Caoimhinmg commented on #346
I just made a binary using pyinstaller 3.3.1 and it works fine. I just used the spec files from [here](https://github.com/PmagPy/PmagPy-Standalone-Linux) dropped into the main directory. I'm not sure what we could be doing different to cause this problem. If you send me your binary I could try running it over here to see if it's just your system?

[2018-05-11 23:01] moonshoes87 commented on #346
I initially used the same [spec file](https://github.com/PmagPy/PmagPy/blob/master/pmag_gui.spec) from the repo I use for both OS X and Windows.

I then tried with commenting out the last few lines:

#app = BUNDLE(exe,
#             #name='pmag_gui.app',
#             name=app_name + ".app",
#             icon='./programs/images/PmagPy.ico',
#             bundle_identifier=None)

But that doesn't

[2018-05-12 01:34] Caoimhinmg commented on #346
Let's roll with a google drive or drop box link so we don't clutter the version history. I just tried it using your spec file and it worked fine as well. I imagine that this is more an issue of your platform and how it chooses to handle the executable when you double click it than with the executable itself.

[2018-05-14 18:27] moonshoes87 commented on #346
Great, here's a link: https://drive.google.com/open?id=1h14zF7m8kgNHbK_7IrQmySTCJ4ZmrXxQ

[2018-05-14 18:47] moonshoes87 commented on #334
@ronshaar, @ltauxe, here's my proposed change:

when "next" is clicked, save whatever interpretation is currently selected.  This prevents the annoying situation where you set bounds and click next for 10 or 15 specimens and then realize that none of those have been preserved since you didn't click save. If you delete a fit, it won't be saved.

This is how it works in Demag GUI, and seems fairly i

[2018-05-14 19:39] Caoimhinmg commented on #346
Ah, yes I had forgotten about these darn bugs. @moonshoes87 your problem is not pyinstaller or your system.

You're not bundling everything in the executable or it's not freezing something. When you double click it opens in a different environment and has different paths so it fails when you try it on your machine. When you run it in terminal you must be doing it somewhere where it can find the ne

[2018-05-14 22:16] moonshoes87 commented on #351
Did you try matplotlib.reset_backend() as well as matplotlib.use()?

[2018-05-14 23:27] moonshoes87 commented on #346
Great, this gives me somewhere to start.  Thanks.  I'll let you know if I need another round of debugging help.

It seems like the program *should* be finding wx._core successfully.  In EXE-00.toc:

      ('wx._core',
       '/home/parallels/anaconda3/lib/python3.6/site-packages/wx/_core.cpython-36m-x86_64-linux-gnu.so',
       'EXTENSION'),

which is right.  I wonder if the problem is related to

[2018-05-14 23:52] njarboe commented on #351
I have now set isServer = True  in pmag_env.py

Lori: I don't think matplotlib.reset_backend() is a valid function. I did not find it with google and this code:
print('NAJ:backend=',matplotlib.get_backend())
matplotlib.reset_backend()

produces this error:
NAJ:backend= TkAgg
Traceback (most recent call last):
  File "/home/magic/git/pmagpy/PmagPy/programs/make_magic_plots.py", line 9, in <module>

[2018-05-14 23:54] moonshoes87 commented on #351
Ahh, sorry, it’s matplotlib.switch_backend().  Whoops.  Try that?

[2018-05-15 00:25] njarboe commented on #351
Thanks Lori - I guessed you meant:
matplotlib.pyplot.switch_backend()

Switching to agg from tkagg seems to help as now I am getting a different errors related to the eqarea.py code. Fixed one bug. Working on the next one. Not sure how batch plotting worked before with these bugs. Hopefully I'll getting it working soon.

[2018-05-15 01:09] njarboe commented on #351
@moonshoes87 Not sure if things have changed dramatically in matlibplot since the last time some parts of the pmagplotlib.py were used but in this code:
def addBorders(Figs, titles, border_color, text_color):

    import datetime
    now = datetime.datetime.now()

    for key in list(Figs.keys()):

        fig = pylab.figure(Figs[key])
        plot_title = titles[key]
        fig.set_figheight(5.5

[2018-05-15 01:25] moonshoes87 commented on #351
There shouldn't be breaking changes in matplotlib recently that would be incompatible with our code -- we've been using matplotlib >= 2.0 for over a year now.  What version of matplotlib are you using?  I just tried make_magic_plots on my Ubuntu VM with matplotlib 2.2.2, and eqarea_magic ran without a problem.  It also works for me on OS X.

[2018-05-15 01:27] moonshoes87 commented on #351
Oh, I wonder if that function only gets called when IsServer is set to true?

[2018-05-15 01:29] moonshoes87 commented on #351
Yes, that is the case.  Ok, so this might be a matplotlib 1 --> matplotlib 2 switch.  We haven't updated plotting on the server in a while, so that would make sense.

[2018-05-15 18:40] #314 closed

[2018-05-15 18:43] moonshoes87 commented on #351
@njarboe, I fixed the addBorders bug you found.  I'm now doing some more testing of make_magic_plots locally with setting isServer to True, and there are some additional issues.  I'll see if I can get those fixed as well.

[2018-05-15 19:18] moonshoes87 commented on #351
In trying to address some deprecation warnings with running make_magic_plots, I came across an issue with histplot.py.

In this line:

    n,bins,patches=pylab.hist(D,bins=Nbins,facecolor='white',histtype='step',
                              color='black',norm=norm)

The `norm` argument has been deprecated and replaced with `density`.  The density argument is meant to be less buggy, but may give

[2018-05-15 19:52] njarboe commented on #351
The plots using the old and new methods look identical to me. I have not familiar with or used histploy.py but imagine the new method is fine and you should use the newer density method. @ltauxe Let us know if you think if changing to using density is a problem.

[2018-05-15 20:02] Swanson-Hysell commented on #351
One quick comment is that I think we should move towards using the syntax of

[code]

rather than the old ```pylab``` syntax throughout the code base.

[2018-05-15 20:10] moonshoes87 opened #352 "Add/to or create an images table while calling make_magic_plots"

[2018-05-15 21:17] #334 closed

[2018-05-16 18:01] moonshoes87 commented on #307
@ltauxe, did you resolve this issue?

[2018-05-16 20:31] ltauxe commented on #307
nope…   sorry.  could you look into it?
lisa

[2018-05-16 21:38] njarboe commented on #351
Added these lines to pmagplotlib.py to have make_magic_plots.py run on the server

# if running on a server use Agg to avoid $DISPLAY not found errors
if isServer:
    matplotlib.pyplot.switch_backend('Agg')

and pushed to master (forgot to include the # issue number )
Now getting correct .png plot files being produced on the EC2 AWS server. Thanks Lori for the help.

[2018-05-16 21:38] #351 closed

[2018-05-18 04:08] moonshoes87 commented on #307
@ltauxe, this should be good now.

[2018-05-18 04:17] moonshoes87 opened #353 "fix deprecation warnings in Thellier GUI"
/Users/***/PmagPy/programs/demag_gui.py:752: DeprecationWarning: Menu.Append() is deprecated

[2018-05-18 04:33] moonshoes87 commented on #353
/Users/nebula/anaconda3/lib/python3.6/site-packages/matplotlib/cbook/deprecation.py:107: MatplotlibDeprecationWarning: 'svgfont' support for svg.fonttype is deprecated.

[2018-05-18 04:33] moonshoes87 commented on #353
/Users/nebula/anaconda3/lib/python3.6/site-packages/wx/core.py:2343: DeprecationWarning: MenuBar.GetLabelTop() is deprecated
    return [(self.GetMenu(i), self.GetLabelTop(i)) for i in range(self.GetMenuCount())]

[2018-05-18 17:18] #353 closed

[2018-05-18 17:19] #307 closed

[2018-05-21 20:06] moonshoes87 opened #354 "zeq_magic bug with plotting best fit line"
I'm running into a bug with zeq_magic with the McMurdo dataset.  When I get to plotting this specimen:

<img width="616" alt="screen shot 2018-05-21 at 1 00 37 pm" src="https://user-images.githubusercontent.com/1836578/40327232-06c9748c-5cf7-11e8-8739-49d221c9d3dc.png">

zeq_magic.py fails.

Is `meas_step_max == 0.18` a mistake in the specimens table?  Or should rows like this simply be ignored fo

[2018-05-22 17:02] moonshoes87 commented on #354
Ok.  I will implement the fix that zeq_magic.py will skip a specimen interpretation row if it has invalid bounds, so that records like this don’t break zeq_magic/make_magic_plots.  What do you want to do about handling this in Demag GUI?

[2018-05-22 17:46] moonshoes87 commented on #346
I'm not sure this is really a high-priority issue.  I'm about to release 3.20.0, so @Caoimhinmg, if you wanted to do a Linux standalone release, that would be great.  I think I might need to start over with a clean VM, because there are so many variables as to what went wrong with my current VM.

[2018-05-22 18:37] ltauxe commented on #354
this fixed the problem in zeq_magic.py
    meas_data = meas_data[meas_data['method_codes'].str.contains(
        'AN|ARM|LP-TRM|LP-PI-ARM') == False]  # strip out unwanted experiments
but apparently not yet in demag_gui.py
and an ARM data point is  is being included.

[2018-05-22 18:41] #354 closed

[2018-05-25 05:45] moonshoes87 commented on #346
@Caoimhinmg, I'm trying again.  Fresh VM is now stalled out at the same place I got to last time.

Would you mind running

    pyinstaller pmag_gui.spec --onedir --noupx

    pyi-archive_viewer dist/pmag_gui_3.19.0 -b > output

and sending me the output?  I'd like to compare to see if I'm missing something.

[2018-05-25 18:16] moonshoes87 commented on #323
fixed!

[2018-05-25 20:40] #323 closed

[2018-05-26 15:00] Caoimhinmg commented on #346
Okay, I ran the code you sent. Hope this helps. I just ran the code you sent on both the 3.19.0 binary that was made and a 3.20.0 binary that I think I made when I ran the first line you sent. Both binaries work over here.

[19_output.txt](https://github.com/PmagPy/PmagPy/files/2041697/output.txt)
[20_output.txt](https://github.com/PmagPy/PmagPy/files/2041698/output.txt)

[2018-05-27 01:08] ltauxe opened #355 "prevent phantom sample/sites in thellier_gui"
When someone re-assigns specimens to samples to different site names, for example in Pmag GUI,  if one has already looked at the data in thellier_gui, there are phantom sample/site tables in the measurements table that thellier_gui will keep using, despite the update.   this is unexpected behavior.  i don't think we should write out the sample/site info into the measurements table.

[2018-05-27 02:02] ltauxe opened #356 "more bugs in thellier_gui"
1) if we set the acceptance criteria as in the attached file, whereby interpretations are averaged by site,  many possible specimen interpretations are not found in the thellier auto interpreter. (see ap11_01b3 for example).
[AP_joint.zip](https://github.com/PmagPy/PmagPy/files/2042215/AP_joint.zip)

2) the site means are not being calculated at all.  and the site name "None" is being inserted wil

[2018-05-27 21:43] Swanson-Hysell opened #357 "improve best fit line drawing in PmagGUI"
Following this suggestion from Jeff Gee:

The best-fit lines are currently trimmed to the extent of the data in the x-direction, but not in the y-direction which can sometimes cause issues where the line extends past the data (particularly for poor fits where the line is near vertical in the chosen projection).

[2018-05-27 21:45] Swanson-Hysell opened #358 "implement zoom-out functionality for users in PmagGUI"
Following this comment from Jeff Gee

I follow this same method to unzoom (go to the next sample then come back) which is non-ideal. I think that @Caoimhinmg had implemented something where a tertiary mouse click (he was using a 3 button mouse) would do zoom-out. Perhaps we can think of another way to implement zoom-out.

[2018-05-28 19:50] ltauxe opened #359 "rogue print statement in thellier_gui.py"
I put an annoying print statement in here some where - to print out the Data dictionary and I CANT FIND IT.  kudos to anyone who can!

[2018-05-28 23:29] moonshoes87 commented on #355
This should be simple to fix.  The reason it is like that is because Thellier GUI does need sample/site data linked to measurements, so those data are propagated down.  The reason they were being saved is because the propagation takes time, so I would just leave those columns in place in the measurement table and then remove the unneeded columns during the upload step.  However, you are right that

[2018-05-29 13:24] Caoimhinmg opened #360 "Populating Demag GUI measurement boundary boxes"
As Jeff Gee suggests:

In other words Demag GUI should have populated measurement boundary boxes even before a fit is made considering it already adds a fit when you pick bounds in the list or plot but you can't use the drop down menu.

[2018-05-29 19:17] moonshoes87 commented on #346
Thanks @Caoimhinmg.  I'll circle back to this as soon as I have some of Lisa's new bugs fixed.

[2018-05-29 21:53] moonshoes87 commented on #355
Lisa, I thought I knew what was going on but I actually can't reproduce this problem.  Sorry not to be able to sleuth it out, but can you send me the data_files and the steps you took to get the problem?

[2018-06-01 03:57] moonshoes87 commented on #356
Looks like required steps to reproduce: reassign at least one specimen --> sample, run thellier_auto_interpreter, save magic tables.

[2018-06-01 18:19] moonshoes87 commented on #356
@ltauxe, should specimens/samples be case sensitive?  In the AP_joint contribution, names are all uppercase in specimens.txt, all lowercase in measurements.txt and samples.txt and sites.txt.  This means that the hierarchy is semi-broken, because none of the samples in samples.txt correctly correspond to the samples in specimens.txt.

[2018-06-01 22:08] moonshoes87 commented on #356
So, I was able to fix the contribution this way:

    from pmagpy import new_builder as nb
    con = nb.Contribution('/Users/***/Desktop/AP_joint')

    # remove site/sample columns from measurements table
    con.tables['measurements'].df = con.remove_names('measurements')
    con.write_table_to_file('measurements')

    # fix sites table by removing "None" rows
    cond = con.tables['sites'].df.

[2018-06-04 20:46] Swanson-Hysell commented on #358
Per your question @Caoimhinmg, having it be reset to original view functionality rather than zoom-out functionality seems like a good solution.