[2012-12-10 15:05] ghost opened #1 "number of terms in igrf"
pmag.py:4779    for k in range(1,66):

number of terms in IGRF varies.
Instead of using a fixed value of 66, should calculate from (n+1)_(n+2)/2 or n_(n+3)/2 + 1

[2014-01-15 05:49] #1 closed, assigned to nobody

[2014-11-13 20:36] Swanson-Hysell opened #5 "QuickMagIC dialogue box typo"
Project is misspelled as "Prpject" in QuickMagIC dialogue box when unpacking downloaded txt file.

![screen_grab](https://cloud.githubusercontent.com/assets/4332322/5036066/5ec24c6a-6b31-11e4-8ddf-49339cb40825.png)

[2014-11-13 20:55] #5 closed, assigned to moonshoes87

[2014-11-17 22:54] Swanson-Hysell opened #8 "check updates still throwing errors"
I am still running into errors when trying to import pmag.py due to code in check_updates.py. Here is the current error:

[code]

I think the issue is that while I have pmagpy in the path it isn't a global variable in an IPython session. And I think one of the real advantages to the notebook is that it isn't a requirement to have anything added to the path as long as one can import: pmag.py, pmagp

[2014-11-17 23:23] Swanson-Hysell opened #9 "pmag2.py"
Lori,

Are you planning to do more with the pmag2.py file? It seems a bit confusing to have a file with that name given that so much functionality of the overall package resides in the main pmag.py file. Although I am sure there is a good reason you did it this way.

[2014-11-17 23:51] #9 closed, assigned to moonshoes87

[2014-11-24 19:54] #8 closed, assigned to moonshoes87

[2015-11-12 22:44] Swanson-Hysell opened #14 "modify directory structure to make more approachable"
One thing that I think would be good to strategize about would be how the directory structure of the repository could be updated to make things more approachable. It would be nice if when people landed on the Github page that the README wasn't below such a long list of files. One solution could be to put the command line programs into a subfolder and the function modules into a subfolder just leav

[2015-11-12 22:50] Swanson-Hysell opened #15 "add license to repository"
It makes sense to add an open source license to the repository.

I was reading this piece: http://www.astrobetter.com/blog/2014/03/10/the-whys-and-hows-of-licensing-scientific-code/ which laid out this advice:

(2) Always use a GPL-compatible license. GPL-compatible licenses ensure broad compatibility for your code, and include GPL, new BSD, MIT, and others (but see #3).
(3) Always use a permissiv

[2015-11-16 22:44] Swanson-Hysell commented on #15
Yep. Not urgent. We could have a look at different options during AGU and throw one in then.

Or we could go ahead with BSD 3-clause “New” or “Revised” License (one of the ones Jake recommended in that post). Here is the boilerplate version of that one from Github:

All rights reserved.

modification, are permitted provided that the following conditions are met:

  list of conditions and the follo

[2015-12-14 08:24] lsonnette opened #22 "AttributeError"
Hello,
I have just install PmagPy. I would like to launch QuickMagIC.py from the PmagPy Prompt but I get this message:

C:\Users\user\Documents>QuickMagIC.py
Traceback (most recent call last):
  File "C:\Users\user\Documents\PmagPy\QuickMagIC.py", line 14, in <module>
    import pmag_basic_dialogs
  File "C:\Users\user\Documents\PmagPy\pmag_basic_dialogs.py", line 13, in <modu
le>
    import pmag_

[2015-12-14 17:34] moonshoes87 commented on #22
Thanks for reporting this!  There is a solution in the pipeline.  In the meantime, try updating the pandas package on your command line.

In the PmagPy prompt, try:  enpkg pandas

You may be prompted for your Canopy/EPD credentials.  If you haven't registered with Enthought, you'll need to sign up at [the website](https://enthought.com/).  The full functionality is free with an academic email addr

[2015-12-15 04:43] lsonnette commented on #22
Thanks for your fast answer.
I have registered and got an academic licence with Enthought. I have also done the enpkg pandas, the enstaller was indeed out of date. I have re-enter the enpkg pandas. It has installed different egg. But unfortunately I got the same AttributeError when I launch QuickMagIC.py or Make_magic.py

[2015-12-15 20:23] moonshoes87 commented on #22
Sorry to hear that you haven't had success (yet)!  Thanks for your patience.

It would be helpful for me if you could find out which version of pandas you have go into the PmagPy Command Prompt and type 'python'.  This should launch the python interpreter, which allows you to type pure python into the command prompt.  Try these commands:

If you could send me the output of those commands, it would

[2015-12-16 08:16] lsonnette commented on #22
I have updated EPD. It works I can launch QuickMagIC.py (at least a new window opens).

Thanks for your help.

[2015-12-16 17:48] moonshoes87 opened #23 "marking good/bad measurements in Demag_GUI"
The good/bad measurement highlighting behavior still seems a little unintuitive.

First of all, it doesn’t seem like I can simply right click on a measurement — I actually have to select it with a left click and then right click.  Additionally, I was confused when I accidentally double-clicked on a measurement (trying to mark it as good/bad) and the whole fit was recalculated.  Last thing, measure

[2015-12-16 17:52] moonshoes87 opened #24 "marking good/bad measurements in Demag_GUI"
The good/bad measurement highlighting behavior still seems a little unintuitive.

First of all, it doesn’t seem like I can simply right click on a measurement — I actually have to select it with a left click and then right click.  Additionally, I was confused when I accidentally double-clicked on a measurement (trying to mark it as good/bad) and the whole fit was recalculated.  Last thing, measure

[2015-12-16 18:14] #23 closed

[2015-12-16 18:15] moonshoes87 commented on #22
Great!  I will update the documentation and close this issue.  Please let us know if you have any other problems.

[2015-12-16 18:15] #22 closed

[2015-12-17 01:54] Swanson-Hysell commented on #23
I agree that the right-click for "bad" isn't intuitive. The checkbox idea is a good one (potentially tricky to implement well?). I like the double click to make a fit functionality as it is quicker then dealing with drop-down windows. 

On Wednesday, Dec 16, 2015 at 10:24 AM, moonshoes87 <notifications@github.com>, wrote:

Closed #23.

—
Reply to this email directly or view it on GitHub.

[2015-12-17 23:28] moonshoes87 commented on #24
I think there are two things that make sense to fix:

1.  If possible, make it so that the highlighting for "bad" measurements stays highlighted when the user is selecting the fit parameters.

2.  Have a checkbox type column.  This is easy to do in wx.grid, but as this is a list ctrl I'm not sure if it works the same way.  Even if it is a ghetto checkmark that's just, say, an X for bad and a blank

[2015-12-18 01:41] ronshaar opened #25 "demag_gui: specimen equal area plot appears with tick marks"
When demag gui is first loaded, and there is no previous interpretation for the given specimen the specimen equal area plot appears with tick marks

[2015-12-20 20:54] Swanson-Hysell opened #26 "standardize program names"
Going through the manuscript, I realized that, at present, Make_magic.py and QuickMagIC.py have similar names but with different syntax in terms of capitalization and the underscore. It seems like these should be standardized.

Also, is QuickMagIC still the right name for that program? As an executable, this program now accomplishes a lot in terms of data import, data wrangling, PCA fits through d

[2015-12-21 18:29] moonshoes87 commented on #26
QuickMagIC was named by Ron Shaar, and it did a bit less at that point.  I named "make_magic.py" because I thought it was irritating to have to type 4 upper-case letters to invoke the program.

Pep8 style conventions here: https://www.python.org/dev/peps/pep-0008/#package-and-module-names.  I've been referring to the program overall as MakeMagIC and the Python module as make_magic.py, but perhaps

[2015-12-22 01:36] Swanson-Hysell commented on #26
Lori and Lisa figured out a solution along the lines of:

QuickMagIC =>  Pmag GUI = pmag_gui.py
Make_magic => MakeMagIC GUI = make_magic_gui.py
Thellier GUI = thellier_gui.py
Demag GUI = demag_gui.py

[2015-12-22 01:36] #26 closed

[2015-12-22 01:38] Swanson-Hysell opened #27 "Add site_edit capabilities to demag_gui"
site_edit functionality can be added. What that program does is plot expected directions from two common errors - wrong mark on the sample and wrong way for the arrow. By doing so, samples can be excluded if there directions are consistent with such an error.

[2016-01-13 01:58] #15 closed

[2016-01-13 01:58] Swanson-Hysell commented on #14
I was thinking we could do something along the lines of:

/libs [ipmag.py ipmagplotlib.py pmag.py pmagplotlib.py]
/programs [all the command line programs]
/tests [all the testing files]
/datafiles [all the example datafiles]
/docs [for any documentation files we think should have live in the repository—we could mostly have this be a pointer to the cookbook]

with these files being the ones left i

[2016-01-13 01:58] Swanson-Hysell commented on #14
There are some ideas here related to project structuring: https://github.com/kriasoft/Folder-Structure-Conventions

[2016-01-20 23:24] #14 closed

[2016-01-21 05:22] Swanson-Hysell commented on #25
Ron, are you still seeing having this issue on the most recent version of the GUI in master? I don't seem to be having the issue any longer.

[2016-01-21 22:23] Swanson-Hysell opened #31 "Add VGP view to demag_gui"
Would be nice to have an option to view data as VGPs that comes up as a window when selected in the Tools menu of demag_gui

[2016-01-21 22:25] Swanson-Hysell opened #32 "Make a button for "make new fit for all" in demag_gui interpretation editor"
There is currently hidden functionality to add a fit to all specimens in the interpretation editor if now specimen is selected. It would be nice to make this functionality be more accessible and transparent to the user by having a button that says "make new fit for all specimens" in the demag_gui interpretation editor.

[2016-01-23 00:21] Swanson-Hysell opened #34 "demag_gui debug message being thrown"
[code]

get rid of pdb import too.

[2016-01-23 00:48] Swanson-Hysell opened #35 "add choices to mark measurements "good" or "bad" to demag_gui edit menu"
To demag_gui edit menu add choices to mark measurements "good" or "bad"

To do this, split the on right click function into three.

[2016-01-23 01:07] Swanson-Hysell opened #36 "reorganization broke pmag_basic_dialogs.py imports for file format programs"
[code]

[2016-01-23 02:13] moonshoes87 commented on #36
Oops.  I’ll fix this shortly.

[2016-01-24 23:14] Caoimhinmg commented on #35
made it work so that any number of measurements can be highlighted and marked at one time, just easier to build that way.

[2016-01-24 23:14] #35 closed

[2016-01-25 00:07] Caoimhinmg commented on #32
done.

[2016-01-25 00:07] #32 closed

[2016-01-25 00:07] Caoimhinmg commented on #34
this error is actually caused by hotkey differences in the menu between mac and pc it appears hotkeys that include more than one letter or number are invalid on mac and throw the error that there is no such accelerator. I am however leaving the pdb import as I remembered as I went over the code again that I added a user callable debugger to the help menu (hotkey ctrl(command for mac)-shift-d) this

[2016-01-25 00:07] #34 closed

[2016-01-25 00:12] Caoimhinmg commented on #36
I already fixed it quick "kinda" so I could convert some files. My fix is a bit of a patch though, instead of changing the imports to "from programs import ......" I just added ../programs/ to PYTHONPATH temporarily at the start of the file so that any time someone runs it it changes their PYTHONPATH for the duration of that instance of python.

[2016-01-25 01:45] moonshoes87 commented on #36
I made the export explicit (and correct) in the dialogs file.

[2016-01-25 01:45] #36 closed

[2016-01-25 02:16] Caoimhinmg commented on #24
* I added a "Flag Measurement Data" drop down box to the edit menu that lets you flag highlighted fits good/bad to try and make this more intuitive.
* The checkbox idea sounds great though I'm also not sure how easy that would be to do in a listctrl.
* as to the keeping bad things marked bad when selecting fit parameters. Done and done.

[2016-01-25 06:06] Swanson-Hysell commented on #25
This tick mark issue seems to have been resolved.

[2016-01-25 06:06] #25 closed

[2016-01-25 06:11] Swanson-Hysell commented on #24
Having the drop down box is nice as it exposes the functionality to users who don't know about the right-click option. And it is good that the "keeping bad things marked bad when selecting fit parameters" issue is now fixed and there is the ability to mark good and bad outside of the fit.

I agree with Kevin that the checkbox idea is a good one, but given space limitations in the GUI and not wanti

[2016-01-25 06:11] #24 closed

[2016-01-27 01:29] Swanson-Hysell opened #40 "delete ipmagplotlib?"
Now that the backend issue is resolved by @moonshoes87 (I think?), should ipmagplotlib be deleted from the repository so that we are solely using pmagplotlib?

[2016-01-27 14:42] ltauxe commented on #40
I think that would be great.  and it would also be nice if we could move back to a unified pmag.py module as well - is that a possibility?
lisa

[2016-01-27 16:27] Swanson-Hysell commented on #40
When Lori and I were discussing ways to reorganize the directory structure, I brought up this pmag.py and ipmag.py merge possibility. Lori's perspective (which she convinced me of at the time) is that it makes sense to keep them separate with pmag.py containing the functions that mostly do a single thing and ipmag.py containing functions that bring pmag.py functions together to do more of a work f

[2016-01-27 17:39] moonshoes87 commented on #40
Yes, let’s delete it.  Thanks!

[2016-01-27 22:49] Swanson-Hysell commented on #40
I deleted it and I think I have removed the import statements to the module and changed back to pmagplotlib where necessary although some still could be lurking.

[2016-01-27 22:49] #40 closed

[2016-01-29 20:23] Swanson-Hysell opened #44 "error being thrown for get_temp_indices in demag_gui.py"
This error was thrown when switching between coordinate systems and is being thrown in other use cases as well.

[code]

[2016-01-29 20:53] Swanson-Hysell opened #45 "make demag_gui main window top boxes be aligned"
Box tops are in different vertical positions and need to be standardized:
<img width="796" alt="screen shot 2016-01-29 at 12 37 19 pm" src="https://cloud.githubusercontent.com/assets/4332322/12687484/1349f2aa-c685-11e5-99a8-a78ae8a091c5.png">

[2016-01-29 21:15] Swanson-Hysell opened #46 "allow for demag_gui resizing so that everything becomes bigger"

[2016-01-29 21:19] Swanson-Hysell opened #47 "print user warnings for demag_gui fits when there are multiple measurements with same treatment step"
Make it so that this warning is given when needed (it already is, but needs to provide more information):
"There are multiple 'good' XXX steps. The first one will be used for fit XX."

Make it so that this warning is given when needed:
"Within Fit XX, there are multiple good measurements at the XXX step. Both measurements are included in the fit."

[2016-02-01 00:18] Caoimhinmg commented on #44
Put in error messages for this occurrence and generally bolstered the ability of the function that figures out the index of measurement steps so that it can handle what were illegal inputs without completely crashing.

[2016-02-01 00:18] #44 closed

[2016-02-01 00:19] Caoimhinmg commented on #47
Put in lots of warnings and made sure that it also reports the bound that it is altering upper or lower, alterations to included measurements should be apparent now.

[2016-02-03 01:23] Swanson-Hysell opened #50 "demag_gui doesn't allow directory navigation when launched independently"
The GUI showing the current directory flashes up, but then disappears and the GUI proceeds as if you have selected your current directory.

[code]

[2016-02-05 19:36] Swanson-Hysell opened #51 "Interpretation editor not launching within demag_gui"
Seems to be an issue with the recent changes related to font_type. See Traceback below:

[code]

[2016-02-05 20:11] Swanson-Hysell commented on #47
"Within fit XX for specimen XXX-XX, there are multiple good measurements at the XXX step. Both measurements are included in the fit."

[2016-02-08 01:54] Caoimhinmg commented on #51
forgot to carry a variable from the main gui to the editor. I've fixed it now.

[2016-02-08 01:54] #51 closed

[2016-02-08 01:56] Caoimhinmg commented on #47
Done

[2016-02-08 01:56] #47 closed

[2016-02-08 02:24] Caoimhinmg commented on #50
works on the lab machine and on my machine in the new version, let me know if you're still having an issue.

[2016-02-09 22:04] Swanson-Hysell commented on #50
Demag_gui now allows directory navigation (and selection of a magic_measurement.txt file which took me a while to figure out), but after I select the directory and the main panel launches a white box that was the directory selection window covers the window (and all other windows on my computer). See image below:

<img width="1559" alt="screen shot 2016-02-09 at 2 01 53 pm" src="https://cloud.gith

[2016-02-22 20:25] Swanson-Hysell commented on #50
@Caoimhinmg, this ghost dialog box is still an issue when I launch demag_gui using the Anaconda distribution. Doesn't seem to be an issue in the Enthought virtual environment. Oddly, I am asked to select a magic_measurements.txt upon launch in  Anaconda, but am asked to select a directory when in the Enthought virtual environment. Thoughts on what could be causing this variability in behavior?

[2016-02-23 23:02] Caoimhinmg commented on #50
@Swanson-Hysell, Strange the hanging box is obviously caused by a call to wx.Yield which makes this little wait screen as it should though it seems very buggy as it only occasionally works on my distro and obviously is not working for you. Why the anaconda distro seems to have trouble with the box I'd guess it's something internal, but it also seems to be ignoring my if statement for directory sel

[2016-02-24 20:40] cthissen opened #53 "find_EI.py not returning correct values for example data"
Running the test data
`find_EI.py -f find_EI_example.dat`
returns
[code]
when it should return something like this
[code]
For some reason, both E_lower and I_lower are zero. I get the expected results with pmag-3.3.2, but not the current version.

[2016-02-24 23:30] Swanson-Hysell commented on #53
Thanks for reporting this bug. It should now been fixed. A variable was renamed when adding the option of site-level (rather than study-level) correction a couple days ago.

[2016-02-24 23:30] #53 closed

[2016-03-08 23:26] moonshoes87 opened #54 "Demag GUI tests require interaction to run"
The new Demag GUI tests seem to require interaction to run.  When I run them, I get stuck with screens like this:
![screen shot 2016-03-08 at 3 14 11 pm](https://cloud.githubusercontent.com/assets/1836578/13619930/cb6df532-e540-11e5-83dd-7a1d75f94678.png)

and then I have to click through for the testing to continue.  This won't work for automated testing (Travis CI), and it isn't ideal for runnin

[2016-03-08 23:56] Swanson-Hysell commented on #54
Interesting... @Caoimhinmg it would make sense to pull these tests requiring interaction out of the main test suite. Perhaps they could live somewhere else.

[2016-03-09 00:26] Caoimhinmg commented on #54
Sorry, working on removing the interaction requirement I was hoping they wouldn't run when you ran the other tests as I didn't add the demag_tests to the __init__ file in the tests directory. If it's causing a problem with the other tests I'll move it while I finish development.

[2016-03-09 19:03] moonshoes87 commented on #54
Yeah, testing wxPython is kind of a pain.  There might be some useful information in this post, but it might not be anything you don't already know: http://wiki.wxpython.org/Unit%20Testing%20with%20wxPython

The way I typically run the tests is with: "python -m unittest discover".  This means that the unittest module will find anything that calls unittest.main():

    if __name__ == '__main__':

[2016-03-16 20:42] moonshoes87 opened #57 "Missing demag_gui help file"
The help PDF for Demag GUI appears to be missing.  Either the "Help --> Usage & Tips" option should be taken out of the menu, or we should put demag_gui_doc.pdf back in.

I noticed this because I'm trying to make sure all image files etc. are available in the pmagpy-cli edition of the GUIs.

[2016-03-16 21:08] Swanson-Hysell commented on #57
The information that was in this file was moved to the cookbook. Perhaps choosing this option in the dropdown menu could link to that part of the Earthref hosted cookbook?

[2016-03-16 21:11] Swanson-Hysell opened #58 "No module named demag_interpretation_editor error in demag_gui"
Recent changes to demag_gui are resulting in this fatal error:

[code]

[2016-03-16 21:13] moonshoes87 commented on #57
That sounds like a good solution.  Do you want to implement this or should I?

[2016-03-16 21:32] moonshoes87 commented on #58
The solution may be adding to the dialogs __init__.py file.  I'm going to play with this.

[2016-03-16 21:45] Swanson-Hysell commented on #57
If you could go ahead and do it that would be great.

[2016-03-16 21:57] moonshoes87 commented on #58
Could you try some diagnostic tests for me?

1.  In a non PmagPy directory, try `import dialogs` in the Python interpreter and see what you get.
2.  See if installing this version of pmagpy fixes your problem (from test site not main site):  pip install -i https://testpypi.python.org/pypi pmagpy --upgrade

I actually can't reproduce your error, but I think some things may be getting cached weirdly

[2016-03-16 21:58] #57 closed

[2016-03-17 05:22] Swanson-Hysell commented on #58
I'm am simply running the GUI out of the repo (which is an option I think we should still support) rather doing a pip install. Given the framework issue with Anaconda (which I haven't been able to take the time to look into) and the fact that I want to be using the Anaconda distribution given how nice of a package manager it is, I haven't been using the pip installed version of PmagPy.

I can ```i

[2016-03-17 20:09] moonshoes87 commented on #58
I agree, everything should be able to run from the repo.  I'm still a little perplexed that I couldn't reproduce your error, but oh well.

I add the \_\_init\_\_.py file.  Let me know if that fixes the problem!

[2016-03-17 20:52] Swanson-Hysell commented on #58
That does it. Thanks!

[2016-03-17 20:52] #58 closed

[2016-03-18 03:57] Swanson-Hysell commented on #46
While this would be a nice feature we have decided that it isn't a priority.

[2016-03-18 03:57] #46 closed

[2016-04-05 20:35] Swanson-Hysell opened #60 "requirement of 'pmagpy-cli' distribution throwing error in pmag_gui"
It seems that there is now a requirement within the PmagPy/programs/__init__.py file for the 'pmagpy-cli' distribution to be installed. This error gets thrown when trying to convert files via cit_magic.py through pmag_gui. We would like to be able to run straight from the master without doing a pip installation (given that the pip installed version is not working with Anaconda) and simply having t

[2016-04-05 21:22] moonshoes87 commented on #60
Ah — I hadn’t realized that __init__ would be run when programs is imported directly from the PmagPy repo.  I’ll push the solution ASAP.

[2016-04-06 16:01] Swanson-Hysell commented on #60
Yes. That maintenance of a number of different ways to run the programs is an issue. I do think that being able to run the programs straight from their own directory with the paths set right is a good thing to maintain. I would likely feel differently if the pip installation of the guis worked with the Anaconda distro.

There was a syntax error in the fix:

[code]
But I think that I fixed it and a

[2016-04-06 16:01] #60 closed

[2016-04-06 16:52] moonshoes87 commented on #60
Thanks!

[2016-04-08 17:26] Swanson-Hysell opened #61 "clean up demag_gui menu options to only expose robust functionality"
- [x] remove test autointerpret

- [x] remove Convert and Combine MagFiles (test .inp data structure)

- [x] fix or remove Import Interpretations from LSQ File

[2016-04-08 17:44] Caoimhinmg commented on #61
Just removed them all, once I address the greater problems in higher order stats I'll look back at the LSQ stuff.

[2016-04-08 17:44] #61 closed

[2016-05-28 01:00] allochthonous opened #64 "Problem with pmag.dokent() and aniso_magic.py ellipse parameters"
When running aniso_magic.py with a bootstrap I was getting weird error ellipses that were rotated 90º from the data distribution they were meant to be representing.

Datafile:
[WT1_anisotropy.txt](https://github.com/PmagPy/PmagPy/files/287506/WT1_anisotropy.txt)
Command:
`aniso_magic.py -f WT1_anisotropy.txt -par -crd g`
Result:
![aniso_test_data](https://cloud.githubusercontent.com/assets/9516117

[2016-05-28 01:03] ltauxe commented on #64
ahh thanks for catching that!  there was an inconsistency in what was zeta and what was eta in the code (between the bootstrap for directions and for eigenvectors)  and i thought I had fixed it, but obviously messed it up.
(i always use the -v option, so i didn’t notice it).    I will fix this shortly…..
lisa

[2016-05-30 22:59] ltauxe commented on #64
I think i fixed this now….
lisa

[2016-06-10 06:27] Swanson-Hysell commented on #64
Hey Chris,

Is everything working as it should now? If so, we will go ahead and close the issue.

[2016-06-10 06:30] Swanson-Hysell commented on #45
This issue has been addressed.

[2016-06-10 06:30] #45 closed

[2016-06-10 06:31] Swanson-Hysell commented on #50
No longer an issue.

[2016-06-10 06:31] #50 closed

[2016-06-10 06:32] Swanson-Hysell commented on #54
This workaround is fine for the moment.

[2016-06-10 06:32] #54 closed

[2016-09-01 00:12] #64 closed

[2016-09-01 00:18] Swanson-Hysell opened #65 "floats and integers within MagicDataFrame are all in there as strings"
I am just starting to use the MagicDataFrame object in some code and am bumping into the problem that the values that should be floats and integers within the DataFrame are all in there as strings.

I can change them myself by doing something like:
[code]
but given that most of the columns are always floats or always integers it seems like having the correct dtype should be a feature of the MagicD

[2016-09-01 15:25] moonshoes87 commented on #65
We can get the information about dtype for a column from the data model.

These are the possible types:

String, Dictionary, Text, List, Number, Flag, Timestamp, Integer, Matrix

Here’s some code for what that could look like for some of the types:
H

One weird thing is that dtype won’t show up as ‘str’ or ‘int’ if there are np.nan or None values in that column, but that probably isn’t important.

[2016-09-01 15:53] Swanson-Hysell commented on #65
Overall this plan sounds good. One comment is that I think it is potentially dangerous to have 0 be a null value in integer columns given that unlike "" it actually has a meaning.

I guess another question is that in my experience, pandas/python is good at intuiting what the dtype is. If this was happening, there wouldn't have to be importing of the data model etc. Do you understand why floats in

[2016-09-01 16:38] moonshoes87 commented on #65
Yes, I agree about point number 1.  I’ll take that out — I was just experimenting to see how I could get the dtype to come out as integer.  0 is not a good null value.

As to point number 2, it looks like the problem is pmag.magic_read, which reads in everything as a string.  I should probably just use pd.read_table instead — that would likely be more efficient anyway.  It might still be useful to

[2016-09-01 21:24] ltauxe commented on #65
yes that would be great.  much more straigtht forward.
lisa

[2016-09-01 22:27] Caoimhinmg commented on #31
still working on adding plot interaction but I think this is more or less what you were asking for. Any suggestions?

[2016-09-02 17:23] moonshoes87 commented on #65
I’m about to push the fix.  We’re now using pd.read_table which figures out the dtypes pretty well.  Everything seems to be working, but it is possible that there could be some lingering issues — i.e., places in the existing code that expect a string that will no longer find one.  I.e., val == “1” vs. val == 1.  Hopefully this shouldn’t be too big of an issue, but we should keep an eye out for pro

[2016-09-02 19:34] Swanson-Hysell commented on #65
Great. That fix is doing the trick for the issue I was having. Will certainly keep an eye out for unintended consequences.

[2016-09-02 19:34] #65 closed

[2016-09-02 20:44] Swanson-Hysell commented on #31
Ideally, we want to be able to view VGPs on a globe. We don't want to make Basemap a dependency for demag_gui, but if Basemap is present, it would be good to use for this purpose. Here is an example of plotting up VGPs using Basemap and ipmag.plot_vgp:

<img width="902" alt="screen shot 2016-09-02 at 1 43 50 pm" src="https://cloud.githubusercontent.com/assets/4332322/18217711/52559dd0-7113-11e6-8d

[2016-09-02 21:04] moonshoes87 commented on #65
Great! I think likely problems were just in the 3.0 compatible plotting programs, and I’m hopeful that I caught all of them.  But we’ll see :)

[2016-09-06 17:25] Caoimhinmg commented on #31
Used basemap before, thankfully, though doing it without making that a dependency might be a trick. I'll see what I can do.

[2016-09-06 17:41] Swanson-Hysell commented on #31
Ideally, it could be an optional dependency for the program. If someone has it than the functionality is available. If they don't have it, then they get a message saying that the Basemap library is necessary for this functionality.

I guess the decision will need to be made for the GUI whether or not to try and bundle Basemap with it.

[2016-09-07 00:03] ltauxe commented on #31
if you don’t want to add it to demag_gui, we could make it a special program under Analysis & Plots in pmag_gui  -  similar to the way it was in  MagIC.py lo these many years ago.

[2016-09-09 17:39] Caoimhinmg commented on #27
Okay, This doesn't look too hard to patch over from the site_edit_magic.py script as it stands I think the major challenge will be the decision of how to implement. So on that note:
* As of now I'm thinking adding this to the interpretation editor is a good idea as the purpose is to edit interpretations and main GUI panel real estate is pretty thin. Also the interpretation editor already displays

[2016-09-12 16:54] moonshoes87 opened #67 "Demag GUI test failing"
One of the Demag GUI tests is failing:

When I run:

 `python -m unittest pmagpy_tests.test_demag_gui.TestMainFrame`

I see this error:

ERROR: test_read_write_redo (pmagpy_tests.test_demag_gui.TestMainFrame)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pmagpy_tests/test_demag_gui.py", line 233, in test_read_write_redo
    self.a

[2016-09-12 17:28] moonshoes87 opened #68 "cit_magic3 fails with Canopy Python"
The "builtins" module isn't part of the Canopy package, although __future__ is installed.  (not sure if this is relevant.... [builtins issue](https://github.com/datamade/dedupe/issues/374))

Because of this, cit_magic3 fails with an import error.  Also, pdb is referenced in the code but never imported.  I fixed these issues locally so that I can run cit_magic3, but I didn't want to muck around wit

[2016-09-12 19:30] ltauxe commented on #68
muck away!

[2016-09-12 20:48] Swanson-Hysell commented on #68
Do go ahead and muck away. That the builtins import statement can simply be removed or commented out for the moment (it is some Python3 code and snuck into the main repo).

Some context for why this line of code ended up in there:
We have been exploring how tricky it will be to get all of PmagPy running in Python 3 rather than Python 2.7. It turns out that it isn't very tricky at all. At present,

[2016-09-12 20:49] Swanson-Hysell commented on #67
Thoughts on this @Caoimhinmg?

[2016-09-13 15:39] Caoimhinmg commented on #67
Yeah forgot to update tests for demag_gui I renamed a few internal variables that I had to use for testing I can rename that quick then make sure everything works again.

[2016-09-13 16:01] #67 closed

[2016-09-13 22:37] Caoimhinmg commented on #27
Think this just needs debugging at this point, all of the features should be there with the last push. @Swanson-Hysell any suggestions for improvement or problems with the current form of this feature?

[2016-09-13 22:45] Caoimhinmg commented on #31
Think this feature pretty much works as intended now. I'm going to close the issue if there are any problems with the characteristics of this feature or thoughts for additions to the current form of the VGP viewer please reopen.

[2016-09-13 22:45] #31 closed

[2016-09-14 18:39] Swanson-Hysell opened #69 "combo box issue in demag_gui.py"
Both @CourtneySprain and I are having this issue with the demag_gui:
[code]
The top menu boxes are odd with weird white space around the pull down menus and associated values:

<img width="1128" alt="screen shot 2016-09-14 at 11 36 26 am" src="https://cloud.githubusercontent.com/assets/4332322/18524966/91eb2842-7a6f-11e6-8675-4f07e31340db.png">

[2016-09-15 22:09] #69 closed

[2016-09-16 17:07] sslotznick opened #70 "Add CSD to Measurement List in Demag_Gui"
This will be helpful for evaluation of data points determining if they are "bad" or "good" especially when repeat measurements are made.

[2016-09-16 19:26] Swanson-Hysell commented on #70
@Caoimhinmg, we realize that this additional field will make the measurement panel too wide, but given that when it is to wide there is a scroll bar that will be fine. The name of the field in the magic_measurements.txt is measurement_csd.

[2016-09-16 19:39] sslotznick opened #71 "Add Change in Color in Plots when Measurement Selected"
It would be a great addition to the Pmag_GUI program if whenever a measurement was selected on the measurement list the color of it would change in the Zijderveld/Orthographic diagram and in the Equal Area/Stereonet diagram.  This would allow us to know which measurement we are looking at quickly even if the labels are written on the other portion of the vector (DEC v. INC).

Attached is a GIF sho

[2016-09-17 18:45] #70 closed

[2016-09-17 18:51] Caoimhinmg commented on #71
I assume you mean this for the Demag GUI? I like the idea, however, it will be exceedingly slow if I don't break up some GUI functions to make it more manageable, but I've been meaning to do that for a long time to help with optimization. I'll let you know how it progresses.

[2016-09-18 20:47] Swanson-Hysell commented on #71
Yes. Demag_gui is what is meant.

One thought is that when the fits are drawn, both the fits and the ends points that are chosen render quite quickly. If similar machinary was used for highlighting the points (effectively drawing another symbol/color over the rendered data points) I think it would be pretty quick.

[2016-09-20 23:18] Swanson-Hysell opened #72 "lsq fits not refreshing when new fit made in demag_gui"
Here is an example of the equal area plot. There is only one current fit, but a bunch of fits that I was making for the specimen while playing around with different possibilities (and just making a bunch of bad fits to make this point) are being shown:

<img width="309" alt="screen shot 2016-09-20 at 4 16 11 pm" src="https://cloud.githubusercontent.com/assets/4332322/18692238/adf77d8c-7f4d-11e6-94

[2016-09-20 23:19] Swanson-Hysell commented on #72
This problem appears to be limited to the equal area plot, with the Z-plot and M/Mo plots refreshing.

[2016-09-22 17:12] #72 closed

[2016-09-22 17:39] Caoimhinmg commented on #71
Okay, I did this by adjusting the method of plotting the figures, partly to break the draw_figure method into parts so the GUI doesn't have to redraw all plots as it has always done when it does redraw anything. Also because if I drew over the original plot I would have to save the over drawn points so they can be removed or create a new axis to plot on, which is almost the same thing. It might be

[2016-09-22 22:38] #71 closed

[2016-09-30 18:13] Swanson-Hysell commented on #68
Is this still an issue @moonshoes87?

[2016-09-30 18:18] Swanson-Hysell opened #73 "light colors for point selection in demag_gui"
It would be easier to see the highlighted points if they became a lighter color rather than a darker color when selected in the z-plot, equal area and M/Mo plots.

[2016-10-03 19:47] Caoimhinmg commented on #73
This is a bit challenging as the colors used for the z-plot eqarea and M/M0 are the brightest they can be. I Made them whiter as opposed to brighter and that seemed to work, but makes the black outline of points a little bold. For the equal area plot this is actually impossible as white is used for upper hemisphere measurement vectors, I changed upper hemisphere measurement vectors to black though

[2016-10-03 19:49] moonshoes87 commented on #68
sorry for the delay!  I was on a hut-to-hut mountain bike trip.

This issue is resolved for me.  I'm hoping to have a look at the Python 2 --> 3 stuff soon.

[2016-10-03 19:49] #68 closed

[2016-10-06 17:07] moonshoes87 opened #74 "new pip release"
We haven't really established a system for determining when to make a new pip release.  So, this issue has two parts:  1.  does anyone have a reason I shouldn't go ahead and make a new release now?  2.  How should we time/coordinate new releases in general?

Regarding item two, it seems obvious that we should make sure all tests are passing, but maybe we should have other safeguards as well?

[2016-10-06 17:19] Swanson-Hysell commented on #74
It would be great to make a new pip release now. I was just trying to get someone going on demag_gui and the version in the last pip release is very out-of-date now. Regarding #2, I don't know what other safeguards there should be other than doing what you are doing now and checking in to see if there are any reasons to hold up putting together a new release. I think Github has nice machinery for

[2016-10-06 19:20] Swanson-Hysell commented on #74
It would also be great to do a new release of the Pmag_GUI binary....the mac one at least.

[2016-10-06 19:22] moonshoes87 commented on #74
I’ll make a new pip release today for both pmagpy and pmagpy-cli.

Here is the process I use, which we should probably preserve somewhere other than here in this issue:

First, I increment the version number in setup.py or command_line_setup.py.  PYPI will reject a duplicate version number I forget this step.

From the PmagPy directory, I use the following command to build a new distribution of pm

[2016-10-06 19:23] moonshoes87 commented on #74
Yes, I’m going to try to get that done this week as well :)

[2016-10-06 19:37] moonshoes87 opened #75 "error in demag gui tests"
I'm getting some errors when I run the demag gui tests.
These three tests produce the same error:  test_read_write_redo, test_read_write_pmag_tables, test_ie_buttons.
`AttributeError: 'Demag_GUI' object has no attribute 'get_ie_open'`

I had a merge conflict with the test_demag_gui.py, but I thought I fixed that...  Could one of you have a look at this, @Swanson-Hysell or @Caoimhinmg?

[2016-10-06 19:44] moonshoes87 opened #76 "Demag GUI selection of temperature bounds"
When I open Demag GUI, I can initially only select bounds by clicking on the steps in the lower left corner.  After I've clicked on a step, the drop-down Bounds in the upper left appear and I can edit using those.  It seems like the Bounds drop-down should work from the start, or we should remove that way of interacting with the parameters.

I can dig into this, but it will probably be easier for

[2016-10-06 19:55] moonshoes87 commented on #74
I've made a new pip release of pmagpy and pmagpy-cli.  If the 3 failing tests in Demag GUI are important, I can re-release when those are fixed.

[2016-10-07 00:46] Swanson-Hysell commented on #73
The z-plot and M/Mo selections look good.

The upper hemisphere points in the equal area plot have to be white (or open circles) as that is the convention. Could you do something like put a red outline around them when they are selected?

[2016-10-07 00:49] Swanson-Hysell commented on #76
Before the dropdown boxes work, one has to click the **add fit** button or create a fit by clicking on the steps. Once add fit is clicked then the fit can be modified using the drop-down windows. I think it makes sense to keep the functionality this way.

[2016-10-07 01:57] ltauxe commented on #76
Just so you all know, I just invited my grad student Hanna Asefaw to be a contributor to PmagPy.  Welcome to the party, Hanna.
lisa

[2016-10-07 01:58] Swanson-Hysell commented on #76
Excellent! Welcome Hanna.

[2016-10-07 06:21] Swanson-Hysell commented on #76
Speaking of contributors, I just noticed that @ltauxe your status as a member of the PmagPy organization is set to private which I assume is not intentional:

<img width="241" alt="screen shot 2016-10-06 at 11 18 01 pm" src="https://cloud.githubusercontent.com/assets/4332322/19180531/51c35fb0-8c1b-11e6-862c-9d2ba9e92431.png">

You can click on yourself in the People list on the PmagPy organization

[2016-10-07 14:03] ltauxe commented on #76
Oh thanks

Sent from my iPhone

[2016-10-07 17:06] ltauxe commented on #76
After a too long absence, I’m about to start testing the 3.0 version of Pmag GUI on a new dataset. but i have some questions:
1) is this pmag_gui3   separate from Pmag GUI 2.5?
2) Can I replace thellier_gui with thellier_gui3.0?
3)  is demag_gui now compatible with both 2.5 and 3.0 like thellier_gui3.0?

lisa

[2016-10-07 17:40] moonshoes87 commented on #76
1.  Pmag GUI 3 is still separate (pmag_gui3.py) but after a little testing could probably be renamed.  It must be run with the -DM 3 switch, though.  I didn’t want to rely on detecting a 2.5 vs 3.0 file, because Pmag GUI includes a conversion tool and I wanted to be able to force the use of 3.0 even with 2.5 files present.  There is a new pip release so you can use that or the regular git version

[2016-10-07 18:09] moonshoes87 commented on #76
Thanks, @Swanson-Hysell.  Sounds good!

[2016-10-07 18:09] #76 closed

[2016-10-10 15:08] #75 closed

[2016-10-10 15:08] Caoimhinmg commented on #75
Sorry for the delayed response @moonshoes87 I've just pushed a fix for this. It's a non essential part of the GUI, just calling for a boolean that tells if the interpretation editor is open. I changed the test calls for ie_open from a encapsulation function get_ie_open to just ie_open because the function was not really being used internally in the GUI so a little pointless.

[2016-10-10 15:48] #73 closed

[2016-10-10 20:31] moonshoes87 commented on #75
Great!  I wasn’t sure if the failing test was actually meaningful, so I thought I’d check in because of making a new release :)  Thanks!

[2016-10-13 17:48] moonshoes87 opened #77 "sys.prefix vs. other WD options for tests"
Some tests were set up to use sys.prefix as the working directory because that is where the pip installation puts all the data files.  That was so that someone with the pip installation who has not downloaded from Github could run tests and make sure everything was working correctly on their machine, and also so that I could test the pip installation directly.  Using cwd + 'data_files' is going to

[2016-10-13 20:26] Caoimhinmg commented on #77
Sorry @moonshoes87 that change was me. I was trying to run all the tests using `python -m unittest discover` and was getting path and permissions errors galore as it was trying to read/write to protected drive space (/usr/ to be exact, which makes sense in the context of a pip install). This also just seemed like the wrong logic for the tests, theoretically at least it should find the pmagpy direc

[2016-10-13 20:54] moonshoes87 commented on #77
No worries!  I want the tests to work correctly for everyone doing development.  I have no permissions problems with sys.prefix using Canopy or brew-installed python, but Anaconda has a different layout.

What I have been doing in order to the run the tests consistently whether with "python -m unittest discover" or with my pip compatible script “run_all_tests.sh" is this: I manually copied the dat

[2016-10-13 20:59] ltauxe commented on #77
I’m trying to run demag gui on a data file (see attached) and it doesn’t work at all.  I get this error:

hermione-pro-2:Desktop ltauxe$ pmag_gui.py
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
-I- Fetching output frame
-I- getting data model, please be patient
-I- running python script:
 demag_gui.py -WD /Users/ltauxe/Desktop
Traceback (most recent call last):
  F

[2016-10-14 14:13] Swanson-Hysell opened #78 "demag_gui referencing local variable before assignment"
On some data sets, demag_gui is referencing NRM before NRM is assigned:

[code]
@moonshoes87's sleuthing suggests this wasn't an issue at the time point of this commit:

This is the oldest commit that works for me (from September 26):

6430242c987c2db5d1f65477f1bb445ae42cf0e1, added documentation and cleaned up code….

[2016-10-14 18:12] sslotznick opened #79 "Incorporating Parametric Bootstrap into Common Mean, Reversal & Fold Test"
It would be nice if we could have an option in the bootstrapped common mean (and reversal and fold test) to use the parametric bootstrap instead of naive bootstrap in case we have data sets with N<20.

I see that there is an option in bootams.py to call "-par"

Ideally this would be incorporated within the pmagpy functions and then into the ipmag functions for jupyter notebooks "common_mean_bootst

[2016-10-14 20:54] ltauxe commented on #78
this sounds reasonable.  why not?  it is mysterious why some samples wouldn’t have an NRM but I’m working on a complicated data set and will track down that problem later.  right now i just need to see the data to know what is missing and what isn’t.  :)
lisa

[2016-10-14 21:00] ltauxe commented on #78
so now i get this error:

hermione-pro-2:U1456A_MagIC ltauxe$ demag_gui.py -WD .
Traceback (most recent call last):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/demag_gui.py", line 6538, in <module>
    main(WD=WD,write_to_log_file=write_to_log_file)
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/demag_gui.py", line 6522, in main
    app.frame = Demag_GUI(WD, write_to_log_f

[2016-10-15 17:28] Caoimhinmg commented on #78
On the same data as last time? It was running fine over here. Well I put in a few extra checks so it doesn't error out while trying to sort measurements. Let me know if it patches the problem.

[2016-10-15 19:03] ltauxe commented on #78
well, after much deliberation, demag_gui now fails like this:

hermione-pro-2:U1456A_MagIC ltauxe$ pmag_gui.py
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
-I- Fetching output frame
-I- getting data model, please be patient
-I- running python script:
 demag_gui.py -WD /Users/ltauxe/Dropbox/4Giancarlo/U1456/U1456A_Data/U1456A_MagIC
Traceback (most recent call last):

[2016-10-15 20:25] Caoimhinmg commented on #78
Same problem, different place. Is there a reason why one of the indices for
a measurement isn't a number? I should have fixed it in last commit instead
of casting measurement number as an integer it now just checks if it's
equal to the string value '1'.

On Sat, Oct 15, 2016 at 2:03 PM, Lisa Tauxe <notifications@github.com>
wrote:

[2016-10-18 22:10] ihilburn opened #80 "Error running PmagPy after running Install Script on Mac OS X"
Summary:
PmagPy throws an error when I try to run the post-install test-script on Mac OS X.

How to Recreate:
1) On Mac OS X: v10.9.5 (Maverick), download .Zip file of the PmagPy GitHub repository:
https://github.com/PmagPy/PmagPy/

2) Extract all files and then open and run the file: ../PmagPy-master/install_Mac_OSX.app

3) Choose to have the files installed onto the Mac HD.  (The option to insta

[2016-10-18 22:20] Swanson-Hysell commented on #80
The way to install PmagPy so that it is in the Python path is to use Pip install. Instructions for how to do so are found in the PmagPy cookbook here: https://earthref.org/PmagPy/cookbook/#QQ2-1-6

To install using pip:

The other way to go is to add a statement such as:
`export PYTHONPATH=$PYTHONPATH:~/PmagPy`
in your .profile or .bash_profile file that points to where PmagPy is on your local mac

[2016-10-18 22:40] ihilburn commented on #80
Tried the PiP install. Got a different error - but still a broken module.

If I open Anaconda Navigator and run Jupyter, I can open any ipynb file belonging to PmagPy without issue.

So, something's off with my Python PATH variable, likely...

Isaac

Sent from my fruit-based mobile device.
And, of course, Hello to Jason Isaacs.

On Oct 18, 2016, at 3:20 PM, Nick Swanson-Hysell <notifications@githu

[2016-10-18 22:52] Swanson-Hysell commented on #80
What error are you now getting?

When you open a .ipynb file can you execute the code that looks like this?:

[code]

[2016-10-18 22:54] Swanson-Hysell commented on #80
Note that if you are running a PmagPy program from the command line and aren't using the pip install, you need to set the path to the main folder and to the programs:

[code]

[2016-10-18 23:32] ihilburn commented on #80
Here's the import header for _PmagPy_3.0.ipynb when open in Jupyter running
under Anaconda python  v2.7:

#import pmagpy.ipmag as ipmag
import pmagpy.pmagplotlib as pmagplotlib
import pmagpy.pmag as pmag
from IPython.display import Image
import matplotlib as plt
import sys
%matplotlib inline

If I am using the PIP install, how should I open pmagpy from the command
line?

Do I use PIP?

I may be ma

[2016-10-19 17:09] Swanson-Hysell commented on #80
Doing the pip install should allow you to run the command line programs without doing anything special. For example, after doing the pip install you should be able to launch an IPython session at the command line (or a Jupyter notebook) and then import pmagpy modules using the syntax such as that you have above.

[code]

[2016-10-19 17:11] Swanson-Hysell opened #81 "Remove install scripts from repo"
Given that all of our documentation has people pip install, it is confusing to have the install scripts in the repo. As evidenced in this issue: #80

install_Mac_OSX
install_Windows.vbs

Should we go ahead and delete these from the repo @ltauxe @moonshoes87?

[2016-10-19 17:15] Swanson-Hysell commented on #78
It seems like this issue has been resolved. If not, go ahead and reopen.

[2016-10-19 17:15] #78 closed

[2016-10-19 17:34] moonshoes87 commented on #81
I agree -- they are just confusing.  I've taken them out.

[2016-10-19 17:34] #81 closed

[2016-10-19 19:28] Swanson-Hysell commented on #80
Since these install scripts are deprecated and now removed, I am closing this issue.

[2016-10-19 19:28] #80 closed

[2016-10-19 22:09] Swanson-Hysell opened #82 "make upper hemisphere fits open on specimen plot"
Make upper hemisphere fits open on specimen plot and colored by fit as they are on the higher level means plot.

[2016-10-19 22:17] Swanson-Hysell commented on #74
@Caoimhinmg can you look at having multiple people be able to have PYPI credentials and be in touch with @moonshoes87 about it. And let's make a .md file that details this process that we put within the repo.

[2016-10-19 23:29] #82 closed

[2016-10-20 16:10] ltauxe opened #83 "demag_gui.py"
@Caoimhinmg @Swanson-Hysell

this is now working pretty much - but there is problem calculating best fit lines that doesn't occur in zeq_magic.py.    I get this error:
![screen shot 2016-10-20 at 8 59 04 am](https://cloud.githubusercontent.com/assets/174861/19568024/c958038a-96a4-11e6-8189-1909e3ec90fc.png)
with this  pmag_specimens.txt file and
[pmag_specimens.txt](https://github.com/PmagPy/PmagP

[2016-10-20 17:41] Swanson-Hysell commented on #83
The problem here is stemming from a misordering of the measurement steps that is occuring. There are some samples where the steps are being ordered fine and the fits are therefore able to be made such as 355-U1456A-1H-1_W_62. It looks like such samples have measurement_number numbers that proceed in order in the magic_measurements file.

<img width="258" alt="screen shot 2016-10-20 at 10 22 51 am"

[2016-10-20 17:42] Caoimhinmg commented on #83
Thanks for the error report @ltauxe  this is a good one.

So I've been having trouble with data sorting during read in and I'm not totally sure the best method to resolve this so far. So here's what I have tried:

* Leaving measurement data alone and assuming it is presorted before read in, which in this case is more or less correct and would fix the above problem, but for some data sets if this i

[2016-10-20 17:46] Swanson-Hysell commented on #83
It looks like @Caoimhinmg and I commented at exactly the same time. So @Caoimhinmg, does the code currently sort by measurement number? I agree that approach typically makes sense, but clearly it breaks down for the indices in these data.

[2016-10-20 18:00] Caoimhinmg commented on #83
Well, @Swanson-Hysell, until the push I just made just after our comments it was sorting by specimen then by measurement number if it was there. If not it would try to find an NRM for each specimen and make the first NRM first so the normalization wouldn't be wrong. All done using the internal python sorting algorithm which I think is time sort.

So after  the last commit it now just assumes every

[2016-10-20 18:06] Swanson-Hysell commented on #83
That sounds good. I think taking the approach of bring in the data in the order it is within the magic_measurements file is an approach that will be less prone to messing things up. I just opened that data using the version you updated and it looks to be going a good job with it so I will close this issue for now.

[2016-10-20 18:06] #83 closed

[2016-10-20 19:41] moonshoes87 opened #84 "Compatibility with Anaconda"
As we start contemplating the switch to Python 3, maybe we can revisit the two issues with Anaconda.  It is unclear when Canopy will support Python 3, so I'd like to have other options.

To recap:

Problem 1:
I’m also getting some segmentation faults with the GUIs.  This seems to happen consistently with Pmag GUI step 3 (adding er_\* information).

/anaconda/bin/pythonw: line 3:  2366 Segmentation

[2016-10-20 20:57] moonshoes87 opened #85 "Developer's guide"
Items to include:

-How the pip release process and version incrementing works (described here: https://github.com/PmagPy/PmagPy/issues/74)
-Info on making the standalones ([README](https://github.com/PmagPy/PmagPy/blob/master/setup_scripts/README.md))
-Link to style guidelines.  [PEP 8](https://www.python.org/dev/peps/pep-0008/)  has standard Python style guidelines.  We might also consider using

[2016-10-20 21:38] Caoimhinmg commented on #84
Well I don't have a mac so I can't check Anaconda on OSX I'll leave that to @Swanson-Hysell , but I dual boot an Ubuntu based Linux os (Linux Mint 17.3) and Windows 7. I tried step 3 of Pmag GUI on 2 different data sets in both OSs and it worked fine. Just for completeness my Windows 7 distro is running Anaconda based python2 and my Linux is running python2 and python3 side along using apt the Ubu

[2016-10-20 22:14] Caoimhinmg opened #86 "Windows Standalone Support"
So @Swanson-Hysell pointed out to me that the Windows Standalone is lagging far behind the rest of the project on releases. I've understood that it's been hard for @moonshoes87 to maintain it because as everyone knows py2exe can be a pain. I thought I'd look into compiling on my computer a standalone version of Pmag GUI using Pyinstaller which doesn't allow cross compiling, but as I have a windows

[2016-10-21 03:13] Swanson-Hysell commented on #84
With regards to motivating this Python 3 switch this page is useful: https://python3statement.github.io The entire scientific python stack will drop support for Python 2.7 before long. Pandas just joined this statement too even though they aren't listed yet.

Anaconda really does seem to be becoming the package manager of choice among python using academics.

@yuempark ran into the framework build

[2016-10-21 21:25] sslotznick opened #87 "Improving Support for Plane Fits in PmagPy Demag GUI"
It would be great if we were able to view/export the location of a plane's best fit (in geographic and tilt-corrected coordinates) that are used in the calculation of a given Fischer mean.  Note that this will change with each Fischer fit.  This could be done through extra columns in the magic measurements file or somehow with the Fischer means. Additionally if we could plot a plane’s “best fit” i

[2016-10-23 22:52] Swanson-Hysell commented on #87
I need to dig into the code a bit more to figure out where this can be exposed. @ltauxe, where is the combining lines and planes functionality living within pmag.py? What Sarah is looking for is being able to visualize and export the results of the iterative search (i.e. the set of N directions in your parlance from the Essentials text reproduced below). Is this something you have implemented in t

[2016-10-24 18:33] Caoimhinmg commented on #84
K, @Swanson-Hysell just rolled back and forcibly reconverted my fork of PmagPy same as I did the first time I translated the whole repo to Python3. I have tested all the GUI's on my Linux distribution and it seems to be working right now. Though the Pmag_GUI step three seems to having some trouble getting the magic data model and has made running all the tests nearly impossible (ran them all weeke

[2016-10-25 16:17] moonshoes87 commented on #77
I believe I've fixed this issue pretty much as Kevin suggested.  `run_all_tests.py` changes directory into sys.prefix, otherwise you can run `python -m unittest discover` from PmagPy.  I did reorganize the data_files a little bit.

[2016-10-25 16:17] #77 closed

[2016-10-25 16:39] moonshoes87 opened #88 "Demag GUI tests crash on my machine"
Here is an example of the output I'm getting before the tests crash:

[code]

Breaks similarly with: `test_check_sample_orientation_bad_good (pmagpy_tests.test_demag_gui.TestDemagGUI)`

and:  `test_read_write_pmag_tables (pmagpy_tests.test_demag_gui.TestDemagGUI)`

The rest of the tests run correctly.  They all have this line in common:  `self.ie_add_n_fits_to_all(n_fits)`, but I haven't done any

[2016-10-25 18:25] ltauxe commented on #87
There is a funcioon dolnp (and also dolnp3.0) in pmag.py
lisa

[2016-10-25 18:53] ltauxe commented on #83
ahh.  that is because the data are a combination of imports from three different instruments and two different labs.  I didn’t re-number the measurement numbers (which I will do of course before uploading.)  I just wanted to look at the data quickly.
lisa

[2016-10-25 18:54] njarboe commented on #86
Hello all,

I have not been very active with PmagPy recently but would like to get more
involved as we roll out the 3.0 data model and get ready for the MagIC
workshop. Is there any reason to test on Windows 7 or should we just work
with the latest Windows 10? Please excuse me if you have already decided to
work with only the latest Windows 10.

Thaks,
Nick J.

On Thu, Oct 20, 2016 at 3:14 PM, Kev

[2016-10-25 19:01] Caoimhinmg commented on #88
@moonshoes87 This is one of those completely mind boggling errors. It's some kind of low level error in a C++ library native to OSX and used by python on macs, which is why I've never noticed this. After digging on the internet I found one thread that mentioned an association with importing pylab so I removed the depreciated pylab imports from DemagIE which seems to be causing the error. I'm not s

[2016-10-25 19:21] moonshoes87 commented on #88
Yeah, I hate stuff like this :\  Unfortunately, I just pulled and the error does persist.

Is it possible that this error is affecting actual use of Demag GUI for Mac users, as well as testing?  Is there any kind of sequence I should try with Demag GUI to see if I can get it to crash under actual use conditions?

[2016-10-25 19:22] Caoimhinmg commented on #86
@njarboe I agree a Windows 10 binary would be the best release, especially if it ends up backwards compatible with the older Windows distros which it should be. However, I don't have Windows 10 to compile on. I've been avoiding the upgrade due to Windows habit to ignore your partition table and erase everything but itself. If someone else who has Windows 10 wants to take a hack at compiling it usi

[2016-10-25 19:33] Caoimhinmg commented on #88
Yeah, of course, the tests only simulate user input. I would suppose that if it's crashing on ie_add_n_fits_to_all which is a helper method adding n fits using the DemagIE add all function. So I'd say open DemagGUI on a dataset without a pmag_specimens file (the test uses $PmagPyDir/pmagpy_tests/examples/demag_test_data), then open the DemagIE using command+e or the tools menu, put some info into

[2016-10-25 20:22] njarboe commented on #86
@Caoimhinmg What Windows are you running? I have access to Windows 10 and Windows 7 via Parallels virtual machines on my Mac laptop. These are very slow, however, and painful to use. Hopefully I can upgrade to a faster machine shortly. @moonshoes87 I know making the Windows standalones are a pain (What Windows do you use?), but it would be great if you could put them together soon for people who m

[2016-10-25 20:23] moonshoes87 commented on #86
I actually have a (very crappy) laptop with Windows 10.

I had previously spent a decent amount of time investigating Pyinstaller but ran into some fundamental compatibility problems between it and Canopy Python -- trying to handle the imports send it into an infinite recursion loop, because of how Canopy is set up.  Anaconda with Pyinstaller seems to be working better, though, which is great!  It

[2016-10-25 20:27] moonshoes87 commented on #86
@njarboe, I don't even have a reliable way of creating a Windows executable.  What kept happening was that I would compile a binary that worked great on my Windows machine, but failed on Rupert's test.  Because of that it was pretty much impossible for me to debug.

I think that @Caoimhinmg's solution with Pyinstaller might work, though.  I'd rather try to move forward with getting Anaconda + Pyin

[2016-10-25 20:32] njarboe commented on #86
@moonshoes87 I have a clean version of Windows 10. Nothing else installed yet. Are the cookbook/pmagpy instructions up to date for how we want people to set up? I can try a fresh install in the next couple of days and let you know the hang-ups. Looks like we will be changing the system soon. Are you guys Skyping? Would you like me to join you? I would like to get a handle on the install as hopeful

[2016-10-25 20:37] moonshoes87 commented on #86
That's great, first priority I would say is try out Kevin's new Pmag GUI distribution:  https://drive.google.com/file/d/0ByqHHbKOuiclOXc2QzVkYXJ2a2s/view?usp=sharing.

If that works, we'll have some good evidence for the viability of Anaconda + Pyinstaller.

Second priority, you can try installing in the standard way that we are now recommending in the Cookbook: install Canopy, pip install pmagpy,

[2016-10-25 20:45] Caoimhinmg commented on #86
@njarboe I dual boot a Windows 7 64 bit and a Ubuntu based Linux Mint 17.3 64 bit on both my laptops and the Windows 7 64 bit is where the above binary comes from which I have tested on my 2 computers. @moonshoes87 I'd suggest google hangout as we already have each others emails and it would be great to have @njarboe there too at least to hammer out this windows standalone issue.

[2016-10-25 21:02] njarboe commented on #86
I'll try running Kevin's distribution on my not clean Windows 7 and clean Windows 10. Hopefully before tomorrow's meeting. I have a gmail account njarboe@gmail.com. I have not used google hangout in years. If I am on my gmail will I just see an invite to the meeting?

[2016-10-25 21:14] Caoimhinmg commented on #86
As long as hangouts is enabled you should get a pop-up when one of us calls you if you have gmail open. Hangouts is enabled by default on normal gmail accounts I only mention the enabled thing because for some reason organization tied gmails can turn it off or mess with who can call who.

[2016-10-25 21:56] njarboe commented on #86
Great. Catch you tomorrow.

On Tue, Oct 25, 2016 at 2:14 PM, Kevin Gaastra <notifications@github.com>
wrote:

[2016-10-26 15:41] ltauxe commented on #86
my google email is ltauxe88@gmail.com.   i can try to ‘hangout’ sometime.  i’m there now…
lisa

[2016-10-26 16:42] moonshoes87 commented on #88
I tried out this sequence and it seems to work fine.  One slight glitch is that the ShowModal "ok" and "cancel" buttons (with issues with a particular specimen, after clicking 'add new fit to all specimens') both seem to do the same thing, or if they have a different effect it is unclear in the UI.

Seems like this might just be a weird testing environment issue.  Let me know if you want me to try

[2016-11-01 15:25] njarboe commented on #84
I have just got a new Mac laptop and will be installing Python and PmagPy shortly. I would like to follow the directions that the general public uses (cookbook) to install Python and PmagPy, but if we are going to move to Anaconda, this might be a good opportunity to test for that version of Python on a clean machine. I could write instructions on the Anaconda install procedure and change the cook

[2016-11-01 16:30] moonshoes87 commented on #84
I’ve been playing with Anaconda on my machine, and here’s the current status:

I’m trying to track down a seg fault in Pmag GUI with Anaconda.  Because of this breaking error, I don’t think we can recommend Anaconda officially yet.  But I’m working on it.  Anaconda is probably going to become more important when we switch to Python 3, which is still down the road.

If you do want to install Anacon

[2016-11-01 19:24] moonshoes87 commented on #84
Ok, seg fault is fixed.  A window was being destroyed while it was still used in a sizer -- somehow the events must shake out differently with Canopy, I don't know why.  Now all of the basic PmagPy code seems to work correctly with Anaconda, so that's a good step!

However, using pip install with Anaconda breaks the GUIs, with this error:

This program needs access to the screen.
Please run with a

[2016-11-03 22:35] Caoimhinmg commented on #88
Hey @moonshoes87 I've done more digging on this and it appears that the library in question libc++abi.dylib is possibly a part of XCode on mac so updating those libraries might help fix the problem. I can't be totally sure as I can't debug and I can't seem to find anyone with exactly this problem on the internet. If this doesn't work I'll try restructuring the tests to prevent the scenario that's

[2016-11-04 17:46] moonshoes87 commented on #88
I just updated everything I could, and I still have the same error as before:

libc++abi.dylib: terminating with uncaught exception of type std::out_of_range: basic_string::erase
Abort trap: 6

It’s your call as to how much time you want to put into this — I’m ok with just skipping these tests.  Let me know if you want me to try any other debugging steps...

[2016-11-08 23:14] moonshoes87 commented on #84
Ok, I found a hack-y solution.

Instead of using setuptools "entry_points" (the preferred approach for making executables) I can use setuptools "scripts", which then allows me to write a custom setup script to launch one of the GUIs using pythonw.  The downside with this approach is that I use this line to set the environment:

/usr/bin/env pythonw

which grabs whatever Python is in the $PATH.  Th

[2016-11-09 19:47] moonshoes87 opened #89 "Thellier GUI boxes show up black with Anaconda...."
I'm working on making Thellier GUI Anaconda compatible.

One display error I have is that blank wx.TextCtrls are showing up with a black background.

![screen shot 2016-11-09 at 11 46 07 am](https://cloud.githubusercontent.com/assets/1836578/20152203/22f1ba76-a672-11e6-93c1-8cd6e20c2ee6.png)

@Caoimhinmg, @Swanson-Hysell, do I remember correctly that this is a problem you already solved in Demag G

[2016-11-09 22:23] njarboe commented on #84
I would say for clarity you could call it pmag_gui_anaconda, etc. until
anaconda is the default for python installation and then revert to
pmag_gui. Maybe a bit long, but it would be clear what one was invoking.

On Tue, Nov 8, 2016 at 3:14 PM, moonshoes87 <notifications@github.com>
wrote:

[2016-11-10 01:59] moonshoes87 opened #90 "Demag GUI automatically setting data model number"
Currently, Demag GUI sets the data model number based on whether there is a magic_measurements.txt file or a measurements.txt file in the WD.  I'd like to change the logic so that it  can be overridden at the command line level by the -DM switch.  Sometimes it is reasonable for there to be a measurements.txt and a magic_measurements.txt file in the same directory -- for example, that is what will

[2016-11-10 18:17] #90 closed

[2016-11-10 18:23] Caoimhinmg commented on #90
Logic looked good so I just went ahead and did it just put `demag_gui.py -DM 3` or `demag_gui.py -DM 2` or 2.5 or whatever it doesn't care if you pass floats. Let me know if you've any problems with my implementation.

[2016-11-12 20:04] Caoimhinmg commented on #89
@moonshoes87 I just tried to patch this issue same way it's fixed in Demag GUI, let me know if it worked. It's a simple issue of making sure the TextCtrls are set to have wx.WHITE as a background color rather than whatever the style TE_READONLY sets which can vary, the Acceptance criteria boxes don't have this issue because they were set to wx.NULLCOLOR.

[2016-11-15 21:49] moonshoes87 commented on #89
This looks good, thanks!

[2016-11-16 17:50] Caoimhinmg commented on #27
As there have been no complaints about how this feature currently works I'm going to close this long standing issue. If there are any problems later just raise another issue and assign me.

[2016-11-16 17:50] #27 closed

[2016-11-16 18:26] Caoimhinmg commented on #87
Well as this thread has been dead for a bit I thought I'd give it a bit of a bump. I went ahead and dug into the functions mentioned by @ltauxe which I've used before in Demag_GUI and the iterative section you talk about @Swanson-Hysell is on line 3344 (if I'm reading this right) for the old data model dolnp (which is all that matters as dolnp3 just translates 3.0->2.5 then calls dolnp). @sslotzni

[2016-11-16 21:30] sslotznick commented on #87
On the location/site mean plot I would like to just see the best fit vector when the Fischer mean is plotted...when using planes in fischer mean calculations you are actually using this best fit so it should be shown on the stereonet plot along with the line fits.  Personally, I don't think the planes need to be plotted in this means stereonet if the best fit is, but others might disagree.  So on

[2016-11-16 22:24] Caoimhinmg commented on #87
Okay, I get it. It's going to take a bit more thought than I expected...I'm going to basically do a fisher mean of the data on display exporting at each stage the best fit to each of the planes and then plot that in place of the planes currently displayed on the high level mean plot. Think I'll stick the option in the drop down menu for the plane fit display as suggested and it will change the pla

[2016-11-17 17:36] Swanson-Hysell commented on #87
I think that it is helpful as a visualization to see the planes. That way one can visualize how well they are intersecting with one another. So it might make sense to have a planes+best_fit_on_plane display option.

@Caoimhinmg, note that the Fisher mean is already taking the best fits on the planes into account. The issue is that the best fits are not being displayed. (It also looks like they are

[2016-11-17 19:53] ltauxe commented on #87
I agree.  I had that in lnp_magic.py and i use it a lot.
lisa

[2016-11-17 20:44] Caoimhinmg commented on #87
@Swanson-Hysell I can add both a best fit and a planes+best fit option to the drop down menu no problem, and I get that the best fits are already being calculated and factored in it's just that with the code set up as is I have no way of getting to them as they're all local calculations and variables. I do still need to know which best fit to save when doing means with respect to say just the comp

[2016-11-21 21:54] moonshoes87 commented on #89
Not sure what happened, but now it appears that both Thellier GUI and Demag GUI are giving the black window error with Anaconda:

Demag GUI:
![screen shot 2016-11-21 at 1 48 46 pm](https://cloud.githubusercontent.com/assets/1836578/20502067/4de29722-aff1-11e6-94a2-f73ef29b96ed.png)

Thellier GUI:

![screen shot 2016-11-21 at 1 50 57 pm](https://cloud.githubusercontent.com/assets/1836578/20502124/9

[2016-11-21 22:18] moonshoes87 opened #93 "Downloading controlled vocabularies and the data model as efficiently as possible"
I'm planning to overwrite some of the changes here, @Caoimhinmg :

made vocabulary a class variable not an instance variable of Contribution so that it doesn't have to import vocab every time it is instanciated, reworked the data_model set process for demag GUI.

https://github.com/PmagPy/PmagPy/commit/ce3b1b674a253ad0a8f1cc60a82f9ed2be6610bb

The reason I set it up the way I did was so that you c

[2016-11-21 22:45] Caoimhinmg commented on #93
Then it might be better to do it like this:

[code]

This way you can pass in vocabulary, or just call it and not have it reimport. This way all Contribution instances will share vocabulary and not reimport unless told to and at any time you can overwrite the instance of vocabulary for a single Contribution by just passing in a vocabulary in __init__. I won't have to find every instantiation of Co

[2016-11-21 23:11] Caoimhinmg commented on #89
@moonshoes87 this is my fault I think, I forgot to set the background of the specimen and sample results boxes to white thinking that all the TextCtrls were created in one loop. Now that I've figured out the Thellier GUI UI a bit better I can set them to white. In Demag GUI at least if there is no statistic for a item I set it to wx.NullColor on purpose I can make it white instead, but I think a c

[2016-11-21 23:26] Caoimhinmg commented on #89
Here's an example of the grey color I am planning to replace wx.NullColor with, as this is the null color I get on my machine.
![thellierguigreyboxes](https://cloud.githubusercontent.com/assets/5723397/20504855/7f7e4a08-affe-11e6-9e88-2f8d96d00fdf.png)

[2016-11-28 23:30] moonshoes87 commented on #93
A solution along these lines can work, but I need to do some more tweaking to prevent redundant imports in other places (like the grid_frame module), and get the timing right for Pmag and MagIC GUIs so that they don’t take too long to start (the current solution does create the delay I’m trying to avoid).

I’ll work on it a bit more and let you know what I come to.

[2016-12-09 00:02] Caoimhinmg opened #94 "drop_down_menus2.py Error messages during MagicGUI runtime"
So there are some new error messages being thrown by drop_down_menus2.py, I'm not sure if my recent edits to magic_grid2.py which altered how it reads jsons and grid_frame2 and 3 which were more aesthetic are in anyway a cause of this, but the errors do not cause failure of the program in anyway that I can see so far, everything was working when I tested basic functionality. As such I am just rais

[2016-12-12 20:15] moonshoes87 commented on #93
So, unfortunately I made a bunch of changes that I wasn’t quite able to push before going to the hospital.  Mostly these changes were to fix how the controlled vocabularies are downloaded.  Kevin, I’m going overwrite your changes for how the vocabulary is imported a little bit.  Similar idea, but instead of Contribution.cv being the list of controlled vocabulary, it will be the Vocabulary class ob

[2016-12-12 21:17] moonshoes87 opened #95 "Thellier GUI tests can no longer be called in the usual way"
This way of calling the Thellier GUI tests:

    if (__name__ == '__main__'):
        # set constants
        WD = os.getcwd()
        ...
        backup(project_WD)
        unittest.TextTestRunner().run(unittest.TestLoader().loadTestsFromTestCase(T\
estThellierGUI))
        revert_from_backup(project_WD)

breaks two of the common ways that are used to invoke tests.

    python -m unittest discove

[2016-12-13 02:23] moonshoes87 commented on #93
It looks like all of this is working correctly now.

The Contribution object will now have as an attribute the higher level Vocabulary (it used to just have Vocabulary.vocabularies, which is a Series of the controlled vocabularies).  The higher level Vocabulary has sorted method codes and some other attributes.

I went through the code to make sure that in all instances a Vocabulary object is what

[2016-12-13 02:27] moonshoes87 commented on #94
Thanks, I will work on this error soon.

[2016-12-13 16:15] Caoimhinmg commented on #95
Oops sorry @moonshoes87 was trying to make tests run independent of data set so I could test on a bunch more data without having to worry about overwriting any previous analysis work. I'll take the if __name__=='__main__' out so it just runs tests and checks sys.argv every time and see if that fixes the issue.

[2016-12-13 17:10] Caoimhinmg commented on #93
@moonshoes87 looks good to me. I've tested importing without parameters and checking that the same exact object in memory is the vocabulary unless otherwise specified by a init parameter and it seems to be working. It's only importing once when the GUIs run which was the main runtime advantage of this method so looks good to me. Also sorry about any problems introduced into the controlled vocabula

[2016-12-13 17:10] #93 closed

[2016-12-13 17:12] Caoimhinmg commented on #86
Now that the windows binary is about as up to date as the others I figured I'd close this issue to keep the issue panel clean with current projects and bugs only.

[2016-12-13 17:12] #86 closed

[2016-12-13 20:52] moonshoes87 commented on #95
Great, thanks for fixing this.  One last quick issue -- I had to fix Thellier GUI to correctly handle the situation where no thellier_gui_preferences.py file exists in the working directory.  The tests now run as expected with no thellier_gui_preferences (which doesn't exist in Github in data_files/testing/my_project).  The only question is, should thellier_gui_preferences.py be in version control

[2016-12-13 20:54] moonshoes87 commented on #89
Looks good

[2016-12-13 20:54] #89 closed

[2016-12-13 21:14] moonshoes87 commented on #95
I spoke too soon about tests working (I forgot to comment out @unittest.skip, oops).  When I actually ran the tests, I got 4 out of 7 errors.

I had to fix some incorrect menu names, and now the tests run.  I.e., changed this:

    analysis_menu = self.get_menu_from_frame(self.frame,"Analysis")

to this:

    analysis_menu = self.get_menu_from_frame(self.frame,"&Analysis")

If the thellier_gui_pre

[2016-12-13 23:25] moonshoes87 commented on #94
@Caoimhinmg, it's this commit that caused the error:  https://github.com/PmagPy/PmagPy/commit/94d11b7352b2ece52b3988a5986140ae1982659f

And there is broken functionality, which is that the drop-down menus don't work in the 2.5 version of MagIC GUI.

In my code, I don't expect the 2.5 vocabulary stuff to be read in as pandas objects, so some things with the drop-down-menus.  Can you explain exactly

[2016-12-14 15:48] Caoimhinmg commented on #94
@moonshoes87, thought it might be that. So the issue I was running into was during runtime of the frozen binary of MagIC GUI 2.5 was that pd.io.read_json, which was the old method of opening, would run into an internal runtime error in read_nonumpy something along the lines of:
[code]
I had no idea what was up with this. So I checked out other people who had got this error and found that they most

[2016-12-14 16:05] Caoimhinmg commented on #95
I have no idea how the preferences requirement came about, but I made a preferences file a while back simply to test that functionality and I completely forgot about it so I never caught the error. Thanks for that fix, I think that we should probably not require a preference file. As to the menus not getting found it looks like on my system (older wx) the menus get returned with just `name` wherea

[2016-12-14 19:53] moonshoes87 commented on #95
Great.  Tests all work for me.  Thanks!

[2016-12-14 19:53] #95 closed

[2016-12-14 19:59] moonshoes87 commented on #94
The resizing caused one awkward display problem for grids with only one or two lines (they initialized way too big), which I believe I fixed without messing up the overall resizing.  Let me know if it still looks right on Linux.  Otherwise it looks good.

I'll work out the controlled vocabularies 2 issue without pd.io.read_json.

[2016-12-14 20:21] moonshoes87 commented on #94
Pushing the fix.  The structure of vocabulary for 2.5 is just a dict of lists and dicts.  It uses dicts for really long vocabularies like lithology (over 100 items) that is then divided alphabetically to be a two-tiered drop-down-menu.  Let me know if this works correctly in Linux.

[2016-12-14 20:33] Caoimhinmg commented on #94
Looks great over here, checked drop down boxes and resizing. Think we're in the clear on this. I'm closing the issue.

Also cool thing for the issues I found out a little while ago, you can reference them in commits by mentioning the number of the issue like #XXX in the message and they get put in the issue time line between comments. You can also close issues with commits by putting the words res

[2016-12-14 20:33] #94 closed

[2016-12-16 22:04] moonshoes87 opened #96 "Demag GUI display of interpretation type options"
This view in Demag GUI doesn't allow a user to actually read what option they are choosing:

![screen shot 2016-12-16 at 1 02 45 pm](https://cloud.githubusercontent.com/assets/1836578/21278479/40825434-c390-11e6-8fb9-fcede226d500.png)

In the past I've tried to solve a similar problem by having a mouseover event cause the full text to pop up:  https://wiki.wxpython.org/MouseOvers.  The problem is,

[2016-12-17 18:57] Caoimhinmg commented on #96
I haven't looked at the code yet, but mouse over events sometimes cause rapid event fire which locks up the GUI event handler. In short term I'll just put abbreviations and edit the in context documentation (https://www.wxpython.org/docs/api/wx.ContextHelp-class.html) so that the curious can just check what they mean. I'm also pushing changes to the cookbook soon that expose to the user that there

[2016-12-20 17:30] #96 closed

[2017-01-07 00:16] moonshoes87 opened #97 "Demag GUI empty string Fit name bug"
I've found a new bug with Demag GUI.

Initializing Demag GUI in directory data_files/2_5/McMurdo fails at these lines:

    def update_toggleable_means_menu(self):
    ....
        lines = ["m_%s_toggle_mean = submenu_toggle_mean_display.AppendCheckItem(-1, '&%s', '%s'); sel\
        f.Bind(wx.EVT_MENU, self.on_menu_toggle_mean, m_%s_toggle_mean)"%(f.replace(' ',''),f.replace(' ',''),\
        f.r

[2017-01-07 17:36] #97 closed

[2017-01-07 23:41] Caoimhinmg commented on #74
Guess it's about time that I updated this with some new information. In response to @Swanson-Hysell, multiple people can have PyPi credentials by being marked as either an Owner or a Maintainer by the original Owner, @moonshoes87. Anyone marked as such can then follow @moonshoes87's instructions above (eventually to make it into the developers guide in #85 ) to the letter and push a new release to

[2017-01-10 22:57] moonshoes87 commented on #84
I've added pmag_gui_anaconda (etc.) to pmagpy-cli and to the Cookbook documentation.  It is still the hack-y solution as above, but it seems to work.  I don't know of any other Anaconda-specific issues, so I think we currently fully supporting both Canopy and Anaconda : )

[2017-01-10 22:57] #84 closed

[2017-01-12 01:52] moonshoes87 opened #98 "Renamed functions in PmagPy_notebook"
Some function names have been changed and this bit of data_files/Jupyter_notebook/PmagPy_notebook.ipynb no longer works:

![screen shot 2017-01-11 at 5 48 24 pm](https://cloud.githubusercontent.com/assets/1836578/21873854/3ad23b30-d826-11e6-92c0-a25f09820ed0.png)

I changed watson_common_mean to common_mean_watson and  bootstrap_common_mean to common_mean_bootstrap, but ipmag.flip also breaks.  Ne

[2017-01-12 02:00] #85 closed

[2017-01-12 02:01] moonshoes87 commented on #85
Devguide.md renamed to CONTRIBUTING.md and updated with a lot more information and links.

[2017-01-12 04:12] Swanson-Hysell commented on #98
I think the best thing to do here would be to replace these notebooks with the ones that we developed for the PmagPy paper: https://github.com/PmagPy/2016_Tauxe-et-al_PmagPy_Notebooks

[2017-01-12 04:15] Swanson-Hysell commented on #98
This code would work with the current version of ipmag

[code]

The code now accepts either a list of declinations and a list of inclinations, or a di_block (nested list of dec,inc)

[code]

[2017-01-12 19:13] moonshoes87 commented on #98
Great, I forgot about these notebooks.  They are more complete and in better shape than the one in the main repo.  I'm inclined to delete the old Jupyter_notebook folder and just point people to the 2016_Tauxe_et_al_PmagPy_Notebooks repo.  @ltauxe, any issue with taking the old example PmagPy notebook out of the repo?  We can keep the 2016_Tauxe_et_al_PmagPy_Notebooks separate, or we could replica

[2017-01-12 19:14] Swanson-Hysell commented on #98
I think that pointing people towards the 2016_Tauxe_et_al_PmagPy_Notebooks repo makes sense so that we don't need to do maintenance in two places.

[2017-01-12 19:20] moonshoes87 commented on #98
That does make sense.  My only concern is that we have example notebooks in several different places.  Currently, several are in PmagPy/notebooks, one is in data_files/, and two are in 2016_Tauxe_et_al_PmagPy_Notebooks.  I will at least consolidate the ones that are in the PmagPy repo, but I am still concerned that this may be a little confusing.

[2017-01-12 22:16] ltauxe opened #99 "bug in pmag_gui"
I'm using pmag_gui and tried converting an SIO format file to magic.  this works fine.  but then on the 'next step', i get this bug:
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/dialogs/pmag_basic_dialogs.py", line 240, in on_okButton
    if ipmag.combine_magic(files, 'magic_measurements.txt'):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/pmagpy/ipmag.py", line 1612, in combine_magic
    p

[2017-01-12 23:51] ltauxe commented on #98
there is also the notebook in the data_files directory, which runs all the examples as in the cookbook.
lisa

[2017-01-13 19:12] Caoimhinmg commented on #99
Hey @ltauxe, I went ahead and patched this because I think that's actually a line of code in magic_write which is causing the problem and I managed to quickly recreate the problem on my computer. I added a check that fixed it over here. Let me know if you still have the bug by reopening the github issue.

[2017-01-13 19:12] #99 closed

[2017-01-13 21:49] moonshoes87 commented on #98
Lisa, for the moment I am consolidating by moving _PmagPy.ipynb from data_files into the notebooks directory.  I'm making sure that all of the scripts still point to the correct data file.  Let me know if you have a better idea!

[2017-01-18 20:33] njarboe opened #100 "thellier_gui.py crashes on 3.0 files with Key errors"
While testing out the standalones on files upgraded by the beta site, demag_gui works fine on Ben-Yosif_2016

[Ben-Yosef_2016_3.0.txt](https://github.com/PmagPy/PmagPy/files/714952/Ben-Yosef_2016_3.0.txt)

 but thellier_gui crashes with KeyError:'lat' on both windows and mac. Here is the mac error console (also some problem with getting the data model and method codes):
-I- Fetching output frame
-

[2017-01-18 21:52] moonshoes87 commented on #100
Ok, the OSX Pmag GUI standalone doesn't yet expect 3.0.  There's a good oversight to catch now!  I will add that to the OSX standalone repo.

[2017-01-18 22:10] moonshoes87 commented on #100
I also found an issue because Thellier GUI is expecting 'int_abs' for specimens.  I changed that so that it doesn't choke, and will push that fix.  I will work on actually releasing a 3.0. Pmag GUI standalone.  In the meantime, @njarboe, you can use pmag_gui.py -DM 3 on the command line (you should pull and use the most recent version, not the last pip release)...

[2017-01-18 23:20] njarboe commented on #100
Great. I can get that fix and try it out a bit more before you make the final version of the standalones and pip this evening. Then I can send out a notice to the people coming to PmagPy Day to install the latest version.

[2017-01-19 00:22] moonshoes87 commented on #100
Ok, I have now pushed a Thellier GUI fix to the main repo, and added a Pmag GUI 3 standalone to the OSX repo.  For the moment it is a separate program from Pmag GUI 2.  I didn't make a new standalone release yet, but you can download the updated stuff from the repo.

[2017-01-19 00:26] njarboe commented on #100
Great, I'll give it a go.

[2017-01-19 00:32] njarboe commented on #100
Hey Lori. I just pulled and the Killian file gives me the KeyError when trying to access the thellier_gui

Should this be working now? Maybe something wrong on my end. Here is the console output:
kamacite:programs njarboe$ ./pmag_gui.py -DM 3
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
-I- Fetching output frame
-I- Read in any available data from working directory

[2017-01-19 01:08] moonshoes87 commented on #100
Ok, I’ll try this out.

[2017-01-19 01:22] moonshoes87 commented on #100
You are using the pip version of pmagpy-cli.  You may want to use the command line instead (you will probably have to pip uninstall pmagpy-cli first).  I think this may have been changed.

With the Killian data I end up with no data to look at in Thellier GUI, but it doesn't break in the way that your traceback shows.

[2017-01-19 01:31] Swanson-Hysell commented on #100
This seems clear from Lori's last comment, but just to confirm, there should be no data to look at in Thellier GUI as that data file has remanence, but not paleointensity data.

[2017-01-19 02:22] njarboe commented on #100
Ok. I was a bit worried about the pip version being run. I thought running ../pmag_gui.py in the program directory would bypass the possibility, but I guess that is not the case. I'll uninstall pip and find a file with paleointensity to test.

[2017-01-19 19:28] moonshoes87 commented on #100
If you run:

pip list

That should show you whether or not you have pmagpy or pmagpy-cli are still on the list of installed packages.

[2017-01-19 20:29] njarboe commented on #100
Looks good now. Thanks for the help and info.

[2017-01-19 20:47] njarboe commented on #100
Not sure if I should open a new issue for this error. I am testing out the Lawrence2009 data set downloaded from 2.5, upgraded to 3.0, and unpacked into the various tables (
[Lawrence2009.3.0.txt](https://github.com/PmagPy/PmagPy/files/717729/Lawrence2009.3.0.txt) ).

demag_gui loads but thellier_gui gives the following error:

njarboe$ pmag_gui.py -DM 3
-I- Importing Pmag GUI dependencies
-I- Sta

[2017-01-19 20:57] moonshoes87 commented on #100
I'm taking a look now, but this might be a problem for @ltauxe....

[2017-01-19 21:17] moonshoes87 commented on #100
I am making progress on this error.  The wrong intensity key is being used.  I believe I should be able to have a fix for this shortly.

[2017-01-19 21:37] moonshoes87 commented on #100
I fixed this and pushed changes (to both master and release).  Let me know if you find anything else!

[2017-01-19 21:37] #100 closed

[2017-01-22 16:59] njarboe opened #103 "Add column in magic_gui.py only presents options from the er table"
One of Shuhui colleagues from China is trying to use the magic_gui to get some data formatted for the 2.5 database. In say the specimens table only the er_specimens columns are available. Not sure if this is worth looking at if we are moving to 3.0 shortly.

[2017-01-24 02:30] Swanson-Hysell opened #104 "Error thrown when choosing color for fit in demag_gui"
When choosing one of the provided colors for a fit in the dropdown in the Interpretation Editor, this error is given and the color doesn't change:

<img width="433" alt="screen shot 2017-01-23 at 6 26 32 pm" src="https://cloud.githubusercontent.com/assets/4332322/22231698/e23c83ae-e199-11e6-81c2-656b47d65ac8.png">

[2017-01-24 14:58] Caoimhinmg commented on #104
Hey @Swanson-Hysell, so the error message itself is intentional. It is supposed to fire when you try to create a new colour by entering a name:hexcolor_or_rgbtuple into the box then hitting enter, but you put in a invalid hex or name or whatever. I can't figure out why it would pop up when you just select a colour; the event shouldn't even get prompted, and for the life of me I can't recreate this

[2017-01-24 18:34] Swanson-Hysell commented on #104
This turns out to be a non-issue. Thanks Kevin.

[2017-01-24 18:34] #104 closed

[2017-01-26 01:42] Swanson-Hysell opened #105 "No locations.txt file is created during Pmag_Gui 3.0 conversion"
This locations.txt file can be created from info in other tables and is necessary.

[2017-01-26 18:08] greadown opened #106 "PMD_MagIC.py Only measurments and samples tables"
Only got measurement data and two tables demag GUI delayed launch

[2017-01-26 19:41] ltauxe opened #107 "import orientation file no longer an option in pmag_gui"
we need to be able to import orientation.txt files with orientation_magic.py
also this should be upgraded to 3.0

[2017-01-26 21:10] jmiristock opened #108 "naming conventions causing problem with CIT conversion"
I have CIT format files with names such as:
 * 1&2PAP1.2
* JUN--086-A.1

and these do not load using the Pmag GUI on Windows 10
but no error message is received in binary

[2017-01-26 21:12] moonshoes87 opened #109 "upload_magic.py on the command line doesn't do 3.0"
upload_magic.py needs to take -DM switch

[2017-01-26 21:14] moonshoes87 opened #110 "generic magic requires non-existant command line argument"

[2017-01-26 21:27] moonshoes87 commented on #110
solved this in d6ff261

[2017-01-26 21:27] #110 closed

[2017-01-26 22:29] njarboe opened #111 "the change directory button in pmag_gui should be changed"
The "change dir" button can be confusing due to the fact that "dir" means directions to many a paleomagnetist. I can make this change next week.

[2017-01-26 23:30] moonshoes87 opened #112 "disappearing GUI problem"
A rogue sys.exit in pmag.py in parsing naming conventions caused this problem.  Naming conventions also weren't being parsed correctly for CIT_magic, but you couldn't see the error because of the sys.exit.  Fixed in commit: 33bfdbed3b29672a6e22cf6fdee160bb455a6292

[2017-01-26 23:53] #112 closed

[2017-01-26 23:56] #111 closed

[2017-01-26 23:57] moonshoes87 commented on #107
This option is now available as step 2 in Pmag GUI.  I believe it is upgraded to work in 3.0, but that should be tested.  @ltauxe, let me know if this seems to work!

[2017-01-27 00:03] moonshoes87 commented on #105
pushed this fix to release branch, will soon make new pip & OS X releases

[2017-01-27 00:03] #105 closed

[2017-01-27 00:14] moonshoes87 opened #113 "Pmag GUI upload step clarification"
The upload step in Pmag GUI should link to MagIC GUI, or should use some of the functionality in it.  The MagIC GUI validations are much easier to look at and fix.

[2017-01-27 00:17] moonshoes87 opened #114 "no visible output for Windows users"
GUIs don't write output clearly so they are a black box.

[2017-01-27 00:18] moonshoes87 commented on #114
fixed in commit 62140e9

[2017-01-27 00:18] #114 closed

[2017-01-27 00:20] moonshoes87 opened #115 "Pmag GUI step 1 failing with anaconda"
The import_magnetometer_window dialog shows up gray and blank with anaconda.  No error message.

[2017-01-27 02:31] moonshoes87 opened #117 "Pmag GUI step 3 method codes"
Add method code demystifier to Pmag GUI step 3

[2017-01-27 02:31] moonshoes87 opened #118 "Pmag GUI should have functionality for adding column names on the fly"
Put add columns into Pmag GUI step 3 (as in MagIC GUI)

[2017-01-27 02:38] moonshoes87 opened #119 "Some column names need to be removed from 3.0 upload files"
Some columns are added into tables where they don't belong.  For example, the specimens table might have 'site' and 'location'.  Those should be removed prior to upload.  This will be a function for new_builder (a method of Contribution).

[2017-01-27 17:59] ltauxe opened #120 "thellier_gui was working correctly yesterday but now is not"
it appears to be ignoring anisotropy alt again.  what happened?

[2017-01-27 18:34] lfairchild opened #121 "move gauss coefficients from pmag.py"
There needs to be separate storage for the gauss coefficients of the IGRF model (they can just be moved to a separate file). I think that storing these coefficients in pmag.py makes the pmag file really difficult to open and slow to work with in a text editor.

[2017-01-27 19:27] hematite-berkeley opened #122 "Improve docstring for cart2dir"
This docstring could have more details.

[2017-01-27 21:56] moonshoes87 opened #126 "Pmag GUI with Anaconda step 1 sometimes doesn't work"
Using Anaconda Python, you sometimes get a blank frame in Pmag_GUI step 1.  The trouble occurs if you invoke Pmag GUI like this:

$ pmag_gui.py -WD .

but not if you invoke it this way:

$ pmag_gui.py -WD . -DM 3

So, if you specify the data model number on the command line, step 1 pops up just fine.  Still not sure why...

[2017-01-27 21:57] moonshoes87 commented on #115
Recreated this issue with more detail #126

[2017-01-27 21:57] #115 closed

[2017-01-27 23:31] Swanson-Hysell commented on #122
Details have been added.

[2017-01-27 23:31] #122 closed

[2017-01-28 00:19] lvdegroot opened #129 "Integrate Utrecht_MagIC with pmagGUI"
Add Utrecht import script to pmagpy GUIs

[2017-01-28 05:59] moonshoes87 opened #131 "pmag.dokent args were changed and some programs will break"
The pmag.dokent function was changed to take only a single parameter which will break eqarea_magic, eqarea_magic3.0, eqarea_ell, and plotdi_e (which all use do_kent with providing 2 parameters).

[2017-01-28 06:01] moonshoes87 commented on #131
I would suggest in a situation like this using grep to find all places were the changed function was called.  This will be easy to fix but did temporarily break stuff.

[2017-01-28 06:04] moonshoes87 opened #132 "remove sys.exit() from pmag.py functions"
There are a few left in pmag.py, and these can silently defeat the GUIs which causes them to disappear without warning or error messages.

[2017-01-28 17:26] Swanson-Hysell commented on #131
My bad on the change and not propagating it through to everywhere it is called. Nice suggesting on grep. I have now gone through and replaced everywhere it is called within the programs.

[2017-01-28 23:24] ltauxe opened #133 "upload_magic"
creates a line at the bottom of the file with >>>>>
this is throwing an error on upload.

[2017-01-28 23:30] ltauxe opened #134 "pmag_gui under data model 3.0"
The "Add MagIC metadata" is not creating a specimen file with all the specimens measured.  So when I try to create an upload file, some specimens (without interpretations) are missing.  All specimens measured should be in the specimens table.

[2017-01-29 10:41] ltauxe commented on #131
Oops - I just remembered what the NN was for - it is used for normalizing the MEANS instead of regular data - Gored gored recipes have to roll that one back to the way it was - Nick can you do that?
Lisa

Sent from my iPad

[2017-01-29 19:24] Swanson-Hysell commented on #131
Ok. That makes sense. I will revert those changes.

[2017-01-30 18:21] #132 closed

[2017-01-30 21:23] #129 closed

[2017-01-30 22:32] Swanson-Hysell commented on #131
Code has been reverted to previous syntax.

[2017-01-30 22:32] #131 closed

[2017-01-31 18:25] Caoimhinmg commented on #108
Hi @jmiristock I have looked into this issue by taking some of my own CIT formatted data and putting & and -- in the names to create a test dataset which should break the code if these symbols are the problem. So the conundrum is that the code runs fine. With no error I have no way of tracking down what is truly going on with the datasets you had fail. Would it be possible for me to obtain some of

[2017-01-31 18:36] ltauxe commented on #121
I put the coefficients in coefficients.py which is only imported when pmag.doigrf() is called.

[2017-01-31 18:36] #121 closed

[2017-01-31 18:56] #106 closed

[2017-01-31 19:01] Caoimhinmg commented on #106
Hey @greadown. So I added the export of a Sites level table and a Specimens level table using what information I could and added a box to Pmag GUI which has fields for Site lat and lon so you don't have to input it manually if you want VGPs or something. I do not have any PMD files to test this with though so if you run into any further issues feel free to report them as they happen and I'll do my

[2017-01-31 20:51] Caoimhinmg opened #135 "Rewrite Conversion Scripts in 3.0 Data Model"
To improve the work flow of Pmag GUI and overall make contributing measurement level data to the MagIC database, I am planning on rewriting as many of the magnetometer conversion scripts and insuring their integration with Pmag GUI is fully functioning. Though help would not be amiss if anyone wants to assist with their own data formats.

[2017-01-31 20:51] Swanson-Hysell commented on #121
Hooray! There is now syntax highlights of pmag.py in my favorite text editor.

[2017-01-31 21:23] Swanson-Hysell opened #136 "cit_magic3.py doesn't recognized files within the current directory with -ID flag"
This code throws an error, not recognizing the specimen files
[code]
The error looks like this:
[code]

This workaround works at the moment:
[code]

[2017-01-31 21:49] moonshoes87 commented on #135
In our MagIC meeting today @ltauxe pointed out that one way of doing this is to simply move the conversion step from Pmag GUI into the import scripts themselves.  This would mean that the import scripts still read in to 2.5, but makes the conversion to 3.0 entirely behind the scenes and writes out to 3.0 without the user ever knowing that 2.5 was involved.  This would be a faster way to implement

[2017-01-31 21:53] Swanson-Hysell commented on #136
Another issue: In data model 3, there is no site column in specimens, there is simply a sample column.

[2017-01-31 22:09] Swanson-Hysell commented on #135
I think that it makes sense to take a two-prong strategy here. First, to get the conversion step into the import scripts as a stop gap so there isn't that added layer. Second, to get at least some scripts writing directly to data model 3.0. One advantage to rewriting import scripts is that some of them are not writing all of the necessary tables. And as you said in the MagIC meeting, minimizing ho

[2017-01-31 22:12] Swanson-Hysell commented on #135
A related question, is it going to cause a problem in the GUIs that the new data model doesn't have the sample and site column in measurements.txt?

[2017-01-31 22:12] Caoimhinmg commented on #135
I agree that the conversion behind the scenes is the easier method (heck that's how CIT_magic3 works), and in the short term that is probably the best solution. However, the differences between the data models makes this strange as evidenced by the missing locations.txt issue we had at the Workshop, which I think will simply escalate as many of the scripts in their current form only output a er_sa

[2017-01-31 22:17] Caoimhinmg commented on #135
@Swanson-Hysell because the GUIs are converting from 3.0 to 2.5 I have Demag GUI at least search for the site, sample and etc. in the other tables and propagate through to measurements. Which I think I remembered to remove before writing back to measurements.txt.........well correct me if I forgot. I'm going to focus on fixing cit_magic3 first.

[2017-01-31 22:29] Swanson-Hysell commented on #135
@njarboe, Are there example data files from the Santa Cruz lab in PmagPy>data_files>Measurement_Import? Can you point those out to @Caoimhinmg and @moonshoes87?

It makes sense to prioritize the conversion for that lab as Nick will be going there at the end of next week to work with Rob Coe and data conversion. @njarboe, am I right in thinking you will want to use the GUI to convert the measuremen

[2017-01-31 22:43] ltauxe commented on #135
Well, here are the two ways:
1) make all the import scripts put out 3.0 instead of 2.5
2) make them put out 2.5 which then gets converted to 3.0 in the combining all the *.magic => magic_measurements step.

the latter is simpler and already happens in the 1b step anyway.  The problem is that some of the import scripts produce stuff in other tables besides the .magic one (sample locations, orientat

[2017-01-31 22:52] jmiristock commented on #108
Hi

here is a zip file with some of the files that had the problem.

Thanks for looking into this,

Joann

On 1/31/2017 10:25 AM, Kevin Gaastra wrote:

[2017-01-31 23:06] jmiristock commented on #108
Hi Kevin

here is a zip file with another set of demagnetization data in CIT
format that also did not load correctly.

Thanks for your help,

Joann

On 1/31/2017 10:25 AM, Kevin Gaastra wrote:

[2017-01-31 23:07] moonshoes87 opened #137 "Git protocols"
I have a few suggestions for good git protocols, especially as our project may be growing to include more contributors.

1. Commits should have descriptive names that briefly explain what was done

2. Commit names like “Fixes #100” should have additional context so that they make sense when you aren’t looking at the git log through Github.

3. Commits should deal with one concern at a time — spann

[2017-01-31 23:08] jmiristock commented on #108
[1&2P.zip](https://github.com/PmagPy/PmagPy/files/743423/1.2P.zip)
[JUN--08.zip](https://github.com/PmagPy/PmagPy/files/743424/JUN--08.zip)

[2017-01-31 23:09] moonshoes87 commented on #107
I am working on some more updates to how orientation magic works in Pmag GUI, but in the meantime I am closing this issue.

[2017-01-31 23:09] #107 closed

[2017-01-31 23:10] #98 closed

[2017-01-31 23:13] Caoimhinmg commented on #108
Thanks for your quick response @jmiristock. I'll have a fix out in a few days, probably, and it should then be included in the next release of the GUI's and easily usable then.

Cheers,
Kevin

[2017-01-31 23:24] Caoimhinmg commented on #137
I think it's a great idea @moonshoes87. Even though I know I just did a "Fixes #100" commit. :) More smaller commits with related changes would make versioning and reverting when we encounter bugs. I'll do my best to improve my commits.

It might help also if we were to use branches more for features that are so big that they cannot be fully implemented in one commit without that commit being huge

[2017-01-31 23:36] moonshoes87 commented on #137
Yes, I've done my share of cryptic commits too :)

I agree, using branches for large features is a good addition to the list.

Anything else we should add?

[2017-01-31 23:38] jmiristock commented on #108
Thanks very much.  I did not mean to close this thread.  I am still learning how this all works.

[2017-01-31 23:39] moonshoes87 commented on #119
I've now implemented functionality that does this: 641847bcd

The way this currently works is that all headers that aren't in the 3.0 data model are removed from all MagIC tables prior to upload.  The problem with this approach is that if someone has a slightly incorrect MagIC column, this will be deleted as well. With Rupert's new interface, it's pretty easy to fix a misspelled column name, but a

[2017-02-01 05:09] njarboe commented on #135
@Swanson-Hysell The workflow for recent Santa Cruz paleomag is to create a large file with the magnetometer control software with data for each stratigraphic section (the "location" in MagIC parlance) in one large .scz file. We should be able to extract all the information to fill out the location, site, sample, specimen, and measurement data from this xml file. The interpretations for each sample

[2017-02-01 17:17] Caoimhinmg commented on #135
So @njarboe there already is something similar to magic_write implemented in the 3.0 data model in PmagPy. However, as during the 3.0 conversion things have gone more OOP it is in the MagicDataFrame object that @moonshoes87 created which is generally accessed wrapped in a Contribution object (also @moonshoes87's work) which has a number of methods for propagating data between tables and such. So y

[2017-02-01 17:30] Swanson-Hysell commented on #137
These protocols sound good to me.

[2017-02-01 17:35] ltauxe commented on #137
I agree.  I will try to be better.  first off, i will try to wean myself off emails and onto the git issues :)

[2017-02-01 17:42] Swanson-Hysell commented on #136
A couple more issues with cit_magic3.py that I will keep in this issue and reopen it:

- [ ] ```meas_n_orient``` is currently set to output 1. For us this number is almost always 8. I think it makes sense to put in a flag related to this (that can be a dialog within the gui) and to set the default to 8 if nothing is entered (rather than a default of 1).
- [ ] ```treat_dc_field_theta``` currently h

[2017-02-01 17:45] Caoimhinmg commented on #137
I don't have anything to add to the protocols they look like good to me. Also thought I'd share one of my favourite features of the Github website, which, being built for developers has a bunch of hotkeys for functionality which really make it easy to get into the habit of living on the github issues and code pages here's their spreadsheet of these: https://help.github.com/articles/using-keyboard-

[2017-02-01 17:55] Caoimhinmg commented on #136
Well as things stand now meas_n_orient is hardcoded to '1' I can hardcode it '8' or put in an option for meas_n_orient in my new script which is almost done, just testing it. Just fixed the dc_field_theta in the new script, will commit when I finish testing.

[2017-02-01 17:58] Swanson-Hysell commented on #136
putting in an option for meas_n_orient makes sense with a default to 8.

[2017-02-01 18:08] ltauxe commented on #136
this should be made part of the CIT files because some labs only do 4 positions and some do 8.  guess that boat sailed?

[2017-02-01 18:18] Swanson-Hysell commented on #136
We write a separate log file that records every single measurement so that information is certainly recorded. One approach could be to also import these separate log files. However, since the code doesn't currently talk to those log files (one is produced for every measurement step) it would be a simpler solution to have the user enter the meas_n_orient number.

[2017-02-01 19:26] Caoimhinmg commented on #136
Okay @Swanson-Hysell I have made a flag for meas_n_orient and defaulted it to 8 as requested. This ability is currently only available in the new pure 3.0 script I just pushed which is in programs/3_conversion_scripts/ in the main PmagPy repo. This is where I plan to put these native 3.0 scripts while I'm working on producing them so they don't clash with the old scripts and because I'm running ou

[2017-02-01 19:26] #136 closed

[2017-02-01 20:22] Caoimhinmg commented on #108
So the trouble is defiantly in your treatment steps on some of your samples. So broadly speaking there are 4 problems:

1. Some of the LN2 steps are named lN2 or ln2 and it is inconsistent. (I fixed this in the conversion script, by making everything uppercase)
2. There are some AF steps that in the step type field (the first 2 to 3 characters on a line in a sample file) that are too long getting

[2017-02-01 20:43] jmiristock commented on #108
Hi Kevin

that is really helpful to know.  Probably there are other people's files
that may have the same issues.  I will have to find out what those codes
for the treatment steps are, so I will ask around to some of the other
people who were using the Caltech magnetometers at these times.  Anyway
at least we know now what we ought to focus on.

(Steve: can you forward this to anybody else who mig

[2017-02-01 23:10] Swanson-Hysell opened #138 "Develop numpy style docstrings for pmag.py, pmagplotlib.py and ipmag.py functions"
The goal is to develop numpy style docstrings for functions throughout the project. Following the numpy style will allow for automatic generation of html documentation for the functions (using sphinx) which can be integrated into the cookbook. The numpy documentation style is laid out here: https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt. The automatically generated online do

[2017-02-02 19:57] moonshoes87 commented on #135
To answer a few questions that have popped up:

The workshop issue where the locations table wasn't created is now addressed in the convert 2.5 --> 3 step.  (Fixed here: https://github.com/PmagPy/PmagPy/commit/56bcd5ffc4e1ebb11493896ea691ba7e641e6aeb)

In response to @Swanson-Hysell's other question: A related question, is it going to cause a problem in the GUIs that the new data model doesn't hav

[2017-02-02 20:07] moonshoes87 commented on #135
@njarboe, you can see examples of how I tried to re-write some programs exclusively in 3.0.  Any of the plotting programs with 3 in the title use Contributions/dataframes throughout.  None of those build a Contribution from scratch (they read in 3.0 files), but you can definitely get an idea of what working in 3.0 could look like.

Also, the notebooks in PmagPy/data_files/notebooks/Intro to MagIC

[2017-02-02 20:12] moonshoes87 commented on #109
Fixed in 94671a693

[2017-02-02 20:12] #109 closed

[2017-02-02 20:48] moonshoes87 commented on #133
fixed in 94671a693f7f8879d73b43229447df113b45f0e3

[2017-02-02 20:48] #133 closed

[2017-02-02 21:10] moonshoes87 commented on #134
@ltauxe, I think I need more detail to recreate this problem.  As far as I can tell, when I import a measurement file and then translate to 2.5, all specimens that were in the measurement file are put into the specimen table.  Can you give me more specifics about how you ran into this problem?

[2017-02-03 01:10] ltauxe opened #139 "demag_gui breaks with older data sets"
Using demag_gui on an elderly data set (from a few years ago) from Costa Rica (Cromwell et al., 2013 - doi: 10.1002/ggge.20199), it breaks with this error message:
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/demag_gui.py", line 2312, in read_criteria_file
    try: acceptance_criteria=pmag.read_criteria_from_file(os.path.join(self.WD, criteria_file_name), acceptance_criteria)
  File "

[2017-02-08 20:44] #137 closed

[2017-02-09 19:28] Caoimhinmg commented on #139
Hey @ltauxe, so it looks like it's something in pmag.py read_criteria_from_file. There is a section where the criteria anisotropy_ftest_flag is changed to specimen_aniso_ftest_flag with the comment "convert legacy criterion to 2.5". As far as I can tell this flag isn't in the criteria data so it's causing a break, I just added a check for the original flag in the criteria data hoping that would ca

[2017-02-10 17:51] Caoimhinmg opened #140 "New Builder KeyError when Importing Method Codes"
Not sure if you noticed this yet @moonshoes87, but it looks like there is a KeyError  in pmagpy.controlled_vocabularies3.get_meth_codes on the string "definition". Not sure what's up here and don't want to further break anything you're doing, but I can't instantiate a Contribution object which is making the writing to file and running the GUIs a bit challenging. Full error message bellow.

[code]

[2017-02-10 18:06] Caoimhinmg opened #141 "Contribution.__init__ argument to suppress import of vocabularies and methods"
@moonshoes87 would the creation of a boolean argument to the __init__ of the Contribution object which suppresses the import of vocabularies and methods be possible? I don't know if there is hard coded portions of the Contribution object which would shatter into a million pieces if this happened or what, but this change would allow for giant increases in runtime for the GUIs that don't need these

[2017-02-10 18:37] moonshoes87 commented on #140
Checking this out.

[2017-02-10 18:45] moonshoes87 commented on #140
I'm switching back to using the cached version of method_codes.  There is something different with the formatting (maybe?) of the method codes json on earthref, so I'll have to figure this out in more detail a bit later.

[2017-02-10 19:07] moonshoes87 commented on #141
This is actually a result of your changes a while back.  I used to not download either vocabularies or data model by default.

See #93

However, we should only be importing from earthref once per session, because DataModel and Vocabulary classes both set that data as a class constant.  Are you saying this is happening more often, or just that the start up time is annoying?

That said, I see a few

[2017-02-10 19:23] Caoimhinmg commented on #141
Yeah fair enough, I did make it start up and import by default so as to reduce duplicate imports which was slowing the GUIs down even more. I'm just asking if we can eliminate this overhead entirely except where necessary.

I like the idea number 1 better simply because there are times where I'm sure I don't need the model, vocabularies, or method codes and we can remove any import slow down. For

[2017-02-10 21:13] moonshoes87 commented on #141
Controlled vocabularies and data model are used in Pmag GUI and MagIC GUI, so I'm guessing you mean that you don't need them in Demag/Thellier GUIs.

In that case, if you are running Demag/Thellier GUI by themselves, or running conversion scripts on the command line, those would be the times when you shouldn't need vocabularies/data model, correct?

We would then also need to add a no data-model f

[2017-02-10 21:15] moonshoes87 opened #142 "Converting 2.5 criteria files to 3.0 criteria files"
It came up at the workshop that it would be handy if the PmagPy 2.5 --> 3.0 conversion could handle criteria files, so I took a stab at it.

I didn’t have all the data I need in acceptance_criteria to write a valid 3.0 criteria file.

    {'samples.int_n_specimens': {'category': None,
      'decimal_points': -999,
      'threshold_type': 'inherited',
      'value': '3'},
     ….

So I modified pma

[2017-02-10 21:26] Caoimhinmg commented on #141
It solves the problem simply and more quickly. Though I do like the idea of just having the data model on the internet and grabbing it caching is perhaps the best solution. This is more than enough to solve the GUI slowdown when testing Thellier and Demag GUI (which was most annoying part as tests were taking 15-20 min to run). Though this is still a significant slowdown on the conversion scripts,

[2017-02-10 21:26] #141 closed

[2017-02-10 21:30] Caoimhinmg commented on #140
Well now that we've agreed on caching for the data model and vocabularies at the moment, and everything is working this is no longer an issue.

[2017-02-10 21:30] #140 closed

[2017-02-11 21:53] Caoimhinmg commented on #135
So I've finished converting the iodp_srm_magic script and the iodp_dscr_magic script to native 3.0, fixed them up, and expanded them a bit, but the testing was a little funny. Foremost, the old scripts wouldn't run on the test data. When I got the new scripts running I noticed in the original mag file that there was only one (occasionally two) measurements per specimen, but okay fair enough at lea

[2017-02-13 20:23] moonshoes87 commented on #135
I don’t have anything.  @ltauxe might?

[2017-02-13 20:31] Swanson-Hysell commented on #135
Katerina Petronotis <petronotis@iodp.tamu.edu> (Expedition Project Manager/Staff Scientist for IODP) would be a person to be in touch with. She was planning to get IODP software developers work on this conversion so getting files and info from her would be helpful.

[2017-02-13 22:32] moonshoes87 commented on #142
I've implemented what I have in Pmag GUI step 1a.  I now warn users which files are and aren't translated, and also translate criteria files.  This translation still has some problems as explained above, but it will work for many pmag_criteria files.

[2017-02-13 22:40] moonshoes87 commented on #126
seems related to this: http://stackoverflow.com/questions/41498264/inconsistent-behavior-with-anaconda-python-of-wxpython-dialogs

[2017-02-14 00:11] ltauxe commented on #135
I do, but I am in Cambodia right now and can’t dig this stuff out this week.  will do as soon as i can.
lisa

[2017-02-14 00:15] jbowles100 opened #143 "problem saving file names with colons"
I don't see this reported elsewhere, but my students working on PCs are unable to use the -sav switches in many PmagPy programs because the output files all have colons in them which is not permitted by the Windows operating system.  For example, dayplot_magic.py or eqarea_magic.py.

[2017-02-14 17:11] Swanson-Hysell commented on #143
Interesting. It seems like this should be a pretty straight-forward fix. @ltauxe, any issue with getting rid of the colons in these output file names from your perspective?

[2017-02-14 18:49] moonshoes87 commented on #143
It should be an easy fix but we need to make sure we don’t break things for Rupert’s use on the server.  I believe we just need to use the isServer flag.  This is something we discussed a bit before the workshop, but couldn't get to.  I can take this one.

[2017-02-14 19:43] jbowles100 commented on #143
Thank you!!

Julie

[2017-02-15 00:02] moonshoes87 commented on #143
I just released pmagpy/pmagpy-cli 3.8.7.  The colons will now be replaced with underscores, so the auto-generated filenames should no longer be illegal in Windows.  I am not closing this issue yet because I want to go through the programs and output a more sensible, readable name for each file, but for now this should prevent things from breaking.

Thanks for reporting this issue, @jbowles100!

[2017-02-15 07:57] ltauxe commented on #143
no problem at all.  Rupert wanted them, but they are not essential.
lisa

[2017-02-15 15:42] jbowles100 commented on #143
Thank you for fixing this so quickly!

Julie

_______________________________

Julie A Bowles
Assistant Professor
Department of Geosciences
University of Wisconsin - Milwaukee
PO Box 413, Lapham Hall 366
Milwaukee, WI  53201
bowlesj@uwm.edu<mailto:bowlesj@uwm.edu>
414-229-6110
http://people.uwm.edu/bowlesj/
_______________________________

On Feb 14, 2017, at 6:02 PM, moonshoes87 <notifications@gi

[2017-02-15 18:46] moonshoes87 commented on #143
No problem!

@ltauxe, I am preserving the old style of naming for on the server, so this shouldn’t affect Rupert at all.

[2017-02-15 19:35] Caoimhinmg commented on #135
Okay a few more questions for the group at large. I noticed a while back there are 4 JR6 conversion scripts so I was saving it for a full day. However, Pmag GUI only uses 3 of them jr6_txt_magic.py, jr6_jr6_magic.py, and iodp_jr6_magic.py. My plan is thus to convert these 3 only and leave jr6_magic.py as is. Is there some reason to do this another way? If not what is the purpose of this jr6_magic.

[2017-02-15 21:02] moonshoes87 commented on #135
I think jr6_magic may have worked on an older non-current format, but I think it’s safe to skip it.

[2017-02-15 22:37] #103 closed

[2017-02-15 23:06] Caoimhinmg opened #144 "Pmag funtion to obtain rotation angles from rotation vectors"
So the idea is that there are dogeo and dotilt functions that take the original vector and rotation angles, turn those angles into a rotation matrix and then return the rotated vector. I'm wondering if there is a function in pmag that takes in the original vector and rotated vector and solves backwards for the rotation angles used to make the matrix? If not does someone know the appropriate equati

[2017-02-16 10:23] ltauxe commented on #144
I did write one at some point but that is unfortunately a very unstable process.  I could hunt down what i did if you like.
lisa

[2017-02-16 10:31] ltauxe commented on #135
i have tons of iodp_jr6 data - they are painful because of the limited specimen names so i used the IODP cryptic ID which then must be matched with a more sensible name containing exp-hole-core-sec-cm info.  I can send it along if you like.
lisa

[2017-02-16 17:13] Caoimhinmg commented on #144
It does seem rather tricky. I'd appreciate it greatly if you would point me in the right direction here because with that I theoretically could extract orientation data from most magnetometer files as they nearly all either store the orientation angles or the three dec inc pairs.

[2017-02-16 17:20] Caoimhinmg commented on #135
Yeah the specimen name in the one iodp_jr6 file in the repo is just a string of numbers that as far as I can tell doesn't explain anything. I'm thinking of just making flags for the exp-hole-core-sec-cm names and then doing what I did in IODP srm and constructing specimen, sample, site, and location names from them then just drop this string of numbers in alternate names. Any thoughts on that? Of

[2017-02-16 21:33] Caoimhinmg commented on #144
Found it @ltauxe, Looks like it's called get_azpl and get_tilt. Completely missed it when I looked through the function names in pmag.py, but it is used in generic_magic.py (last file I worked on of course). Interestingly it is an iterative solution, guesses a azimuth and plunge then checks if it's right and goes through all possibilities. Out of curiosity has no one done an analytical solution to

[2017-02-16 21:33] #144 closed

[2017-02-16 23:08] Caoimhinmg commented on #135
Well thought I was done, but guess I missed one. Showed up the moment I tried working on a new local pmag_basic_dialogs file. Anyway there's something funny about this last script, huji_magic.py, because there is also a huji_magic_new.py. One for the huji magic new format and one for the old format, but I translated huji_magic_new and it ran on every single test file and output data that ran in De

[2017-02-16 23:22] moonshoes87 commented on #135
You might want to check in with @ronshaar  about this format and making sure it works correctly.  He might be able to provide you with better test data files if that would help.

I agree that if the updated HUJI_magic script deals with old and new files correctly that we should go ahead and simplify by having only one script and eliminating the option for old/new in Pmag GUI.  To be conservative,

[2017-02-17 07:16] sms0832 opened #145 "IODP changed LIMS format"
IODP has changed their format for srm data. (argh)

Example of new data format:

http://iodp.tamu.edu/LORE/?reportName=srmsection&appl=LORE&action=show&filters=[%22x_expedition%20in%20%28%27318%27%29%22,%22x_site%20in%20%28%27U1361%27%29%22]&postretrieve={%22scale_id%22:%2211331%22}

Pre Expedition 362 format:
http://iodp.tamu.edu/LORE/?reportName=srmsectionold&appl=LORE&action=show&filters=[%22x_

[2017-02-17 07:43] ltauxe commented on #144
It is in pmag already!  pmag.get_tilt
maybe you can improve it!
lisa

[2017-02-17 07:46] ltauxe commented on #145
of COURSE they did!  seems to happen every year or two. very annoying.
lisa

[2017-02-19 21:41] jbowles100 opened #146 "problem reading in orientation data from SUFAR4"
There seems to be an issue with how the orientation data are read in in the SUFAR4_asc_magic program in ipmag.py.  The program assumes (I believe) that the azi/dip are actually azimuth and hade field measurements in the SIO convention.  SUFAR4 allows for a more generic approach to orientation and uses four orientation parameters (P1, P2, P3, P4) to describe what azimuth and dip actually mean.  The

[2017-02-19 22:40] Swanson-Hysell commented on #146
I went ahead and implemented you edit to that function and committed it. I will close the issue for a moment, but let me know if it works after testing as I haven't tested it.

These Github guide articles could be helpful for how to put in a pull request:
https://guides.github.com/activities/hello-world/#pr
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-02-19 22:40] #146 closed

[2017-02-19 23:16] ltauxe commented on #146
right - that was for the IODP instrument and I just hard wired it.  it needs to be more flexible.  thanks nick and julie

[2017-02-21 17:48] Caoimhinmg commented on #145
Yeah I got some of the new data, I'm working on patching the new native 3.0 IODP_srm_magic script so it works on all the IODP SRM data. Will close issue when I'm done. Thanks for the tip off and links, @sms0832.

[2017-02-21 22:45] #145 closed

[2017-02-22 02:34] dmafackler opened #147 "Proposed. What file format would you like exported from LIMS?"
For SRM,, JR6a, KLY4s?

Proposing not a report, but a web service that emits either the exact plain/text you require, or application/json to parse. Whether I hear from you or not, going to give it a whirl for SRM at least based on the output  of iodp_srm_magic.py

- Much better plan than continued maintenance of scripts following ever changing reports.
- Should reduce the amount of file management

[2017-02-22 17:57] Caoimhinmg commented on #147
Hi @dmafackler, so the place to look is https://www2.earthref.org/MagIC/data-models/3.0 to see the data model with descriptions (the required tables for analysis are Locations, Sites, Samples, Specimens, Measurements). The tables themselves are just tab separated value files with short headers and you can see what they look like from the output of the iodp_srm_magic script.

The iodp_srm_magic scr

[2017-02-23 00:47] Caoimhinmg commented on #135
Hey @moonshoes87, so as the last commit message points out I made an altered pmag_basic_dialogs (pmag_basic_dialogs_native3) that uses the new conversion scripts and a has more detailed interface because there are more fields for input now. Also uses the new 3.0 combine_magic I just made to remove duplicate fields. I've tested every single data format on every dataset I have (except for the CIT fo

[2017-02-23 20:48] Caoimhinmg commented on #108
Hi @jmiristock,

So I gave this another try by changing the CIT magic script, I just finished translating and fixing all the conversion scripts anyway. So I managed to change some things that made the conversion run and at least for the JUN--08 dataset I got a reasonable result, the 1&2 data set is still completely wild but it produced an output at least. Some assumptions/changes I had to make to

[2017-02-23 21:34] moonshoes87 commented on #135
Great!  I think we can then just go to importing the 3.0 dialogs when -DM 3 and the 2.5 dialogs when -DM 2.5.  We can import both and then select the correct one to use for all dialogs when the data model is picked (which can either be immediate in the instantiation of the program or slightly later with the 'choose your data model' dialog).

We can still leave the 'convert to 3.0' step in case peo

[2017-02-23 22:02] Caoimhinmg commented on #135
Sounds perfect @moonshoes87, I like the idea of moving the upgrade function to a menu function or something so it's not in the workflow. My plan for the imports would be to import both pmag_basic_dialogs at the top of Pmag GUI under two names then just assign one to the name used in the rest of Pmag GUI during the point when Pmag GUI picks data model to keep imports at the top of the file.

In oth

[2017-02-27 17:13] jbowles100 commented on #146
Hi Nick,

It works if we download and do a developer install, but it doesn’t work on the PIP install.

Julie

[2017-02-27 23:51] moonshoes87 commented on #74
Partly in response to #146:

I can go ahead and do a new pip release.  Perhaps we could re-open the discussion of how to schedule our pip releases?  For instance, it isn’t necessarily unreasonable to do a pip release whenever we add functionality or fix a bug that someone outside the PmagPy organization has asked for/reported.  It takes about 15 minutes to make a new pip release, so it *can* be do

[2017-02-28 00:11] moonshoes87 commented on #135
Ok, I just pushed a commit that moves "the convert to 3.0" button da61e93 to the right side of the GUI.  I want it to be a little more prominent than hidden in the menu.  Let me know if anyone thinks it belongs somewhere else.

I think leaving the conversion scripts in their subdirectory is fine, but I will need to fix the pip install script to look for them if so.

@Caoimhinmg, do you want to swi

[2017-02-28 00:26] moonshoes87 commented on #135
I would like to re-do the Pmag GUI tutorial in the Cookbook to reflect the 3.0 workflow and have corresponding images.  The example data files (imported by generic_magic) should be fine as they are, but I want to make sure the 3.0 workflow is correct and somewhat stable first.

I added a milestone for this task, which I will do as soon as we've figured out the issues from my comment above!

[2017-02-28 01:14] Swanson-Hysell commented on #74
It would be nice not to have to have students working off of the developer install (I think Julie is using the code in the context of a class).

Doing a new release now seems good to me.

[2017-02-28 01:35] Swanson-Hysell commented on #146
Hi Julie,

There is currently discussion of doing a new PIP release: #74. The last release doesn't have this code edit in it.

[2017-02-28 18:13] ltauxe commented on #135
yes.  and i also have to add a bit about my new program plot_magmap.py.

I can check thellier_gui with some old and new data.  I sure hope it works.
lisa

[2017-02-28 18:58] jbowles100 commented on #146
Hi Nick,

Thanks for the update.  You guys should certainly schedule the PIP releases however makes sense to you all.  I had initially assumed that it was just automatically updated, but it makes sense that it requires an extra step.  I’m working off the developer install, and I have one master’s student who needed the bug fix immediately — I got the developer install working for him.  For the lar

[2017-02-28 19:22] Swanson-Hysell commented on #146
You using the code for a class seems like a good reason to do a PIP release now. You think you could go ahead and put together the release @moonshoes87?

[2017-02-28 19:28] ltauxe commented on #146
one tiny problem just popped up.  Rupert is about to change the aniso_mean stuff in 3.0 and I need to fix thellier_gui to match.  I suppose that’s ok but we really need to finalize thellier_gui 3.0
I suggest we go ahead with a pip release now and maybe do another one at the end of the week.
lisa

[2017-02-28 19:34] moonshoes87 commented on #146
Ok, I will make a pip release later today, then we can do another plus a release of standalones next week with Pmag GUI and Thellier GUI 3.0 adjustments.

[2017-02-28 20:59] Caoimhinmg commented on #135
@moonshoes87 I'd be happy to switch the Pmag GUI 3.0 interface to the 3.0 scripts. I won't be able to do it for a bit though as I'm busy this week. I'll push a commit to this issue when I get it done.

[2017-02-28 22:13] moonshoes87 commented on #135
Ok, great, I will test and release for pip shortly and we can wait a bit longer on the standalones.

[2017-03-01 03:33] moonshoes87 commented on #74
New release will be tomorrow -- I have a final bug to clean up before I want to release.

[2017-03-01 20:22] moonshoes87 commented on #74
I just published new releases for pmagpy and pmagpy-cli (version 3.8.8).  @jbowles100, the two bugs you reported should now be fixed in the up-to-date pip release!

[2017-03-01 20:29] Swanson-Hysell commented on #74
:+1:

[2017-03-01 22:01] moonshoes87 opened #148 "Demag GUI help"
The Demag GUI help message isn't super useful for someone trying to run Demag GUI on the command line.  Maybe we should point them to the Cookbook, or provide information about the command line options?

[2017-03-02 00:20] moonshoes87 commented on #143
The following commits make more readable plot names when not used on the server: 95bbf0995069b2c5ee15647550648ec966121ba4, dca344068dee9db4392f5eb45c0e21f23348cdcf,  167d8d7955eb6445b3f6762abe355ee82a472143.

[2017-03-02 00:20] #143 closed

[2017-03-02 19:37] moonshoes87 commented on #118
This has been implemented along with a bunch of other improvements.  Pmag GUI step 3 now uses a very similar grid frame to MagIC GUI, which is a bit nicer.

[2017-03-02 19:37] #118 closed

[2017-03-02 19:38] moonshoes87 commented on #117
Done -- along with other improvements to make Pmag GUI step 3 use the same grid frame as MagIC GUI.

[2017-03-02 19:38] #117 closed

[2017-03-04 21:21] #120 closed

[2017-03-04 21:23] ltauxe opened #149 "thellier_gui phantom message window"
after completing thellier auto interpreter,  the box that says "Running Thellier auto interpreter
It may take several minutes depending...."  stays open well after the auto interpreter has finished.  This is a new bug....

[2017-03-04 21:25] Caoimhinmg commented on #148
Fair enough I've focused so much on the in context help I kinda forgot this was a thing; I'll update the doc string tomorrow or Monday so it's more standardized, informative, and includes links to further sources.

[2017-03-04 22:00] ltauxe opened #150 "can't make upload file with 3_0 in pmag_gui"
I get this error:
-I- criteria written to  /Users/ltauxe/SpareRoom/papers/Judean_handles/Revision/3_0/upload.txt
-
-I- contribution file successfully read in
-I- Validating contribution
Traceback (most recent call last):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/pmag_gui.py", line 538, in on_btn_upload
    contribution=self.contribution)
  File "/Users/ltauxe/Programs/PmagPy/GIT/Pm

[2017-03-06 04:01] Swanson-Hysell commented on #148
Make sure to tag this commit for the docathon (https://bids.github.io/docathon/):

[2017-03-06 18:02] Caoimhinmg commented on #135
Hey @moonshoes87 I just pushed a commit that makes Pmag GUI use the correct dialogs depending on data model. Also changed the button size on the 3.0 GUI as the difference in the unpack contribution and convert 3.0 buttons looked a bit wonky on my distro. So I think we might finally have managed this task. (Also sorry I forgot to tag the commit to this issue)

Moving forward, I'm going to close thi

[2017-03-06 18:02] #135 closed

[2017-03-06 18:25] Caoimhinmg commented on #148
Hey @ltauxe and @ronshaar in my update of the Demag GUI documentation I want to include a script style docstring which describes how to run from command line and should go where the "Log Header" is currently. For now I'm just going to move the Log Header down and put in the docstring, but this Log Header is defiantly out of date, seems redundant considering we use github now, and uses up a decent

[2017-03-06 19:24] Caoimhinmg opened #151 "Details for new binary releases"
Hey @moonshoes87 so now we are post workshop and there was so much release branch stuff going on I'm curious how we're going to do this next binary release? I am assuming we are still going to use release in the same way we did initially? For now I'm going to create a release branch the same way we did, as a cc of master and start testing then push if everything goes all right and start compiling.

[2017-03-06 19:39] moonshoes87 opened #152 "Demag GUI main function"
This commit breaks running Demag GUI for the pip install: 8b9229c

When Demag GUI is running from pip, __name__ will not be "__main__".  Getting arguments from sys.argv needs to be in the "main" function.  You can see how it is done in Pmag GUI, which is compatible with both pip and developer installs.

In my commit 374b6b0 I was trying to leave the structure as you had it with your 'main' functio

[2017-03-06 19:40] moonshoes87 commented on #151
Yes, that sounds good.  I will move forward with the OSX binaries.

[2017-03-06 19:41] moonshoes87 commented on #150
This is fixed in 94ed654

@ltauxe, let me know if you have further problems here.

[2017-03-06 19:41] #150 closed

[2017-03-06 19:49] moonshoes87 commented on #152
This same issue will also break the pip installation in combine_magic:  8f808af

[2017-03-06 19:52] moonshoes87 commented on #151
We do need to fix #152 before releasing for pip.  I'm going to work on one of Lisa's bugs for the moment.

If you are planning to make the release branch, I won't make one.  Let me know if you are not making the branch.

[2017-03-06 20:35] Caoimhinmg commented on #151
Yeah I'll handle the release branch I'm working on some testing bugs I found for now, should be up by 5 at the absolute latest. I'll also fix #152 in a bit.

[2017-03-06 21:46] moonshoes87 commented on #149
I've been able to get Thellier GUI to auto interpreter to run through this problem, but I'm not sure that the problem is actually solved.

Some of the relevant code, in dialogs.thellier_interpreter.run_interpreter:
                pars=thellier_gui_lib.get_PI_parameters(self.Data,self.acceptance_criteria,self.preferences,s,tmin,tmax,self.GUI_log,THERMAL,MICROWAVE)
                ...

[2017-03-06 21:50] moonshoes87 commented on #151
Ok, no hurry.  I’ll work on other things, and plan to do the OSX releases tomorrow.

[2017-03-06 23:47] Caoimhinmg commented on #152
This is strange. So running directly from the command line if it is pip installed doesn't name the top level script __ main __? This defeats the whole purpose of the __ name __==" __ main __ " check.

Putting the sys.argv into the main function is a bit of a hack though because it can result in some serious side effects as it basically overwrites the input variables for the main function from a mu

[2017-03-06 23:54] moonshoes87 commented on #152
In response to this comment:  So there is the scenario where you call Demag GUI and because we have the same flags I overwrite the WD input variable with the -WD flag because it is in sys.argv so demag GUI opens in the original directory not the one Pmag GUI is in now.

This shouldn't be a problem because Pmag GUI passes in the working directory to Pmag GUI:

    def on_run_demag_gui(self, event):

[2017-03-06 23:55] moonshoes87 commented on #152
Entry_points are what we currently use in the setup for pip:

    entry_points={
            'console_scripts': programs_list,
            'gui_scripts': [
                    'magic_gui.py = programs.magic_gui:main',
                    'pmag_gui.py = programs.pmag_gui:main',
                    'demag_gui.py = programs.demag_gui:do_main',
                    'thellier_gui.py = programs.thellier_

[2017-03-06 23:56] moonshoes87 commented on #152
Sorry, the conversion programs mostly aren't in ipmag.py.

But they should still be run without needing to get anything from sys.argv, i.e.:

    program_ran, error_message = utrecht_magic.main(command_line=False, **options_dict)

[2017-03-07 00:17] Caoimhinmg commented on #152
In response to the first scenario, it still requires one of the 2 values to take precedence over the other so there is the situation where one of us changes the value of the WD flag and causes a name space collision which we can just avoid all together with the second scheme, and in general the running of a script should be independent of platform to prevent these side effects.

As to the second,

[2017-03-07 00:21] Caoimhinmg commented on #152
Yeah I saw the entry points in setup.py, and I didn't really get how the setup_tools team meant them to be a solution except to allow a encapsulation of the command line setup which is kinda my suggestion above.

[2017-03-07 00:36] moonshoes87 commented on #152
Ok, as I see it, there are two important things.

1.  Any time a conversion script or a GUI is called from within Pmag GUI, it should NOT use anything from sys.argv, but only values that have been passed into the function from the GUI.

2.  Scripts must be able to be called independently from the command line without relying on __name__ == "__main__", to be compatible with pip/setuptools installat

[2017-03-07 00:54] Caoimhinmg commented on #152
I agree completely to the above.

So the reason why I suggest doing this a different way is to maintain the original purpose of the __ name __ == " __ main __ " statement which is to separate the operation of a script from the input of a script, basically allowing a file to be a script and a module. This separation technique also prevents future name collisions if say one of us decides to change t

[2017-03-07 17:33] Caoimhinmg commented on #152
Okay think I got them all I'll merge into release and we can move on to creating the next set of binaries and a new pip install.

[2017-03-07 17:33] #152 closed

[2017-03-07 19:20] moonshoes87 commented on #152
Looks good in the conversion scripts.

@Caoimhinmg, maybe it is too late, but in the future if you use these functions from pmag.py:

    def get_named_arg_from_sys(name, default_val=None, reqd=False):

and

    def get_flag_arg_from_sys(name, true=True, false=False):

it can make the gathering up of arguments a lot less verbose.

i.e.

    samp_con = pmag.get_named_arg_from_sys(“-samp”, default_v

[2017-03-07 21:35] Caoimhinmg commented on #151
Guessing we're going for 2.0.3 release version? Going to upload the Windows 32 binaries now.

[2017-03-07 23:15] #149 closed

[2017-03-07 23:18] ltauxe opened #153 "Pmag GUI inventing columns during Add MagIC metadata for uploading step"
Pmag GUI makes many phantom columns when it opens the data files - result_type,  geologic_type and so on.  Also some of these columns have "Edit All" under the name.

[2017-03-07 23:19] #134 closed

[2017-03-07 23:37] ltauxe commented on #151
bearing in mind that there are still lots of bugs in pmag gui….
lisa

[2017-03-08 00:05] moonshoes87 commented on #153
The Edit ALL part is a bug which I will fix.

The other additions, though, are required column names that are put in automatically because they are required by the data model.  Do you think it is better to add columns automatically, or to simply alert the user that they are missing those required columns later in validations?  I thought the former would be less frustrating, which is why I made it

[2017-03-08 00:23] moonshoes87 commented on #151
There are some issues with the native 3.0 conversions and everything fitting together.  @Caoimhinmg , I’m going to keep working on this a bit on the release branch.  I'll probably ask for some help from you as well, but this may all have to wait for tomorrow.

[2017-03-08 07:06] moonshoes87 opened #154 "sio_magic native 3 conversion script"
@Caoimhinmg, some odd things are happening in the sio_magic conversion.  I've been working with the data_files/Measurement_Import/sio_magic/sio_af_example.dat

Thing one:

It looks like specimen, sample, site, and location tables are all getting populated with a bunch of empty records.  The programs seems to be adding a record to SpecRecs for each MagRec, most of which are empty.  So, right before

[2017-03-08 07:07] moonshoes87 commented on #154
The changes mentioned above have been pushed to the release branch.

[2017-03-08 07:12] moonshoes87 opened #155 "contribution must be created in Pmag GUI 3"
Previously Pmag GUI created a Contribution object either on __init__ or at the end of the convert to 3.0 step.  Now that the 3.0 conversion scripts are native, I need to make sure that the contribution is made once the 3.0 files are created -- after combine_magic has been run either just for measurements or for the 'other' file types.  Right now the contribution object isn't automatically updated/

[2017-03-08 07:13] moonshoes87 commented on #148
The new help looks good to me!

[2017-03-08 17:33] Caoimhinmg commented on #154
@moonshoes87 for item one I have a set of code in a number of the other conversion scripts I'm trying to propagate through all the scripts that it looks like I slightly messed up in sio_magic. Basically looks like this:

[code]

So in sio_magic it looks like I forgot to put that last bit the append to *Recs in the if statement but rather put it at the end so it appends every time even if it is not

[2017-03-08 17:42] Caoimhinmg commented on #151
Okay now we're making changes to the release branch, and I didn't get the message about the 3.0 problems until after I had made a Windows release. (sorry about that) I suppose we should up the next release version number to 2.0.4 because well there is already a Windows 2.0.3 from yesterday.

[2017-03-08 17:50] ltauxe commented on #153
well, they weren’t there originally but i inserted them in thellier_gui because it was an annoying extra step to put them in in pmag_gui.  i’m not sure I filled them in correctly in thellier_gui - they should all be ‘i’ for all of the calculations made in thellier_gui.  maybe you can check that part out.  but the bottom line is, pmag_gui should first check if they are there and then put them in.

[2017-03-08 18:12] Caoimhinmg commented on #153
Opps, when did quality change to result_quality for most of the tables?!? Demag GUI did not expect this. Will patch this name change in a couple minutes.

[2017-03-08 18:17] Caoimhinmg commented on #153
Never mind apparently someone already fixed this. Heck could have been me, I'm not sure I remember some of what I've patched at this point.

[2017-03-08 18:43] Caoimhinmg commented on #148
K, I'm going to close this for now then so it's not cluttering the issues page.

[2017-03-08 18:43] #148 closed

[2017-03-08 19:12] moonshoes87 commented on #151
I made an OSX release before I realized some bugs, too.  Let’s just keep in communication and we can try to get the next one out soon.

[2017-03-08 19:22] moonshoes87 commented on #154
Yeah, I can make a "add_data" method.  Sounds reasonable.  Maybe with an "append" or "overwrite" option.  Will push that soon.

[2017-03-08 20:03] Caoimhinmg commented on #151
Okay I know this is not amazingly important considering the small amount of our users based on Linux systems, but pyinstaller is completely shattered in Linux in both the latest release and the dev branch. It won't make a .spec file (thing used to create specifications to compile off of) or compile off of the .spec files I have saved. So there might be a bit of a wait on the new Linux binary I'm c

[2017-03-08 20:42] moonshoes87 commented on #154
Just made a Contribution method `add_magic_table_from data`.  It is implemented in sio_magic, which seems to be working well!

I still need to fix #155 and work on Lisa's issues before we do a new release.

[2017-03-08 21:30] Caoimhinmg commented on #154
Prefect I'll go through and implement this in all the new conversion scripts, possibly going through Demag GUI and trying to change the many instances of this same kind of underlying variable access to this much cleaner function. I might have to modify the new function to have a translate option from 2 -> 3. Let you know how it goes.

[2017-03-08 21:36] moonshoes87 commented on #154
Great.  Currently there is no "append" option, it just overwrites.  But I think that's fine for the moment.

[2017-03-09 01:20] moonshoes87 commented on #155
This is actually a thornier issue that I realized, and possibly the source of @ltauxe's problems with Thellier GUI.  In my code, I've tried to decrease the number of times we are reading in from csv files by passing the Contribution object around and updating it.  So right now, Pmag GUI writes to file often but reads from file rarely.

I've refactored a bit to achieve the following: ba297513890e4a

[2017-03-09 01:34] moonshoes87 commented on #155
The combine_magic is up:  637c76e

[2017-03-09 01:39] moonshoes87 commented on #153
@ltauxe, I am hopeful that I may have indirectly fixed your problem with the columns (I also fixed the validation issue you mentioned in email).  You can see more explanation about what I changed in #155. If you don't mind giving it another go (from the release branch), let me know if there are still sticking points.

@Caoimhinmg, I think we may be ready to re-do the releases.  I did some structur

[2017-03-09 21:00] moonshoes87 commented on #151
I'm going to go ahead with a release for OSX and pip today.  I don't know if everything is fixed, but based on what I've done over the last few days (see #155) I am very confident that this release will be less buggy than the one before it.

@Caoimhinmg, since your release process takes longer, it would be great if you could double check me and play around with Pmag GUI a little extra before you m

[2017-03-09 21:23] Caoimhinmg commented on #151
Will do, I'll run all tests and then do some manual testing on a number of my test data sets. Also I have fixed the Pyinstaller problem first error I got was just a bug the developers missed and caused about 4 days ago, the second error had something to do with my multi-arch build of skype??? I don't get it, but purging the program and installing the new beta release of skype for linux 64 only fix

[2017-03-09 22:26] moonshoes87 commented on #151
Great.  My releases are up.  @Caoimhinmg, when yours are done let me know and I'll merge the release branch back into master.  I would rather handle this merge because of some of the recent changes I've made!

[2017-03-10 19:37] njarboe commented on #151
Thanks all for the new stand-alones. Hopefully I can get Gary Scott at the
BGC using it for his data in the next few weeks.

On Thu, Mar 9, 2017 at 2:26 PM, moonshoes87 <notifications@github.com>
wrote:

[2017-03-10 22:07] ltauxe opened #157 "i'm in a world of hurt"
I was working on "master" but y'all have been working in "release".  so when i tried git checkout release i created a bunch of conflicts.
CONTRIBUTING.md: needs merge
command_line_setup.py: needs merge
data_files/di_rot/fishrot.out: needs merge
data_files/notebooks/_PmagPy.ipynb: needs merge
data_files/notebooks/_PmagPy_3.0.ipynb: needs merge
data_files/notebooks/data_model_conversion.ipynb: needs

[2017-03-10 23:30] moonshoes87 commented on #157
It is hard to tell. I will merge the release stuff into master tonight or tomorrow morning, so maybe it would be easiest if you can wait until then.

[2017-03-11 06:29] moonshoes87 commented on #157
Release is now merged into master

[2017-03-11 06:39] moonshoes87 commented on #151
Release branch merged into master.  It was a little messy to do the merge, but I think everything is there.  Had to rebase and force push again, hopefully this doesn't cause you any problems @Caoimhinmg.  I am hoping to close out this release branch without any more new commits, because the last merge was messy, but I'm leaving it until I can verify that a few more things work correctly.

[2017-03-11 07:46] moonshoes87 commented on #151
@Caoimhinmg, I made another fix on master so merged master back into release.  sigh.  sorry for all the git messiness.

[2017-03-12 05:02] moonshoes87 commented on #113
This is now implemented.

[2017-03-12 05:02] #113 closed

[2017-03-12 05:03] #155 closed

[2017-03-12 05:04] moonshoes87 commented on #153
@ltauxe, let me know if this is still a problem

[2017-03-12 05:04] #157 closed

[2017-03-12 16:53] Caoimhinmg commented on #151
@moonshoes87 It's fine, I'm travelling today and going to be busy for a few days so sorry about the delay on the releases on my end. I'll try to finish them as soon as possible. In the mean time there is no need to merge commits from master to release, unless everything is really broken and we're making a new release, as the idea of us coordinating version numbers and using a release branch is so

[2017-03-14 11:00] Jollyfant opened #158 "Issue in pmag.dia_vgp"
Hi devs, I was converting a direction at a given site to a VGP and then back at that same location to a direction expecting to get the same vector. Here is my code:

    site_latitude = 20
    site_longitude = -100
    dec = 40
    inc = 50

    vgp = dia_vgp(dec, inc, 1, site_latitude, site_longitude)
    dir = vgp_di(vgp[1], vgp[0], site_latitude, site_longitude)

    print dir

This is unexpect

[2017-03-14 16:46] Swanson-Hysell commented on #158
Thanks for the bug report.

The issue looks to be arising when a site longitude is being entered as being between -180 to 0 and a VGP longitude is being entered between 0 and 360. I think the ideal solution would be to modify pmag.vgp_di such that it can deal with this situation (rather than restricting the output from pmag.dia_vgp to be between -180 and 180). I will have a go at addressing this.

[2017-03-14 17:00] Swanson-Hysell commented on #158
I put in a bug fix that is now synced up with the master that should address this issue. Here is what your example looks like now.
[code]

[2017-03-14 17:00] #158 closed

[2017-03-14 19:55] ltauxe opened #159 "Pmag_gui conversion to 3.0 needs help"
The conversion process for pmag_criteria.txt does not convert sample_aniso_mean to samples.aniso_mean.  Also this needs to be added to the data model.  Rupert?  Lori?
Also, the conversion should change all the ACCEPT under criterion to the IE-SPEC, etc. names
as is done in thellier_gui.py

[2017-03-14 20:08] ltauxe opened #160 "thellier_gui"
on calculating anisotropy tensors, the output to specimens.txt does not include the sample name.

[2017-03-14 21:12] moonshoes87 commented on #159
The column samples.aniso_mean is not in the current data model that I just downloaded from Earthref.  With the most up to date data model, sample_aniso_mean will be translated into specimens.int_corr_aniso_mean (this was not the case in the older, cached data model, which I will update shortly).

From the data model json:

        "sample_aniso_mean": {
          "table_column": "specimens.int_cor

[2017-03-14 22:02] rminnett commented on #159
Yes, although, looking back at the emails, the question I asked about mapping was a bit ambiguous. Among other things, we created **samples.int_corr_aniso_mean** (not in 2.5) and renamed **pmag_specimens.specimen_int_corr_anisotropy** to **specimens.int_corr_aniso**.

**specimens.int_corr_aniso_mean** isn't a valid 3.0 column, though. I believe the **pmag_criteria.sample_aniso_mean** should be map

[2017-03-14 22:48] moonshoes87 commented on #159
Ok, I pushed the updated cached data model.  @ltauxe,  the pmag_criteria.txt file you sent me now translates to this:

<img width="797" alt="screen shot 2017-03-14 at 4 45 24 pm" src="https://cloud.githubusercontent.com/assets/1836578/23925634/c05d0250-08d5-11e7-929b-32c0418dada8.png">

In the file you sent me, you have

This study	IE-SAMP	<=	1	acceptance criteria for study	samples.aniso_mean

but

[2017-03-14 22:53] ltauxe commented on #159
ok.  i guess i can fiddle with the ACCEPT problem later.  thanks!
lisa

[2017-03-14 23:02] ltauxe commented on #159
THANKS!  I just pushed a version that does it exactly like this.
lisa

[2017-03-15 12:38] Caoimhinmg commented on #151
All right everyone the new Windows and Linux binaries have been released and are functioning over here at least.

[2017-03-15 12:38] #151 closed

[2017-03-15 16:00] moonshoes87 commented on #160
I am working on this today

[2017-03-15 18:43] moonshoes87 commented on #160
Ok, I did some minor fixes so that 1. Thellier GUI doesn’t barf if there is no samples table available, 2. added a line to propagate measurement data from the measurement table into  other tables as needed, and 3. sample name is included in the update_record if available.

When I open Thellier GUI with the measurements file you sent me, it now seems work as expected.

The way the update_record wor

[2017-03-15 18:44] #159 closed

[2017-03-15 18:44] ltauxe commented on #160
that looks right - i’ll check it out.
lsia

[2017-03-15 21:32] ltauxe commented on #160
another little bug in the conversion script in pmag_gui from 2.5 to 3.0.

somehow samples_int_n is getting translated to samples.int_n_samples and it should be to samples.int_n_specimens.
i can’t find where this is happening, but it appears to be correct in maps.py and in map_magic.py

lisa

[2017-03-15 23:07] ltauxe opened #161 "er_ages not converted with pmag_gui upgrade tool"

[2017-03-16 19:24] moonshoes87 commented on #160
It looks like the correct 2.5 column should be sample_int_n, not samples_int_n.  samples_int_n is not a valid 2.5 column name.  Is that the problem?

[2017-03-16 19:39] #161 closed

[2017-03-16 19:39] #160 closed

[2017-03-16 19:39] #153 closed

[2017-03-16 19:44] ltauxe opened #162 "thellier_gui or pmag_gui needs to propagate required columns"
When leaving thellier_gui.py, the specimens table does not have the required fields filled in.  also, the ages are not getting filled in from an existing ages table.   somehow this needs to be smoother for the user.   i think pmag_gui should auto propogate that info if it exists in the samples or sites table when the optional option 3 gets called.  presumably that would be the last step before cre

[2017-03-16 20:12] moonshoes87 commented on #160
things looked fine in map_magic, but you said samples_int_n in your issue...

[2017-03-16 20:39] ltauxe commented on #160
right, somehow that got translated to samples.int_n_samples and not samples.int_n_specimens and I can’t find where.
lsia

[2017-03-16 20:43] moonshoes87 commented on #160
Does it say samples_int_n in the file you are translating from?  Or can you send me the 2.5 file you are translating from?

[2017-03-16 20:45] ltauxe commented on #160
here’s the file i just made from pmag_criteria.
sample_int_n gets translated to samples.int_n_samples
and it should be samples.int_n_specimens

lisa

tab	criteria
description	criterion_operation	citations	criterion	criterion_value	table_column
acceptance criteria for study	<=	This study	ACCEPT	3e-06	samples.int_abs_sigma
acceptance criteria for study	<=	This study	ACCEPT	8.0	samples.int_abs_sigma_

[2017-03-16 20:50] moonshoes87 commented on #160
ok, I will figure this out (probably tomorrow)

[2017-03-16 20:51] moonshoes87 commented on #162
About the ages table:

My understanding of the ages table was that it is only for ages that were given a specific radiometric age.  Inferred ages, I though, should go in their respective tables (most likely sites) .  That was the impression I got from the discussions about ages at the MagIC meeting a while ago.  Because of that, I don’t automatically propagate any age data from specimens/samples/s

[2017-03-16 20:58] ltauxe commented on #162
yes that is true.  the ages use to be pulled from the er_ages.txt table to put them into the pmag_results table by specimens_results_magic so an individual investigator didn’t have to mess with it.  Ideally, the ages/locations/etc data would be in the orient.txt file that gets converted to stubs for the samples/sites tables.  not sure where we are on that little project.  anyway, perhaps pmag_gui

[2017-03-16 21:54] ltauxe opened #163 "experiment names"
These originally were  intended to propagate from the measurements table up through all the other tables, but now with combined results using both anisotropy (for example) and intensity calculations (for example) the experiments column will no longer map directly to a single experiment block.  so finding a particular experiment name in the experiment column from measurements should no longer be re

[2017-03-17 18:09] moonshoes87 commented on #162
In the ages table, age is not a required column, because you could have instead age_high and age_low.  Age is only required *if* age_sigma is used.  age_unit is required if any columns from the Age group are present.  I am using the validations found here: https://www2.earthref.org/MagIC/data-models/3.0.   They are a bit more complicated now because there are now "Governed" columns which have spec

[2017-03-17 18:12] #154 closed

[2017-03-17 18:13] moonshoes87 commented on #163
So all that needs to be changed is this validation?

<img width="1151" alt="screen shot 2017-03-17 at 12 11 31 pm" src="https://cloud.githubusercontent.com/assets/1836578/24056917/0f3ece08-0b0b-11e7-8195-15f0e21e5468.png">

[2017-03-17 18:26] rminnett commented on #163
That column is a list so it can already contain multiple experiment names in it. But, if there is a measurements table in the contribution, each specimens.experiments value should be an experiment name defined in the measurements table. Is that not sufficient?

[2017-03-17 18:48] ltauxe commented on #163
No because then there will be ultra-long, redundant lists of experiments.  can we just relax the requirement that the experiment name has to be the same in measurements/specimens?
lisa

[2017-03-17 19:02] rminnett commented on #163
Perhaps, but just so I understand properly:

If you have experiments A, B, and C, and a specimen that was interpreted from data in experiments A and B, you're wanting to enter a new non-experiment name in specimens.experiments (e.g. "AB") instead of "A:B", which could be quite long if the experiment names are long or there are lots of experiments to list? If so, how do we record which experiments

[2017-03-17 19:26] ltauxe commented on #163
This has been an issue for a long time because Ron Shaar made up experiment names in thellier gui without looking up the correct experiment name in the measurements file.  so all of our contributions already in the database have this violation.  I can either re-write thellier gui to do it ‘properly’,  skip the whole thing (as all the info is in the method_code column or hunt down all the correct m

[2017-03-17 19:31] rminnett commented on #163
Not ideal - but, if the information is there, we can go back improve the contributions in the future.

Although it's uncommon so far, the standard way of escaping colons in MagIC text file lists is to enclose the values in quotes:
"An:experiment:name":"Another:experiment:name"

[2017-03-17 20:07] ltauxe opened #164 "map_magic.py"
in attempting to clean up the 2.5<=>3.0 mapping problems, I messed up the SPD => magic mapping
could you have a look?

[2017-03-17 20:15] moonshoes87 opened #165 "propagating values between tables"
Currently, there is functionality in Contributions to propagate values geologic_types, geologic_classes, lithologies from sites or samples down into samples/specimens.

1.  Should any other columns automatically propagate down in this way?

2.  Should those columns propagate up into the sites table if present in samples, but not in sites?

[2017-03-17 20:16] ltauxe commented on #165
I think all required columns should propogate up and down if they do not yet exist in the tables.

[2017-03-17 20:29] moonshoes87 commented on #165
what do you mean by all required columns?

This is how I find all of the columns that are straight up required (not conditionally required, but required in all cases):

<img width="2000" alt="screen shot 2017-03-17 at 2 26 54 pm" src="https://cloud.githubusercontent.com/assets/1836578/24061661/ed6b5234-0b1d-11e7-9717-bc7498c32985.png">

Not all of them make sense to propagate between tables, right

[2017-03-17 20:39] ltauxe commented on #165
in particular the geological_classes, lithologies and geologic_types.
lisa

[2017-03-17 21:05] moonshoes87 commented on #165
Ok, currently we do propagate those three [geologic_types, geologic_classes, and lithologies] down.  This happens automatically in Pmag GUI step 3, but it is just a single method on the Contribution object so it can be implemented anywhere else you want it.

 I can implement functionality to propagate up -- what that will look like is:

if a site doesn't have a lithologies value, create a colon-de

[2017-03-17 21:06] moonshoes87 commented on #164
I see the commit but exactly where are you finding problems?  It looks like you only edited the aniso mappings, and everything seems to still run correctly for me.

[2017-03-17 21:08] ltauxe commented on #164
I edited the aniso mappings and also the magic mappiing.  maybe we don’t use the spd <=> magic mapping anymore?
lisa

[2017-03-17 21:09] ltauxe commented on #165
these are the main ones.  but i am still interested in somehow propogating age info from where-ever to the sites table.
lisa

[2017-03-17 21:19] moonshoes87 commented on #164
Ok, you're talking about this commit:

b3bed30

Why do you say the mapping is messed up?  Is there an error somewhere I'm not seeing?

The spd2magic_map is used in SPD (according to grep):

./SPD/spd.py:            self.pars = map_magic.mapping(self.pars, map_magic.spd2magic_map)

That's where the SPD parameters are translated to MagIC parameters for Thellier GUI (and maybe Demag GUI).  Note that

[2017-03-17 21:22] ltauxe commented on #164
I haven’t found an actual error resulting from this, but the current list in pmagpy/mapping/map_magic is totally screwed up.    but that is not where we are pulling this from?  we are still using SPD/spd.py?  then that is ok.

[2017-03-17 21:34] moonshoes87 commented on #164
I see what you're saying.

It looks like SPD/that mapping are still using in thellier_gui_lib:

./thellier_gui_lib.py:    Pint_pars = spd.PintPars(Data, str(s), tmin, tmax, 'magic', preferences['show_statistics_on_gui'],acceptance_criteria)

So, that means that that mapping should still matter.  Now that I understand where the potential problem is, I can take a look at it soon.

[2017-03-19 00:21] moonshoes87 commented on #164
I think the problem is because you edited the “magic” list with reference to "magic3", not with reference to "spd".  So the SPD mapping got all crazy.  I am going to revert back so that the spd —> magic translation still works as when originally implemented.

I can't find a place where the  “magic3” variable was actually ever used, and when you edited it and “magic” you were actually trying to fix

[2017-03-19 22:32] moonshoes87 commented on #164
Sorry @ltauxe -- I hadn't actually pushed the relevant commits when I left the last message.  All is now up to date!

[2017-03-20 15:13] Caoimhinmg commented on #139
@ltauxe I haven't heard anything on this for a while. Is this still a open issue (I am still incapable of recreating it)? If not I plan to close it in a few days.

[2017-03-20 15:22] ltauxe commented on #164
i’m using the magic3 mapping in the criteria reading/writing thing and now it works so please don’t touch that.  can we just move the spd <=> magic mapping somewhere else?

lisa

[2017-03-20 15:33] moonshoes87 commented on #164
Can you show me where you use the magic3 variable (which file, which approximate line)?  I couldn’t find it.  I want to organize to make sure we don’t have any namespace collisions and that SPD/magic stays separate from magic3/magic2.

The current state of master doesn’t have the magic3 variable, but I’ll stick it back in based on the last commit you did (ce11ee8) where it was working.

[2017-03-20 15:39] moonshoes87 commented on #164
Ok, also, as of your last commit to map_magic (ce11ee8), the mapping between magic and magic3 is definitely broken.  I grabbed the two lists from your last commit (before I had done anything with map_magic) and tried zipping them together, and they are definitely off.  So, if you are using this translation somewhere, you are getting rubbish things like specimen_md —> specimens.int_dac.

[2017-03-20 15:41] moonshoes87 commented on #164
I think you are just using

                crit3_0=map_magic.convert_intensity_criteria('magic3',crit)

which does not use the global magic3 variable, but a local magic3 variable defined in ‘convert_intensity_criteria’.

[2017-03-20 16:13] ltauxe commented on #164
for the mapping in thellier_gui.
I call it here:

m2_name=map_magic.convert_intensity_criteria('magic2',crit['table_column’])
[ this one is fine!]

here:

new_data=map_magic.convert_aniso('magic3',new_aniso_parameters) # turn new_aniso data to 3.0
[which is also fine]

here:
new_data = map_magic.convert_spec('magic3', new_spec_data) # turn new_specimen data to 3.0

[which calls your new maps.all_m

[2017-03-20 16:17] ltauxe commented on #139
it seems to be working now…

[2017-03-20 16:23] Caoimhinmg opened #166 "test_new_builder.test_init_empty failing because of written locations.txt"
So I was running all tests to try and fix any random bugs that our new release and change to the conversion scripts might have introduced and I found that this test was failing because somehow it is writing a locations.txt before running it. This all happens inside this suite of tests because running it on its own still causes the problem. That said I have been through the tests and can't find whe

[2017-03-20 16:25] Caoimhinmg commented on #139
Okay I'll close this out then.

[2017-03-20 16:25] #139 closed

[2017-03-20 16:31] moonshoes87 commented on #166
Yes, that is a random non-bug bug that I have been meaning to track down.  It isn’t actually a problem with the failing test (it works if you run it alone), but some other test that is leaving a file or two hanging around in the PmagPy directory.  I’ll track this down when I have time!

[2017-03-20 16:38] moonshoes87 commented on #164
Yes, great.  We should be good with what I removed, then.  Let me know if you spot any sketchy behavior, but I think we are fine.

[2017-03-20 16:39] Caoimhinmg commented on #166
Yeah it's not a rush as it affects nothing. I've been experiencing a lot of test failures around 19 of 337 (some of which no doubt because of my platform). Thought I'd finally track them all down and raise those I couldn't solve here.

[2017-03-20 16:52] moonshoes87 opened #167 "SCAT box no longer drawn in Thellier GUI 3.0"
1. SCAT statistic is only displayed if present in criteria file

2. SCAT box is no longer drawn

[2017-03-20 17:00] moonshoes87 commented on #166
Ok, great.  test_init_empty is the only test failure I have at present (excepting those Demag GUI tests that crash on my platform that I routinely skip).

[2017-03-20 17:56] #164 closed

[2017-03-20 17:59] moonshoes87 commented on #167
It looks like SCAT box IS drawn normally, but I am getting insane SCAT values for the contribution you've been working on, @ltauxe.  The bounding lines are coming out enormous:

    pars['specimen_scat_bounding_line_low'][1] -3007.94535983
    pars['specimen_scat_bounding_line_low'][0] 2553.15786798
    pars['specimen_scat_bounding_line_high'][1] 3004.59224261
    pars['specimen_scat_bounding_line

[2017-03-20 18:01] moonshoes87 commented on #167
Aha!  beta_threshold was getting set to -999, which made all the values crazy.  I will prevent that.

[2017-03-20 18:04] Caoimhinmg commented on #166
Okay this is now the only test I have failing so it looks like everything is pretty stable. I'm still not sure what to do about those Demag GUI tests on mac as far as I can tell skipping them is still the only solution.

[2017-03-20 18:22] #167 closed

[2017-03-20 20:42] ltauxe commented on #167
yes i was going to mention that it depends on beta.  so if SCAT is set to TRUE, beta has to be set to some reasonable default - say 0.1.
lisa

[2017-03-21 17:57] ltauxe opened #168 "pmag_criteria => criteria conversion"
somewhere in pmag.convert_criteria_file_2_to_3,  samples.int_n_samples is generated and it should be samples.int_n_specimens.

[2017-03-21 18:18] #163 closed

[2017-03-21 18:29] ltauxe commented on #165
so now the types and classes get propagated but not lithologies.  this would be handy.

[2017-03-21 20:03] ltauxe opened #169 "thellier_gui error with site_int_n"
When I try to set the site_int_n parameter to something, i get this on saving:

  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/thellier_gui.py", line 2391, in On_close_criteria_box
    if not dia.set_site_int_n.GetValue():
AttributeError: 'Criteria_Dialog' object has no attribute 'set_site_int_n'

[2017-03-21 20:06] ltauxe commented on #169
this happens with both 2.5 and 3.0.

[2017-03-21 20:59] moonshoes87 commented on #168
I fixed this locally for PmagPy, but I presume this should be changed in the data model as well (this is what is currently in the data model json):

<img width="708" alt="screen shot 2017-03-21 at 2 54 58 pm" src="https://cloud.githubusercontent.com/assets/1836578/24170488/a0b23206-0e46-11e7-90f7-0ffd82a2dc69.png">

[2017-03-21 21:05] ltauxe commented on #168
ahh.  yes that must be changed in the data model. rupert?
lisa

[2017-03-21 21:18] moonshoes87 commented on #165
lithologies are propagating as expected for me.  I did decide to treat "Not Specified" as a null value, though.  In other words, if a specimen has "Not Specified" as a value in lithologies, and its parent sample has "Basalt", the specimen will end up with the value "Basalt".  Also, I don't yet have functionality to propagate values up (i.e., from samples to sites).

So here I assign lithology valu

[2017-03-21 21:19] ltauxe commented on #165
ahh.  that’s what did it.   these were lithology “Not Specified”.  could you not treat it as a null value?
lisa

[2017-03-21 21:20] moonshoes87 commented on #165
Yep.  I’ll change that.

[2017-03-21 21:23] moonshoes87 commented on #165
Let me know if this gives you any more problems.  And when we meet (next week, I hope?) we can discuss the ages propagation.

[2017-03-21 22:09] moonshoes87 commented on #169
I pushed a fix for the dialog name problem, but not sure about the bigger picture.

[2017-03-21 22:32] rminnett commented on #168
I updated the data model on the website. 2.5 criterion **sample_int_n** now maps to 3.0 column **samples.int_n_specimens**.

[2017-03-21 23:02] ltauxe commented on #169
Now it does this correctly, BUT thellier_gui now saves all the criteria with the 'ACCEPT' criterion instead of the IE-SPEC, etc. criteria.  This is a new bug.

[2017-03-21 23:04] #168 closed

[2017-03-21 23:08] ltauxe commented on #165
ok   i’ll give it a go.

[2017-03-22 20:10] Caoimhinmg opened #170 "Thellier GUI Measurement Quality Branch"
I have over the course of the last few months created a local branch of PmagPy where I worked on making Thellier GUI capable of marking measurement data bad by right clicking on the measurement record in the list on the left of the GUI. This makes Demag GUI and Thellier GUI more similar in the design of their user interaction which simplifies the UI, prevents the deletion of unwanted measurement d

[2017-03-22 21:15] ltauxe commented on #170
it is not so easy to delete a measurement for thellier data as you really need to delete at least a pair and you have to be careful of pTRM checks up the line and vector subtraction issues.  did you do that?
lisa

[2017-03-22 21:59] Caoimhinmg commented on #170
Yeah I noticed the problems with removing a measurement in a Thellier experiment are much greater than in a Demag experiment. So here's the basic overview:

----------------------------

- Z or I step marked bad:
    - if there is another Z or I step of matching treatment use it instead and recalculate parameters (basically restarts a segment of the GUI, hope I didn't miss anything here because th

[2017-03-27 16:53] Swanson-Hysell opened #171 "Flipped map in Demag_GUI VGP viewer"
The basemap of the demag_gui vgp viewer is reflected. While this results in an interesting new perspective on the world, in should be fixed:
<img width="985" alt="screen shot 2017-03-27 at 9 51 13 am" src="https://cloud.githubusercontent.com/assets/4332322/24367872/17f44fd0-12d3-11e7-9fdb-9c9e9b92e70a.png">

[2017-03-27 17:50] moonshoes87 commented on #169
@ltauxe, are you still having the 'ACCEPT' criterion problem?

[2017-03-27 21:08] #171 closed

[2017-03-27 21:17] Caoimhinmg commented on #171
Yeah guess this happened kind of intentionally, I had originally set the map to center on the average of the longitudes so it gives the easiest view between spread data. Did not count on how dumb this would look with all the points in one spot and 180 degrees off of normal map view. Set the center to 0 now so it should look more normal. Also made it so you could save the plot with ctrl-s.

[2017-04-04 21:14] moonshoes87 opened #172 "default to 3.0 with all scripts"
I'm planning to switch defaults so that the plotting programs and import scripts on the command line are all 3.0.

This includes:

- switching the names of some plotting programs (i.e., core_depthplot3.py becomes core_depthplot.py, and core_depthplot.py becomes core_depthplot2.py and is eventually deprecated).

- making sure @Caoimhinmg's native import scripts are available in the pip install and

[2017-04-05 01:20] Caoimhinmg commented on #172
Hey @moonshoes87 I would request that we keep the 3.0 scripts in the conversion_scripts directory because it would separate them from the very different analysis programs and simply because the programs directory is jam packed with files. Also makes it easier to see which data formats we support at a glance rather than combing the programs directory. I know this means altering the pip install to a

[2017-04-05 19:05] moonshoes87 commented on #172
@Caoimhinmg, I can see your overall organizational point.  I agree about moving the 2.5 scripts to a deprecated folder.

 The reason I don't want to leave the 3.0 scripts where they are is for the developer install.  Fixing the pip install is trivial and occurs behind the scenes, but the more we separate out programs into different folders, the more lines are required to set the user's path manual

[2017-04-05 19:18] moonshoes87 commented on #172
@Caoimhinmg, can you tell me what's going on with programs/cit_magic3.py and programs/cit_magic.py?  Should both of those be kept and deprecated in favor of programs/conversion_scripts/cit_magic, or can one be deleted and one deprecated?

[2017-04-05 19:41] Caoimhinmg commented on #172
So @moonshoes87 you can fix the PATH issue by somewhat throwing caution to the wind and adding all subdirectories of programs to PATH as described [here](http://unix.stackexchange.com/questions/17715/how-can-i-set-all-subdirectories-of-a-directory-into-path). This is considered somewhat hazardous as it allows malicious ware to add a exe or subdirectory to path without needing sudo and makes it eas

[2017-04-06 19:11] moonshoes87 commented on #172
The Linux/Unix solution of adding all subdirectories won't work for PATH setting in Windows, unless the user has cygwin or something like that.

I do like the idea of having a dev install script.  That is basically how PmagPy used to be installed pre-pip.  However, we had a lot of trouble setting PATH in a script for windows (@rminnett worked on this) in a way that was consistently successful.  Th

[2017-04-12 17:35] moonshoes87 commented on #172
@Caoimhinmg, I still want to move forward with this one way or another.

Options:

1.  We leave conversion_scripts as is, modify the Cookbook to add another required line for the developer install, and don't worry about people developing on Windows.

2.  We temporarily move conversion_scripts into the main programs directory which keeps the developer install simpler and try to make a dev install s

[2017-04-12 19:16] Caoimhinmg commented on #172
@moonshoes87 I agree that we should just do this quick and figure out a better solution later. For now I think we should do option1 as it keeps the structure the way we want it assuming I can create a cross platform install script. Also I can't think of anyone using a Windows dev install right now so that problem is basically null. I've almost got a unix install script done having just taken a qui

[2017-04-13 19:31] #169 closed

[2017-04-13 19:31] #166 closed

[2017-04-13 22:31] njarboe commented on #147
Hello David Fackley @dmafackler,
My name is Nick Jarboe (njarboe@ucsd.edu). I work at Scripps for the MagIC group on getting data into the MagIC database. It would be great, as you stated, to have a system on your end that exported data into the MagIC 3.0 format. Then we do not have to keep up with the changing file formats on your end. Have you made any progress on this system? We would like to s

[2017-04-13 22:44] moonshoes87 commented on #172
@ronshaar I believe is developing on Windows, but he mainly does fixes on Thellier GUI which will not be affected.  I don't think we can ignore Windows for too long.

I've gone ahead and shuffled some things around.  I will update the Cookbook shortly to reflect the temporary developer install instructions, make sure the pip install still works, and make a new pip release.

Also, in making this tr

[2017-04-14 17:47] njarboe opened #173 "cit_magic.py does not seem to make correct sites.txt file for PI47- data example and USGS example"
I am trying to get the USGS cit files working with pmag_gui. I have put the files for one site in a directory and when I run the cit_magic.py converter script with the command in the file 'command', I get files that work with pmag_gui to display the demag for the specimens. But I get the warning: "There is no geographic data for this specimen." but I thought each demag step has the geographic info

[2017-04-14 20:12] Caoimhinmg commented on #172
I'm working on the Windows script there is some issues with setting environment variables to run python.exe when using .py files and for some reason as @rminnett points out in the email train you sent me there is this ridiculous limit on PATH variable length such that it can only be ~300 characters. I'm also having some issues testing in a VM because of how administrator privileges work.

I notice

[2017-04-14 20:30] moonshoes87 commented on #172
Ok, keep me posted about the Windows install shenanigans.

That’s right, I forgot.  Well, maybe both of those scripts are unneeded.  I’ll leave them for the moment.

[2017-04-14 21:17] njarboe commented on #173
Tested on example data sets and seems fixed.

[2017-04-14 21:17] #173 closed

[2017-04-15 00:03] Caoimhinmg commented on #172
Okay, here is what I've come up with for a Windows and Unix combined install script. It's written in python and only uses native libraries. It has worked on both my Linux distro and my Windows VM after removing my manual path setting. My goal in using python was to require python be pre-installed and so it can be more or less maintained by anyone working on the project. It needs more testing, and

[2017-04-18 18:41] Caoimhinmg commented on #172
Just gave the dev_setup.py script a major update, it mostly works the same, but now has uninstall and reinstall options details on usage can now also be found in documentation accessed by running python dev_setup.py -h. Let me know if anyone runs into any troubles.

[2017-04-18 18:44] moonshoes87 commented on #172
Thanks @Caoimhinmg, I'll try to test this out today.

[2017-04-18 19:56] moonshoes87 commented on #172
@Caoimhinmg, the dev install script worked for me without a hitch on OS X.

One question, for the Unix install, do you need to duplicate the $PATH information in three places?  Just to make sure it is hit no matter what?  This leads to a very long $PATH, which isn't an operational problem but is annoying for someone who wants to glance at their $PATH and understand what's in it.

I also tried it o

[2017-04-18 20:18] Caoimhinmg commented on #172
@moonshoes87, the duplication of the PATH in the 3 configuration files is done because of the different kinds of bash shells that can run. Login vs. non-login and because of a failure I found when having it tested by a user on OSX. Theoretically .bash_profile shouldn't need to have the lines because it truly is duplication of .profile which is preferable as it is shell type independent, but for so

[2017-04-18 20:30] Caoimhinmg commented on #172
Also one more side note on that Unix thing, you're actually not supposed to put environment changes in your .bashrc, but if you don't then I have to ask the user to restart their computer to affect changes. This is because .profile is only read in on start up so if you pull and there are directory changes you have to restart to fix it.

[2017-04-18 21:05] Caoimhinmg commented on #172
All right @moonshoes87 give the dev_setup another go it should no longer duplicate paths in PATH during the Unix install and the Windows uninstall should no longer error.

[2017-04-18 22:11] moonshoes87 commented on #172
Hmm, I've never seen anything that says you shouldn't put environment changes in your .bashrc.  Just curious, where does that recommendation come from?  I've always preferred having things in .bashrc so I can make edits and not restart, as you mention.

Also, I still have duplicate paths when installing on Mac even after pulling commit ee7dc9d29835c3c358aefb14784275d5172d0056

I will re-check the

[2017-04-18 22:22] moonshoes87 commented on #172
Windows install/uninstall works great for me!

The duplicate paths aren't necessarily a huge deal, if it turns out to be a pain to fix.

[2017-04-18 22:36] Caoimhinmg commented on #172
Darn, @moonshoes87 can you manually remove the edits made to the configuration files by the script and try the unix install again. It is probably just that my uninstaller is not working so great for the old form of the bash code. I had to make a few structural changes to prevent duplicates.

Also the recommendation to not put environment changes in .bashrc is coming from just about every forum I f

[2017-04-18 22:56] moonshoes87 commented on #172
That's funny, when I googled around I couldn't find any advice like that.  I guess we're in different google bubbles, somehow ;)

I gave the install/uninstall another try, and I still get duplicates.  I'm not sure why, because your logic looks correct.  Maybe it has to do with exactly when the $PATH s from the .profile, .bashrc, .bash_profile are actually concatenated?

Also, we shouldn't need the

[2017-04-18 23:27] njarboe opened #174 "Some column names incorrect when using cit_magic.py"
I'm not sure if this issue is in the cit_magic.py logic or the data model code but when I use cit_magic I get the following errors:

in the sample table:
geologic_class  and geologic_type should be geologic_classes and  geologic_types.
the citation column should be removed as there is also a citations column

in the specimens table: the citation column should be removed as there is also a citation

[2017-04-19 16:42] Caoimhinmg commented on #172
Fair point @moonshoes87, I'll remove the PmagPy directory to prevent name space collisions and simplify PATH.

Also [here](https://unix.stackexchange.com/questions/26047/how-to-correctly-add-a-path-to-path)'s an answer from one of the StackOverflow posts I found which helped to create this script. He details/links lots of ways to manipulate environment variables and links to another post which goe

[2017-04-19 17:18] Caoimhinmg commented on #174
Hey @njarboe, just pushed a change that should fix the messed up plurals. Though it should be noted that the conversion scripts don't actually check against the online data model when converting it's just a hard coded mapping. The data model is checked before upload in Pmag or Magic GUI though so it shouldn't be a problem.

As to the last thing, "measurement" is the unique index used in the underl

[2017-04-19 17:49] njarboe commented on #174
Hi @Caoimhinmg, thanks for the quick fix. After seeing your comment, Rupert and I just talked about the current data model and made some changes. "measurement" was not a column in the 3.0 data model and the measurement id was strangely called "number". We have changed the model so that the "measurement" column is now what you described: a unique id for a measurement. The "number" column now does n

[2017-04-19 18:03] moonshoes87 commented on #174
'measurement' was initially a column that I created in new_builder.py by combining the experiment name and the number to create a unique name for each measurement.

It sounds like I should now update that code based on these changes to the data model.  To clarify:

1.  Anywhere 'number' was used, we should now use 'treat_step_num' instead.

2.  I should make a new cache of the updated data model.

[2017-04-19 18:22] njarboe commented on #174
@moonshoes87 That all seems correct. I am not sure if @rminnett has updated the online data model for you to grab yet, but it should be ready soon.

[2017-04-19 18:36] rminnett commented on #174
It’ll be updated later today, unless you need it right away?

From: njarboe [mailto:notifications@github.com]
Sent: Wednesday, April 19, 2017 11:22 AM
To: PmagPy/PmagPy <PmagPy@noreply.github.com>
Cc: Rupert <rminnett@earthref.org>; Mention <mention@noreply.github.com>
Subject: Re: [PmagPy/PmagPy] Some column names incorrect when using cit_magic.py (#174)

@moonshoes87 <https://github.com/moonshoe

[2017-04-19 19:04] moonshoes87 commented on #174
No hurry.  Let me know when it’s done, and I’ll do the re-caching.

[2017-04-28 19:05] moonshoes87 opened #176 "clarify windows dev_setup instructions"
@Caoimhinmg, when Windows users are providing their path-to-python during for dev_setup, should they include the terminal python.exe, or does it matter?

I.e., should it be:

`dev_setup.py install -p C:\Users\USERNAME\AppData\Local\Continuum\Anaconda2`
or
`dev_setup.py install -p C:\Users\USERNAME\AppData\Local\Continuum\Anaconda2\python.exe`
or either one?

Either seemed to work on my Windows VM,

[2017-04-28 20:01] Caoimhinmg commented on #176
Looking at the code it seems I had the full path with python.exe in mind. I can add a check for that though easy enough and push the change when I'm done with the merge of my fork. Think it would be better if it didn't matter which you use.

[2017-04-28 20:09] moonshoes87 commented on #176
Yeah, that seems best.  Thanks!

[2017-04-29 17:21] Caoimhinmg commented on #176
Alright just did this, and it should work now. Reopen if there are problems.

[2017-04-29 17:21] #176 closed

[2017-04-29 20:37] Caoimhinmg opened #177 "MagIC GUI Locations table KeyError"
Hey @moonshoes87, I've been debugging the new Python3 merged master branch and ran into a number of errors when running test_new_builder and test_magic_gui. I've solved most of these, but I can't seem to get rid of this error:

[code]

Any thoughts?

[2017-04-29 22:03] moonshoes87 commented on #177
I should be able to fix these tomorrow.  This is certainly related to changes I made recently and should be simple to handle.

[2017-05-01 19:24] #177 closed

[2017-05-01 19:38] moonshoes87 opened #178 "Make sure opened files are closed"
Squash these errors:

    ResourceWarning: unclosed file <_io.TextIOWrapper name='./er_samples.txt' mode='r' encoding='UTF-8'>

[2017-05-01 23:00] moonshoes87 opened #179 "odp_dsc_magic is broken"
odp_dsc_magic.py doesn't work.  The code references a variable "labfield" which is never actually defined.  This is not a result of the Python 3 migration, it exists on both the Python 2 branch and the master branch.

@ltauxe, is this a program that should be fixed, or just deprecated?

odp_kly4s_magic has a similar problem (code references "samp" which is never assigned).  So do odp_spn_magic and

[2017-05-01 23:47] moonshoes87 opened #180 "random.jumpahead functionality not in Python 3..."
scalc.py and scalc_magic.py both use the method random.jumpahead, however it is deprecated in Python 3:

    Change the internal state to one that is likely far away
        from the current state.  This method will not be in Py3.x,
        so it is better to simply reseed.

Looking at the code in scalc.py, I'm not really sure how to go about fixing this.  Here's the code snippet:

      for i in

[2017-05-02 00:42] Swanson-Hysell commented on #180
I think what could be done is to change the code so that it resets the seed each time before random.randint() it called. random.seed() initializes the random number generator.

[code]

[2017-05-02 00:53] moonshoes87 commented on #179
With specimens_results_magic, there is also now an ipmag function called specimens_results_magic, so maybe that has superseded the command line program?

[2017-05-02 16:57] njarboe opened #181 "Updated to Anaconda and updated with the master branch. "past" module is missing."
Updated to Anaconda and updated with the master branch and now the past module is missing. Not sure if I missed installing something.

cit_magic.py -f bl6.sam -sn BL6009 -usr Hagstrum -loc 'Boring volcanic field' -A -mcd FS-FD:LT-AF-Z:SO-SM
Traceback (most recent call last):
  File "/Users/njarboe/git/pmagpy/PmagPy/programs/conversion_scripts/cit_magic.py", line 57, in <module>
    import pmagpy.p

[2017-05-02 17:40] Caoimhinmg commented on #181
There is a new dependency created because we decided that the command line functions and library modules that don't use elements of the wx library should at least for a short time support both Py2 and Py3 interpreters. So you should be able to fix this problem by `sudo conda install future` (I think, I haven't used conda for a bit). This should install both the future and past modules which are us

[2017-05-02 17:53] njarboe commented on #181
That did the trick. Thanks for the quick response.

[2017-05-02 17:53] #181 closed

[2017-05-02 17:59] njarboe opened #182 ""number" is still being used as a column name in the measurement table"
When I run cit_magic it creates a "number" column in the measurement table. This should now be "treat_step_num". This is in the current data model on the MagIC website, but maybe when I run the program the data model is not being updated. I get the message that it is using a cashed 3.0 data model. How does it decide to update the model? And where does it cache it?

Thanks

~/git/pmagpy/PmagPy/prog

[2017-05-02 18:01] moonshoes87 commented on #182
I still need to update the cache.  I should be able to do that today.  Sorry for the delay!  I will let you know when it is done.

[2017-05-02 18:06] moonshoes87 opened #183 "For developers: How to switch to Python 3"
This isn't actually an "issue", but here are the instructions for developers to switch to using Python 3:

Having PmagPy in your PATH via the developer install means that your system will access whichever version of a program your git branch is pointing to.  First step will be downloading Anaconda.  There are other Python distributions that provide Python 3 (installing everything yourself using br

[2017-05-02 18:25] njarboe commented on #182
Is the cache a file in the PmagPy git repository? Is it hard to create. I tend to be the one to add to the model so maybe I should be able to propagate the info from the google doc to the PmagPy cache so that, when working with the community, I can get things working quickly.

[2017-05-02 18:45] moonshoes87 commented on #182
Yes, it is a document that lives in pmagpy/data_model/data_model.json.  It is simple to re-cache, I haven’t automated it but I just have to download the data model json from Earthref and rename the file.  Updating controlled vocabularies etc. is a bit more of a pain, but I hope to streamline that soon.

I’m not set up to easily put changes into the data_model.json file from the google doc, though.

[2017-05-02 19:05] moonshoes87 commented on #182
Ok, the replacement should be complete now.  Let me know if cit_magic now works as expected.

[2017-05-02 20:06] #174 closed

[2017-05-02 20:20] Caoimhinmg commented on #180
This is the most sensible solution I could think of, also the method I would have thought of in the first place. That said I implemented it and tested it on a couple of datasets over here, results were reasonable. @Swanson-Hysell if you could give it a spin on some of your own data and make sure I'm not just reading this wrong or completely crazy.

[2017-05-02 21:48] moonshoes87 opened #184 "deprecated axisbg"
59b36e8

Removing axisbg breaks for people who have matplotlib < 2.0.

    AttributeError: Unknown property facecolor

I think it would be better to leave axisbg for now, since that doesn't break anything.  @Caoimhinmg?