[2019-02-04 23:58] moonshoes87 commented on #509
I'm guessing it's because I rebased master into demag_gui and then "force pushed" (`git push -f`).  I don't think it is a problem, though.

[2019-02-05 00:01] moonshoes87 commented on #506
The PmagPy validations do *not* check for whether or not a required column is actually filled in, just for whether it is present or absent.  So, adding "" or " " would not be relevant for PmagPy purposes.

[2019-02-05 00:05] moonshoes87 commented on #505
Ok, then are we comfortable with just including the option to add ages at this step, but allowing users to skip it?

Without implementing a check, I have no way of deciding whether or not the ages box should be provided in the MagIC results table Dialog.

[2019-02-05 00:20] ltauxe commented on #505
Yes that is good - it can also be done (and probably should be) in Pmag GUI
step 2.
So does this have to be in two places?

On Mon, Feb 4, 2019 at 4:05 PM Lori J <notifications@github.com> wrote:

[2019-02-05 18:57] njarboe commented on #509
There seems to be a new bug in demag_gui
These two recent uploads used to display in demag_gui put don't  work now.
I'm on master

Santos and Tauxe 2018:
[magic_contribution_16502.txt](https://github.com/PmagPy/PmagPy/files/2833423/magic_contribution_16502.txt)
<img width="709" alt="screen shot 2019-02-05 at 10 53 20 am" src="https://user-images.githubusercontent.com/1278789/52297009-9cf74600-2934

[2019-02-05 19:39] moonshoes87 commented on #509
@njarboe, one thing I notice is that it works correctly if I select 'specimen' as the Coordinate System:

<img width="1552" alt="screen shot 2019-02-05 at 11 36 55 am" src="https://user-images.githubusercontent.com/1836578/52299493-602e4d80-293a-11e9-88af-fb51302fb225.png">

Do you know if Demag GUI was working correctly with these contributions with geographic coordinates before?

[2019-02-05 20:13] njarboe commented on #509
I would say a master pull early to mid last week.

[2019-02-05 22:23] moonshoes87 commented on #509
@njarboe, I've gone back in git history as far as 64808261f45e3263c65ca20679b09dad034a8d3d (committed December 5), and the same errors are still happening, so I don't believe that this is due to a recent code change.  This makes me think that something must have changed either in the files, or perhaps in your Demag GUI settings?  Were these contributions uploaded and then re-downloaded?

[2019-02-05 22:47] moonshoes87 commented on #509
As far as I can tell, at least in 16502, this problem is happening because there is dec/inc available at the measurement level but no azimuth/dip at the sample level.  So Demag GUI tries to call `pmag.dogeo`, which then produces a bunch of `nan`s, and `zijdblock_geo` and `zdata_geo` then end up full of `nan`s.  Demag GUI thinks there is geographic data, but there actually isn't any that is *valid*

[2019-02-06 18:53] moonshoes87 commented on #509
Same problem applies to Bono 2019.  Not sure why/how these contributions worked before, but I am confident about why we have problems now.  I pushed a fix -- @ltauxe and @njarboe, if you would both have a look and make sure it makes sense, that would be great.

[2019-02-06 18:57] moonshoes87 commented on #505
Ages can be added in Pmag GUI step 3 (individually or en masse).  Not everyone uses that step, though.  I don't think it's too cumbersome having it in both places, and some people use Demag GUI more or less by itself, so allowing the input of ages there may be useful to them.

@ltauxe, let me know if you want me to take the add ages dialog out of Demag GUI.

@njarboe, if you can re-test this workf

[2019-02-06 18:58] moonshoes87 commented on #507
Validations are now being re-run when needed, so I'm closing this issue.

[2019-02-06 18:58] #507 closed

[2019-02-06 19:15] moonshoes87 commented on #503
Looks like pandas 0.24.1 has the fix -- I will verify this more thoroughly and then re-update the Cookbook.

[2019-02-06 19:23] moonshoes87 commented on #503
ani_depthplot.py still has problems with 0.24.1.

[2019-02-06 20:05] moonshoes87 commented on #503
Raised an issue for this:  https://github.com/pandas-dev/pandas/issues/25196

For now will keep Cookbook instructions, travis CI environment, and environment.yml pointing to 0.23.4.

[2019-02-06 20:46] Swanson-Hysell commented on #505
We like to be able use demag_gui as a one stop shop for generating MagIC contributions such that being able to add required metadata such as ages is important when exporting data within demag_gui.

[2019-02-06 21:09] moonshoes87 commented on #505
This makes sense.  @Swanson-Hysell, are you able to look over the changes I've made and let me know what you think?  As it was previously, the "use default age" checkbox wasn't actually hooked up to anything, so the whole operation should be more functional now.

[2019-02-06 22:45] moonshoes87 commented on #504
1. We have options.  Many of the shortcuts could be made to work with cmd or ctrl on Mac.  However, others have built in OSX functionality -- for instance, ctrl up or ctrl down.  Given this inconsistency, I think it is probably better to just explain that you need to do command instead of ctrl, so I'm adding a bit about that in the quickstart section and in the main Demag GUI section.

2.  Done

3

[2019-02-06 22:46] moonshoes87 commented on #486
I'm wondering if this is related to https://github.com/PmagPy/PmagPy/issues/509

[2019-02-06 23:16] moonshoes87 commented on #486
I'm now looking at this contribution again, and finding a different (related?) error.

Running this command in the directory:
`thellier_magic.py -sav`

gives me this error:

[code]

This happens both with the older version I was initially testing on (16302) and the up-to-date version (16583).

The error is caused by a missing `dir_dec` value on measurement 1657.  @njarboe and @rminnet -- I'm wonde

[2019-02-06 23:43] njarboe opened #510 "make_magic_plots with a contribution with two locations only makes an "All" equal area plot"
Just pulled from master.

Trindade et al. 2018 has only locations and sites, but make_magic_plots can handle this and should make equal area plots for each locations, correct? It does make an all plot but not individual location equal area plots. That would be nice to have for the website. At the location level one would have a different equalarea plot for each one.
Here is the magic file:
[magic_

[2019-02-07 00:22] njarboe commented on #509
Sorry about the goose chase on finding a version that worked. Not sure what kind of settings I may have changed that caused it to break. Does demag gui save what coordinate system you have selected(answer not important if you don't know of the top of your head, but if so, that could have been the problem)?

I've tested out your changes and I have got the file to go from MagIC into PmagPy and back

[2019-02-07 00:22] #509 closed

[2019-02-07 00:53] njarboe opened #511 "Would prefer rounded output when exporting float values"
It would be nice if we could keep the data from being expanded and changed due to the conversion into the float format. So in this file:
[magic_contribution_16534.txt](https://github.com/PmagPy/PmagPy/files/2838862/magic_contribution_16534.txt)
The treat_dc_field on measurement 5 is 0.00003
Then I upload it to PmagyPy and export the data and it gets converted to:
0.0000299999999999999
[Sept-Iles_0

[2019-02-07 01:23] njarboe commented on #505
I am testing on the demag_gui branch with this file:
[magic_contribution_16566MOD.txt](https://github.com/PmagPy/PmagPy/files/2838941/magic_contribution_16566MOD.txt)
I removed the age, age_sigma, and age_unit from first site (E28) in the sites table. The validation passes with this omission. You said in general the validator just checks that the columns are there and not if they are all filled ou

[2019-02-07 02:01] njarboe commented on #505
Would suggest the text:
"If a sites age is not defined in the sites or ages table, please provide it here"
Even better would be, since this does not appear when the ages are all there (I think),
list the missing sites by name and let the user fill out the age for each one;
"The sites below do not have an age defined in the sites or ages tables. All sites must have an age assigned to them. Please e

[2019-02-07 02:06] njarboe commented on #505
Not sure where the age unit list comes from, but the MagIC controlled Vocab "Age Units" has the correct "ka" value not "Ka".

![screen shot 2019-02-06 at 5 50 21 pm](https://user-images.githubusercontent.com/1278789/52386212-dd8cb780-2a39-11e9-8499-3b6326cc23b1.png)

[2019-02-07 02:16] njarboe commented on #505
Fixed and pushed the Ka to ka problem.

[2019-02-07 02:22] njarboe commented on #504
I did not check to see how these changes look, but from your comment it looks like you dealt with everything, so I'll close the issue.

[2019-02-07 02:22] #504 closed

[2019-02-07 03:21] njarboe commented on #489
Looks good.

[2019-02-07 03:21] #489 closed

[2019-02-07 04:39] njarboe commented on #506
Ok. We need to complete to validation checks so that this type of data does not make it into the database. My confusion now cleared up.

[2019-02-07 04:39] #506 closed

[2019-02-07 18:13] moonshoes87 commented on #509
I don't think Demag GUI saves that preference, but in any case Demag GUI should only provide as options coordinate systems that are actually available.  So in that particular contribution, only specimen coordinates should have been available, regardless of what you had selected previously.  I'm going to merge all of this back onto master, since it seems to be working.

[2019-02-07 18:32] moonshoes87 commented on #505
@njarboe -- the text looks good.  I though we discussed not doing a check on whether ages are provided (it may be a bit slow to do so thoroughly with large contributions).  I could still implement one, but that logic is not currently in place.

In any case, I will merge into master and remove this branch.

[2019-02-07 18:33] moonshoes87 commented on #511
Hmmm, yeah, that makes sense.  I'll work on that.  It seems to me that I this should happen just before upload -- we don't want to lose precision before that, right?

[2019-02-07 18:57] moonshoes87 commented on #511
@njarboe, can we decide specifically how many decimals of precision are desired?  `str()` seems to keep up to 15:

[code]

Seems like that might still be too many digits.  str.format()  would allow us to control this more precisely.

[2019-02-07 19:06] njarboe commented on #509
Ok. I'll move back to the master branch.

[2019-02-07 19:18] njarboe commented on #486
This should be caught by the type() validation rule which is not yet implemented (Top of Rupert's list, and currently working on it. Should be in place soon). You should not have to deal with such data in PmagPy. If you can throw an error message in this case along the line "Data file is likely to be malformed or missing required data.", that could be useful to people who try and create their own

[2019-02-07 20:10] ltauxe commented on #510
while we’re on this subject, i did change the default colors for the vgp and pole plots….
lisa

[2019-02-07 22:14] moonshoes87 commented on #511
I implemented this with keeping 5 digits after the decimal point.  I can change that to any number of digits -- but it will be best if we can choose one number for all columns, vs trying to do it on a column by column basis.

[2019-02-07 23:37] njarboe commented on #511
I think str() does the right thing and rounds when it looks like there is a number that has been changed due to str to float to str conversion. So basically it rounds when the last digit in the precision is off a bit up to where the number of digits would be even. Just use the str() output and that should do what we want.

[2019-02-07 23:52] njarboe commented on #505
Ok. Seems fine. After a bit of thinking about it, I will change the text to make it clear that if you got your data file from a MagIC download it should already have ages for everything, and this box can be ignored. Otherwise people who are using a file that has all the ages will have to try and understand all the age details when in the end it does not matter to them.

[2019-02-08 00:20] njarboe commented on #505
I changed the text some. (Edit: table is now tables)
![screen shot 2019-02-07 at 4 10 41 pm](https://user-images.githubusercontent.com/1278789/52451269-248ab380-2af3-11e9-9606-daa9890139ae.png)
It would be nice if the words sites and ages were links to popups of the sites and ages tables so people could look at them if they wanted to. A low priority issue that I will add shortly.

I don't think we

[2019-02-08 00:43] njarboe commented on #505
@moonshoes87, Going over the workflow again I think the default behavior should be to not have to do anything if all the ages are present. I started to try and fix the check box logic but decided you could do a much faster and less buggy job.

If you could change the top text in the age box to:
"If the data is from a validated file downloaded from the MagIC database, it will have ages for all site

[2019-02-08 01:57] njarboe commented on #510
I just pulled from the master pmagpy repository on the server and ran make_magic_plots again and got this plot.
![lo__alho 31_si__al_01_sa___sp___co__g_ty__eqarea_](https://user-images.githubusercontent.com/1278789/52454678-88b47400-2b01-11e9-9ad1-8f437f96e119.png)

With your changes, what were you expecting? Maybe not committed and pushed? @moonshoes87 Or it runs with some non default parameters

[2019-02-08 03:05] moonshoes87 commented on #510
@njarboe, I haven't pushed a fix for this issue yet.  Only sites for one of the two locations are being plotted -- the reason for this was a check on the citations column so that only sites from "This study" would be plotted.  In this contribution, the sites from Alho 06 had an additional citation: "10.1038/srep24762: This study", and so all of those sites were being ignored.  With that bug fixed,

[2019-02-08 21:52] moonshoes87 commented on #511
str.format() will do the same (rounding the float, not truncating), but it will allow us to control where the rounding happens. Looking through Lisa's code in pmag.py, floats are usually rounded to somewhere between 3 and 7 digits after the decimal point.  Because we are now using pandas, in many cases floats are being left super long.  I think rounding to 7 digits after the decimal is still prett

[2019-02-08 21:58] moonshoes87 commented on #505
Ok, this makes sense.  I will add it.

[2019-02-08 23:43] moonshoes87 commented on #505
@njarboe, have a look.  I made the ages box toggle open/closed depending on whether "add ages" is checked or unchecked.  I also changed the top text to just say "you can add site ages here", because otherwise the dialog started to look very verbose.  I changed the checkbox to "add ages" as you suggested, and updated the logic.

[2019-02-11 04:35] njarboe commented on #511
If someone puts in 1.18000000004 on purpose we should keep it. Rounding to some number of digits is not the right procedure if we can avoid that. If a value is put in by the user as .000045675 we would like to keep it. I don't think you quite grok what I am hoping to achieve. If the string in the MagIC file is .000045675 and then the str to float to str conversion creates .00004567499999999998 or

[2019-02-11 18:33] moonshoes87 commented on #511
No,  there is no way to recover the original string value.  `str.format()` and `str()` both use the same method of rounding floats, the only difference is that in the case of `str.format()` we can choose how many digits to round to (whereas `str()` defaults to something like 15) .  As far as I am aware, once we've converted a string to a float there is no way to recover the "true" string value aga

[2019-02-11 18:34] moonshoes87 commented on #510
@njarboe, let me know if anything else/different is desired here, otherwise I will close this issue.

[2019-02-11 18:46] moonshoes87 commented on #412
This has been done to a large extent -- at this point specific requests can be opened in new issues.

[2019-02-11 18:46] #412 closed

[2019-02-11 18:58] moonshoes87 commented on #414
@ltauxe -- sorry if we've talked about this before (I'm guessing we have).  Looking back in git history, I'm not sure when/if this functionality was working/existed.  Maybe you can help point me in the right direction?

[2019-02-11 18:59] #460 closed

[2019-02-11 19:00] moonshoes87 commented on #410
This functionality has been added, fixes or additions can be requested in new issues as needed.

[2019-02-11 19:00] #410 closed

[2019-02-11 19:12] njarboe commented on #511
Hello Lori. Do you have time to Skype for a moment to clear up this issue for me? I still believe that a simple print(x) command will do what I hope it should do. It is smart about knowing how numbers are stored in base 2 64 bit format and what are the rounding problems are. Here is a sequence of output that show what I mean. We should not have to set the precision but maybe the code is doing some

[2019-02-11 19:15] njarboe commented on #510
I'll check it out in a bit.

[2019-02-11 19:49] moonshoes87 commented on #511
Yes, it seems probably that having 16 digits after the decimal is pretty good at dealing with base 2 float  conversion issues.  `"{:16f}".format(x)` is the same as `str(x)` (except for trailing 0's, which can be removed), and we can't keep more precision than that anyway.

Also note that it isn't `str()` or `print()` that is doing the rounding in your examples, it is just happening in the assignme

[2019-02-11 19:50] njarboe commented on #510
Looking good.
Instead of the label "All" at the top of the plot it would be better to have the location name and the number of sites. So for this one:
http://34.236.167.37/plots/16587/LO:_Alho%2006_SI:_AL_06-01_SA:__SP:__CO:_g_TY:_eqarea_.png
![screen shot 2019-02-11 at 11 40 33 am](https://user-images.githubusercontent.com/1278789/52589145-007cea00-2df3-11e9-86f8-c3e2f52e1217.png)

It would be "A

[2019-02-11 20:07] njarboe commented on #511
I'm glad you agree that str() with probably work well for this. I think it has been well engineered for dealing with this problem. Let's try that and see if the long unwanted ascii values disappear. If that doesn't clear up the problem, a video conference might be a quick way to clear up the problem.

[2019-02-11 21:51] moonshoes87 commented on #510
@njarboe, looks good.

![all_alho_06_g_eqarea](https://user-images.githubusercontent.com/1836578/52595988-121abd80-2e04-11e9-9a75-9b84cea3fd78.png)

In the medium term, I expect to create an images table and use very simple names for the plots (i.e., "1.png").  So the spaces vs underscores issue shouldn't be a problem indefinitely.  However, if it is overly annoying now, I can implement underscore

[2019-02-11 21:51] jbowles100 commented on #497
Hi Lori,

I was wondering when this change might be reflected in the pip release?

Thanks,

Julie

[2019-02-11 21:55] moonshoes87 commented on #492
Looks like tests are passing and this is working again, and more efficiently than before.

[2019-02-11 21:55] #492 closed

[2019-02-11 21:57] moonshoes87 commented on #327
I just did some optimizing so that data model/vocabularies are only grabbed once per session.  However, for now I'm not going to cache this stuff on the user's machine, since we would then probably want to install it to a different location than where it currently goes with pip for easy write access.  I think the optimizations that are already in place are good enough.

[2019-02-11 21:57] #327 closed

[2019-02-11 23:37] njarboe commented on #510
Looks good.

[2019-02-11 23:37] #510 closed

[2019-02-12 03:24] njarboe commented on #505
@moonshoes87 The ages box toggle is nice. This looks good. I'm closing this issue. I still don't really understand how all the different specimen orientation boxes work, but I can look into that later.

[2019-02-12 03:24] #505 closed

[2019-02-12 03:29] njarboe commented on #511
So I downloaded this file from the database:
[magic_contribution_16591.txt](https://github.com/PmagPy/PmagPy/files/2853997/magic_contribution_16591.txt)
loaded into demag gui, made some fits, and exported as MagIC files and got this data file:
[Eastern-Sheep-Creek_Sheep-Creek_Valmy-Contact-Sheep-Creek_11.Feb.2019.txt](https://github.com/PmagPy/PmagPy/files/2854010/Eastern-Sheep-Creek_Sheep-Creek_V

[2019-02-12 20:06] moonshoes87 commented on #511
Yes, this will happen when we generate floats.  We can use string formatting directly in the code, as is done in many places in the code with generated values, i.e.:

     ResRec['vgp_lat'] = '%7.1f' % (plat)

In the above example, the intensity will be stored as an exponent with up to 7 digits before decimal point and 1 after.  We can also use rounding and/or truncating from the `math` package, b

[2019-02-12 22:19] moonshoes87 commented on #497
Hi Julie,

I just pushed up the new release now (4.2.19).  We usually make releases about once a month, but I can usually do one ASAP if it is needed, so feel free to ask!

thanks,
Lori

[2019-02-12 22:36] jbowles100 commented on #497
Thank you!!

[2019-02-12 23:22] njarboe commented on #511
You mean vgp_lat not intensity right?

At least the str->float->str conversion problems seem to be gone. Those were the most annoying. I think we can pass on this problem for now unless implementing the below is easy. That would work, I think,  for any data in MagIC and we don't have to set arbitrary precision limits on our data that other might want.

We could implement a function that looks at t

[2019-02-12 23:28] njarboe opened #512 "Jarboe's plots don't have the new color scheme"
@moonshoes87
I don't seem to be running with the code that produces Lisa's changes with the new color scheme. If you would comment with an image of a correct plot and a datafile that you used to produce it, that will help me figure out what is wrong. I'll then rerun all the plots. Thanks.

[2019-02-12 23:41] ltauxe commented on #512
is it possible that the code you are using calls plot_map_basemap instead of plot_map?  in pmagplotlib.py?  I didn’t change the basemap colors…
lisa

[2019-02-13 00:29] njarboe commented on #512
@ltauxe
Could you put a datafile that is plotting correctly and an image of what the plot looks like in a comment that would be quite helpful?  I am not sure what datafile will create the plot(s) and what the new plot(s) should look like. Debugging otherwise is a bit like looking for something in the dark.

[2019-02-13 01:08] ltauxe commented on #512
the working examples are in PmagPy.ipynb and PmagPy-cli.ipynb

lisa

[2019-02-13 04:36] moonshoes87 commented on #512
@njarboe, in data_files/3_0/McMurdo:

    polemap_magic.py -sav -fmt png -rev gv 40

produces this plot:

![mcmurdo_pole_map_t](https://user-images.githubusercontent.com/1836578/52687127-66f22d00-2f05-11e9-8d72-d1650a488c2f.png)

(That is the command that is called within make_magic_plots.py).

This is the commit that has those changes: 1247e92a91d70819c0905b46c9776d566326a90c

One other thought -

[2019-02-13 04:43] moonshoes87 commented on #511
I will play with this -- might not be horribly slow with pandas/regex.

We could see values like this, though, right?

3.9999999

But that just adds one additional check.

[2019-02-13 04:46] moonshoes87 commented on #512
And here's the figure I get with the same polemap_magic.py command, after checkout out the commit before Lisa's changes:

    git checkout 1247e92^
    polemap_magic.py -sav -fmt png -rev gv 40

![mcmurdo_pole_map_t](https://user-images.githubusercontent.com/1836578/52687501-1976bf80-2f07-11e9-9905-b0619caba2d5.png)

[2019-02-13 04:47] njarboe commented on #512
The plots are now working fine. More comment to follow.

[2019-02-13 05:04] njarboe commented on #512
The plotting feature was put up on the live site before I did any testing so when they were put up it was a bit of a scramble to try and fix a lot of problems quickly. I did not re-run all of the plots every time there was a change in the plotting code as that was happening every few hours. The server takes 8-10 hours to run them all. Running the server when it was making new plots and serving up

[2019-02-13 05:38] njarboe commented on #512
I started the plots running again at around 4:30pm so they should finish up tonight.

These three are quite large and are done separately:
magic_contribution_16274.txt  magic_contribution_16438.txt  magic_contribution_16508.txt
I'l run those in the morning.

[2019-02-13 05:38] #512 closed

[2019-02-13 15:59] njarboe commented on #511
That is true.

Hopefully there are not too many additional edge cases that will make it very complicated/slow :).

[2019-02-13 17:50] rminnett opened #513 "Zijderveld Green Line is Plotting Outside of the Axes"
**What command was run:**

https://earthref.org/MagIC/13613 and clicked on plots thumbnail

(https://earthref.org/MagIC/16533 is another example)

**What happened:**

Zijderveld plots (e.g. 4th plot) are plotting the green line outside of the axes:

![image](https://user-images.githubusercontent.com/1182698/52731887-b40ce800-2f73-11e9-9d7d-62244996a65f.png)

**What I expected to happen:**

To be a

[2019-02-13 17:57] rminnett opened #514 "Anisotropy Plots Are Missing the Header and Footer"
**What command was run:**

https://earthref.org/MagIC/16436 and clicked on plots thumbnail

**What happened:**

The anisotropy plots (e.g. the first two plots) are missing the header and footer:

![image](https://user-images.githubusercontent.com/1182698/52732642-90e33800-2f75-11e9-8180-31233111166e.png)

**What I expected to happen:**

To see the header and footer like the equal area plots:

![im

[2019-02-13 18:13] njarboe commented on #513
I don't know of any fits that display correctly. I don't see any fits in the earthref.org/MagIC/16502 Santos & Tauxe 2018 data set and earthref.org/MagIC/16533 Tauxe 2004 has some fits but they have the same problem. I'll try downloading the SantosTauxe 2018 and adding some fits later this afternoon, although it is unlikely that will work.

I have been using Bogue 2017 to debug the upload->downloa

[2019-02-13 18:16] rminnett opened #515 "Create MagIC Plots With a Higher Resolution"
Plots are currently on the order of 400px square. For submission-ready plots and viewing on high pixel density monitors, I think at least 600 dpi (although Nature recommends 1200 dpi for line drawings: https://www.nature.com/authors/policies/image.html) is better. For a 3" square 600 dpi figure in a journal or about a 6" square region of a 4k 15" screen, that's at least 1800px square.

[2019-02-13 18:18] njarboe commented on #513
@moonshoes87 @ltauxe If anyone knows of a data set that displays fits correctly that is in MagIC or I can upload to MagIC, that would help with the debugging. Data from the Swanson-Hysell group with fits are also not plotting correctly. earthref.org/MagIC/16403

earthref.org/MagIC/11883 has not plots made

[2019-02-13 18:18] rminnett commented on #514
So do histogram plots (e.g. https://earthref.org/MagIC/16433):

![image](https://user-images.githubusercontent.com/1182698/52733882-b756a280-2f78-11e9-8ad8-bc68fad2a9c5.png)

[2019-02-13 18:20] njarboe opened #516 "earthref.org/MagIC/11883 has data to measurement level but no plots are being made"
earthref.org/MagIC/11883 has data to measurement level but no plots are being made. Need to run make_magic_plots on this data to see if it is a data or make_magic_plots problem.

[2019-02-13 18:46] ltauxe commented on #513
this one works perfectly well:  magic_contribution_16533.txt

so does this one:  https://earthref.org/MagIC/13613

![lp1001a1_g_zijd](https://user-images.githubusercontent.com/174861/52735390-621c9000-2f7c-11e9-9928-7055456ec48a.png)

the santos and tauxe example is for a bunch of unoriented samples so there are no fits to plot.

so I cannot reproduce your problem.  I downloaded both of these and

[2019-02-13 18:51] Swanson-Hysell commented on #513
The fits look good within demag_gui for the Fairchild et al. 2016 contribution (https://earthref.org/MagIC/16403) you referenced:

<img width="642" alt="screen shot 2019-02-13 at 10 49 45 am" src="https://user-images.githubusercontent.com/4332322/52735778-2fbf6280-2f7d-11e9-8276-4d7c6f2a4347.png">

[2019-02-13 19:11] jbowles100 commented on #497
Hi again, Lori.  Thanks for pushing this through.  We had a chance to test this out in class today, and the result seems to be that it works fine on the Mac (developer or pip install), but not on Windows machines (all with pip install).  Since I’m working off a developer version on a Mac, it’s a bit hard for me to track down the source of the problems on a PC.

Cheers,

Julie

[2019-02-13 19:27] moonshoes87 commented on #511
I can't think of any other edge cases.  I'll have a look.

[2019-02-13 19:52] moonshoes87 commented on #514
Working on this.  Small data integrity note:  the contributions table lacks the id column in this download.

Here's a first pass at some fixes.  There are some inconsistencies with how the program is set up to format these -- i.e., the tcdf plot doesn't have a secondary label, and the other two have 'bootstrap' and McMurdo respectively.

![lo _mcmurdo_si __sa __sp __co _s_ty _aniso-conf_](https://

[2019-02-13 19:57] njarboe commented on #513
Ok. I'll check those out and hopefully get the correct plots up on the website shortly.

[2019-02-13 20:04] rminnett opened #517 "Some Data Labels on MagIC Plots are Illegible"
For example in :

https://earthref.org/MagIC/16418:
![image](https://user-images.githubusercontent.com/1182698/52737907-53d17280-2f82-11e9-9e11-d37b9d08e873.png)

https://earthref.org/MagIC/16415:
![image](https://user-images.githubusercontent.com/1182698/52738309-39e45f80-2f83-11e9-97ff-341506b518fb.png)

https://earthref.org/MagIC/14510:
![image](https://user-images.githubusercontent.com/1182698

[2019-02-13 20:12] moonshoes87 commented on #514
https://earthref.org/MagIC/16433 is also missing contribution.id.  Additional weirdness -- the names are not consistent between table levels, so there is not a full hierarchy from measurements -> locations.

Also, I noticed on MagIC there are only 3 plots for this contribution, but when I run it locally, I get additional hundreds of plots.

[2019-02-13 20:13] njarboe commented on #514
@rminnett The lack of contribution IDs is a problem for magic_geomagia.py also. I have added the issue to https://github.com/earthref/MagIC/issues/374 but maybe should have its own?

[2019-02-13 20:24] rminnett opened #518 "Create 300px MagIC Plot Thumbnails"
I used to do this with ImageMagick by cropping to the axes boundaries (based on the plot type), resizing so the larger of the two dimensions is 100px:

Plot:
![image](https://user-images.githubusercontent.com/1182698/52740987-3522aa00-2f89-11e9-8a23-b5001cf47f9e.png)

Cropping Boundary (this only worked well if the axes boundaries were in the same place for each plot type):
![image](https://user-i

[2019-02-13 20:28] moonshoes87 commented on #514
First attempt with histplot, MagIC borders added:

![lo __ty _intensities_histogram _](https://user-images.githubusercontent.com/1836578/52741608-9d25c000-2f8a-11e9-91c2-80a7446f0582.png)

How should this plot be titled?  Also, is it a problem that it is a different size/shape from most of the other plots?

[2019-02-13 20:32] rminnett commented on #514
Maybe "Intensity Histogram" might be a bit more clear (although "Intensity" is in the x axis label)? It would be nice if the area under the histograms was colored in (light grey?) to make it more clear where most of the data are. I'll let @njarboe and @ltauxe decide about plot titles for the other types above.

[2019-02-13 20:39] rminnett commented on #514
We have an old issue for this (https://github.com/earthref/MagIC/issues/291), so I elevated it back to P1 and I'll check for and insert the contribution.id field and upload to S3

[2019-02-13 20:42] rminnett commented on #514
@moonshoes87 the aspect ratio isn't critical, although as close to square as possible is better, as long as the axes bounding box is consistent relative to the final figure for each plot type to make creating nice thumbnails possible (#518).

[2019-02-13 20:45] njarboe commented on #513
@moonshoes87 I'm checking out FairchildET2016 from the Nick S-H comment.
[magic_contribution_16403.txt](https://github.com/PmagPy/PmagPy/files/2862133/magic_contribution_16403.txt)

It looks OK on the non-server version( although it would be nice to add second fits at some point):
![screen shot 2019-02-13 at 12 26 37 pm](https://user-images.githubusercontent.com/1278789/52742236-2e496680-2f8c-11e9

[2019-02-13 21:09] njarboe commented on #514
@rminnett Are you going to make changes to the contribution files and keep the same magic id. It is pretty nice that all files named magic_contribution_16544.txt are always the same and one does not need to consider if one is working with the most updated version of a data file. I have data files in many areas and having to download a new copy from the website each time to make sure it is not an o

[2019-02-13 21:17] njarboe commented on #514
@moonshoes87 @Lisa
I think it would also be nice to have an easy way to know how many for something is in each bin. I like having the frequency axis but maybe you could put a number axis on the other side. Lots of plots are like this and would be pretty neat.

[2019-02-13 21:20] njarboe commented on #514
This might not be the best contribution to use to comment on other plot features as the id and hierarchy are missing. A (sub)title with the location:site:sample/specimen displayed is needed but maybe that already happens when the data is not corrupt.

[2019-02-13 22:17] moonshoes87 commented on #514
@rminnett, that's good to know.  I am hesitant to mess with the aspect ratios as @ltauxe set them up, however it is very easy to change them if we agree that the visual representation of the data isn't undermined.

![lo __ty _intensities_histogram _](https://user-images.githubusercontent.com/1836578/52747773-83d84000-2f99-11e9-97af-ed0a2f24b3be.png)

[2019-02-13 22:19] moonshoes87 commented on #514
I'll try adding this as well.

[2019-02-13 22:28] moonshoes87 commented on #513
@njarboe, I don't have an environment set up.  I've just been downloading files and setting pmagplotlib.isServer to True.  Let me have a look at this locally first, and if I can reproduce the problem then we can think about server access later.

[2019-02-13 22:49] ltauxe commented on #514
i can re-do the histogram plots with square plots, and even a kernel density curve (which is nicer than a histogram anyway).

[2019-02-13 22:52] moonshoes87 commented on #514
@njarboe, adding a second y axis is turning out to be a bit tricky.  I will return to this as it is lower priority than some of our other issues.

[2019-02-13 22:54] njarboe commented on #514
@moonshoes87 Ok. Save for later.

[2019-02-13 23:10] ltauxe commented on #517
The weird demagnetization plot happens if the method codes are incorrect.  this must have been a complicated experiment and the data were improperly labeled or zeq_magic wasn't designed to cope with it.  As for the zijderveld diagrams, this is a 'feature" of having a lot of closely spaced demag steps and zeq_magic will plot them this way.  we can't anticipate every single contingency.

[2019-02-13 23:11] moonshoes87 commented on #513
I can reproduce the problem.  I don't know how to fix it yet.  A quick "solution" would be not calling pmagplotlib.add_borders for this type of figure, in which case we will have the non-server type of plot that lacks header and footer.  If we want to re-run plots ASAP and have them look reasonable, this is my suggestion.  Spacing things is always a pain and a solution could come quickly or slowly

[2019-02-13 23:15] ltauxe commented on #516
This works absolutely fine for me.
download_magic.py -f magic_contribution_11883.tx
then
make_magic_plots.py

worked a treat..  e.g.:

![cm1-1a_g_zijd](https://user-images.githubusercontent.com/174861/52750798-154bb000-2fa2-11e9-98c7-ca53abf05a98.png)

[2019-02-13 23:16] ltauxe commented on #516
but the aged range for this is listed as 0-1.092 Ga.  I think all the data are from 1.092Ga.

[2019-02-13 23:18] ltauxe commented on #515
This little plots aren't supposed to be for publication really - they are intended as a quick look.  can you download the plots anyway?  I can make them at higher resolution no prob, but I'm not sure that is what we intended...  I would download the data, make nicer plots for publicationwith the GUIs or in the notebooks.. No?

[2019-02-13 23:22] ltauxe commented on #514
I think the anisotropy plots are completely meaningless for this study as they are all unoriented and the data were for correcting the paleointensity measurements.  is there some way to suppress making silly plots?  maybe all equal area projections should be in either geographic or stratigraphic coordinates  for a start?   - this goes for equal area projections  or directions for nything other tha

[2019-02-13 23:24] ltauxe commented on #514
regarding the histogram plot, making a second y-axis on the right with the numbers is pretty easy (twinx command).  I'll give it a go

[2019-02-13 23:26] moonshoes87 commented on #514
I tried twinx, but couldn’t get the units right.  Good luck!

[2019-02-13 23:33] ltauxe commented on #514
It is plt.twiny().  One could be normalized (density set to True) and one not normalized.

   but histplot.py already has the option to plot things that are not normalized (the -N option).  Should I take out the option and just do it both ways for everybody?

[2019-02-13 23:33] ltauxe commented on #513
why does the header and footer mess with the green line?

[2019-02-13 23:38] ltauxe commented on #499
probably not my strong suit.  I could play with it using the new pySimpleGUI package - that seems very straight forward and is built on Tkinter.   but we would have to install that (easy - but another step).

[2019-02-13 23:45] ltauxe commented on #514
it’s twiny sorry I can have a look, but we already have a -N option for un-normalized plots.  should i change it so that it plots both ways always?

lisa

[2019-02-13 23:49] moonshoes87 commented on #513
That's the question.  I'm pretty confused.  It seems like adding border_ax (plt.Axes object) messes up the whole plot, for some reason, although it doesn't cause any problems in the other types of plots.

[2019-02-14 00:12] moonshoes87 commented on #497
Thanks @jbowles100 -- I will try this on my Windows virtual machine and see what I can find.  I don't always test everything on Windows, so those bug reports are especially helpful!

[2019-02-14 00:19] moonshoes87 commented on #513
It looks like the axis is getting weirdly reset and maybe even flipped.  The border_ax axes is supposed to just overlay the existing plot axis, but it doesn't seem to do that.  I added a bunch of x,y coordinate points to the plot (in the areas where they are readable), and they don't make a lot of sense.

So the earthref panel is getting put at .09999, .03, which should be basically the bottom lef

[2019-02-14 02:19] ltauxe commented on #513
I cannot reproduce this at all!  it doesn’t do it on my computer.  we can try to debug on thursday on your computer.  i guess it is only when we add the header and footer?
lisa

[2019-02-14 02:20] ltauxe commented on #513
right.  weird.
lisa

[2019-02-14 02:25] rminnett commented on #517
Yes, I agree, this isn't critical, just an iterative step towards a more "publication-ready" ideal that we're pursuing, but feel free to ignore this issue if it's determined to not be worth changing.

If the axis limits on the Zijderveld plots above (e.g. if the x axis on the second one was -25 to 0, or whatever the min/max x data are) it would make the individual points more clear (or just fewer

[2019-02-14 02:28] ltauxe commented on #517
let’s just park this problem for now as each case would be different.
lisa

[2019-02-14 02:32] rminnett commented on #515
We can certainly add a download button (they are downloadable now if you right click and choose Save As or open in a new tab and Save). Yes, I suppose vector plots are better for publication anyway, but higher resolution won't take up much more space (most of the content is a solid color and compresses well). We could try making high resolution .png and .svg plots from make_magic_plots and see whi

[2019-02-14 03:41] ltauxe commented on #515
it would have to be added as an option for each of the individual plotting programs. can do, but not highest priority right now.
lisa

[2019-02-15 20:26] moonshoes87 commented on #516
Running locally and with isServer set to True, I also get lots of plots.

[2019-02-15 20:56] njarboe opened #519 "Bogue2018 with one location produces no equal area plot"
This magic file has one Location and sites but nothing lower. No plot is produced but expected one equal area plot of directions
[magic_contribution_16592.txt](https://github.com/PmagPy/PmagPy/files/2870641/magic_contribution_16592.txt)
Maybe their is a problem with the data but it passes validation and has directions, so I think an equal area plot of the sites should be produced.

While this simi

[2019-02-15 23:28] moonshoes87 commented on #513
It looks like only zijderveld plots with a best fit line have problems.  So, Zijderveld plots produced by zeq_magic for contribution 16432 are totally fine.

[2019-02-15 23:54] moonshoes87 commented on #513
It only happens when `pmagplotlib.plot_dir` is called.

[2019-02-16 00:48] ltauxe commented on #514
actually - it WAS twinx (not sure why), but anyway, i added an option to plot both to histplot.py (-twin) and changed make_magic_plots.py to do it that way.

[2019-02-16 04:50] moonshoes87 commented on #497
@jbowles, when I investigated it seemed like the problem was related to trying to save plots on Windows, and the program sometimes running very slowly.  I believe I have fixed that (on master).  Was there any other issue that your students were encountering on Windows?  If not, I will go ahead and make a new release with the fix.  If so, could you send me more details about what else was going wro

[2019-02-18 19:25] #514 closed

[2019-02-18 19:51] moonshoes87 commented on #519
eqarea_magic is being called appropriately, but it only plots records that contain "This study" in the citations column.  "This study" is not included in any of the rows in this sites table:

    10.1029/2018GC007748:10.1029/JB089iB12p10341

Should this be fixed in the contribution, or relaxed in the contribution_builder module?

[2019-02-18 20:49] moonshoes87 commented on #516
@njarboe, let me know if there is something else you want me to do with this issue -- for now I can't seem to reproduce your problem.  Is it possible you linked to the wrong contribution?

[2019-02-18 22:57] moonshoes87 commented on #513
I believe I found the solution.  `pmagplotlib.add_borders` (which draws the header/footer for plots on the server) can only be called AFTER every other plotting command runs.  In zeq_magic.py, `pmagplotlib.plot_dir` was being called after `pmagplotlib.add_borders` if specimen interpretations were available.  That's a big sigh of relief.  Knowing that, we can move forward with adding interpretation

[2019-02-18 23:08] moonshoes87 commented on #513
@njarboe, looking at the initial examples it looks like the plots were re-run without best fit lines?  I can no longer find examples on MagIC of the pathological plots. I'm not sure where this change was made or if it is on master, but now might be a good time to re-run plots again, especially if we can put up a quick solution (either in the data or in the contribution_builder.py code) for #519.

[2019-02-18 23:10] moonshoes87 commented on #513
![lo _slate islands_si _pi15_sa _pi15-10_sp _pi15-10a_ty _zijd_](https://user-images.githubusercontent.com/1836578/52980522-53c0e080-338f-11e9-9d72-52387c3d85b0.png)

[2019-02-18 23:10] #513 closed

[2019-02-18 23:18] moonshoes87 commented on #515
I think this might be simple.  It may not catch all cases, but I believe that most plotting programs will call plot_init.  See the above commit. @njarboe and @rminnett, could you test this out and see if it is what you want?   Looking at it in Preview, I'm not sure if this is actually producing "bigger" plots as well, but I assume it is relatively simple for you to resize as needed.

[2019-02-18 23:47] moonshoes87 opened #520 "refactor zeq_magic"
This will requires working out some details with the interactivity, and adding plotting of interpretations to ipmag.zeq_magic.

[2019-02-19 04:53] ltauxe commented on #515
or it is in the savefig command - like setting the dpi to 300 or something.

[2019-02-19 04:54] ltauxe commented on #513
hurray

[2019-02-19 04:58] ltauxe commented on #519
this is a hold-over from the old data model.  we can ignore this.

[2019-02-19 04:59] njarboe commented on #516
I left this issue so that I would not forget to check out what the problem was with the data file. I had not run make_magic_plots on the data so I was wondering why the plots were not show up on the server. Found out there are a few data files that I thought were from the 2.5 data model that actually was from 3.0. This is one of them. I will re-run the plots shortly to get the other fixes run and

[2019-02-19 04:59] #516 closed

[2019-02-19 05:02] njarboe commented on #513
Will be re-running shortly

[2019-02-19 05:04] njarboe commented on #519
Yea. Go ahead and plot them. We now allow using the doi of the contribution in the citation table instead of "This study"

[2019-02-20 01:30] moonshoes87 commented on #519
@njarboe and @ltauxe -- just confirming, I will remove this filter entirely, so all rows will be plotted regardless of citation.  If that is incorrect, let me know.

[2019-02-20 01:34] #519 closed

[2019-02-20 01:39] moonshoes87 commented on #515
It looks like it works either way:

High resolution:
![lo _slate islands_si _pi15_sa _pi15-10_sp _pi15-10a_ty _zijd_](https://user-images.githubusercontent.com/1836578/53059760-dff50580-346c-11e9-932d-1a8b9ae4cd79.png)

Low resolution:
![lo _slate islands_si _pi15_sa _pi15-10_sp _pi15-10a_ty _zijd_](https://user-images.githubusercontent.com/1836578/53059782-f9964d00-346c-11e9-9184-54d3ba662f3b.png

[2019-02-20 01:42] moonshoes87 commented on #515
@rminnett, let me know how those look.

[2019-02-20 04:20] moonshoes87 commented on #511
@njarboe, could you give this a test?

[2019-02-20 07:17] rminnett commented on #515
@moonshoes87, yep, those look much better (either way is fine, they both make 4400x4800 px images in this case). If you can, I would make them a quarter of that size (2200x2400 px in that case).

The green trend line looks much better on these plots now, but it looks like the grey header and footer borders are gone now. However, I think they actually look a bit better like this (@njarboe, do you a

[2019-02-20 07:32] rminnett commented on #515
Actually, just 3x the size in each dimension would be better (1320x1440 in that case). I can see that some of the latest plots on MagIC are already over 4k pixels in each dimension and taking a little while to load from S3 (and probably taking up unnecessary space there).

[2019-02-20 07:40] rminnett opened #521 "VGP Map plots should use the "TY:" tag in the file name"
VGP Map lots are being given names like this:

16349/LO:_Chile_VGP_map.png

When they should be:

16349/LO:_Chile_TY:_VGP_map_.png

So that "VGP map" isn't interpreted as part of a location name in this case.

[2019-02-20 19:29] moonshoes87 commented on #511
I'm fixing two small bugs in this code, but it now seems to be working.

I added a fix for values that end like this: `0.053979999999999986` to be caught and changed to `0.05398`.

[2019-02-20 19:37] njarboe commented on #511
I'll do another upload-download-PmagPy cycle today and will check this out.

BTW where is this code so rupert or I could look at it/use it if we need to?

[2019-02-20 19:41] moonshoes87 commented on #511
It is a MagicDataFrame method in pmagpy/contribution_builder.py, part of `all_to_str`.

See this [commit](ace8ed3a7c9ef9b469d71ad1afa89f3c29689579)

[2019-02-20 19:51] moonshoes87 commented on #515
I haven't been able to look into the question of making thumbnails yet.  It looks like it may be quite easy to do with the `pillow` module, so I can try that.

As far as sizing plots is concerned, with our plotting library (matplotlib) I have two things to play with: dpi and plot size.  However, it appears that setting the dpi higher results in plot that is larger by default.  What I have done so

[2019-02-20 20:04] moonshoes87 opened #522 "make sure method codes are only grabbed once"
Make sure it is like data model.

[2019-02-20 20:52] njarboe commented on #519
Works. Great. Plot now on website.

[2019-02-20 22:19] rminnett commented on #515
If you keep the figure size the same and set the dpi to 240 (3x what you were doing instead of 10x), I think that should make clear plots that aren't too big to store 100k+ of them on S3 nor too big to transfer. If you can make dpi=80 ones as well with ".thumb.png" file names that will help keep the plots quick on the website (they can be replaced with cropped ones later).

[2019-02-20 22:23] rminnett commented on #518
Actually, if you start with a larger image and can resize and crop within the axes to 300px instead of 100px, that would look better on higher density screens,

[2019-02-20 23:14] moonshoes87 commented on #518
Thumbnails are very easy to make.  No cropping yet, but I added a simple program called thumbnails.py that will make thumbnails for every image in a directory.  I should be able to add cropping based on image type.  For now:

![lo _chile_ty _vgp_map thumb](https://user-images.githubusercontent.com/1836578/53121275-b8ec1180-3508-11e9-992d-806c9f31afca.png)
![lo _chile_ty _vgp_map](https://user-imag

[2019-02-20 23:14] #521 closed

[2019-02-20 23:16] rminnett commented on #518
Great, thanks, can you make them 300px thumbnails (see above comment) when you have a chance?

[2019-02-20 23:18] moonshoes87 commented on #515
I don't have a way of keeping the figure size the same but changing the dpi.  When I changed the dpi using matplotlib, the figure size changed as well. I'm not sure if there is a way around this...  I am not very experienced in editing images this way.   I will go ahead and try setting the dpi to 300, and look into changing dpi without changing figure size.

Thumbnails are easy to do using `pillow

[2019-02-20 23:52] moonshoes87 commented on #518
Using all of these python modules, changing the number of pixels changes the size -- this seems to be the way of resizing.

This is the cropped thumbnail for an equal area plot, using 300 px by 300 px:

![lo _chile_si _10cl14_sa __sp __co _t_ty _eqarea_ cropped_thumb](https://user-images.githubusercontent.com/1836578/53132950-4a1db100-3526-11e9-8687-36a08ddfe803.png)

If I use 100 px x 100 px size

[2019-02-20 23:59] moonshoes87 commented on #518
Also, do they need to be cropped exactly square?  I.e., see the vgp map example, which is very rectangular:

![lo _chile_ty _vgp_map thumb](https://user-images.githubusercontent.com/1836578/53133590-8225f380-3528-11e9-8f13-5294f73da74a.png)

[2019-02-21 00:14] rminnett commented on #518
That first equal area thumbnail looks great! No, just as long as the larger of the two dimensions is 300px, I can center it with a white background.

[2019-02-21 06:22] njarboe commented on #511
Uploaded the Bogue2017 data into PmagPy, added some fits, and exported the MagIC file. None of these rounding problems showed up. This is great. Thanks.

[2019-02-21 06:22] #511 closed

[2019-02-21 17:31] njarboe commented on #515
It will be very easy create a thumbnail image from the highres one on the server with ImageMagick. I'll get that installed and get that working. @rminnett What size do you want for the thumbnail? 100x100?

[2019-02-21 18:45] rminnett commented on #515
Max dimension = 300px, please (#518).

[2019-02-21 19:37] njarboe commented on #515
@moonshoes87 If you can have make_magic_plots make the thumbnails, that would be best. That way making them a bit different will be easy while shrinking bit ones with imagemagick won't do that. When that's working I'll test it out and re-run the plots.

[2019-02-21 20:13] moonshoes87 commented on #518
This is the current cropping for most if not all plot types. There may be some sneaky outliers.

![lo _mcmurdo_si __sa __sp __co _s_ty _aniso_conf_ thumb](https://user-images.githubusercontent.com/1836578/53197563-514cc980-35cf-11e9-9a70-bf35d0a43c49.png)
![lo _mcmurdo_si __sa __sp __co _s_ty _aniso_data_ thumb](https://user-images.githubusercontent.com/1836578/53197666-7ccfb400-35cf-11e9-9044-392

[2019-02-21 21:17] moonshoes87 commented on #518
Unfortunately I have no good way of guarding against these smaller equal area plots, which won't be as nicely cropped:

![lo _mcmurdo_si _mc01_sa _mc01f_sp _mc01f_co _g_ty _eqarea_ thumb](https://user-images.githubusercontent.com/1836578/53201464-f28c4d80-35d8-11e9-9dce-28eaa3f6fcc7.png)
:
![sp _mc01d_ty _eqarea_ thumb](https://user-images.githubusercontent.com/1836578/53201379-b822b080-35d8-11e9-

[2019-02-21 21:38] moonshoes87 commented on #515
Ok, I'm closing this issue -- @rminnett, if the 240 dpi images are not satisfactory, please feel free to reopen.

[2019-02-21 21:38] #515 closed

[2019-02-21 21:38] moonshoes87 commented on #515
I will continue to update the thumbnails issue #518

[2019-02-22 00:46] njarboe commented on #518
I would say all of those are good enough for just a thumbnail. Except the histogram. It would be nice to have the solid line on the bottom, otherwise it looks a bit weird. Not a big deal if it is to much of a pain to fix.

[2019-02-22 00:55] njarboe commented on #518
Just pulled from master and I'm going to start redoing all of the plots shortly to get the new thumbnails and other improvements.

[2019-02-22 19:09] moonshoes87 commented on #518
@njarboe, it looks a little weird to me with just the bottom line:

![lo _mcmurdo_ty _intensities_histogram _ thumb](https://user-images.githubusercontent.com/1836578/53264860-946f7100-3691-11e9-9e41-1155cca14a41.png)

I think maybe all 4 bounding lines instead?

![lo _mcmurdo_ty _intensities_histogram _ thumb](https://user-images.githubusercontent.com/1836578/53265127-4dce4680-3692-11e9-9960-b0e7

[2019-02-22 19:21] moonshoes87 commented on #518
Two more things.  @rminnett, I changed the type of the anisotropy plots from aniso-conf/aniso-data to aniso_conf and aniso_data.  This is more consistent with our general naming scheme.  Let me know if this messes anything up for you.

Also, there may be plot types that I haven't caught, in which case there will be some plots for which thumbnails are not not cropped.  These failures will be logged

[2019-02-22 20:05] ltauxe commented on #518
yes you need all the axes and also the axis labels.
lisa

[2019-02-22 20:08] moonshoes87 commented on #518
@ltauxe -- this is just for the clickable thumbnails.  The full plots will be un-cropped.  Is that what you are thinking?

[2019-02-25 19:07] #522 closed

[2019-02-25 22:47] moonshoes87 commented on #520
@ltauxe, I've made a lot of progress on this.  I'm running into a confusing thing in the McMurdo dataset, though.

The problem is that there are two non-unique measurement names in this block, both `mc15a-LP-PI-TRM-LP-PI-ALT-PTRM-LP-PI-ZI4`.  This leads to a pandas error:

`ValueError: cannot reindex from a duplicate axis`

Here is the section of the measurements file for specimen mc15a:

[code]

[2019-02-25 22:59] moonshoes87 commented on #520
Here's the whole section before it got trimmed down (only including methods and treatment columns):

[code]

The reason that the two `mc15a-LP-PI-TRM-LP-PI-ALT-PTRM-LP-PI-ZI4` rows cause problems and the other duplicates don't is because we try to select all rows without the method codes `LT-PTRM`, and that is the only place we end up with duplication in our result.

[2019-02-26 00:05] moonshoes87 commented on #520
I've found a way around the above error -- but still, we should think about why this happened at all since it is in violation of the data model.

I've found another discrepancy between ipmag.zeq_magic and zeq_magic.py.

You can now call `zeq_magic.py` with the -new switch to use the not-yet-complete ipmag code.  You can run this in a notebook.

New way:
[code]
old way:
[code]
with the ipmag code,

[2019-03-01 20:09] moonshoes87 commented on #518
This looks pretty good on the website.  I'm closing this issue.  @njarboe, please let me know if you discover any missing thumbnail types.  If anyone else has other thoughts, feel free to reopen.

[2019-03-01 20:09] #518 closed

[2019-03-01 20:10] moonshoes87 commented on #444
It looks like this won't be resolved until 3.1.

[2019-03-01 22:41] moonshoes87 opened #523 "problem with new code for plot_mag_map"
**What command was run:**

In PmagPy.ipynb in the plot_mag_map section:

[code]

**What happened:**

[code]

**What I expected to happen:**

Seems like `gl` needs to be set earlier.  I do have shapely installed, so that isn't a problem.

**PmagPy version:**

master 5f3ede3

[2019-03-01 22:54] moonshoes87 commented on #523
Works if I change the code to:

[code]

@ltauxe, Do you mind if I just switch this?

[2019-03-01 22:58] moonshoes87 commented on #523
Seems to work correctly, so I pushed this change.  If I'm missing something, let me know.

[2019-03-01 23:03] moonshoes87 commented on #424
Next task:  go through alphabetically using PmagPy-cli and make sure that each plotting routine works in all 3 desired ways (command line interactive, save plots, and in notebooks).

[2019-03-01 23:23] moonshoes87 commented on #424
ani_depthplot -- DONE
aniso_magic -- probably can just refactor to use aniso_magic_nb

[2019-03-01 23:41] ltauxe commented on #424
can we recombine aniso_magic to use aniso_magic_nb?  and then get rid of aniso_magic_nb?
lisa

[2019-03-01 23:44] ltauxe commented on #523
go ahead

[2019-03-02 18:36] moonshoes87 commented on #424
@ltauxe -- yes, I'm going to try to do that on Monday :)

[2019-03-02 20:10] ltauxe opened #524 "thellier_gui.py doesn't save MagIC tables as expected"
**What command was run:**

thellier_gui.py

**What happened:**

I ran the auto-interpreter with a specified criteria.txt file and saved the MagIC tables.  They were not the same as the tables in the thellier-interpreter, which are correct.

**What I expected to happen:**

I expected the two to be the same
[archaeomag_test_file.zip](https://github.com/PmagPy/PmagPy/files/2922467/archaeomag_test_fil

[2019-03-05 19:59] ltauxe commented on #524
my bad.  this is working

[2019-03-05 19:59] #524 closed

[2019-03-05 20:11] ltauxe opened #525 "upload_magic is converting integers to floats and then upload fails in MagIC"
**What command was run:**

upload_magic.py

**What happened:**
the upload file was created as expected, but then the validation failed in MagIC.  upload_magic had taken inserted 'nan' values into the sites table where the site was blank and converted dir_n_measurements integer values to floats in the specimens
![screen shot 2019-03-05 at 12 09 59 pm](https://user-images.githubusercontent.com/17486

[2019-03-06 01:22] ltauxe opened #526 "demag gui not saving MagIC tables as expected"
**What command was run:**

demag_gui.py

**What happened:**
Tried to save MagIC tables and got an error:
ltauxe:~/Dropbox/4Rashida/Oriented_Analysis$ demag_gui.py -WD .
-I- You are in log mode.
    You can check your log output in "demag_gui.log"
    If you prefer verbose output to your Terminal/Command prompt, run "demag_gui.py -v"
Traceback (most recent call last):
  File "/Users/ltauxe/PmagPy/p

[2019-03-06 17:44] #523 closed

[2019-03-06 17:46] moonshoes87 commented on #525
@rminnett, I will see about fixing on the PmagPy side.  However, it seems to me that a value like 8.0 should not fail validation as an integer.  Do you agree?

[2019-03-06 18:11] ltauxe commented on #525
I agree completely.  but we should also fix it in PmagPy.
lisa

[2019-03-06 18:23] moonshoes87 commented on #525
@ltauxe, agreed.  I'm working on that now.

[2019-03-06 21:03] moonshoes87 commented on #525
@ltauxe, feel free to check my solution and close this issue.

[2019-03-06 21:04] moonshoes87 commented on #526
@ltauxe, I'll work on this next.

[2019-03-06 21:38] ltauxe commented on #525
yes - this works!  thanks.

[2019-03-06 21:38] #525 closed

[2019-03-06 21:40] moonshoes87 commented on #526
@ltauxe, this seems to be a simple issue that is fixed by ignoring blank values (it seems to happen in these files with specimens that have more than one row).  With the above fix, it all worked for me.  Let me know if you have any more trouble with this.

[2019-03-06 21:50] ltauxe commented on #526
bless you.  this works great now.

[2019-03-07 18:37] #526 closed

[2019-03-07 19:20] moonshoes87 commented on #424
@ltauxe, I know you have a few things on your plate, but could you check out my implementation of aniso_magic_nb into aniso_magic.py?  You will need to call it with the -new flag.  Let me know what, if any, changes are needed.

[2019-03-07 19:20] moonshoes87 commented on #520
@ltauxe, let me know if you are able to look at this before you go to sea!

[2019-03-07 21:20] ltauxe commented on #520
yes i will get to it.  but not today :)
lisa

[2019-03-08 07:19] rminnett commented on #525
Sure, the validation is only intended to verify that the entered data match the intent of the data model. I created https://github.com/earthref/MagIC/issues/440 to track this.

[2019-03-08 21:23] ltauxe commented on #520
well - i don't know why that would ever be in there as you shouldn't have both LT-T-Z and LT-PTRM in the same method code string.   but the real puzzle is why the syntax doesn't work - it tries to filter out all records with LT-PTRM in the method code, but seems to filter out ALL the records, whether that string is present or not!  that leaves an empty dataframe which of course blows up the whole

[2019-03-08 21:36] ltauxe commented on #520
the next step should be to add the interpretations for the AF data from the specimens.txt file - that doesn't work but the TH data does seem to work properly.  (compare results for mc01f in old and new):
old:  zeq_magic.py  -crd g -fsp specimens.txt -spc mc01f -fmt png
![mc01f_g_eqarea](https://user-images.githubusercontent.com/174861/54056999-8ac42e00-41a6-11e9-9b9b-cb30b3c4dfb0.png)
![mc01f_g_zi

[2019-03-08 21:36] ltauxe commented on #520
Another problem is that the -new option does not do the geographic coordinate system transformation as the old one did (see difference in plots).

[2019-03-08 21:38] ltauxe commented on #520
so summary of issues for zeq_magic.py -new:
1) doesn't do -crd switch correctly (no geographic coordinates)
2) doesn't put on the interpretations for the AF data - only the thermal data.
3) mystery about why the filtering by LT-PTRM method code fails (not urgent - just a puzzle)

[2019-03-08 21:50] moonshoes87 commented on #520
Thanks @ltauxe.  I will work on 1 & 2 today or Monday.

[2019-03-08 23:46] moonshoes87 commented on #520
Ok, so -crd was indeed never implemented into ipmag.zeq_magic.  In order to make this work, we will need to use a sample file which has azimuth and dip.  This will take a little re-working.

[2019-03-09 00:00] njarboe commented on #525
I was hoping that having 8.0 fail the integer check would not be a problem. We might have caught some data integrity problems that way, but it is not a big deal either way.

[2019-03-09 00:06] ltauxe commented on #520
the McMurdo one does have a sample table with all the stuff in it.
lisa

[2019-03-09 00:28] moonshoes87 commented on #525
@njarboe, we have fixed it on the PmagPy side (if someone uses upload_magic/Pmag GUI), so that part is done. However, I can imagine it being an annoyance for others as well.

[2019-03-09 00:31] moonshoes87 commented on #520
I got that part working for the most part, still need to test tilt–corrected coordinates a bit more:

![mc01f_zijd](https://user-images.githubusercontent.com/1836578/54063144-86583f00-41bf-11e9-8780-c85bc2e9cd74.png)

I will verify that -crd t works too and then make sure we get all interpretations on Monday.

[2019-03-11 18:02] moonshoes87 commented on #520
Tilt corrected coordinates now seem to work as well as geographic.

[2019-03-11 19:29] moonshoes87 commented on #520
The problem with AF interpretations being skipped is caused by some code that creates the a hybrid column called `treatment`.

[code]

This sometimes means that treatments look like `[273, 0.1, 0.18, 0.2, ....]`.  Whereas, `meas_step_min` will have values like `[0, 0.1, 0.18, 0.2, ...]`.  0 values were ignored (since 0 as a boolean is False).

This line of code then caused the immediate problem:

[2019-03-11 19:48] moonshoes87 commented on #520
@ltauxe, I believe I have resolved problems 1 & 2.

There is one more thing that I am noticing, which is that ARM measurements are also causing some trouble.

See `zeq_magic.py -crd g -fsp specimens.txt -spc mc15a -fmt png -new`.

[code]
![mc15a_demag](https://user-images.githubusercontent.com/1836578/54152352-47fa9400-43fa-11e9-9b0d-2e6f8afabc2c.png)
![mc15a_eqarea](https://user-images.githubuser

[2019-03-11 20:30] njarboe opened #527 "Anaconda handy cheat sheet link no longer works"
The Anaconda handy cheat sheet link in the cook book chapter 8, no longer works. https://conda.io/docs/_downloads/conda-cheatsheet.pdf

[2019-03-11 20:55] njarboe opened #528 "Large lakes need outlines on pole plots"
I just pulled from master. I wanted to run the plots again with the various improvements added recently, but now I see these big lakes in Western North America on the pole plots. Is this a known issue in Cartopy that we are just accepting at the moment? The last version of the plots I made did not have this problem.

from contribution 16545:
[magic_contribution_16454.txt](https://github.com/PmagPy

[2019-03-11 20:58] Swanson-Hysell commented on #528
Which lakes are a problem here? The Great Lakes and northern Canada lakes (e.g. Slave) all look good as does the Great Salt Lake.

[2019-03-11 21:29] moonshoes87 commented on #528
I believe Lisa did change the default resolution for server plots, which may have changed the appearance of the map somewhat.

[2019-03-11 21:32] Swanson-Hysell commented on #528
While the resolution may have changed, I don't think there is anything wrong with the outlines and their  position.

[2019-03-11 21:47] Swanson-Hysell commented on #528
@njarboe Do you think that we shouldn't be including lakes?

[2019-03-11 22:01] moonshoes87 commented on #520
@ltauxe, I believe I've also fixed problem 3 (filtering by LT-PTRM).  The answer is that the filtering *was* working correctly, but it was catching LP-ALT-PTRM (which does indeed contain the substring LT-PTRM).  I have fixed it by using a regular expression match instead of just a string match:

previously:

[code]

Fixed:
[code]

pythex.org is a great place to play with regular expressions, and h

[2019-03-11 22:02] moonshoes87 commented on #527
Thanks, fixed!

[2019-03-11 22:02] #527 closed

[2019-03-11 22:03] moonshoes87 commented on #497
We've made a release or two since this fix, so I'm closing this issue.  @jbowles100, please let me know if I've missed something!

[2019-03-11 22:03] #497 closed

[2019-03-11 22:18] njarboe commented on #528
@Swanson-Hysell, I think the cartoonish look of the lakes was throwing me off, along with the lack of black outlines. The lakes are good, if there is a way to add black outlines. Otherwise probably leave them off would be my preference. Hard to tell exactly without seeing the differences side-by-side.

[2019-03-11 22:20] moonshoes87 commented on #424
Goals:

1. Each plotting program must work on the command line, in a notebook, and in tests.
2. Each program should return a list of saved files.
3. Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

- Plots:
    - [ani_depthplot](#ani_depthplot) : DONE (except for item 3)
    - [aniso_magic](#aniso_magic) : DONE (but have not yet remov

[2019-03-11 22:24] njarboe opened #529 "MagIC ID number missing on sever plots"
The plot used in #528 should have the MagIC id on the web address in the right bottom corner. So earthref.org/MagIC/16454 should be there.

[2019-03-12 01:44] ltauxe commented on #528
the lakes are real - we can color them the same as the continents if you like so you would see them.
lisa

[2019-03-12 01:47] ltauxe commented on #528
sure we can add black outlines - i’ll look into it.

[2019-03-12 01:50] ltauxe commented on #520
clever.  hmmm.
lisa

[2019-03-12 01:54] ltauxe commented on #520
oh dear.  these must also be filtered out (like the LT-PTRM ones).

[2019-03-12 03:31] moonshoes87 commented on #529
Id is missing from the contribution table, so I think this is actually a data quality issue belonging in: https://github.com/earthref/MagIC/issues/391

[2019-03-12 03:49] moonshoes87 commented on #520
I got the wrong code -- LP-PI-ALT-PTRM is the one that is also being caught.  Are you sure you want to exclude that?  I thought that was the behavior that caused you to comment out that entire section.  See specimens mc01a and mc01b for some examples of specimens that will then end up with no plots.

<img width="738" alt="Screen Shot 2019-03-11 at 8 42 52 PM" src="https://user-images.githubusercon

[2019-03-12 03:50] moonshoes87 commented on #520
Oh wait, you're saying the ARM ones need to be filtered out?

[2019-03-12 12:39] ltauxe commented on #520
yes - same as the LT-PTRM.

[2019-03-12 12:42] ltauxe commented on #520
the only  exception would if someone wanted to AF demagnetize an initial ARM - pretty rare and not what zeq_magic is typically used for.

[2019-03-12 16:20] ltauxe commented on #520
no bbecause it is “LP” or lab protocol, describinh the whole set of data for the experiment.  we do NOT want to filter it out.  on the specific PTRM step (LT-PTRM).
lisa

[2019-03-12 17:55] moonshoes87 commented on #520
ok, done.

[2019-03-12 18:13] moonshoes87 opened #530 "refactor ani_depthplot"
Just need to make sure I've done all the things.

[2019-03-12 18:15] moonshoes87 opened #531 "refactor aniso_magic"
Need to get approval, remove -new flag, and implement Contribution argument.

[2019-03-12 18:15] #520 closed

[2019-03-12 18:46] #530 closed

[2019-03-12 18:47] moonshoes87 opened #532 "refactor biplot_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-03-12 18:49] moonshoes87 opened #533 "refactor chi_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-03-12 20:04] ltauxe commented on #532
perhaps we should deprecate biplot_magic altogether?
lisa

[2019-03-12 20:20] njarboe commented on #529
Ok. I see it on other plots.

[2019-03-12 20:20] #529 closed

[2019-03-12 20:24] moonshoes87 commented on #532
We could -- your call.  I'm realizing that I should focus first on the programs that are used in make_magic_plots and Pmag GUI, though.  Let me know what you think about biplot_magic.

[2019-03-12 20:26] moonshoes87 opened #534 "refactor thellier_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-03-12 20:37] njarboe opened #535 "Title on pole plot for server should state the number of poles more clearly"
Title on pole plot for server should state the number of poles more clearly. For 13689 we have "0 pole 1 reversed pole"  Note that this should say reversed not reverse as per our controlled vocab for magnetic polarities.

What we would like is "0 normal and 1 reversed pole". Or in this case just "1 reversed pole"
![Screen Shot 2019-03-12 at 1 18 54 PM](https://user-images.githubusercontent.com/127

[2019-03-12 21:01] ltauxe opened #536 "upload_magic.py"
**What command was run:**

upload_magic.py

**What happened:**

it inserted nan for blank data in core_depth and composite_depth keys

**What I expected to happen:**

i expected these blanks to stay blank!

**Data file(s):**

**Screenshot(s):**

**PmagPy version:**

[2019-03-12 21:18] ltauxe commented on #532
hmmm. i guess we better fix it then.  i have an example in PmagPy.ipynb that we could use to make an ipmag version

[2019-03-13 15:21] njarboe opened #537 "Problem: "KeyError: 'treat_tmp'" in newly contributed data file"
Problem "KeyError: 'treat_tmp'" in magic_contribution_16609.txt
[magic_contribution_16609.txt](https://github.com/PmagPy/PmagPy/files/2962132/magic_contribution_16609.txt)
ran on server pulled this morning on master.
![Screen Shot 2019-03-13 at 8 12 45 AM](https://user-images.githubusercontent.com/1278789/54290756-c9703480-4568-11e9-9d36-18798caaa231.png)

Possible data model validation mismatch?

[2019-03-13 17:34] moonshoes87 commented on #534
Need to figure out why more plots are generated now than previously, otherwise this is probably good to go.

[2019-03-13 18:55] moonshoes87 commented on #535
How do these look?  I tried using commas, but they don't show up for some reason (probably based on spacing, which I don't want to break).  I could add different punctuation, like '-' or ':'.  Let me know what you think.

![MC:_13436_TY:_POLE_map_t](https://user-images.githubusercontent.com/1836578/54306399-83c26480-4586-11e9-8be9-8f9efb896480.png)
![MC:_13436_TY:_POLE_map_t_with_both](https://use

[2019-03-13 19:41] moonshoes87 commented on #534
Looks like that issue was a fluke -- probably had some random pngs lying around.  Everything is good here!

[2019-03-13 19:41] #534 closed

[2019-03-13 19:43] moonshoes87 opened #538 "refactor quick_hyst"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-03-13 19:45] moonshoes87 commented on #536
@ltauxe, could you send me or post the data files?

[2019-03-13 19:48] moonshoes87 commented on #537
@njarboe, we just did an overhaul of zeq_magic -- refactored so that the same code is used in zeq_magic and ipmag.zeq_magic, which means a big reduction in redundancy and improved consistency.  However, in the meantime, I expect to find some problems.  Thanks for sending them along :)

[2019-03-13 20:45] moonshoes87 commented on #537
@njarboe, interestingly, this contribution actually failed to run in the old zeq_magic, too.  It is a pretty odd measurements file -- only two measurements, both of which are labeled bad.  In any case, I believe I fixed the code so it won't barf on this kind of thing in the future.  If you don't mind giving it another try, that would be great.

[2019-03-13 21:02] #536 closed

[2019-03-13 21:05] moonshoes87 commented on #536
@ltauxe, this should be fixed now, let me know if it doesn't work as expected for you.

[2019-03-13 22:32] moonshoes87 commented on #533
Something is wrong -- see PmagPy-cli example.

[2019-03-13 23:31] moonshoes87 opened #539 "upload_magic validation example in PmagPy notebook not fully successful"
See example in PmagPy notebook.  This is because upload_magic changes 3.0 --> 3, which is not in the controlled vocabulary for magic_version.

[2019-03-14 00:14] njarboe opened #540 "Log from the latest run of the plots with various errors."
@moonshoes87 The log from the last plot run can be found at:http://34.236.167.37/files/batchLog.txt

This run was started about a day and a half ago with the latest master version. The first Traceback was the one I posted as an issue but wanted you to have access to the whole file, if that would be helpful for debugging the new plotting changes. Let me know if there are other things I can do to he

[2019-03-14 00:19] njarboe commented on #537
@moonshoes87 Looks good.

[2019-03-14 00:19] #537 closed

[2019-03-14 01:16] njarboe commented on #535
These are good. First one seems to have an extra space between normal and pole.

[2019-03-14 17:01] #533 closed

[2019-03-14 17:13] #535 closed

[2019-03-14 17:25] #539 closed

[2019-03-14 17:46] njarboe commented on #535
Will re-run plots shortly.

[2019-03-14 18:20] moonshoes87 commented on #540
Thanks, @njarboe.  I'll work my way through until I start seeing mostly repeat issues, and then let you know.

[2019-03-14 18:21] moonshoes87 commented on #535
Great, if you can pull my latest changes, that would be great!

[2019-03-14 20:06] njarboe commented on #535
Ok. Pulled and re-running.

The plot log now updates while the plots are being made:http://34.236.167.37/plots/batchPlotLog.txt

And you can see all the files and plots in the MagIC ID number directory in http://34.236.167.37/plots

[2019-03-14 23:28] moonshoes87 commented on #540
11846 is missing 'sample' column in samples table (reported in https://github.com/earthref/MagIC/issues/391).  Should I make a fix for this in PmagPy, so that it doesn't throw an error?  Seems like this is a pretty minimal standard that should be upheld in all contributions.

[2019-03-14 23:41] njarboe commented on #540
No. Next time I run all the plots I can bypass the contributions in earthref/MagIC#391 until the data in those are fixed so you don't keep seeing them.

[2019-03-14 23:47] moonshoes87 commented on #540
Great, that will be helpful.

[2019-03-15 17:35] ltauxe commented on #540
you might as well put in a trap so PmagPy doesn’t croak over this, but perhaps should warn the user that this is a required column (except for synthetics - perhaps this is a synthetic?)
lisa

[2019-03-15 19:28] moonshoes87 commented on #540
@ltauxe, I've added a fix of sorts for this.  PmagPy won't build a MagicDataFrame for a samples table (etc.) if it doesn't have a sample column -- it will treat that the same way it would treat an empty file.  This means nothing should crash.

[2019-03-15 22:23] ltauxe commented on #540
ok.  that allows folks to use the GUIs but they will have to fix the table prior to uploading.

[2019-03-15 22:24] ltauxe commented on #532
so we don't have biplot_magic in make_magic_plots - should we?

[2019-03-15 22:36] ltauxe commented on #531
ipmag.aniso_plots() does not work like ipmag.aniso_plots_nb() and it should.  can we just rename  ipmag.aniso_plot_nb() to be ipmag.aniso_plots()  when we remove the -new flag.

[2019-03-15 22:37] moonshoes87 commented on #532
If you want to -- I was meaning that I will work on other programs that are in make_magic_plots first, then consider returning to the other plotting programs.

[2019-03-15 22:38] ltauxe commented on #531
the -v option does not work as expected - it should give plots with a bunch of dots (like in PmagPy.ipynb example for aniso_magic_nb.  this gives the confidence ellipses instead.  and i don't see how to get the eigenvalue cdf plots...

[2019-03-15 22:41] ltauxe opened #541 "aniso_magic"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

we need  'by site' or 'by sample'

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

look at  dmag_magic.

**Additional context**
Add any other context or screenshots about the feature reques

[2019-03-15 23:01] moonshoes87 commented on #531
Yes, I am going to remove ipmag.aniso_magic and rename ipmag.aniso_magic_nb once it is fully working correctly with your seal of approval!  I can check the -v option.  eigenvalue cdf plots should be created when both iboot and ivec are True.

I wonder if there is something wrong in how I am processing of the command line arguments?  I'm hoping you can help clarify the desired behavior for me.  May

[2019-03-15 23:04] moonshoes87 commented on #540
Yes, and make_magic_plots will still be able to create other plots that don't require that table.  yay!

[2019-03-16 00:33] ltauxe commented on #531
-v should set ivec=1 and vec=3 (eigenvalues cdfs).   i think we are close.
lisa

[2019-03-16 00:34] ltauxe commented on #532
yes good plan.  if i get to biplot_magic, i’ll do it, and we can add it to make_magic_plots.py.    but it is lower priority than others.
lisa

[2019-03-17 23:43] njarboe opened #542 "Add simple title to thumbnails"
All the plots sort of look the same when there are a lot of them. If you would add a title with the name of the specimen or sample or site or location on the thumbnail, I think it would save people much time when they are looking for a particular plot. It would also give a quick context of what they are looking at. site names are different than specimen names, usually.

[2019-03-18 05:01] rminnett commented on #542
The thumbnails don't currently have a lot of padding to add any text to them:
![image](https://user-images.githubusercontent.com/1182698/54507720-d641af00-48ff-11e9-9c34-38b37e0c3da7.png)
(the blue is the thumbnail).

Instead of adding text to the image, I can add text in the browser below the thumbnail based on the filename (and later based on the content in the images table). Would that work?

[2019-03-18 05:47] rminnett opened #543 "Anisotropy thumbnail cropping is slightly off"
This is similar to the Equal Area plots when they are in specimen coordinates with the red line and "X". For example in https://earthref.org/MagIC/16496:

![image](https://user-images.githubusercontent.com/1182698/54507812-654ec700-4900-11e9-85cb-a94e4193b3a1.png)

Perhaps Matplotlib tight_layout() or explicitly setting the position of the axis location before cropping might help?

[2019-03-18 15:06] njarboe commented on #542
Yea. Space is at a premium so if in the browser just adding the, say, specimen name and not the whole filename would be preferred. The font could be bigger in most cases that way.

[2019-03-19 04:37] jschendel commented on #503
The related pandas issue has been fixed in the latest release:
[code]

[2019-03-20 22:06] moonshoes87 commented on #542
Ok, I will leave this to @rminnett.  Let me know if I should do something.

[2019-03-20 22:07] moonshoes87 commented on #543
Ok, I will look at this shortly.

[2019-03-20 22:08] #503 closed

[2019-03-20 22:24] moonshoes87 commented on #543
@rminnett, when I run make_magic_plots locally (with `isServer = True`), I seem to get the correct cropping:

![MC:_16496_TY:_aniso_conf_](https://user-images.githubusercontent.com/1836578/54723058-8d6a4000-4b23-11e9-8837-4c644b16e928.png)
![MC:_16496_TY:_aniso_conf_ thumb](https://user-images.githubusercontent.com/1836578/54723059-8d6a4000-4b23-11e9-942b-0196b3f5f913.png)
![MC:_16496_TY:_aniso_da

[2019-03-20 22:47] moonshoes87 commented on #531
The last three plots are only created if a value is given for `Dir`.  Otherwise, the `vec` argument is never used.  if the `-v ` flag is used, should we pass in a default value for `Dir` as well?

in plot_aniso:
[code]

[2019-03-20 23:01] ltauxe commented on #531
no that is correct.  the last three are comparing the bootrapped eigenvectors with a known direction.
lisa

[2019-03-20 23:14] moonshoes87 commented on #531
Gotcha.  I think I fixed it.  Give it another try?

[2019-03-20 23:45] njarboe commented on #543
Ok. I'll pull and re-run shortly. I'll also add the contribution.txt and errors.txt files for Rupert.

[2019-03-21 00:04] njarboe commented on #543
Running.

I put in some timestamps in the log so I can get a better idea of how long it actually takes.

[2019-03-21 17:03] njarboe commented on #543
The run has finished. Four large files not run. It took 16hr 16min. There are certainly files in my list that have a new version and both are being run that adds to this time. @rminnett, if there is an easy way you can get an updated list of contribution files on the plot server, that would be great.

The problem is with the thumbnails, not the plots being off and that problem still exists.
See pl

[2019-03-21 17:05] njarboe commented on #543
![Screen Shot 2019-03-21 at 10 04 18 AM](https://user-images.githubusercontent.com/1278789/54770614-d58b7000-4bc0-11e9-89c8-f9d9f7d7c0e1.png)

[2019-03-21 17:48] rminnett commented on #543
Sure, @njarboe, do you want all of the latest versions of activated contributions or just the most recent back to a certain date?

[2019-03-21 17:58] rminnett opened #544 "Location level sites plot table labeled "Sites" instead of "Locations""
For example, in earthref.org/MagIC/16592 there is one equal area plot of 29 sites, but the file name is LO:_Olokele_SI:_30_SA:__SP:__CO:_t_TY:_eqarea_.png, incorrectly identifying it as a plot for a single site with the name "30".

If a plot is for multiple sites, it shouldn't have a site name in the file name: LO:_Olokele_SI:__SA:__SP:__CO:_t_TY:_eqarea_.png

[2019-03-21 18:03] rminnett commented on #542
Superceded by https://github.com/earthref/MagIC/issues/446

[2019-03-21 18:03] #542 closed

[2019-03-21 18:42] moonshoes87 commented on #543
@njarboe, it looks like you are still running the old aniso_magic in make_magic_plots instead of the new aniso_magic.  I just downloaded the magic_contribution_16496.txt from your link, downloaded it, and ran make_magic_plots.  These are the thumbnails I got:

![MC:_16496_TY:_aniso_conf_ thumb](https://user-images.githubusercontent.com/1836578/54776209-da562100-4bcc-11e9-817e-3fec342683c1.png)
![M

[2019-03-21 20:21] njarboe commented on #543
The first two in my git log are:

commit 372c72d7526824de9bb756c673a84784d95017d7
Author: Lori J <mintblue87@gmail.com>
Date:   Wed Mar 20 16:13:55 2019 -0700

    fixes for aniso_magic, #531

commit fa1eaeb9bb5cf496353292df410a6f62602d0ef8
Author: Lori J <mintblue87@gmail.com>
Date:   Wed Mar 20 14:58:50 2019 -0700

    update environment.yml, #503

[2019-03-21 20:23] njarboe commented on #543
I did a hard reset and will test out the plots on 16496.

[2019-03-21 23:18] njarboe commented on #543
Set server back to True, but still have the problem.

[2019-03-21 23:24] njarboe commented on #543
Looked at commit and it shows the "-new" added but I looked at make_magic_plots.py on github with the browser and the "-new" changes are not in make_magic_plots.py. There must have been some reversion. I'll make the two changes in make_magic_plots.

[2019-03-23 17:57] ltauxe opened #545 "demag_gui fails with developer installation"
**What command was run:**
I installed PmagPy following the OSX developer instructions in the cookbook on the JOIDES Resolution.  The path is set correctly in .bashrc.  All programs seem to function normally, EXCEPT the GUIs.  I ran:  demag_gui.py from within the data_files/3_0/McMurdo directory

**What happened:**

a bunch of errors

**What I expected to happen:**

I expected it to run as it does

[2019-03-25 18:30] moonshoes87 commented on #545
@ltauxe, could you attach the errors to this issue?

[2019-03-25 18:31] moonshoes87 commented on #543
@njarboe, has this been resolved?

[2019-03-25 18:32] moonshoes87 commented on #540
@njarboe, could you point me towards the current latest log?

[2019-03-25 19:23] #544 closed

[2019-03-25 19:25] njarboe commented on #540
http://34.236.167.37/plots/batchPlotLog.txt

These were done on the 21st March. Do you want me to re-run?

I'm still figuring out why the thumbnails are not cropped right on the server.

[2019-03-25 19:28] moonshoes87 commented on #540
No, that should be ok -- I haven't worked much since then, I've had a crazy ear infection.  Let me know if I can help with the thumbnail issue.  When running locally, I get the incorrectly cropped thumbnails if I comment out `-new` from the aniso_magic command, and the correctly cropped thumbnails if I leave `-new`.  I wonder if you could somehow be calling an out-of-date version of make_magic_plo

[2019-03-26 00:55] njarboe commented on #543
@moonshoes87  Not yet. Is that the expected git log?

I updated may python packages using conda. That is probably the issue. What is the best command to do that in the future and are there packages I need to reset after?

What do you do when your packages are messed up?

[2019-03-26 09:46] ltauxe commented on #540
so i’m just about ready to start working with the aniso_magic script.  are we still using the -new syntax?  that seems a bit awkward.
lisa

[2019-03-26 17:40] njarboe commented on #543
Reinstalled anaconda and pmagpy. Now working. I'll re-run all the plots shortly.

[2019-03-26 17:40] #543 closed

[2019-03-26 18:36] moonshoes87 commented on #540
@ltauxe -- I will drop the -new for aniso_magic as soon as you approve it :)  I believe I addressed your last concerns with the new aniso_magic, but if you can confirm that it works as expected I will make that change.

I already dropped -new for zeq_magic, we are just diving into the future.

[2019-03-26 18:42] moonshoes87 commented on #543
@njarboe, I am glad to hear it!  One option for fixing package versions is to can clone the environment from within the PmagPy directory:

    conda env create --file environment.yml

This will make a new conda environment called pmagpy which you can then activate:

    conda activate pmagpy

That environment will then have all the specific packages that are confirmed to work as expected.  I know

[2019-03-27 04:52] ltauxe commented on #540
ok - i’ll check it with new JR data today or tomorrow.
lisa

[2019-03-27 16:01] njarboe opened #546 "Plots with some errors from run for March 26th, 2019"
@moonshoes87 The latest run is finished and the log is at http://34.236.167.37/plots/batchPlotsLog.txt

There are some "Traceback" errors involving zeq_magic.py and "None" values.

The previously "bad data" labeled files should not have been run.

[2019-03-27 16:04] njarboe commented on #540
Closing this issue with #546 open with the new plot run.

[2019-03-27 16:04] #540 closed

[2019-03-28 05:15] ltauxe opened #547 "ipmag.zeq_magic"
**What command was run:**

ipmag.zeq_magic(input_dir_path=magic_dir,save_plots=False,spec_file='specimens.txt')

**What happened:**
I got this error:
TypeError                                 Traceback (most recent call last)
<ipython-input-104-d6fa86978a1f> in <module>
----> 1 ipmag.zeq_magic(input_dir_path=magic_dir,save_plots=False,spec_file='specimens.txt')

~/PmagPy/pmagpy/ipmag.py in zeq_mag

[2019-03-28 05:16] ltauxe opened #548 "zeq_magic.py"
**What command was run:**

zeq_magic.py -h

**What happened:**

program ignored help message request and just ran

**What I expected to happen:**

to get the help message

**Data file(s):**

**Screenshot(s):**

**PmagPy version:**

[2019-03-28 19:38] moonshoes87 opened #549 "some tests are crashing on windows"
Tests that create many figures crash with a memory error on windows.  I need to fix these so that they create fewer figures if running with Windows.

[2019-03-28 19:45] #548 closed

[2019-03-28 20:12] moonshoes87 commented on #547
@ltauxe -- this should be working correctly now.

[2019-03-29 03:57] ltauxe commented on #547
works great.

[2019-03-29 03:57] #547 closed

[2019-03-29 03:59] ltauxe opened #550 "demag_gui and thellier_gui"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Right now these GUIs only work on measurements.txt.  It would be nice if an alternate file name could be used.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

under File, there should be a

[2019-03-30 18:17] moonshoes87 opened #551 "dev_setup.py with Windows"
Update documentation to explain that dev_setup.py does NOT work for Windows at present.  Also, improve the explanation of how to set variables by hand in the Cookbook.

[2019-04-01 18:33] moonshoes87 opened #552 "McMurdo weird error message"
error message in McMurdo test data:

[code]

[2019-04-01 20:20] #551 closed

[2019-04-02 21:29] moonshoes87 opened #553 "thellier_magic.py problem making deremag plots with teslas as units"
**What command was run:**

[code]

**What happened:**

[code]

**What I expected to happen:**

Plots created, or fail gracefully.

**Data file(s):**

[magic_contribution_16501.txt](https://github.com/PmagPy/PmagPy/files/3035853/magic_contribution_16501.txt)

Units are 'T', which isn't an option in pmagplotlib.plot_np:

If I change the code in plot_np to treat teslas like joules or blank:
[code]

t

[2019-04-02 21:35] moonshoes87 commented on #546
@njarboe, I believe I've fixed everything revealed by this run, except for issue #553 which will require feedback from Lisa, and the contributions with bad data.  Please go ahead and re-run!

[2019-04-02 21:36] #546 closed

[2019-04-03 04:48] ltauxe opened #554 "ipmag.zeq_magic truncates axes weirdly sometimes"
**What command was run:**

ipmag.zeq_magic(meas_file='srm_arch_measurements.txt',specimen='382-U1534A-7H-2-A-110.0',fmt='png', input_dir_path=magic_dir,save_plots=True)

**What happened:**

created strangely truncated axes
![382-U1534A-9H-1-A-75 0_zijd](https://user-images.githubusercontent.com/174861/55453202-ce386f00-558f-11e9-8bea-87e143c6d25a.png)

It seems that in cases where the data are all

[2019-04-03 18:31] moonshoes87 commented on #550
@ltauxe, in this situation, should the GUI use the specimens.txt/samples.txt/sites.txt that are found in the current working directory, OR in the directory of the selected file if those are different?

[2019-04-03 23:21] moonshoes87 commented on #550
@ltauxe, I've changed Demag GUI so that it lets you pick a measurements file if there isn't one available in your initial working directory.  It's a little more complicated to get it to re-set in the middle, but hopefully this is helpful.  You can choose an arbitrary .txt or .magic file using the GUI (if there is no measurements.txt file in your WD), or you can use the -f option on the command lin

[2019-04-03 23:27] njarboe commented on #546
@moonshoes87 Re-running. I'll let you know when it is finished and the log location. The new bad contributions you added to the list should not be run now.

[2019-04-04 18:12] ltauxe commented on #550
thanks!   i’ll check it out.

lisa

[2019-04-04 18:16] ltauxe commented on #550
hmmm.  i guess the directory containing the measurements table.

[2019-04-04 19:18] njarboe opened #555 "April 3rd, 2019 round of all plots"
@moonshoes87, with the 4 "large" files included this time the plotting took about 24hr. The 134MB log file is at:
http://34.236.167.37/plots/batchPlotsLog.txt

About 6 Traceback errors.

[2019-04-04 22:55] moonshoes87 commented on #550
Ok, that's what I did (use the measurement file directory as the WD).  Now you can also open a new measurements file while running Demag GUI -- this required a bit of surgery on the Demag GUI reset_backend() function.  Test it out!

I will work on Thellier GUI next.

[2019-04-04 23:26] moonshoes87 commented on #555
It looks like at least one of the very large contributions (https://earthref.org/MagIC/16277), fails with a `MemoryError` during the `download_magic.py` command.  Thus, no plots at all are created.  This doesn't happen for me locally -- I am able to run download_magic.py and at least start make_magic_plots.py.  Perhaps there is a way to either allocate more memory on the server, or to pre-run down

[2019-04-06 10:51] ltauxe opened #556 "ipmag.zeq_magic"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
zeq_magic was intended as a quick and dirty tool to look at data quickly.  it now looks for the current data model and is very slow when the i

[2019-04-06 18:20] moonshoes87 commented on #556
@ltauxe, we have a few options in that regard.  Right now I have a timeout parameter set to 3 seconds.  We could set that lower -- in my experiments, with my normal/fast internet I get the cached data model about half of the time if I set the timeout to .23 seconds, and all of the time if I set the timeout to .25 seconds.  So you could try setting the timeout to .5 or something and see if that mak

[2019-04-07 02:25] ltauxe commented on #556
i’ll try setting the timeout but i think an offline flag for this one program makes sense.  i use it a lot and it is annoying that it has gotten to be so fussy.  also the axes got changed at some point and now they look funny when the data do cross the axes = see issue in git hub.  i dont know when that happened, but if it could be fixed along with the timeout then all would be right with the worl

[2019-04-07 08:44] ltauxe commented on #556
I ended up adopting your first suggestion with timeout = .2  and there is an acceptable delay after which it just moves on.  It is fine.
lisa

[2019-04-08 21:01] moonshoes87 commented on #556
I added the OFFLINE flag as well, since it was easy to do.  Just go into pmag_env/set_env.py and change OFFLINE to True.  It will apply globally, not just in zeq_magic.

[2019-04-08 21:02] moonshoes87 commented on #556
Seems like this issue is done, and I will have a look at https://github.com/PmagPy/PmagPy/issues/554 with the truncated axes?

[2019-04-08 21:59] moonshoes87 commented on #555
@njarboe, In the plot log, I am seeing errors with contribution 16508.  But that just seems to be an older version of https://earthref.org/MagIC/16619.  Is there a reason that the older version should be getting run?

[2019-04-08 22:13] njarboe commented on #555
@moonshoes87 I had a directory full of current files on the plot server some time back from which I run the plots off of. I have added new files but did not remove this one. I have removed it now. Sometime soon I can switch over to downloading the current files from s3 directly, now that that system is in place.

[2019-04-09 03:59] ltauxe commented on #556
I think i fixed this - but one of the axes is still too short sometimes….
lisa

[2019-04-09 04:00] ltauxe commented on #556
ok.  thanks
lisa

[2019-04-09 20:01] moonshoes87 commented on #553
@ltauxe, I added in this fix - feel free to weigh in if this is a bad idea for some reason.

[2019-04-09 20:04] #555 closed

[2019-04-11 18:59] moonshoes87 commented on #550
@ltauxe, I just now got to checking on Thellier GUI for this, and it seems like it is already implemented.  It is in File --> Open MagIC measurement file.

If it *doesn't* work for you, please reopen this issue!

[2019-04-11 19:15] moonshoes87 commented on #550
I just added a -f option to thellier_gui.py.

[2019-04-11 19:15] #550 closed

[2019-04-11 19:18] #556 closed

[2019-04-11 20:12] moonshoes87 commented on #552
Well, annoyingly I didn't specify how to reproduce this, and now I can't.

[2019-04-11 20:12] #552 closed

[2019-04-15 19:40] #538 closed

[2019-04-15 19:42] moonshoes87 opened #557 "refactor vgpmap_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-04-16 20:39] #557 closed

[2019-04-16 20:41] moonshoes87 opened #558 "refactor histplot.py"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-04-16 23:41] njarboe opened #559 "Plots run from April 15th 2019"
The plots have finished and I see only one Traceback error this time. The log is at:
http://34.236.167.37/plots/batchPlotsLog.txt

[2019-04-17 20:02] moonshoes87 opened #560 "refactor dayplot_magic.py"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.
Each p

[2019-04-17 20:12] moonshoes87 commented on #559
Looks like the only traceback error is related to https://earthref.org/MagIC/16497, which is already in https://github.com/earthref/MagIC/issues/391 for having bad values in controlled vocabularies.

So this is good progress!  Can you check for which contributions end up with errors.txt files?  That could also reveal problems either in PmagPy or with data integrity.  Should just require `find . -n

[2019-04-17 20:45] njarboe commented on #559
@moonshoes87, added 16497 to the skip list.

All the files created during making the plots can be found in: http://34.236.167.37/plots/$MAGICID/
Here is the errors.txt list:
./13742/errors.txt
./16279/errors.txt
./16277/errors.txt
./16426/errors.txt
./15444/errors.txt
./16335/errors.txt
./15349/errors.txt
./15897/errors.txt
./13727/errors.txt
./16240/errors.txt
./16619/errors.txt
./16450/errors.tx

[2019-04-18 17:52] moonshoes87 opened #561 "cartopy download problem"
New bug with polemap_magic/vgpmap_magic using cartopy.  See failed test output from Travis environment:

[code]

See cartopy issue https://github.com/SciTools/cartopy/issues/1294

This download problem is supposed to be fixed in 0.17.1.

[2019-04-22 21:01] Swanson-Hysell opened #562 "PmagPy.ipynb is slow"
**What command was run:**

Opened the PmagPy.ipynb notebook and it was slow to load.

**What happened:**

It is bit difficult to use the notebook given how long it takes to load and how long it takes to respond to things like resizing the window. This has been an issue for a while and I presume I am not the only one who has experienced it.

**What I expected to happen:**

The notebook is a fantast

[2019-04-22 23:43] #560 closed

[2019-04-23 03:44] ltauxe commented on #562
i do think we should break it up into separate notebooks for the different topics.  we can link from one to another so there is no reason that they have to all be in one.  i’ll take a stab at this, unless you want to Nick?
lisa

[2019-04-23 19:55] Swanson-Hysell commented on #562
I can tackle it given that it was my suggestion.

I will plan to split into these notebooks:

- PmagPy_introduction
- PmagPy_calculations
- PmagPy_plots
- PmagPy_MagIC

[2019-04-23 23:29] moonshoes87 commented on #559
Thanks, @njarboe!  I've added some notes to the MagIC data integrity issue https://github.com/earthref/MagIC/issues/391.  Otherwise, there don't seem to be any obvious problems left for me to fix here.

Once I get through some more of the refactoring in make_magic_plots.py, we can run again.  Or, if you or @rminnett notice any plot issues in what is displayed on the server, point me in that direct

[2019-04-23 23:29] #559 closed

[2019-04-23 23:38] moonshoes87 commented on #562
@Swanson-Hysell, I agree that this will help make that notebook more useable.  We will need to decide how we want to handle the pmagpy.github.io pages and the binder hosted pages, as well as updating the markdown links to those resources within the notebooks.  For now, those links and pages will continue to be correct and functional, but we will want to update those documentation pages eventually.

[2019-04-24 00:30] Swanson-Hysell commented on #562
Yes. I realized that the static html would be an issue when going through. Jupyter notebooks can link to each other so I am making sure that each one links to the other one. And we can keep the -cli notebook the same, I think?

I am still working on a few improvements for the PmagPy_plots_analysis.ipynb notebook.

I am bumping into a few issues that I will document as I try to run this notebook.

[2019-04-24 00:33] Swanson-Hysell opened #563 "KeyError: 'treat_ac_field' with ipmag.download_magic("magic_contribution_16533.txt") in notebook"
**What command was run:**

[code]

Within PmagPy_plots_analysis notebook

**What happened:**

[code]

**PmagPy version:**
master at time of this commit: https://github.com/PmagPy/PmagPy/commit/d4970774f75360b1a00f4a7655073117c133b582

[2019-04-24 00:43] Swanson-Hysell opened #564 "ipmag.dayplot_magic() not ingesting data"
**What command was run:**

[code]

Note that this cell of the notebook previously referred to the function ipmag.dayplot() but that function not longer appears to exist.

**What happened:**

[code]

**What I expected to happen:**

It to make plots like the command line program.

**PmagPy version:**

Master at time of this commit: https://github.com/PmagPy/PmagPy/commit/aecc11a7dcb052974be48f7bf467

[2019-04-24 01:09] Swanson-Hysell commented on #562
I have now created these notebooks:

PmagPy_introduction.ipynb
PmagPy_calculations.ipynb
PmagPy_MagIC.ipynb
PmagPy_plots_analysis.ipynb (I raised separate issues for two things that came up when trying to run this notebook)

That are more manageable. I left the previous PmagPy.ipynb in there for the moment, but if @ltauxe and @moonshoes87 are happy with these we could delete that notebook since th

[2019-04-24 19:57] moonshoes87 commented on #564
@Swanson-Hysell, thanks for finding this.  I have been working through the plotting programs to eliminate some unnecessary repetition (dayplot_magic had a function in ipmag that was almost identically replicated in dayplot_magic.py).  I did some refactoring so that this function could be used in dayplot_magic.py and have defaults that are more in line with the other plotting programs.  I apparentl

[2019-04-24 19:58] moonshoes87 opened #565 "Suppress warning for propagating tables"
See #564.  Consider suppressing (or limiting, or clarifying) this message:

[code]

[2019-04-24 20:02] moonshoes87 commented on #563
It seems that the problem here is this line:

df=df[['specimen','treat_temp','magn_moment','quality']]

[2019-04-24 20:07] moonshoes87 commented on #563
Sorry, I hit the wrong key and that posted prematurely.

The problem is that this line:

[code]

Removes the column `treat_ac_field`, which is the default value used for `dmag_key` in `ipmag.plot_dmag`.  So we can fix this with:

 `ipmag.plot_dmag(data=df,title="Thermal demag",fignum=1, dmag_key='treat_temp')`.

We can either fix this example, or we could add a line to `ipmag.plot_dmag` that searc

[2019-04-24 20:31] moonshoes87 commented on #562
Yes, I think PmagPy-cli.ipynb can be left as is.

So, the steps for me to do to update the documentation:

- Create static html pages for the 4 new notebooks (including adding a somewhat different intro paragraph, that doesn't mention 'how to run this notebook')
- Re-do the Cookbook links to point at the new static html
- Re-do the PmagPy-cli links to point at the new static html
- Look at the Bin

[2019-04-24 21:09] Swanson-Hysell commented on #563
Fixing that example seems fine. I just did so in the notebook.

[2019-04-24 21:09] #563 closed

[2019-04-24 21:10] Swanson-Hysell commented on #564
This clarifies things. Seems like there are instances where one might want to display and save, but this approach is fine and I have updated the example in the notebook.

[2019-04-24 21:10] #564 closed

[2019-04-24 21:17] moonshoes87 commented on #562
Should be pretty easy to do the links -- just query replace:

http://pmagpy.github.io/PmagPy-cli.html#  with PmagPy-cli.ipynb#  or vice versa.   Plus a couple more times for the other notebooks.

@Swanson-Hysell, let me know when you are done in the notebooks and I will get to work on links and static html.

[2019-04-24 21:24] Swanson-Hysell commented on #562
I am done with the notebooks for now. So go for it.

One thought is that it is a bit confusing that the table of contents list is the name of the command line programs rather than the functions. This approach has the advantage of the notebooks being the same as the PmagPy-cli in names. One option would be to insert the names of the relevant ipmag/pmag function in the description in the table of co

[2019-04-24 21:34] moonshoes87 commented on #562
Great, I will work on that.

Regarding the table of contents, are you meaning the table of contents in the Cookbook, or in the notebooks?  In many cases, the names are the same if the functionality is the same (i.e., I renamed ipmag.dayplot to ipmag.dayplot_magic to follow this convention).  Could you give me an example of what adding the ipmag/pmag function name could look like?  I would be happy

[2019-04-24 21:42] Swanson-Hysell commented on #562
I am referring to the notebook list of functions/functionality.

For example, polemap_magic is the command line program, but in the notebook what is used is ipmag.plot_pole. (**Please don't rename ipmag.plot_vgp!**). Another example is revtest being ipmag.reversal_test_bootstrap (again, I don't think renaming the ipmag function here is wise given backward compatibility issues and the fact that the

[2019-04-24 21:46] #565 closed

[2019-04-24 22:20] moonshoes87 commented on #562
Yes, I won't rename any of those things!  How do you think the contents list could be updated to reflect those differences better?

Something like this?  Or is that awkward?

    - [polemap_magic/plot_pole](#polemap_magic) : reads in MagIC formatted file with paleomagnetic poles and plots them

Also, I'm questioning my initial impulse to link the notebooks directly.  For example, if you go from an

[2019-04-25 22:35] moonshoes87 opened #566 "ValueError: numpy.ufunc size changed, may indicate binary incompatibility"
I encountered this error while working with python 3.7 in the Travis CI environment.  Looks like it is a problem with numpy 1.16.0 *and* 1.16.2, but not 1.16.1.

https://github.com/scikit-learn-contrib/hdbscan/issues/272

[2019-04-26 18:51] moonshoes87 commented on #444
Relevant issue has been closed in matplotlib, fix should be available in 3.1: https://github.com/matplotlib/matplotlib/issues/13096

[2019-04-26 22:17] moonshoes87 commented on #561
Looks like this is now fixed -- naciscdn.org which was down is back up.  I'm closing this issue for now, hopefully it won't happen in the future!

[2019-04-26 22:17] #561 closed

[2019-04-29 20:19] moonshoes87 opened #567 "pyinstaller failing on windows again"

[2019-04-29 21:06] moonshoes87 commented on #567
Part of the problem seems to be pep 517 and pip>=19 https://discuss.python.org/t/pep-517-and-projects-that-cant-install-via-wheels/791.  Possibly Pyinstaller hasn't caught up yet, or possibly it won't be compatible.

- Installing via pip fails
- Installing via conda can work, but with extra dependencies, and then the resulting executable seems to do nothing

Possibilities to pursue: keep trying to

[2019-04-29 21:21] moonshoes87 commented on #567
https://github.com/pypa/pip/issues/6163

[2019-04-29 21:37] moonshoes87 commented on #567
I am spinning up a fresh virtual machine, because my old one seems to be irrevocably forked.

[2019-04-29 21:39] moonshoes87 commented on #567
Try:

- conda env with python 3.6 and conda-forge pyinstaller
- conda env with python 3.6 and pip 18.1 and pip installer pyinstaller

[2019-04-30 20:56] moonshoes87 opened #568 "make_magic_plots equal area thumbnails"
Equal area thumbnails with interpretations are different sizes.  Consider naming them differently and then cropping appropriately.

[2019-05-01 21:36] #567 closed

[2019-05-05 21:15] moonshoes87 commented on #562
I've fully updated the static documentation to use the new notebooks.  I'm leaving http://pmagpy.github.io/PmagPy.html (the full PmagPy.ipynb) in place for now.  All the links between notebooks should work in the static html.

The notebooks also link to each other locally in their introductory paragraphs, i.e.:

<img width="1030" alt="Screen Shot 2019-05-05 at 2 09 25 PM" src="https://user-images.

[2019-05-06 22:18] moonshoes87 commented on #562
The Cookbook links have been updated.  I'm not going to redo the Binder demo for now.

[2019-05-06 22:34] moonshoes87 opened #569 "download_magic to separate folders (Location_*) isn't fully working"
See https://earthref.org/MagIC/16645.

`download_magic.py -f magic_contribution_16645.txt -sep`

Only locations and sites are added to the Location_* folders.  Might just need to propagate location names down.

[2019-05-07 19:01] moonshoes87 opened #570 "make_magic_plots test seems to be failing"
long test quits silently at some point, need to find out why.

[2019-05-07 19:35] moonshoes87 commented on #570
Well, looks like it works now.  Mysterious.

[2019-05-07 19:35] #570 closed

[2019-05-07 19:38] moonshoes87 commented on #568
I've made adjustments to zeq_magic and thumbnails so that equal area plots with interpretations are named differently:

LO:_Agate Point_SI:_AP1_SA:_AP1-1_SP:_AP1-1a_CO:__TY:\_eqarea_interpretations\_.png

Full:
![LO:_Agate Point_SI:_AP1_SA:_AP1-1_SP:_AP1-1a_CO:__TY:_eqarea_interpretations_](https://user-images.githubusercontent.com/1836578/57327952-f3eff100-70c4-11e9-8918-8d13ed384403.png)

Croppe

[2019-05-07 20:59] #558 closed

[2019-05-07 21:01] moonshoes87 opened #571 "refactor polemap_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-05-08 01:46] rminnett commented on #568
Yes, but it's a quick fix.

[2019-05-08 17:35] #569 closed

[2019-05-08 17:36] #531 closed

[2019-05-08 18:08] moonshoes87 opened #572 "refactor dmag_magic"
Each plotting program must work on the command line, in a notebook, and in tests.
Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
Each program should return a list of saved files.
Each program should be able to take a contribution/pandas dataframe argument instead of reading in a data file.

[2019-05-08 20:06] moonshoes87 commented on #572
@ltauxe, I've finished refactoring here.  But, I'm noticing that I get different plots when I use ipmag.dmag_magic vs. your ipmag.plot_dmag example in PmagPy_plots_analysis.ipynb

<img width="720" alt="Screen Shot 2019-05-08 at 12 43 27 PM" src="https://user-images.githubusercontent.com/1836578/57403598-ea32c000-718e-11e9-9d2a-66b6945122f0.png">

<img width="670" alt="Screen Shot 2019-05-08 at 12

[2019-05-08 20:06] #571 closed

[2019-05-08 20:07] #562 closed

[2019-05-08 20:55] moonshoes87 opened #573 "ipmag.eqarea_magic needs contribution argument added"

[2019-05-08 23:20] #573 closed

[2019-05-08 23:21] moonshoes87 opened #574 "ipmag.aniso_magic needs contribution argument added"

[2019-05-09 03:33] ltauxe commented on #572
dmag_magic must not be filtering the same way - maybe there are some thermal results mixed in.  the plot_dmag one is only the AF.
lisa

[2019-05-09 22:17] moonshoes87 opened #575 "thellier_magic ZeroDivisionError"
Presumably related to #483

**What command was run:**

`download_magic.py -f magic_contribution_13238.txt`
`thellier_magic.py -spc 11CL8604B`

**What happened:**

[code]
**What I expected to happen:**

Plotting without errors.

**Data file(s):**

[magic_contribution_13238.txt](https://github.com/PmagPy/PmagPy/files/3164208/magic_contribution_13238.txt)

**Screenshot(s):**

**PmagPy version:**

[2019-05-10 18:38] njarboe commented on #568
There are quite a bit of errors this time. Below are three types that I found. Maybe fix those and I can run the plots again and see what others might be lurking. Now it is taking about 40 hours to run.
The full log is at:
http://34.236.167.37/plots/batchPlotsLog.txt

Contribution 12856
[magic_contribution_12856.txt](https://github.com/PmagPy/PmagPy/files/3167727/magic_contribution_12856.txt)
prod

[2019-05-10 20:58] moonshoes87 opened #576 "figure out what error message in new_make_magic_plots means"
**What command was run:**

`pythonw -m unittest pmagpy_tests.test_make_plots.TestMakeMagicPlots.test_make_plots`

**What happened:**

[code]

Not sure if this is a problem or not, but should be checked.

[2019-05-10 21:02] moonshoes87 opened #577 "looks like combine_magic doesn't work great on images tables"
See McMurdo example in pmagpy_tests/test_make_plots.py.

[2019-05-13 12:29] ltauxe opened #578 "new bug(s) in ipmag.zeq_magic"
**What command was run:**

ipmag.zeq_magic(meas_file='srm_dscr_measurements.txt',specimen=spc,fignum=cnt,\
                spec_file='lims_specimens.txt',input_dir_path=magic_dir,save_plots=False)

**What happened:**

first, from pmagplotlib.plot_mag(), i got this error:
~/PmagPy/pmagpy/pmagplotlib.py in plot_mag(fignum, datablock, s, num, units, norm)
    856         plt.xlabel("Step [mT,C]")

[2019-05-13 18:06] moonshoes87 commented on #578
I'll work on this today.

[2019-05-13 18:56] moonshoes87 commented on #578
I can't reproduce this.  I did find a different bug that was happening because I didn't have a samples file, and I fixed that.

When I added y-labels back in and ran:

`ipmag.zeq_magic(meas_file='srm_dscr_measurements.txt',n_plots="all",
                spec_file='lims_specimens.txt',save_plots=False)`

all plots were made with y axis labels.

![image](https://user-images.githubusercontent.com/183

[2019-05-13 19:56] moonshoes87 commented on #575
@ltauxe, if you have a chance -- is this solution ok, or do you think there is something deeper going on here?  You can see my commit https://github.com/PmagPy/PmagPy/commit/150e45405b92aa6164869467540da8087065adc4 which basically just says don't norm if you get a ZeroDivisionError...

[2019-05-13 19:56] #577 closed

[2019-05-13 23:26] moonshoes87 commented on #568
Thanks, @njarboe.

I can't reproduce the first error with Contribution 12856.  Do you run download_magic for each contribution each time you run make_magic_plots?  Or is it possible that the result I get from running download_magic is slightly different from what you have cached in the 12856 directory?  The problem is with the data type of what's in dir_tilt_correction, so I'm wondering if it is s

[2019-05-14 16:52] njarboe commented on #568
@moonshoes87, I can't reproduce the contribution 12856 problem either. Maybe something to do with getting data from the earthref website and that did not work for some reason? I guess we don't worry about it for now until we see it again.

I forgot to delete the old files plot files this time so that if new plots were not made the old ones were still there. Sorry for the confusion. I'll rerun the

[2019-05-14 17:26] njarboe commented on #568
@moonshoes87, looks like the "invalid type comparison" error is happening for every contribution now so I stopped running the plot making script. Then I tried it on the server from the command line and this also did not work.  Can you give it another shot now that it is happening all the time for me. Thanks.
File:
[magic_contribution_12331.txt](https://github.com/PmagPy/PmagPy/files/3179038/magic_

[2019-05-14 18:13] moonshoes87 commented on #568
@njarboe, yes, I'll give it a go.  Thanks.

[2019-05-14 19:13] moonshoes87 commented on #568
Unfortunately, I still can't reproduce.

[code]

Could you send the output of `conda list` on the server so that I can check some version numbers? I'm wondering particularly about the version of pandas.

Then, could you pull my latest commit and try running make_magic_plots on that contribution again?  I added some debugging print statements.

Hopefully between those two pieces of information I ca

[2019-05-14 19:36] njarboe commented on #568
conda list on the server:
magic@ip-172-31-53-34:/var/www/html/plots$ conda list
# packages in environment at /home/magic/anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda-client           1.7.2                    py37_0
anaconda-navigator

[2019-05-14 19:46] njarboe commented on #568
You comment reminded me that I have not updated anaconda packages for awhile so I will do a "conda update --all" and try again.

[2019-05-14 20:06] njarboe commented on #568
I'm going to try on my Mac and not the server. Updated anaconda and just pulled. Got this error:
kamacite:tmp njarboe$ make_magic_plots.py
-I- Using online data model
-I- Getting method codes from earthref.org
-I- Importing controlled vocabularies from https://earthref.org

working on:  Mae Sot Formation
-I- writing locations records to /Users/njarboe/Downloads/tmp/tmp_locations.txt
-I- 4 records

[2019-05-14 20:08] njarboe commented on #568
Here is the server error:
magic@ip-172-31-53-34:~/testing/12331$ make_magic_plots.py
Traceback (most recent call last):
  File "/home/magic/git/PmagPy/programs/make_magic_plots.py", line 9, in <module>
    from programs import thumbnails
  File "/home/magic/git/PmagPy/programs/__init__.py", line 27, in <module>
    matplotlib.use("TKAgg")
  File "/home/magic/anaconda3/lib/python3.7/site-packages/m

[2019-05-14 21:59] moonshoes87 commented on #568
I believe the error you're having is due to matplotlib 3.0.x, which was installed by `conda upgrade --all`.

You can create a conda environment package versions that have been verified to work correctly using the environment.yml file in the PmagPy repo.  The command for that is `conda env create -f environment.yml`.  This environment.yml file *might* be OSX-specific, so the environment might not b

[2019-05-14 22:01] moonshoes87 commented on #568
You may also be able to roll back your environment changes using conda revisions:

http://blog.rtwilson.com/conda-revisions-letting-you-rollback-to-a-previous-version-of-your-environment/

I haven't experimented with this much, but it is supposed to be straightforward.

[2019-05-14 22:40] njarboe commented on #568
Looks like installing the previous revision worked. Great. Now I get the error on the server for 12331:
magic@ip-172-31-53-34:~/testing/12331$ make_magic_plots.py
-I- Using online data model
-I- Getting method codes from earthref.org
-I- Importing controlled vocabularies from https://earthref.org

working on:  Mae Sot Formation
-I- writing locations records to /home/magic/testing/12331/tmp_locatio

[2019-05-14 22:51] moonshoes87 commented on #568
Ok, progress.  Try downgrading pandas from 0.23.4 to 0.24.2.

[2019-05-14 23:24] njarboe commented on #568
Is that an upgrade going to 0.24.2 from 0.23.4?
conda install panda 0.24.2
says that the 0.24.2 package was not found

[2019-05-14 23:41] moonshoes87 commented on #568
Ah, right.  Numbers.  Whoops.

So you are back to:

[code]

Is that correct?

Could you get output of:

`conda search pandas --info`

and

`conda search pandas --info`

[2019-05-15 00:17] njarboe commented on #568
Those are my versions
Here is the large output to: conda search pandas --info
[pandaInfo.txt](https://github.com/PmagPy/PmagPy/files/3180380/pandaInfo.txt)

Your second command is the same as the first. Did you want numpy or numpy-base?

[2019-05-15 19:52] moonshoes87 commented on #568
Yes, I meant numpy.  Yesterday was not a great day getting thoughts from my brain down to my fingers.

This is a frustrating bug.  I just got a new Linux virtual machine running, but I don't have python/pmagpy installed yet.  I think that may be an easier way for me to try to test out the possible version issues as opposed to going back and forth with this.

One more debugging thing you can try:

[2019-05-15 21:59] moonshoes87 commented on #568
Ok, I finally reproduced the error on my Linux VM!

I got the error with pandas 0.23.4, but it was solved by upgrading to 0.24.2.  Numpy version doesn't seem to matter.  Please let me know if this works on the server!

[2019-05-16 20:18] moonshoes87 opened #579 "Pmag GUI validations step on Linux"
Grids with validation problems are not highlighted on Linux.  Could just switch to listing as with windows.

**Screenshot(s):**

<img width="1193" alt="Screen Shot 2019-05-16 at 1 17 25 PM" src="https://user-images.githubusercontent.com/1836578/57884216-fcd77580-77dc-11e9-87dc-06fe75ac3c45.png">

[2019-05-17 20:28] moonshoes87 opened #580 "Add tests and notebook examples for new IODP functionality"
I'd like to get updated tests and notebook examples for the IODP functionality that has been updated.

A few old things are now broken or changed -- for example, convert_2_magic.iodp_dscr_magic no longer exists, so Pmag GUI and iodp_dscr_magic.py need to be updated with the current stuff.

To do:
- Add or update tests for the new convert functions using the up-to-date data files in pmagpy_tests.te

[2019-05-18 10:30] ltauxe commented on #580
just added the iodp_magic folder in data_files which has  a complete (almost) set of practice data (not affected by embargo) as examples.  what else do you need.  there is also an example notebook for that data set as well as a word document explaining how to use it out on the ship.

the rest of this makes sense and I can slowly work on it over the next few weeks.
lisa

[2019-05-20 22:04] njarboe commented on #568
Ok. I have loaded an older revision of conda on the server and updated pandas to 0.24.2. That has done the trick. Great. I'm re-running the plots now. I'll close this and open a new issue when they are done, if needed.

[2019-05-20 22:04] #568 closed

[2019-05-22 17:06] njarboe opened #581 "One error on the batch plots run May 20th, 2019"
There seems to be only one Traceback error on the plots run this time.
Log is here:
http://34.236.167.37/plots/batchPlotsLog.txt
and the files are here:
http://34.236.167.37/plots/12366/

I get the same error running make_magic_plots.py on both the server and my mac, but many plots still get made.

4  records written to file  /home/magic/localPlots/tmp/12366/ages.txt
ages  data put in  /home/magic

[2019-05-23 04:27] moonshoes87 commented on #581
Looks like this was just caused by ipmag.zeq_magic interpreting specimen names as floats instead of strings.  I'm not sure why that changed -- maybe changing the pandas version fixed one thing but broke this.

[2019-05-23 04:33] moonshoes87 commented on #578
@ltauxe, let me know when you have another chance to try this out.  It still works fine for me, and I'd like to put those y-labels back in on master.

[2019-05-23 22:30] moonshoes87 commented on #580
Thanks @ltauxe.  I'll look at your example notebook and see if I can use it to add tests that run on Travis CI.

[2019-05-24 20:51] moonshoes87 commented on #580
I added simple tests for each of the 5 conversions, just to make sure they run without errors.

iodp_dscr_lore should replace iodp_dscr_magic
iodp_srm_lore should replace iodp_srm_magic
iodp_jr6_lore should replace iodp_jr6
iodp_samples_csv should replace iodp_samples
iodp_kly4s_lore doesn't replace anything

@ltauxe, unless you tell me otherwise, I will:

- add the new conversion functions into P

[2019-05-24 21:04] ltauxe commented on #580
i agree with all of these.  thanks so much!  did you find the sample data files?  they are in data_files/iodp_magic
lisa

[2019-05-24 21:08] moonshoes87 commented on #580
yes, I found them!

[2019-05-29 22:46] #578 closed

[2019-05-30 17:40] moonshoes87 opened #582 "fix move_data_files.py to include all notebooks and test on all 3 platforms"

[2019-05-30 19:03] moonshoes87 commented on #582
Tested on OSX, Windows, and Linux, and everything looks good!

[2019-05-30 19:03] #582 closed

[2019-05-30 19:06] moonshoes87 commented on #581
@njarboe, I got this fixed.  You can re-run plots if you want to.  I am also getting close to a new version of make_magic_plots that will create or append to an images table, and I'll let you know when we're ready to try that.

[2019-05-30 19:06] #581 closed

[2019-05-31 19:38] moonshoes87 commented on #580
Remaining to do:

- add iodp_jr6_lore to Pmag GUI
- add iodp_kly4s_lore to Pmag GUI
- make command line program iodp_kly4s_magic
- decide about deprecating old functions (MagIC 2 issue)

[2019-06-03 23:33] ltauxe commented on #553
indeed - these data are not thellier data and have the wrong method codes assigned to them.  according to the paper, there are some actual thellier data, but the contribution is a mess with different experiments and wrong method codes.

[2019-06-04 17:28] moonshoes87 commented on #553
Bummer.  Do you think there is something else we should do in PmagPy to provide a better error message?  And should we leave the fix that I did to allow teslas (otherwise some plotting will fail on the server)?

[2019-06-04 17:33] moonshoes87 opened #583 "Remove MagIC data model 2 options from Pmag GUI"
@ltauxe, should I just rip all of the MagIC data model 2 support out of Pmag GUI?  We really don't want anyone using data model 2 anymore, right?  It doesn't really make sense to update, for example, the new IODP conversions to be able to output magic data model 2 (#580).  Let me know if you're ok with me taking data model 2 out of Pmag GUI (I won't touch Thellier/Demag GUI in this process).

[2019-06-04 18:53] ltauxe commented on #583
Yes, let’s clean house. Another thing: I do need to verify that all files
downloaded from LIMS, including old ones, can be converted with the new
conversion scripts too

On Tue, Jun 4, 2019 at 10:33 AM Lori J <notifications@github.com> wrote:

[2019-06-04 22:09] moonshoes87 opened #584 "add more plotting programs (back) into Pmag GUI"
- core_depthplot replacement iodp_funcs.make_plot
- ani_depthplot
- aniso_magic
- ??

[2019-06-05 23:13] moonshoes87 commented on #580
@ltauxe, I've put all of the IODP scripts into Pmag GUI.  Could you try them out and make sure they seem to be implemented as expected?

[2019-06-06 17:45] moonshoes87 commented on #583
It looks like magic_grid2 is still used in Pmag GUI (data model 3).  I might want to switch that to use magic_grid3 eventually, but otherwise, none of the MagIC 2 dialogs are left.

[2019-06-12 03:08] ltauxe opened #585 "bug in command line versions"
**What command was run:**

di_vgp.py -f tmp.txt

**What happened:**

Traceback (most recent call last):
  File "/Users/ltauxe/PmagPy/programs/di_vgp.py", line 94, in <module>
    main()
  File "/Users/ltauxe/PmagPy/programs/di_vgp.py", line 87, in main
    output = pmag.dia_vgp(data)
  File "/Users/ltauxe/PmagPy/pmagpy/pmag.py", line 1175, in dia_vgp
    (decs, dips, a95s, slats, slongs) = list(zi

[2019-06-12 21:23] moonshoes87 commented on #585
The PmagPy-cli.ipynb example still seems to work:

    di_vgp.py -f data_files/di_vgp/di_vgp_example.dat

It looks like the problem is with having a single line of data in tmp.txt.

I believe I fixed that, but I found another issue if you have multiple lines with 5 values each (a95s included).

[code]

Looks like you just need to set `inlist` in this code if `data.shape[1]==5`:

[code]

I am not s

[2019-06-13 20:14] ltauxe opened #586 "something happened to fishqq"
**What command was run:**

both di_block=np.loadtxt('data_files/fishqq/fishqq_example.txt')
fqpars=ipmag.fishqq(di_block=di_block)

and command line version:

fishqq.py -f data_files/fishqq/fishqq_example.txt

**What happened:**
got output with negative values for Mu - this should never happen.

**What I expected to happen:**

positive values of fishqq

**Data file(s):**
in data_files/fishqq/fishq

[2019-06-13 20:26] ltauxe commented on #585
with the alpha95 after the dec inc and before the lat lon

[2019-06-13 22:20] moonshoes87 commented on #352
@njarboe, this is done and seems to be working.  I made a modified program new_make_magic_plots.py that will create image records and combine them with an existing images table if one is available.  Otherwise, it will create a new images table.  I have tested on 10 or so contributions and everything seems to work as expected, but we will probably find some more errors running it on the server.   I

[2019-06-19 18:45] moonshoes87 opened #587 "Demag GUI failing to open on some data with ValueError: DataFrame index must be unique for orient='index'."
**What command was run:**

`demag_gui.py -WD data_files/3_0/McMurdo/ -v`

**What happened:**

[code]

**What I expected to happen:**

Demag GUI to open without errors.

**Data file(s):**

See data_files/3_0/McMurdo

**Screenshot(s):**

**PmagPy version:**

[2019-06-19 18:47] moonshoes87 commented on #583
This is done and seems to be fine.

[2019-06-19 18:47] #583 closed

[2019-06-20 00:37] njarboe commented on #352
Plots have been running. Should be done this evening or tomorrow.

[2019-06-20 05:57] hl04445567 opened #588 "Bug for plot_poles and plot_poles_colorbar"
When I tried to use plot_poles and plot_poles_colorbar recently, it keeps reporting that

UnboundLocalError: local variable 'cy' referenced before assignment

[2019-06-20 17:05] Swanson-Hysell commented on #588
Can you please provide example code where you get this error?

In this simple example, no such error arises:

[code]

<img width="646" alt="Screen Shot 2019-06-20 at 10 04 18 AM" src="https://user-images.githubusercontent.com/4332322/59867377-e88a1980-9342-11e9-8607-1883d7485a60.png">

[2019-06-20 19:39] moonshoes87 commented on #444
All tests work except for pmagpy_tests.test_pmagplotlib.TestPlotMagMap.test_success in the Linux test environment.  This test does work on my Linux VM, though.  Possibly the version of wx is the problem?

[2019-06-20 19:39] moonshoes87 commented on #585
@ltauxe, this seems to work correctly.  Reopen this issue if you need to!

[2019-06-20 19:39] #585 closed

[2019-06-20 20:39] moonshoes87 commented on #444
Nope, having wxPython 4.0.4 instead of 4.0.6 does NOT fix the above error message :(

[2019-06-21 03:11] hl04445567 commented on #588
At a closer look, it turns out that there are two entries of my pole list lack A95s, which caused the problem.

Sorry about this. Thanks for the prompt reply.

[2019-06-21 03:30] Swanson-Hysell commented on #588
All good. Definitely feel free to report bugs as you run into them!

[2019-06-21 03:30] #588 closed

[2019-06-21 17:07] njarboe commented on #352
Found a bug in my code and needed to restart. I'll let you know when it's done.

[2019-06-21 18:07] moonshoes87 commented on #352
Sounds good — I will expect to work on any errors found on Monday.

[2019-06-24 03:03] njarboe commented on #352
The plots are done and the log is at http://34.236.167.37/plots/batchPlotsLog.txt

I saw only 4 Traceback errors. You can see the other files created in the plots/$MAGICID directories.

[2019-06-26 20:15] moonshoes87 commented on #352
@ltauxe, you could check my fix for dayplot_magic in commit https://github.com/PmagPy/PmagPy/commit/bf0ab2936d38433733c816ad1c5dd2ee2023979c.

I was getting an error with contribution [14743](https://earthref.org/MagIC/14743) where the Bc list had no data and caused an error.  I just did the simplest possible fix but maybe some deeper logic should be used/fixed.

[2019-06-26 20:41] moonshoes87 commented on #352
@njarboe, I fixed the two issues I found in the log.  Today is my last day of work for a while -- feel free to use the new_make_magic_plots if you want as it seems to be working!  I may also be available for small fixes here and there.

[2019-06-26 20:42] moonshoes87 commented on #444
So, in general matplotlib 3.1 works just fine, for Windows, MacOS, and Linux.  It fails only in one case in the test environment.  I haven't yet updated the Cookbook instructions to reflect this, but PmagPy is currently compatible with either matplotlib 2.2.3 or 3.1.  Yay!

[2019-06-26 20:43] #574 closed

[2019-06-26 20:44] ltauxe commented on #352
it seems to work as advertised.
lisa

[2019-07-20 03:20] mvhanson commented on #243
you can also right click on the file you want to open (a .py file) and then select "open with" and then "choose another app" and then "more apps" and then scroll down until you see "Look for another app on this pc" and then find your python27 or python37 folder and then right click on the "python" file and then select "troubleshoot compatability" and then "try recommended settings." And then "test

[2019-07-26 01:48] hl04445567 opened #589 "Pmag_gui is not starting"
**What command was run:**
Opening Pmag_gui windows standalone client

**What happened:**
Error message says "Failed to execute script pmag_gui"

Below is the message from wxPython terminal:

-I- PmagPy icon file not found -- skipping
-I- Read in any available data from working directory
-I- Using online data model
-I- Couldn't connect to earthref.org, using cached method codes
-I- Using cached met

[2019-07-27 21:32] njarboe commented on #589
This is likely a problem with the data file and not pmag_gui. I have just downloaded pmag_gui for windows and it ran with a known good datafile. If you would upload the datafile(s) you are trying to view, then I can test them out and take a look at them for correctness.
Here is a screenshot of my version running:
![Screen Shot 2019-07-27 at 2 28 02 PM](https://user-images.githubusercontent.com/127

[2019-07-28 13:59] hl04445567 commented on #589
Thanks for the replying.

I didn't think it was because of my dataset, mainly because that I have mutiple datasets, which I've done PCA fittings normally in pmag_gui before. I cannot open none of them now. I think it's unlikly that they all go wrong at the same time?

From your wxPython window, I noticed that one line says Getting method codes from earthref.org etc., while in the same place mine w

[2019-07-28 19:14] njarboe commented on #589
Is your computer connected to the internet when you are trying to run pmag_gui? If not, give that a try and it should be able to download file from earthref.org.

If you don't mind uploading one of your datasets that is not working, that could be very useful. I could try opening it and see if it works on my setup and use it for finding out more of where the problem might be.

[2019-07-28 21:18] ltauxe commented on #589
yes it sounds like you are running pmag_gui offline and somehow your distribution is different from the current one.  are you sure you are running the latest version and that you are running it while connected to the internet?
lisa

[2019-07-29 01:35] hl04445567 commented on #589
I'm using the same version as you showed in your screenshot (pmag_gui_4.2.23). I've also tried to re-downloaded it from the github just in case my copy was somehow compromised. And I'm sure that I'm connected to the internet. Actually, after this error occurred, I've tried to open pmag_gui on multiple computers and different internet environments, they all gave the same error.

I've attached a dat

[2019-07-29 17:32] njarboe commented on #589
I have got your data working on my computer. When you were testing did you still get the:
"-I- Couldn't connect to earthref.org, using cached method codes"
error? This might be where the problem is. Can you go to www.earthref.org in your browser when you get this error? Maybe something is blocking earthref.org access.
![Screen Shot 2019-07-29 at 10 28 24 AM](https://user-images.githubusercontent.c

[2019-07-29 17:38] hl04445567 commented on #589
Yes, still got this error. But I can normally access www.earthref.org in browser. I've also tried to connect to a VPN server in California, still the same error. If it helps, I'm in Australia. The weiredest thing is, this error started to occurred at the same time on my school desktop, my home desktop and my laptop.

[2019-07-29 18:28] njarboe commented on #589
This is a bit of a mystery. Do you have access to a Mac where you can install the Mac stand alone pmag_gui and try it out there?

[2019-07-29 18:35] ltauxe commented on #589
or rather, just install the whole PmagPy distribution - not the stand alone.  The person who maintains the stand alone and who could help with this is on maternity leave.
lisa

[2019-07-30 07:36] hl04445567 commented on #589
OK problem solved! At least for now.  I just downloaded pmag_gui.4.2.25, which is the release before the latest one. It worked fine.

The latest version is supposed to be 4.22.4 based on the title of the release, but in the actual assets the version number is 4.2.23. Perhaps a wrong version was uploaded? However, this doesn't explain why 4.2.23 was working fine until it suddenly decided to stop wo

[2019-07-30 16:23] njarboe commented on #589
Glad you now have a working version. Please let us know if you have other problems.

[2019-07-30 16:23] #589 closed

[2019-08-21 21:18] moonshoes87 opened #590 "Opening standalone Pmag and getting GUI KeyError: 'derived_value'"
**What command was run:**

Opening standalone Pmag GUI on windows

**What happened:**
[code]

**What I expected to happen:**

**Data file(s):**

**Screenshot(s):**

**PmagPy version:**

[2019-08-21 21:20] moonshoes87 commented on #590
Possibly the problem might be the mismatch between online data model and cached method codes.  A temporary solution should be disabling WiFi, or (for non-standalone users) setting pmag_env/set_env.py line 10 to:

    OFFLINE = True

I will investigate more when I have time.

[2019-08-22 05:33] kolipakakondal commented on #243
Right-click on a file > Open With > Choose default Program > Click on Browse > Select python.exe

I found python.exe in the **C:\Users\Kondal\AppData\Local\Programs\Python\Python37**

[2019-10-03 06:41] ltauxe opened #593 "trouble in zeq_magic"
**What command was run:**
from the PmagPy_plot_analysis notebook:

dir_path='data_files/zeq_magic/'
ipmag.zeq_magic(input_dir_path=dir_path, save_plots=False)

**What happened:**

contribution_builder threw a KeyError:  'derived_value'  on line 10575 in ipmag.py

I think this is because there is only a measurements.txt file and no higher level files.  This should not happen as zeq_magic was intend

[2019-10-03 17:11] moonshoes87 commented on #593
I believe this is because of a change in the online data model.  @ltauxe, try running this command with the internet turned off (or with pmag_env/set_env.py OFFLINE = True).

[2019-10-03 17:22] moonshoes87 commented on #593
Setting `OFFLINE = True`, should be a temporary fix, I will push up a full fix later today or tomorrow.

[2019-10-03 17:31] #593 closed

[2019-10-04 04:13] ltauxe commented on #593
All fixed!  Thanks Lori - you’re a hero!

[2019-10-12 02:25] Swanson-Hysell opened #594 "local variable 'Dnbar' referenced before assignment in ipmag.fishqq"
**What command was run:**

[code]

**What happened:**

[code]

**What I expected to happen:**

No error.

No error arises when running a higher inclination:
[code]

**PmagPy version:**

Master as of today.

[2019-10-13 06:44] ltauxe commented on #594
I fixed this - it was an intermittent problem caused by terrible logic in the code.  I cleaned it up a bit and it should now run reliably and faster too.

[2019-10-13 06:44] #594 closed

[2019-10-22 02:48] ltauxe opened #595 "gui troubles"
**What command was run:**
I downloaded the attached file from MagIC, unpacked with download_magic.py, and then ran,
for example,  demag_gui.py -WD .

only if the criteria.txt file is present does this bug happen.  the criteria.txt file is really useless with this file and should not have been there in MagIC.  but can we put in a trap if criteria.txt does not contain the table_column column then, t

[2019-10-22 03:11] ltauxe commented on #595
oh.  i found the bug in contribution_builder and fixed it (it just ignores bad criteria files).

[2019-10-22 03:11] #595 closed

[2019-10-22 03:17] ltauxe commented on #586
ok i fixed this = it was just horribly written code which now makes more sense.

[2019-10-22 03:17] #586 closed

[2019-10-22 03:19] ltauxe commented on #545
this is related to the criteria.txt problem and has now been fixed (i think).

[2019-10-22 03:19] #545 closed

[2019-10-22 03:22] #396 closed

[2019-10-22 03:23] #366 closed

[2019-11-03 06:14] craigmillernz opened #596 "subplots"
I'd like to be able to use matplotlib subplots to include multiple sub figures into one figure.
For example ipmag.plot_net() requires a figure number which creates a new figure.  How can i imbed a plot_net plot (along with the subsequent plot_di(), as a subplot in a larger figure that contains other matplotlib objects.

[2019-11-03 18:50] Swanson-Hysell commented on #596
This is a good request.

You are right that it would be nice to embed stereo plots within subplots. Feel free to dig into the code and make modifications that could come in as a pull request. Alternatively, I can carve out some time to play around with it at some point — but it will be a while.

[2019-11-04 05:16] craigmillernz commented on #596
I achieved a quick hack simply by commenting out the plt.figure and plt.clf at the start of the plot_net function. Then I can place it within my own figure or subplot.

From: Nick Swanson-Hysell <notifications@github.com>
Sent: Monday, 4 November 2019 07:50
To: PmagPy/PmagPy <PmagPy@noreply.github.com>
Cc: Craig Miller <c.miller@gns.cri.nz>; Author <author@noreply.github.com>
Subject: Re: [PmagPy/

[2019-11-04 19:34] ltauxe commented on #596
that should work.  we can modify plot_net to ignore these commands and just plot an ax  object passed in  if desired.
lisa

[2019-11-04 19:46] Swanson-Hysell commented on #596
The only trick here is backward compatibility given places in the code where a figure number is passed to the function. I think that we can do this and it will work:

[code]
In this code, one can still use the previous code that passed fignums:

<img width="795" alt="Screen Shot 2019-11-04 at 11 45 09 AM" src="https://user-images.githubusercontent.com/4332322/68152493-9fed8a00-fef8-11e9-8249-7d001

[2019-11-04 19:47] ltauxe commented on #596
yeah - this will work. thanks Nick.
lisa

[2019-11-04 19:48] Swanson-Hysell commented on #596
The b3b56bce commit implements this change

[2019-11-04 19:48] #596 closed

[2020-01-12 20:42] ltauxe opened #597 "ipmag.magic_write and ipmag.combine_magic delete the 'age' column from the sites table"
**What command was run:**
filenames=['jsites.txt','.hsites.txt']
outfile='.combined_sites.txt'
magic_table='sites'
ipmag.combine_magic(filenames,outfile=outfile,magic_table=magic_table)

**What happened:**

the resulting sites table had no 'age' column but the originals did!

**What I expected to happen:**

age is a perfectly acceptable column in the sites table. it should be removed.

**Data file

[2020-01-12 20:48] ltauxe opened #598 "ipmag.upload_magic is unhappy with the new external_results format"
**What command was run:**

ipmag.upload_magic(dir_path='Kaulial Kas',concat=True)

**What happened:**
A lot of angry warnings:
-W- these rows have problems:
 row: 53, name: 1408.2
row: 56, name: 1461.9
row: 57, name: 1461.9
row: 58, name: 1461.9
row: 60, name: 1501.8  ...
(for full error output see error file)

**What I expected to happen:**

it to create an upload file without problems.

**Data f

[2020-01-22 23:42] moonshoes87 commented on #597
I am back (ish), so I will work on this :)

[2020-01-22 23:52] moonshoes87 commented on #597
That doesn't happen when I run those commands -- the age column is still present as expected.  @ltauxe, any thoughts?

<img width="1143" alt="Screen Shot 2020-01-22 at 3 50 29 PM" src="https://user-images.githubusercontent.com/1836578/72944873-1e570c80-3d2f-11ea-909e-f7e86a251587.png">

[2020-01-24 21:43] moonshoes87 commented on #598
The reason for these errors is because the data model requires that the external_results column should contain a value from the controlled vocabulary External Results Type:

<img width="1000" alt="Screen Shot 2020-01-24 at 1 42 20 PM" src="https://user-images.githubusercontent.com/1836578/73106082-6866fc00-3eaf-11ea-8101-32d644494220.png">

Perhaps this validation should be changed, or other value

[2020-01-24 21:50] moonshoes87 commented on #598
Ah, sorry, I got it wrong -- the validation is messed up because it is expecting the whole string to be a controlled vocabulary, instead of just the first part.  I will fix this.

[2020-01-26 01:48] rminnett commented on #598
I was working on this earlier in the week, but got sidetracked before I
finished testing it. I can commit my changes if you want to test it for me?

On Fri, Jan 24, 2020, 1:50 PM Lori J <notifications@github.com> wrote:

[2020-01-26 22:25] #597 closed

[2020-01-26 22:41] moonshoes87 opened #599 "can't install anaconda on OSX Catalina"

[2020-01-26 23:01] moonshoes87 opened #600 "remove old_div"

[2020-01-26 23:05] moonshoes87 commented on #147
@njarboe, should I keep this issue open?  I am trying to clean house and I kind of assume this has either happened or isn't going to.

[2020-01-27 05:18] njarboe commented on #147
Doug Fils is working with IODP data now and we should be able to work with his software to get the IODP data imported. I'll close this issue.

[2020-01-27 05:18] #147 closed

[2020-01-28 18:48] moonshoes87 commented on #598
@rminnett, you mean to the MagIC validation, or in the PmagPy validation?

[2020-01-28 19:02] moonshoes87 commented on #185
I am working on cleaning up our issues list -- this hasn't been touched in two years.  Is this still worth considering, or is the functionality unnecessary and/or provided in a notebook?

[2020-01-28 19:04] #406 closed

[2020-01-28 19:05] moonshoes87 commented on #466
This doesn't really matter...

[2020-01-28 19:05] #466 closed

[2020-01-28 19:06] moonshoes87 commented on #566
No longer see this error

[2020-01-28 19:06] #566 closed

[2020-01-28 19:07] #483 closed

[2020-01-28 19:08] #532 closed

[2020-01-28 22:40] moonshoes87 commented on #444
3.1.0 works, but some issues with 3.1.2 need to be fixed:

<img width="982" alt="Screen Shot 2020-01-28 at 2 39 21 PM" src="https://user-images.githubusercontent.com/1836578/73311725-09212880-41dc-11ea-8e66-86acccc6ed42.png">

[2020-01-29 01:17] Swanson-Hysell commented on #185
Demag_GUI is about the measurements and there are tools to do other things with site level data within the notebooks. So I think this issue is good to close.

[2020-01-29 01:17] #185 closed

[2020-01-29 01:23] rminnett commented on #598
In PmagPy - I can issue a pull request so you can see if they help or if
you prefer to implement the fix differently.

Rupert

On Tue, Jan 28, 2020 at 10:48 AM Lori J <notifications@github.com> wrote:

[2020-01-29 18:38] Swanson-Hysell commented on #600
It would be great to get rid of `old_div` and to no longer need to have the future/past module used throughout PmagPy.

[2020-01-30 04:48] moonshoes87 commented on #598
pull request would be great, thanks Rupert!

[2020-02-04 01:41] moonshoes87 commented on #444
So, it looks like 3.0.3 and only 3.0.3 will work without crashing on Linux.  We're going to need to address the deprecation warnings and the future warnings.  3.0.3 and 3.1.0 work on OSX.

[2020-02-04 20:43] moonshoes87 commented on #444
Further testing -- 3.0.3 and 3.1.0 both work on linux.  It's just the testing environment that is broken.  So I'm going to leave this alone for now.  We do still need to get those deprecation warnings and future warnings, though.

[2020-02-04 20:44] moonshoes87 commented on #584
It looks like we're going in a different direction and not trying to add more functionality to the GUIs, so I am closing this issue.

[2020-02-04 20:44] #584 closed

[2020-02-04 20:48] #590 closed

[2020-02-04 20:50] moonshoes87 commented on #253
I think this was just a weirdly small screen (virtual machine on a small OSX laptop), so I don't think this is worth putting more energy into.

[2020-02-04 20:50] #253 closed

[2020-02-04 20:52] moonshoes87 commented on #328
@lfairchild and @Caoimhinmg, let me know if I should leave this issue open, since it has not been touched in over a year.

[2020-02-04 20:53] moonshoes87 commented on #277
@ltauxe, I am closing this issue in favor of #170.

[2020-02-04 20:53] #277 closed

[2020-02-04 20:55] moonshoes87 commented on #352
@njarboe, are you using new_make_magic_plots.py currently on the server?

[2020-02-04 20:55] moonshoes87 commented on #346
Things are currently working on Linux, I do believe.

[2020-02-04 20:55] #346 closed

[2020-02-04 21:30] #579 closed

[2020-02-04 21:32] moonshoes87 commented on #225
This isn't important.

[2020-02-04 21:32] #225 closed

[2020-02-04 21:34] moonshoes87 commented on #195
@njarboe, what is the status here?  Do we need to do work on the CIT format conversion, or has this been cleared up?

[2020-02-04 21:45] moonshoes87 commented on #575
I'm going to assume this is ok.

[2020-02-04 21:45] #575 closed

[2020-02-04 21:48] moonshoes87 commented on #295
@ltauxe, I am closing this issue.  Core_depthplot still works on the command line, and you have an implementation in the PmagPy Analysis and Plots notebook.  If you still want to work on core_depthpot.py, including making it work in the notebook better, you can re-open.

[2020-02-04 21:48] #295 closed

[2020-02-04 21:52] moonshoes87 commented on #335
I am closing this discussion of site/sample level averaging for archaeomag, since it hasn't been touched in about 2 years.

[2020-02-04 21:52] #335 closed

[2020-02-04 21:54] #262 closed

[2020-02-04 21:58] moonshoes87 commented on #358
This doesn't seem crucial -- I am closing this issue unless someone thinks it needs to be re-prioritized.

[2020-02-04 21:58] #358 closed

[2020-02-04 22:00] moonshoes87 commented on #262
This still concerns me, because we can lose orientation data depending on where it is put in the data file.  But, I'm not the person to fix this.  I've closed this, but we can revisit in the future if someone who is more involved with Demag GUI wants to.

[2020-02-04 22:02] moonshoes87 commented on #454
I assume this is working correctly, so I am closing the issue.

[2020-02-04 22:02] #454 closed

[2020-02-05 17:32] njarboe opened #602 "new_make_magic_plots.py fails on most current MagIC upload file"
The measurement file says software version: pmagpy-4.2.24-1 which is a bit behind our current version, so maybe that is the problem?

new_make_magic_plots.py
-I- Using online data model
-I- Getting method codes from earthref.org
-I- Importing controlled vocabularies from https://earthref.org

working on:  Midway Atoll
-I- writing measurements records to /Users/njarboe/Dropbox/MagIC/testing/make_ma

[2020-02-05 22:55] ltauxe opened #603 "thellier_magic should support thellier-thellier (LP-PI-TRM-II) protocol"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

thellier_gui supports the infield-infield protocol but thellier_magic does not.  it should.

**Additional context**
Add any other context or

[2020-02-07 05:06] moonshoes87 commented on #602
Thanks, I will work on that asap.

[2020-02-07 21:53] moonshoes87 commented on #599
There are two new problems created by Catalina.

1.
Catalina won't allow Anaconda to install into the root folder (which is Anaconda's old default).  The current solution, annoyingly, is to reinstall Anaconda *using the command line installer* .  The graphical installer doesn't (yet) work, but should be updated soon.  See more information from Anaconda [here](https://www.anaconda.com/how-to-restor

[2020-02-07 22:03] moonshoes87 commented on #599
https://github.com/ContinuumIO/anaconda-issues/issues/11334

[2020-02-07 22:57] njarboe opened #604 "Should we remove PmagPy.ipynb from the repo?"
@ltauxe @moonshoes87 @Swanson-Hysell
Now that Nick S-H has broken up the large notebook into four parts, should we remove the large one. I don't think we need it and keeping it in sync with the other files is just extra work. What do you think?

[2020-02-08 02:00] Swanson-Hysell opened #605 "getting ipmag.plot_net() to be the same size in subplots"
**Is your feature request related to a problem? Please describe.**
At present, when you try to embed ipmag.plot_net() within subplots they end up being different sizes. It would be nice if there are the same size. I don't know why this is happening as one would think they would be the same size.

**Additional context**
Here is an example (the difference is subtle, but enough to be a problem):

<im

[2020-02-08 22:59] Swanson-Hysell commented on #604
I think removing it makes sense for the reasons that you state.

[2020-02-10 22:57] moonshoes87 commented on #604
Yes, sounds good to me.

[2020-02-10 23:36] njarboe commented on #604
OK. Removed.

[2020-02-10 23:36] #604 closed

[2020-02-10 23:54] moonshoes87 commented on #602
It looks like this is happening because the specimens file uses the LP-DIR-T method code but doesn't actually have any directional data.  I can put in a workaround for this, but perhaps something is wrong with this specimen file?

[2020-02-10 23:55] moonshoes87 commented on #602
If this specimen file was generated by PmagPy, maybe there is something additional that we need to fix.

[2020-02-11 00:14] moonshoes87 commented on #424
We're done with this for now.

[2020-02-11 00:14] #424 closed

[2020-02-11 00:16] moonshoes87 commented on #352
Once #602 is solved, I will rename new_make_magic_plots to make_magic_plots and get rid of the old make_magic_plots.

[2020-02-11 00:17] moonshoes87 commented on #328
I'm closing this issue.  If someone wants to work on it, go ahead and reopen.

[2020-02-11 00:17] #328 closed

[2020-02-11 00:21] moonshoes87 commented on #357
@Swanson-Hysell & @Caoimhinmg, I am closing this as another stale issue.  Feel free to reopen if someone wants to work on this.

[2020-02-11 00:21] #357 closed

[2020-02-11 00:25] moonshoes87 commented on #244
It would be great to fix this, but it seems likely to be time-consuming and buggy to do.  If someone wants to do a developer install on Windows, they can follow the [Cookbook instructions](https://earthref.org/PmagPy/cookbook/#setting_path) to do so.

[2020-02-11 00:25] #244 closed

[2020-02-11 00:26] moonshoes87 commented on #195
I am closing this for now.

[2020-02-11 00:26] #195 closed

[2020-02-11 00:28] moonshoes87 commented on #528
@ltauxe and @njarboe, is it still a priority to add outlines to the lakes?

[2020-02-11 00:29] moonshoes87 commented on #598
I am closing this issue in favor of https://github.com/PmagPy/PmagPy/pull/601

[2020-02-11 00:29] #598 closed

[2020-02-11 00:31] moonshoes87 commented on #553
I am closing this as it seems to be an edge case with bad data.

[2020-02-11 00:31] #553 closed

[2020-02-11 04:40] njarboe commented on #602
The measurement table has "pmagpy-4.2.24-1" as the software used, so I would think the specimens table was also from pmagpy. I have asked the contributor to find out for sure.

[2020-02-11 05:50] njarboe commented on #602
@moonshoes87 Working is working. Will reopen if Bono get back to me and the specimens file was created by PmagPy.

[2020-02-11 05:50] #602 closed

[2020-02-14 10:41] aisync commented on #599
^ Does command line installation resolve the referenced issue? (Not the issue w/ proper $PATH setup)

[2020-02-14 23:18] moonshoes87 commented on #599
I looked at your error on ContinuumIO/anaconda-issues#11334, and unfortunately I don't know.  I'll let you know if I figure it out.

[2020-02-14 23:20] #528 closed

[2020-02-14 23:29] Swanson-Hysell commented on #528
I think it is right to close this issue. I will note that the default in ipmag is no lakes:
<img width="768" alt="Screen Shot 2020-02-14 at 3 23 45 PM" src="https://user-images.githubusercontent.com/4332322/74575998-ff1e5a00-4f3d-11ea-96c8-d3bd2c69ed36.png">

[2020-02-14 23:42] moonshoes87 commented on #352
I've renamed new_make_magic_plots --> make_magic_plots and removed the old version.

[2020-02-14 23:42] #352 closed

[2020-02-14 23:43] #517 closed

[2020-02-15 03:31] aisync commented on #599
Sorry, I thought that was maybe why you referenced the issue. My apologies. And thank you!

[2020-02-18 17:44] moonshoes87 commented on #196
Since the main problem we had with orientation_magic was fixed, I'm going to assume that remaining questions raised in this issue are not important.  Re-open if you disagree.

[2020-02-18 17:44] #196 closed

[2020-02-19 23:22] moonshoes87 opened #606 "remove useless error message with missing criteria file"
This is occurring in the MagIC workshop demo notebook, because there is no criteria file.  This is not a useful error message, so let's remove it.

<img width="951" alt="Screen Shot 2020-02-19 at 3 19 19 PM" src="https://user-images.githubusercontent.com/1836578/74885849-687dde80-532b-11ea-890c-af9635065d53.png">

[2020-02-20 05:08] ltauxe opened #607 "ipmag.upload_magic()"
**What command was run:**

ipmag.upload_magic(concat=True)

**What happened:**

my file passed validation, but then failed after upload to my private workspace and attempt to validate - the first time with missing columns in the site table (blank ages and no result_type, result_quality columns).  then the second time with missing result_type, result_quality and blank method_codes

**What I expecte

[2020-02-20 18:34] moonshoes87 commented on #606
Looks like this error is actually reasonable -- the criteria file in question looks like this:

<img width="807" alt="Screen Shot 2020-02-19 at 3 33 11 PM" src="https://user-images.githubusercontent.com/1836578/74886518-3a999980-532d-11ea-8679-6e31123a3f72.png">

I've changed the error message to be more brief and readable.

[2020-02-20 18:35] #606 closed

[2020-02-20 19:41] moonshoes87 commented on #607
Lisa, when I just download and then upload this example, it doesn't give any validation errors in PmagPy, nor any errors during  Step 2. Import on MagIC.

However, when I got to Step 3. Upload, it just spins:

<img width="1215" alt="Screen Shot 2020-02-20 at 11 33 26 AM" src="https://user-images.githubusercontent.com/1836578/74971384-dcc08c80-53d4-11ea-986c-b1dc34cf7df7.png">

@rminnett, maybe you

[2020-02-20 19:41] moonshoes87 commented on #607
@rminnett, this is happening on Safari.

[2020-02-20 19:50] rminnett commented on #607
Is it still stuck uploading?

On Thu, Feb 20, 2020 at 11:41 AM Lori J <notifications@github.com> wrote:

[2020-02-20 22:53] moonshoes87 commented on #607
Yes, but the upload succeeded on Chrome.

[2020-02-21 04:03] rminnett commented on #607
That's interesting - I'll see if I can reproduce the different behavior on
Safari.

On Thu, Feb 20, 2020 at 2:53 PM Lori J <notifications@github.com> wrote:

[2020-02-21 04:24] moonshoes87 commented on #607
@ltauxe -- I found the validation errors.  I'll see what I can do.

[2020-02-24 22:23] njarboe commented on #352
Changed server programs to use make_magic_plots again.

[2020-02-24 23:33] moonshoes87 commented on #607
@rminnett, the issue on Safari persists.

Also, perhaps you can lend some insight into the other validation errors I am seeing.

<img width="881" alt="Screen Shot 2020-02-24 at 2 53 35 PM" src="https://user-images.githubusercontent.com/1836578/75198448-79f12d00-5715-11ea-9478-3ad5162084dd.png">

result_quality is not missing from the samples table overall.  Does this mean that a value for result_q

[2020-02-26 21:29] moonshoes87 commented on #607
@ltauxe, do you want me to add result_type i and result_quality good?

[2020-02-29 22:22] rminnett commented on #607
@moonshoes87 I updated the data model to replace the required() with suggested() for results_quality and results_type fields. I'm updating the validation interface to report suggested empty fields as warnings and I'll clarify some of the messages in the data model browser and validation report.

[2020-03-03 00:01] jbowles100 opened #609 "incfish not returning a95"
**What command was run:**
incfish.py and pmag.doincfish

**What happened:**

Returns cos(a95) instead of a95

**What I expected to happen:**

**Data file(s):**

**Screenshot(s):**

**PmagPy version:**

[2020-03-08 21:58] ltauxe opened #610 "pmag_gui quits unexpectedly"
**What command was run:**

pmag_gui_4.2.39.2.app

**What happened:**

After step 3 (adding meta-data to various MagIC tables), pmag_gui the pmag_gui front panel just never came back. The program appeared to still be running and all the files were saved, but the application had to be re-started to continue.    This also happens with the pip and git versions.

**What I expected to happen:**

to retu

[2020-03-08 23:45] moonshoes87 commented on #610
I will look — is there any error message output?  Also, could you send me the specific data file in case that is relevant?

[2020-03-10 00:33] moonshoes87 commented on #610
@ltauxe, I reproduced the problem.  I will try to fix this, but in the meantime, you can always use the menubar to force the main frame to show:  File --> Show main window:

<img width="480" alt="Screen Shot 2020-03-09 at 5 31 17 PM" src="https://user-images.githubusercontent.com/1836578/76268679-0d555280-622c-11ea-8b59-860ea3cab6d3.png">

[2020-03-10 00:48] #610 closed

[2020-03-10 20:50] #609 closed

[2020-03-10 21:05] Swanson-Hysell commented on #609
Out of curiosity, what was the issue here and how was it fixed?

[2020-03-13 00:06] njarboe opened #611 "make_magic_plots not cropping thumbnails"
Lisa's Feb 23 contribution worked, but Julie's most recent did not. I also tried it on this smaller contribution that is correct on the website, but now does not get cropped. I get this kind of output:
Could not crop /Users/njarboe/Dropbox/MagIC/testing/make_magic_plots/16686/data/CMR-30.2_demag.png
Could not crop /Users/njarboe/Dropbox/MagIC/testing/make_magic_plots/16686/data/CMR-14.2_eqarea.png

[2020-03-13 22:34] moonshoes87 commented on #611
It looks like make_magic_plots.py was actually reverted to its old version around a month ago (accidentally, in e561c9fbbcdbb8190073da552cbf314e0413da62).  So, I've fixed that.

Additionally, it appears that isServer was not set to True in the server environment, so that probably needs to be done as well.

@njarboe, let me know if any issues persist.  It works locally when I un-revert the reversio

[2020-03-13 22:47] njarboe commented on #611
download_magic.py was crashing when running on the server due to the large >300k number of measurements in Julie's contribution. So I tried running it locally as a quick fix, but forgot to set the isServer flag to make the plots for the website. I bumped up the plot server to a t2.small so now it can handle unpacking Julies magic file.

[2020-03-13 22:50] njarboe commented on #611
Pulled the current version and the thumbnails are still being made when isServer is not set. Is make_magic_plots.py only for the server or should people be able to use it on their own machines.

[2020-03-14 00:15] #611 closed

[2020-03-17 23:41] njarboe opened #612 "core_depthplot.py needs to be updated to MagIC data model 3.0 and integrated into make_magic_plots.py"
It would be nice to have core plots working in PmagPy, especially now that Branden Reilly is adding data files from cores. When data from cores are uploaded and don't have any other type of plots, they leave the contribution page with an empty place.

[2020-03-18 16:58] #603 closed

[2020-03-20 21:28] njarboe opened #613 "Don't replicate site/sample/specimen names when labeling plots"
Drill core data usually has only one specimen per sample and one site per sample. It make sense for people to label each with the same name. So siteName=sampleName=specimenName. When that is the case, only display the siteName on the plot. If sampleName=specimenName then only show siteName.sampleName. These core data also often have long names so they get truncated on the plots. Shortening the tex

[2020-04-08 00:06] njarboe opened #614 "Lisa's recent contribution, Tauxe et al. (2015), fails to load into demag_gui"
When I unpack this file:
[magic_contribution_16761.txt](https://github.com/PmagPy/PmagPy/files/4447491/magic_contribution_16761.txt)
and run pmag_gui and then try to open the data in demag_gui, I get the error below, but this file works:
[magic_contribution_16680.txt](https://github.com/PmagPy/PmagPy/files/4447528/magic_contribution_16680.txt)

(base) kamacite:testing2020-04-07 njarboe$ pmag_gui.p

[2020-04-08 02:26] njarboe commented on #614
I recently reinstalled anaconda and went through the cookbook steps, if that is useful.

[2020-04-08 21:53] njarboe commented on #614
I also get the same error when I try to look at a file I have created for the MIT group:
[Jack-Hills_08.Apr.2020.txt](https://github.com/PmagPy/PmagPy/files/4452991/Jack-Hills_08.Apr.2020.txt)
(base) kamacite:Weiss2018Set2 njarboe$ pmag_gui.py
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
objc[67333]: Class FIFinderSyncExtensionHost is implemented in both /System/Li

[2020-04-10 21:13] moonshoes87 commented on #614
I will try to look at this next weekend or early next week, thanks Nick.

[2020-04-10 21:22] njarboe commented on #614
Great. You can ignore the Jack_Hills file. I have discovered a few more changes that need to be made in the MIT SQUID conversion program I am working on.

[2020-04-12 22:32] #614 closed

[2020-04-12 22:37] moonshoes87 commented on #614
This is an issue of pandas 0.25 vs pandas 1.0.3.  It should be working now.

[2020-04-14 00:25] njarboe opened #615 "upload_magic.py states there is an error with image.txt file when online validation does not."
upload_magic.py states there is an error with image.txt file when online validation does not. The image file looks like it should pass validation to me.

These files:
[tmp.zip](https://github.com/PmagPy/PmagPy/files/4472479/tmp.zip)

give the following output when upload_magic.py is run:
(base) kamacite:tmp njarboe$ upload_magic.py
Using default arguments for: -f, -F, -A, -WD, -ID, -Fsa, -Fsi, -ca

[2020-04-14 03:15] njarboe commented on #614
This is working now on the Jack_Hills data file also. Great.

[2020-04-24 18:42] sarah-potatoes opened #616 "Issues with gobing.py"
**What command was run:**
gobing.py -f vectors.txt

**What happened:**
Traceback (most recent call last):
  File "/Users/Sarah/anaconda3/bin/gobing.py", line 10, in <module>
    sys.exit(main())
  File "/Users/Sarah/anaconda3/lib/python3.7/site-packages/programs/gobing.py", line 52, in main
    bpars=pmag.dobingham(DIs)
  File "/Users/Sarah/anaconda3/lib/python3.7/site-packages/pmagpy/pmag.py", li

[2020-04-25 04:05] moonshoes87 commented on #616
@ltauxe, do you want to look at this, or should I?

[2020-04-25 04:05] moonshoes87 commented on #615
@njarboe, this should be working correctly now -- I'm closing this issue, please reopen if I missed something.

[2020-04-25 04:05] #615 closed

[2020-04-25 16:09] ronshaar opened #617 "doigrf function in pmag_gui seems not working with 2020 dates"
**What command was run:**

Using the Pmag GUI, I edited a new "demag_orient.txt" file with the date "01/28/20).
Then, using the standard routine we clicked the "Calculate Sample Orientations" button

**What happened:**

  File "/Users/ronshaar/PmagPy/dialogs/pmag_gui_dialogs.py", line 3019, in on_m_calc_orient
    output_dir_path=self.WD, append=append, data_model=3)
  File "/Users/ronshaar/PmagPy

[2020-05-01 03:35] moonshoes87 commented on #617
It looks like only dates prior to 2020 are supported.  Lisa added a warning about this in this commit: https://github.com/PmagPy/PmagPy/commit/b99cf3ce221b7ea2c5034005dd97a80c50408b4a

@ltauxe, are you expecting to add support for 2020 and later?

In the meantime, we should make it fail a bit more gracefully.  I will work on that aspect this weekend.

[2020-05-01 21:22] ltauxe commented on #617
yeah.  when i get a minute. until only dates to 2019.999 supported
lisa

[2020-05-04 18:25] ltauxe commented on #617
had a minute. all fixed.  appears reliable up to 2020 at least.

[2020-05-04 18:26] #617 closed

[2020-05-05 20:22] moonshoes87 commented on #616
@sarah-potatoes, sorry this took me so long!  I can't reproduce this error with the data file you've attached:

gobing.py -f vectors.txt
  197.5    33.2    12.5   112.1    -7.0    11.3   212.6   -55.9 20

but it looks like you only included the first 20 lines, so I am guessing that excludes the problematic lines.  Please attach the full file, and I will have a look!

[2020-05-16 20:44] sarah-potatoes commented on #616
Sorry for my delay too! Here's another sample set that runs errors:

[bingtest.txt](https://github.com/PmagPy/PmagPy/files/4639189/bingtest.txt)

When I run gobing.py -f bingtest.txt

my output looks like this:
Traceback (most recent call last):
  File "/Users/Sarah/anaconda3/bin/gobing.py", line 10, in <module>
    sys.exit(main())
  File "/Users/Sarah/anaconda3/lib/python3.7/site-packages/progra

[2020-05-18 00:03] ltauxe commented on #616
I think I fixed this, but I'm not sure it will work universally.  Could someone check it?  thanks

[2020-05-20 23:01] sarah-potatoes commented on #616
I updated to version 4.2.45 and it seems to have resolved the issue, thanks!

[2020-05-20 23:01] #616 closed

[2020-06-17 02:55] wilfred9110 opened #619 "How to draw ellipse for each site-mean direction using eqarea_ell.py"
**What command was run:**

eqarea_ell, fisher_mean, a95

**What happened:**

I cannot draw confidence ellipse for each site-mean direction in Pmagpy 4.2.46. but it can be done in the version of  3.2.11

**What I expected to happen:**
I expect to see the site-mean data in "SXB_Ds_Is.txt" be plotted with a95 shown for each site-mean direction. Also, I want to flip the reversed direction to the antip

[2020-06-17 15:51] ltauxe commented on #619
You can do it this way:
vectors=np.loadtxt('SXB_Ds_Is.txt')
plt.figure(1,figsize=(10,10))
ipmag.plot_net(1)
for k in range(len(vectors)):
    print (vectors[k])
    ipmag.plot_di_mean(vectors[k][0],vectors[k][1],vectors[k][2])
![fig_for_Donghai](https://user-images.githubusercontent.com/174861/84920151-a55aa780-b077-11ea-93a9-2401fe379917.png)

I guess I should re-instate eqarea_ell  through ipmag

[2020-06-17 15:51] #619 closed

[2020-07-23 23:22] njarboe opened #620 "Pierrick Roperch's MagIC data file throws an error in Demag GUI"
Pierrick Roperch is working on creating a MagIC file export for his software. His file passes validation but when I try and open it up in pmag gui using demag gui I get this error:

pmag_gui.py
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
objc[88569]: Class FIFinderSyncExtensionHost is implemented in both /System/Library/PrivateFrameworks/FinderKit.framework/Versio

[2020-07-31 20:00] njarboe commented on #620
Lisa commented out the line
data_er_locations = loc2_data.to_dict('index') #TRY
from demag gui and that fixed the problem.
It breaks on location tables that have two locations with the same name. This will be the case if we have data for a location on the geographic and stratigraphic directions, for example.
I checked that pmag_gui produced a valid file after reading in a magic data file and expor

[2020-07-31 21:20] #620 closed

[2020-11-05 20:13] Swanson-Hysell opened #625 "site table not generated (AttributeError: ‘DataFrame’ object has no attribute ‘reindex_axis’)"
**What command was run:**

demag_gui.py on_menu_make_MagIC_results_tables

**What happened:**

Traceback (most recent call last):
  File “programs/demag_gui.py”, line 6929, in on_menu_make_MagIC_results_tables
  File “programs/demag_gui.py”, line 5799, in On_close_MagIC_dialog
  File “pandas/core/generic.py”, line 5130, in __getattr__
AttributeError: ‘DataFrame’ object has no attribute ‘reindex_ax

[2020-12-02 18:44] wilfred9110 opened #626 "pmag_gui cannot be invoked"
**What command was run:**
pmag_gui

**What happened:**

Nothing changed.
I have used the following commands to reinstall the Pmagpy, and other functions like sundec work well.

 pip uninstall pmagpy pmagpy-cli
  pip install pmagpy --upgrade --no-deps --force-reinstall --no-cache-dir
  pip install pmagpy-cli --upgrade --no-deps --force-reinstall --no-cache-dir

**What I expected to happen:**

invok

[2020-12-02 18:46] wilfred9110 commented on #626
![screenshot](https://user-images.githubusercontent.com/48851042/100917150-bc039680-3511-11eb-8821-f8f915bce346.png)

it seems the screenshot above was crashed.

[2020-12-02 18:50] Swanson-Hysell commented on #626
Do you get an error message? In a terminal one would expect to see something like:
'''
command not found
'''
or
'''
ModuleNotFoundError: No module named 'wx'
'''

Have you tried using the standalone executable programs? Given that those are compiled they are faster and can provide a work around that allows you to use pmag_gui
https://github.com/PmagPy/PmagPy-Standalone-Windows
https://github.com/P

[2020-12-04 01:34] wilfred9110 commented on #626
No error message is shown.  I will try the standalone one.  thanks.

[2021-01-04 21:21] sarah-potatoes opened #627 "Trouble using pmag_gui_anaconda"
**What command was run:**
pmag_gui_anaconda
Then I selected the directory with a MagIC text file, unpacked the MagIC file, and attempted to run Demag GUI

**What happened:**
On two different magic files (magic_contribution_17051.txt which is attached along with the unpacked txt files, and magic_contribution_17059.txt) I was able to unpack the text file, but after selecting the Demag GUI I would ge

[2021-01-04 21:29] ltauxe commented on #627
I could not reproduce this problem - everything worked as expected.  I'm using Pmag_gui.py version 4.2.62.
First, update your version to the most recent one.  Then try it again.

[2021-01-05 00:10] #627 closed

[2021-02-16 00:09] Swanson-Hysell opened #628 "wx.ALIGN commands not compatible with new wxPython and need to be removed from GUIs"
The newest version of wxPython (https://pypi.org/project/wxPython/4.1.1/) does not support the wx.ALIGN commands. I went through and removed all of these from demag_GUI and the interpretation editor dialogue with this commit: https://github.com/PmagPy/PmagPy/commit/f47e7cf8c956a84dfc40aada9a61e803640213ae. All seems to work just fine with them removed.

They need to be removed from Thellier GUI as

[2021-02-28 18:13] Swanson-Hysell commented on #626
Did the standalone work for you @wilfred9110?

[2021-02-28 18:13] #626 closed

[2021-03-11 21:51] ltauxe opened #629 "trouble in pmag_gui"
**What command was run:**

pmag_gui.py -WD .
then clicked on 1. Convert magnetometer files....

**What happened:**

nothing!

**What I expected to happen:**
I expected the dialog gui to come up with options for file conversion

**Data file(s):**

**Screenshot(s):**

(base) ltauxe:$ pmag_gui.py -WD .
-I- Importing Pmag GUI dependencies
-I- Starting Pmag GUI - please be patient
-I- Read in any avail

[2021-03-11 22:56] njarboe commented on #629
The current master of pmag_gui.py works for me. Just pulled and then ran pmag_gui.py
Here is a screen shot of the terminal and the pop-up after converting one of Ken's files.
![Screen Shot 2021-03-11 at 2 39 21 PM](https://user-images.githubusercontent.com/1278789/110866373-e6d05a00-8279-11eb-8145-21818b928667.png)

[2021-03-17 05:18] Swanson-Hysell commented on #629
I think that I fixed this issue with commit 177b4f8

In that commit, I commented out the last line of ```on_convert_file()``` function which had a ```self.hide()``` command  for some reason.

[code]

I will close the issue for now, but do reopen if issues are persisting.

[2021-03-17 05:18] #629 closed

[2021-04-21 11:13] maxingduo opened #630 "jupyter notebook"
**What command was run:
**# initiate figure and specify figure size
plt.figure(figsize=(5, 5))

# initiate a Basemap projection, specifying the latitude and
# longitude (lat_0 and lon_0) at which our figure is centered.
pmap = Basemap(projection='ortho',lat_0=30,lon_0=320,
               resolution='c',area_thresh=50000)

# other optional modifications to the globe figure
pmap.drawcoastlines(linew

[2021-04-22 02:05] maxingduo commented on #630
the basemp no more working?

[2021-04-22 02:11] Swanson-Hysell commented on #630
While we have sought to maintain Basemap support for PmagPy, basemap has now been deprecated in favor of Cartopy and has now reached its "end of life" (https://matplotlib.org/basemap/). I therefore recommend using cartopy (https://scitools.org.uk/cartopy/docs/latest/) which has been implemented across the PmagPy functions. Cartopy can be readily installed using the conda package manager or other p

[2021-04-22 02:16] maxingduo commented on #630
@Swanson-Hysell thanks!!I am a layman in python,I am wonderding if you help me with the program I've sent here.how to deal with it by Cartopy.

[2021-04-22 02:23] Swanson-Hysell commented on #630
This code should work:

[code]

<img width="990" alt="Screen Shot 2021-04-21 at 7 22 14 PM" src="https://user-images.githubusercontent.com/4332322/115646377-e397a780-a2d6-11eb-9325-2747c301aec3.png">

[2021-04-22 02:29] maxingduo commented on #630
@Swanson-Hysell thank you very very much !

[2021-05-21 23:36] ltauxe commented on #628
I did the same for thellier_gui.  so this should be resolved.

[2021-05-21 23:36] #628 closed

[2021-05-21 23:43] ltauxe commented on #625
fixed this using df.reindex  instead of df.reindex_attribute.    It seems to work now.

[2021-05-21 23:43] #625 closed

[2021-06-24 03:48] RSwarnkar commented on #243
Here is screenshot of this error:

![image](https://user-images.githubusercontent.com/24961188/123199805-2e978c00-d4cd-11eb-983f-5853b8d49a70.png)

[2021-07-12 23:35] #387 closed

[2021-07-12 23:36] #630 closed

[2021-07-12 23:57] ltauxe commented on #612
core_depthplot is already MagIC 3 and is in ipmag.core_depthplot.  I'll see about adding it to make_magic_plots

[2021-08-27 21:43] ltauxe opened #637 "thellier_gui bug"
**What command was run:**
thellier_gui.py -WD .

**What happened:**

after completing the auto-interpreter, and clicking 'Save MagIC tables', the site level table exported was quite wrong.   I think this is only for 'average specimens by site' instances.

**What I expected to happen:**

to save the site properly.  I did this with this code block:

    ccrit_specs_df=pd.read_csv('gh_to_magic/specim

[2021-08-27 21:50] ltauxe opened #638 "re-implementing nice validations in Pmag GUI"
**Is your feature request related to a problem? Please describe.**
validation with upload_magic

**Describe the solution you'd like**
we should implement ipmag.validate_with_public_endpoint() within upload_magic and make sure it works within pmag_gui.

**Additional context**
Also there is a lot of error fixing instead of error checking that can be done.  e.g., insuring that all the specimens in th

[2021-09-05 17:31] ltauxe opened #639 "convert_2_magic.tdt"
**What command was run:**

convert_2_magic.tdt(input_dir_path='Lamont 71 x specimens', samp_name_con=2,samp_name_chars=1,,site_name_con=3, site_name_chars=3))

**What happened:**

the site_name_con and site_name_chars options throw an error.

**What I expected to happen:**

It should make tables with the desired names

**Data file(s):**

[Lamont 71 x specimens.zip](https://github.com/PmagPy/PmagPy

[2021-09-05 17:34] ltauxe commented on #637
Lori found the missing line of code.  now works fine. :)

[2021-09-05 17:34] #637 closed

[2021-09-27 03:07] moonshoes87 opened #640 "empty string/np.nan/int vs float problem in upload magic validations"
I just started working on the upload magic validation in Pmag GUI.  It looks like the np.nan vs. empty string problem is still happening at least with some versions of pandas.

This is what I have for pandas version:

[code]

And the error message:

[code]

With this contribution:
[Jan-Mayen_Spitsbergen_29.Jul.2021.txt](https://github.com/PmagPy/PmagPy/files/7233097/Jan-Mayen_Spitsbergen_29.Jul.20

[2021-09-27 03:14] moonshoes87 commented on #640
The problem is the same with the latest pandas:

[code]

and with the McMurdo test directory.

[2021-09-29 16:23] #640 closed

[2021-09-30 04:18] moonshoes87 commented on #638
Still need to do:

- resize bug
- highlighting on the outer buttons

[2021-10-03 22:16] moonshoes87 commented on #638
@ltauxe, I think I've got this back to working (as well as fixed some ugly bugs that maybe were there before, or maybe were created by updates to wxPython).  I'd still like to test it on a few more contributions, but it would be great if you could take a quick look at it too.

[2021-10-10 03:51] #638 closed, assigned to nobody

[2022-01-13 18:04] jbowles100 opened #641 "problems with pmag_gui Windows install"
We're trying to install the pmag_gui on the Geosciences computer lab Windows machines running Windows 10 Educational (v. 1909).  The executable launches, but then stalls out with two message windows open: "Reading in data from current working directory, please wait..." (note that directory is empty); and "Failed to execute script 'pmag_gui'".  Text in the stdout/stderr window is attached.  The mag

[2022-01-14 00:12] lennybillersci opened #642 "Essentials of Paleomagnetism: Fifth Web Edition 1.10 problems"
does anyone know how to solve problem 1 and 2? I have had python for about 3 days and I am a newb.

[2022-01-14 15:07] jbowles100 commented on #641
Thanks.  I’ll check back with IT and see this can resolve it.

Julie

[2022-03-04 00:52] zhaotengge opened #643 "when I use pmag_gui to flag a bad measurment, it will report this problem"
"your measurement table has non-unique measurement names. you may end up marking more than one measurement as good."

and I cant save my interpretation in magic tables

[2022-03-04 04:18] #643 closed

[2022-03-04 18:13] Swanson-Hysell commented on #643
Hi @zhaotengge. Did you close the issue, because you figured out how to save your MagIC tables?

[2022-03-04 18:14] Swanson-Hysell commented on #642
Best wishes for your work on the problems. We reserve this issues board for issues and bugs associated with the PmagPy software so I am going to go ahead and close this issue.

[2022-03-04 18:14] #642 closed

[2022-03-04 18:14] Swanson-Hysell commented on #641
Hey @jbowles100. Were you able to come up with a solution here?

[2022-03-07 06:56] zhaotengge commented on #643
Thank you for your letter. I solved this problem with version 3.16 of "pmag_gui".
At present, there is still a problem in data conversion。When I convert files in cit format, the image processing program（Demag Gui） of "pmag_gui" will report an error (the picture and files are in the attachment). Is there any way to deal with this situation? I'm a novice. My English is not very good. Please forgive

[2022-03-07 17:45] Swanson-Hysell commented on #643
Can you post the image on Github? I am not able to see the attachment sent via email.

[2022-03-08 01:22] zhaotengge opened #644 "File conversion in cit format"
When I convert files in cit format, the image processing program（Demag Gui） of "pmag_gui" will report an error (the picture and files are in the attachment). Is there any way to deal with this situation?

we used 2G superconducting instrument。

Thank you for your help!

![error](https://user-images.githubusercontent.com/72237100/157146036-ace825a6-c2e8-4dae-9fe0-91a8fd4c1773.JPG)

[contribution.tx

[2022-03-08 01:22] zhaotengge commented on #643
Thank you for your reply！I have submitted the question to GitHub.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PmagPy/PmagPy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月8日(星期二) 凌晨1:46
***@***

[2022-03-08 03:45] Swanson-Hysell commented on #644
The problem looks to be with the conversion to MagIC format.

When I look at your measurements.txt table, I see that there are no values in the magn_moment column. There need to be such magnetic moment values in order for the software to work. Without those values, no analysis or plots are possible.

If you can attach example data in the CIT format, I can see if I can get the conversion to work.

[2022-03-08 03:55] zhaotengge commented on #644
Thank you for your help. This is my CIT file
[rapid.zip](https://github.com/PmagPy/PmagPy/files/8202603/rapid.zip)

[2022-03-08 03:56] zhaotengge commented on #644
I have uploaded the cit file to GitHub. Thank you for your help!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PmagPy/PmagPy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月8日(星期二) 中午11:45
***@***

[2022-03-15 10:27] #644 closed

[2022-03-15 10:32] zhaotengge opened #646 "AttributeError: 'DataFrame' object has no attribute 'reindex_axis'"
What happened:
Traceback (most recent call last):
  File "programs\demag_gui.py", line 6929, in on_menu_make_MagIC_results_tables
  File "programs\demag_gui.py", line 5799, in On_close_MagIC_dialog
  File "pandas\core\generic.py", line 5465, in __getattr__
AttributeError: 'DataFrame' object has no attribute 'reindex_axis'

when I used Pmag_gui to save magic tables, It will report this error

**Pma

[2022-03-20 14:26] sslotznick opened #647 "lnp_magic not working with 3.0 data format"
I was unable to get pmag.do_lnp() to work on a set of data in the 3.0 format.  I added a column for 'specimen_direction_type' but the issues seemed to relate to the "tilt_correction."   I've attached the dataset I was working with.

I also got an error when doing plot_lnp that pmagpy.pmagplotlib had no such attribute.

[LNP_issue.xls](https://github.com/PmagPy/PmagPy/files/8311415/LNP_issue.xls)
?

[2022-03-21 19:31] ltauxe commented on #647
ok… I’ll look into it.

[2022-03-22 20:01] ltauxe commented on #647
I fixed the issue and made a new pip release too.  But this will only work with the .txt file version - not excel, so use this one:
[specimens.txt](https://github.com/PmagPy/PmagPy/files/8327498/specimens.txt)

[2022-03-22 20:01] #647 closed

[2022-03-22 20:03] #607 closed

[2022-03-23 18:27] #599 closed

[2022-03-24 16:43] ltauxe commented on #639
This problem is fixed in pmagpy-4.2.97

[2022-03-24 16:43] #639 closed

[2022-03-25 00:17] ltauxe commented on #612
I added a function df_depthplot to ipmag.  This plots data from MagIC tables that have depth information imported from the sites table.  I added a call to this in make_magic_plots.   This works pretty well, but make_magic_plots tries to make an equal area projection for every single measurement in the measurements table - a little annoying.

[2022-03-25 00:17] #612 closed

[2022-04-13 20:41] ltauxe opened #649 "ipmag.vgpmag_magic erases 'normal' poles if there are reverse ones"
**What command was run:**

ipmag.vgpmap_magic(dir_path=dir_path,size=50,flip=True,save_plots=True,lat_0=60,rsym='b^',rsize=50,fmt='png')

and

ipmag.vgpmap_magic(dir_path=dir_path,size=50,flip=False,save_plots=True,lat_0=60,rsym='b^',rsize=50,fmt='png')

**What happened:**

There are no 'normal' poles when flip is set to True.  This used to work but something happened!

**What I expected to happen

[2022-04-13 21:07] Swanson-Hysell commented on #649
It looks like the code is first plotting the normal:

[code]

and then plotting the reversed:

[code]

What might be happening is that the land and ocean in the second ```pmagplotlib.plot_map()``` is covering up the first set of points.

[2022-04-13 21:21] ltauxe commented on #649
yeah but the flag ‘pltgrid’ in Opts is turned off, so it isn’t supposed to do that.  I tried a bunch of things and couldn’t get it to work….

lisa

[2022-04-13 21:23] ltauxe commented on #649
and the really weird thing is that the exact same code works perfectly well on the jupyterhub site.  maybe I should just move on….

lisa

[2022-04-13 21:25] Swanson-Hysell commented on #649
An inelegant solution that works is where:

[code]

is replaced with:

[code]

[2022-04-13 21:26] Swanson-Hysell commented on #649
That solution just plots with scatter on the already generated axis and gives:
<img width="598" alt="Screen Shot 2022-04-13 at 2 26 30 PM" src="https://user-images.githubusercontent.com/4332322/163273243-bfc0f70b-63ea-431d-a4a1-1e55b441bf6f.png">

[2022-04-13 21:30] Swanson-Hysell commented on #649
I think it is the plotting of the oceans and land rather than the grid that is hiding the normal points when the reversed map is generated with pmagplotlib.plot_map().

It is likely preferable to be using the map that is already generated rather than making a whole new map (which is what the edited code above does). I can commit that if it looks ok to you.

[2022-04-13 21:52] ltauxe commented on #649
yes please.  that whole function needs re-writing I guess - but not today!

lisa

[2022-04-20 22:54] Swanson-Hysell commented on #649
Did commit https://github.com/PmagPy/PmagPy/commit/e2a7b00060a939d5b45224fd9eaad53dc4bb2d6f solve the issue? If so, we can go ahead and close.

[2022-04-21 11:40] ltauxe commented on #649
no it didn’t.  sorry.

[2022-05-18 11:49] ltauxe opened #652 "pmag_gui puts in extra lines at the end of tables when editing"
**What command was run:**

pmag_gui.py

**What happened:**

tried editing table  button 3 from a data set that passed validation.  after saving the edited files there was an extra, erroneous, line at the end of the table and the contribution failed validation.

**What I expected to happen:**

I expected the edited file to pass validation as it had before minor editing.

**Data file(s):**

run 'unp

[2022-05-18 12:01] ltauxe commented on #652
actually - it is the OSX standalone version that does this.  version 4.2.102 doesn't do the editing at all!  it hangs after choosing column headers with this error:

Traceback (most recent call last):
  File "/Users/ltauxe/PmagPy/dialogs/ErMagicBuilder.py", line 253, in on_okButton
    self.main_frame.init_check_window()
  File "/Users/ltauxe/PmagPy/programs/pmag_gui.py", line 545, in init_check_w

[2022-08-10 12:52] Swanson-Hysell opened #656 "Expand common_mean_bayes() to include test for differing precision"
I just committed a ```common_mean_bayes()``` function to ```ipmag.py``` that implements the Heslop and Roberts (2018) common mean/reversal test.

I have utilized their code to implement the version of the test that us for populations with common precision (Appendix A; [jgrb52994-sup-0003-Data S2.unk](https://agupubs.onlinelibrary.wiley.com/action/downloadSupplement?doi=10.1029%2F2018JB016081&file=

[2022-08-10 12:52] Swanson-Hysell commented on #656
Putting this here as a feature request issue as a reminder to myself to work on this down the line.

[2022-08-11 13:15] Swanson-Hysell opened #657 "inconsistent fishqq results due to hardcoded test statistic cutoffs in pmagplotlib.plot_qq_unf()"
**What command was run:**

ipmag.fishqq()

**What happened:**

The test results dictionary is set to evaluate whether both uniform distribution test statistic (Mu) and the exponential distribution test statistic (Me) are below their respective critical values. One the array provided below, Mu is greater than  Mu_critical such that this code in ipmag.fishqq():

[code]

Leads to a dictionary with th

[2022-08-11 21:53] duserzym commented on #657
I am not familiar with the details in the test, but looking at Fisher (1987) book Statistical analysis of spherical data, page 125 and appendix table A8, it looks like the test result stated in the text is consistent with the graph output. The Mu_ncr and Me_ncr values that `ipmag.fishqq` uses is from the output of `pmagplotlib.plot_qq_unf` and `pmagplotlib.plot_qq_exp` which are hard coded as 1.20

[2022-10-06 12:27] Lu-Hongliang opened #661 "Inversed color using in stereonet and CDF of ipmag.reversal_test_bootstrap"
**What command was run:**
ipmag.reversal_test_bootstrap(dec=decs,inc=incs,plot_stereo=True)

**What happened:**
In the stereonet the blue points are the normal paleomagnetic directions, while the red points are the reversed paleomagnetic directions. However, in the CDF, the red line represents the normal paleomagnetic directions, and the blue line represents the reversed paleomagnetic directions.

[2022-10-12 21:36] Swanson-Hysell opened #662 "'ma' is not defined in ipmag.plot_distributions()"
@duserzym in this commit: https://github.com/PmagPy/PmagPy/commit/09fed3a45411d0d2d8b6985afe408825440d6337 the `plot_distributions()` function has an undefined object `ma` in this line:

`density = ma.masked_where(density <= 0.05*density.max(), density)`

Can you have a look at this?

[2022-10-12 21:40] duserzym commented on #662
Just updated the code. This should be the numpy.ma module.

[2022-10-13 02:56] Swanson-Hysell commented on #662
Can you commit or put in a pull request?

[2022-10-13 17:43] #662 closed

[2022-10-15 00:37] Swanson-Hysell opened #665 "point out of view in middle of map in ipmag.plot_pole()"
**What command was run:**

[code]

**What happened:**

If the point is not in the frame of view, it appears in the middle of the orthographic projection. We think that this is an issue with using ```transform=ccrs.PlateCarree()``` in a ```ccrs.Orthographic``` projection. We did not have this issue when we were able to use ```ccrs.Orthographic()```

**What I expected to happen:**

The plot is fine

[2022-10-17 16:16] Swanson-Hysell commented on #661
Let use know if that fix works for you!

[2022-10-17 20:07] Swanson-Hysell opened #667 "overlapping plots generated by make_magic_plots.py"
**What command was run:**

python make_magic_plots.py on contribution https://earthref.org/MagIC/19580

**What happened:**

A histogram was generated that overlay an intensity histogram and a pole plot.

<img width="608" alt="Screen Shot 2022-10-17 at 1 06 47 PM" src="https://user-images.githubusercontent.com/4332322/196272763-fa9f4e59-fd1e-446f-b8e7-5914eaf071fb.png">

**What I expected to happen

[2022-10-17 20:08] Swanson-Hysell commented on #667
This issue is related to this one in earthref/MagIC: https://github.com/earthref/MagIC/issues/568

[2022-10-21 13:07] Lu-Hongliang commented on #661
Many thanks for your contribution!

However, after downloading the latest version of pmagpy-master with the #666 fix, the CDFs of ipmag.reversal_test_bootstrap goes wrong as the picture below shows. I think your code just adds the option to choose the color, which seems will not lead to this bug, and everything seems great in your tests. So it's quite confusing to me. Can you do more tests or chec