[2018-06-07 19:17] moonshoes87 commented on #356
@ltauxe, let me know if you're able to check on this.  Or send me the raw data.  Thanks!

[2018-06-07 19:18] moonshoes87 commented on #348
@njarboe, how's it going with make_magic_plots on the server?  Any issues, or missing plots?

[2018-06-07 19:39] ltauxe commented on #356
I think i fixed this…  we can close it until i find it again.  :)

[2018-06-07 19:40] moonshoes87 opened #361 "fix command line plotting programs for Windows"
Here’s more documentation about interactive mode: https://matplotlib.org/faq/usage_faq.html#what-is-interactive-mode

Below is the minimal code I used to debug pmagplotlib.  There are command line switches for -t (use TKagg), -i (use plt.ion), and -p (print an input() call at the end of the plotting).

Basically, it only works to have an interactive plot AND access to the command line (for save/qu

[2018-06-07 19:45] moonshoes87 commented on #361
I'm going to go through all of the Windows plotting programs individually on the command line.

[2018-06-07 22:46] ltauxe commented on #361
using plt.show() makes the command line programs break in the notebooks.

[2018-06-07 23:40] ltauxe commented on #361
no - cartopy is just super slow.  i thought it was hung up, but not.  it works fine.

[2018-06-08 15:25] ltauxe opened #362 "notebook vs commandline"
I'm trying to work on the _PmagPy* notebooks.  My plan was to make a notebook in parallel with the cookbook along the lines of what  Nick Swanson-Hysell started.  I ran into a weird problem with the notebook _PmagPy.ipynb  which used to work fine, but now has this bug:

!ani_depthplot.py -h
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/ani_depthplot.py", line 3
    from __future__ impo

[2018-06-08 17:05] moonshoes87 commented on #362
I'll check this today

[2018-06-08 17:16] njarboe commented on #348
Hello Lori,

I have make magic running on the server and moving the plot files around to
the right places. I have installed Apache to serve up the plots but need to
configure it to let the MagIC website computer access it. I have been
preping for the EarthCube meeting and the IRM summer school and the
EarthCube end today. Hopefully I'll have some time this weekend between
EarthCube and the IRM to

[2018-06-08 17:32] moonshoes87 commented on #362
This doesn't occur for me, whether in the notebook or out of the notebook.

One thing to try is:

    conda install future

Also, we don't really need the line that is throwing the error:

    from __future__ import print_function

anymore.  That line was to maintain Python 2 compatibility, which we are not really supporting on the main PmagPy branch.  I've pulled that line out, and I'm pushing th

[2018-06-08 17:52] moonshoes87 commented on #348
That’s good to hear!  Hopefully we have taken care of the big problems already.

-Lori

[2018-06-08 19:20] moonshoes87 opened #363 "put aniso_magic into ipmag"

[2018-06-08 22:56] moonshoes87 opened #364 "ani_depthplot save/discard button not always visible"
Can't see these buttons on windows.

[2018-06-08 23:52] moonshoes87 commented on #363
should function without a sites table

[2018-06-09 00:09] moonshoes87 commented on #364
it worked!

[2018-06-09 00:09] #364 closed

[2018-06-09 02:57] ltauxe commented on #363
still doesn't  - at least not in _PmagPy_nb.ipynb

[2018-06-09 03:45] moonshoes87 commented on #363
sorry, that was just a note for what I need to do :)  It doesn't work yet.

[2018-06-10 15:28] ltauxe opened #365 "chi_magic.py update to MagIC 3"
this program is still in data model 2 only.  needs upgrading to data model 3 and while we're at it, should go into ipmag as a notebook friendly version.

[2018-06-11 02:18] ltauxe commented on #365
I made a notebook version in PmagPy_nb that works well.  maybe we should just move chi_magic.py to chi_magic2.py and use the version in PmagPy_nb  as a start for chi_magic.py which would be data_model 3 only.

[2018-06-11 02:21] ltauxe opened #366 "ipmag.core_depthplot"
doesn't work for data_model 3 at all.  i put a nice version that does some of what core_depthplot does into the PmagPy_nb Jupyter notebook.  this would work as a start.  i would just move core_depthplot to core_depthplot2 and stop trying to serve both - just making a clean break to data_model 3, with pandas in ipmag would be better (easier) and faster too probably.

[2018-06-11 02:49] ltauxe opened #367 "wx import failing in Jupyter notebook environment"
works fine on the command line but fails in my notebook _PmagPy.ipynb

I cant figure out why - import wx suddenly doesn't exist but i didn't change my python environment at all.  even rebooted the computer.  weird.

[2018-06-12 18:32] moonshoes87 commented on #367
@ltauxe , this was resolved, right?

[2018-06-12 18:37] moonshoes87 commented on #366
Lisa, you can see an example of core_depthplot working for data model 3 in pmagpy_tests/test_ipmag.py:

    def test_core_depthplot_data_model3(self):
        path = os.path.join(WD, 'data_files', 'core_depthplot')
        program_ran, plot_name = ipmag.core_depthplot(input_dir_path=path,
                                                      spc_file='specimens.txt',

[2018-06-12 18:38] moonshoes87 commented on #365
Sounds good.  Do you want me to put this on my list, or do you want to do it?

[2018-06-12 18:42] #362 closed

[2018-06-12 18:54] moonshoes87 commented on #366
The core_depthplot tests worked as of commit 27421650 try to make ani_depthplot window buttons show up on Windows, #364

    pythonw -m unittest pmagpy_tests.test_ipmag.TestCoreDepthplot

They are now broken with the last few commits.  ipmag.core_depthplot is also called in Pmag GUI, so that may not be working anymore either with these changes.  Let's figure out how to attack this!

[2018-06-12 19:03] moonshoes87 opened #368 "travis-ci"
Should we try doing continuous integration again, so that testing is run automatically when you push?  wxPython was what made this complicated, but maybe it's worth another go.

[2018-06-12 19:16] ltauxe commented on #365
not urgent.  maybe i will get to it eventually. it works in _PmagPy_nb

[2018-06-13 22:33] ltauxe commented on #367
no - i followed Hanna's suggestion to reinstall wxpython for anaconda, but this did not fix it.
the weird thing is that "import wx" works fine within a notebook code cell, and ani_depthplot works fine on the command line,  but does not work in _PmagPy.ipynb  for me:
error is
Traceback (most recent call last):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/ani_depthplot.py", line 3, in <

[2018-06-13 22:35] ltauxe commented on #367
but ipmag.ani_depthplot works great.

[2018-06-13 22:40] ltauxe commented on #363
The offending file was data_files/aniso_magic/sed_specimens.txt
and here is the command and error (from within the _PmagPy_nb  notebook:
ipmag.aniso_magic(infile='sed_specimens.txt',ivec=1,dir_path='../aniso_magic',crd='g')
-W- Couldn't read in samples data
-I- Make sure you've provided the correct file name
-W- Couldn't read in samples data
-I- Make sure you've provided the correct file name

it

[2018-06-13 22:44] ltauxe commented on #295
AND this has the same problem as ani_depthplot.py  when called from the notebook with:
!core_depthplot.py -DM 3 -fsa ./../core_depthplot/samples.txt -LP AF 15 \
    -f ./../core_depthplot/measurements.txt -log \
    -d 50 150 -ts gts12 23 34 -D -fmt png -sav -DM 3

I get this:
Traceback (most recent call last):
  File "/Users/ltauxe/Programs/PmagPy/GIT/PmagPy/programs/core_depthplot.py", line 4, i

[2018-06-14 00:14] moonshoes87 commented on #367
that is weird.  ani_depthplot works in the notebook environment for me.

If you run `!which python` in the notebook, is it getting Anaconda Python?  Or is some other Python somehow being grabbed?

Also, maybe try running `!which pythonw`, since that is the environment that is being used in ani_depthplot.py.

If nothing is working, I would try fulling uninstalling and reinstalling Anaconda Python.

[2018-06-14 00:15] moonshoes87 commented on #363
Great, I should be able  to fix it with that information.

[2018-06-14 00:17] moonshoes87 commented on #295
wx is being used instead of the tkinter backend.  I implemented this so that core_depthplot and ani_depthplot could go into Pmag GUI and still be used on the command line, since the Tkinter is incompatible with wxPython.

[2018-06-14 00:20] moonshoes87 commented on #366
@ltauxe, can you send me the data files that were failing for you?

[2018-06-14 16:23] ltauxe commented on #295
can we enable it only if called from pmag_gui?  because that is the source of the problems in the notebook - which doens’t use wxPython anyway.
lisa

[2018-06-14 19:57] ltauxe commented on #366
the data model 3 ones in data_files/core_depthplot
lisa

[2018-06-14 19:59] ltauxe commented on #367
it is calling the “right” python: /usr/local/bin/python.  and /usr/local/bin/pythonw   - i think this is the “right” one too

[2018-06-14 20:27] moonshoes87 commented on #367
I don’t think that is the right python — it should be something like  /Users/hermione/anaconda3/bin/python

if you’re using anaconda.

[2018-06-14 20:32] moonshoes87 commented on #366
The data model 3 files in core_depthplot work, at least the way I have been calling them.

See the example in _PmagPy.ipynb:

!core_depthplot.py -DM 3 -fsa ./../core_depthplot/samples.txt -LP AF 15 \
    -f ./../core_depthplot/measurements.txt -log \
    -d 50 150 -ts gts12 23 34 -D -fmt png -sav -DM 3 -ID ./../core_depthplot

Also, there are working examples in pmagpy_tests/test_ipmag.py with ipm

[2018-06-14 20:36] moonshoes87 commented on #295
I do think we have to work out the source of your notebook environment troubles — because that is likely to cause other unpredictable problems.

But let me look into what it would take to partially roll back the code to plot interactively with Tkinter instead of outputting a finished plot.

[2018-06-15 02:53] ltauxe commented on #367
that is what /usr/local/bin/python is linked to.
lisa

[2018-06-15 03:37] moonshoes87 commented on #367
Oh, right, I forgot that you had to do that.  This might be a problem that we should troubleshoot when I am in San Diego — it seems like something we should have documented somewhere so that others with the same problem can find out how to fix it!

[2018-06-15 21:18] moonshoes87 commented on #367
An idea for how to troubleshoot this from afar is to make a minimal script:

    print(‘about to import wx’)
    import wx
    print(‘imported wx’, wx.__file__)

or something like that.  Then we’ll know if the problem is really just the wx import, or if there is some additional context necessary to reproduce this bug.

[2018-06-15 21:27] ltauxe commented on #367
i did try importing wx from withint the notebook…  but with the commentary, here’s what happens:

about to import wx
imported wx /Users/ltauxe/anaconda3/lib/python3.6/site-packages/wx/__init__.py

so no bug.  Then, i tried it within the _PmagPy notebook before and after importing all the other stuff with same result.

BUT.  after this command:

!ani_depthplot.py -f ../ani_depthplot/rmag_anisotropy

[2018-06-15 21:30] moonshoes87 commented on #367
Right.  I actually meant create a new script in the PmagPy/programs called minimal.py (or whatever).  Put those few lines in it, and try running that program in the notebook:

    !minimal.py

If we get the same bug as with ani_depthplot, we know it's just the wx import, but if we *don't* get that bug, then there is some other combination of factors in ani_depthplot that causes the problem.

[2018-06-15 21:39] ltauxe commented on #367
ok.  so…  did that. works fine on command line and from within the notebook:

also works fine.

THEN, i wrote minimal2.py:

#!/usr/bin/env pythonw

print ('about to import wx')
import wx
print ('imported wx',wx.__file__)

which does this:

 so it is pythonw that is doing this.  not wx

[2018-06-15 21:57] moonshoes87 commented on #367
That’s good to know.  Maybe Anaconda is only symlinked with python, not pythonw?  So pythonw is just getting system python or something?

[2018-06-15 23:13] moonshoes87 commented on #367
Worth a try.  I don’t remember why you had to create that symlink in the first place — do you?  If that’s a problem that others are likely to run into, we should document it.

enjoy your symposium!

[2018-06-15 23:30] moonshoes87 commented on #363
The plotting by site issue was caused by having the wrong default for isite.  However, once I fixed that I got into the *real* mess, which is different than I was expecting.

What we want for ipmag.aniso_magic is to take in some arguments, quietly create few plots, and then return them.  However, pmagplotlib is very much written to produce plots interactively with matplotlib.  The code is full of

[2018-06-15 23:42] ltauxe commented on #363
right. instead of re-writing pmagplotlib, i was just thinking of doing stuff in ipmag along the lines of what Nick S-H started.  i’m working through them in _PmagPy_nb and I’ll just do what i can without you until i get stuck.
lisa

[2018-06-15 23:52] ltauxe commented on #367
here’s my note to myself about this:

if your jupyter notebook is calling the wrong python:
do this:

 $unlink /usr/local/bin/python

and this

$ln -s /Users/ltauxe/anaconda3/bin/python /usr/local/bin/python

so i did this same thing for pythonw and it fixed everything!!!   thanks!

lisa

[2018-06-16 00:28] moonshoes87 commented on #363
Yeah, I suspect that the plotting programs will pretty much all be problematic, and everything else should be relatively easy.  I'm going to finish getting the plotting programs working for Windows, for now.

[2018-06-17 19:11] ltauxe opened #369 "new notebook version of aniso_magic (called aniso_magic_nb)"
I still need to implement plotting by location and by site.
Also, this one does not save the averages to the MagIC files.  I think that should be done
as a separate action - not in the plotting program.  it just gets messy - thoughts?

[2018-06-17 21:53] moonshoes87 commented on #369
I definitely prefer segregating the functionality of plotting from the functionality of updating MagIC tables.  That way, even if the plotting needs to be done in two different ways for notebooks vs command line programs, at least the calculations can be done exactly the same.

[2018-06-17 22:26] moonshoes87 opened #370 "update foldtest_magic to MagIC 3"

[2018-06-19 02:02] ltauxe commented on #369
I think i figured out how to add the by site/sample whatever functionality - see example in _PmagPy_nb.ipynb  with dmag_magic
it seems to work ok for that application and if we like it, i can just copy that for others...

[2018-06-19 17:46] moonshoes87 opened #371 "pandas 0.23.1 munches output files"
pandas 0.23.1 partially overwrites output in the to_csv function.  This results in incomplete file output when writing out MagIC tables.  Specifically, the

Solution: install 0.23.0.

    pip install pandas==0.23.0

or

    conda install pandas=0.23.0

pandas 0.23.2 should have the fix for this issue, and should be released around the end of June.

https://github.com/pandas-dev/pandas/issues/21471

[2018-06-19 19:47] moonshoes87 commented on #369
That looks good.  If we want to abstract that out to work in all cases, we'll probably need some more checking for columns names or try/except blocks (I keep finding missing columns in various contributions).

[2018-06-19 20:02] moonshoes87 commented on #368
travis-ci tests are now up and running.  right now I will be emailed whenever CI fails.  You can see which commits pass/fail in the list of commits on Github.

[2018-06-19 20:02] #368 closed

[2018-06-19 20:04] #367 closed

[2018-06-20 00:33] ltauxe commented on #371
jeez

[2018-06-21 16:50] moonshoes87 commented on #371
I've put a workaround in, but should revert it once pandas latest version is fixed.

[2018-06-21 16:50] moonshoes87 commented on #371
i will leave this issue open in the meantime as a reminder.

[2018-06-21 19:47] moonshoes87 opened #372 "update lnp_magic to data model 3"

[2018-06-21 20:50] moonshoes87 opened #373 "update lowrie_magic to MagIC 3"

[2018-06-21 21:29] moonshoes87 opened #374 "update revtest_magic to data model 3"

[2018-06-22 16:09] moonshoes87 opened #375 "fix pandas FutureWarning"
/Users/**/Python/PmagPy/pmagpy/controlled_vocabularies3.py:68: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version of pandas will change to not sort by default.

    To accept the future behavior, pass 'sort=False'.

    To retain the current behavior and silence the warning, pass 'sort=True'.

[2018-06-22 18:33] moonshoes87 opened #376 "zeq_magic plots not updating for each specimen"
zeq_magic.py -WD data_files/3_0/McMurdo/

eqarea and zijd plots don't update after the first specimen, but demag plot does.

[2018-06-22 19:17] #376 closed

[2018-06-23 19:40] ltauxe opened #377 "hysteresis_magic.py versus ipmag.hysteresis_magic"
the command line version works fine for data model 3, but the ipmag version has diverged somewhat and fails for cases in which specimens.txt is not present.  This should work just like the command line version - can these be reconciled?

[2018-06-23 20:12] moonshoes87 commented on #377
I'll check it out.

[2018-06-23 20:59] moonshoes87 commented on #377
This is exactly the frustrating place we are in with pmagplotlib and the tkinter backend.  With how pmagplotlib is written, it's hard to share plotting code that works in both the command line and in the notebooks.  So then we get these divergences and potentially have to make fixes in both places.

Second -- after starting to dig into this, I'm not convinced that ipmag.hysteresis_magic *ever* wor

[2018-06-23 21:00] moonshoes87 commented on #377
one other thing -- some of the problems were hidden in a general try/except block that was silently catching lots of different errors than it was expecting.  We should try to eliminate that syntax from the code wherever possible -- try/except should always be looking for specific error types.

[2018-06-23 21:56] ltauxe commented on #377
no i think it never did.  so.. I have a pretty neat work around in _PmagPy_nb   take a look.
if you like it, we can just close this and eliminate ipmag.hystersis_magic
lisa

[2018-06-25 21:09] moonshoes87 commented on #377
the dmag magic functionality looks very straightforward in the notebook.  For it to be totally smooth with varying contributions, we'll want to add in a few kinds of checks.  1., that the expected tables are present, and 2. that the expected column names are present.  I've often been burned by issues like that as contributions are so varied and sometimes are missing even required columns.

How abo

[2018-06-25 21:36] ltauxe commented on #377
Great idea - it can be in pmag.py I guess

On Mon, Jun 25, 2018 at 5:09 PM Lori J <notifications@github.com> wrote:

[2018-06-25 21:39] moonshoes87 commented on #377
Ok, I can do that.  hopefully this will simplify things a bit.

[2018-06-25 21:40] moonshoes87 commented on #377
I want to minimize as much as possible us cutting and pasting code and then having big maintenance to do!

[2018-06-28 20:04] moonshoes87 commented on #377
ipmag.hysteresis_magic has now been deleted.

[2018-06-28 20:04] #377 closed

[2018-06-29 16:42] moonshoes87 opened #378 "comparing direction in aniso_magic"
@ltauxe, I'm working on making sure aniso_magic works awesomely.  I'm running into trouble with the "compare direction" element.

                      Input: Vi D I to  compare  eigenvector Vi with direction D/I
                             where Vi=1: principal
                                   Vi=2: major
                                   Vi=3: minor
                                   D= decl

[2018-06-30 20:50] ltauxe commented on #378
no vec is a float - it is the direction (dec, inc) of the comparison direction. I’ll take a look.

[2018-07-01 23:13] ltauxe opened #379 "upgrade mst_magic.py to data_model 3.0"
This imports curie balance data and needs to be included as a data_model 3 import option.

[2018-07-02 20:32] #361 closed

[2018-07-02 20:38] moonshoes87 opened #380 "deprecated programs"
We should make sure we take deprecated programs out of _PmagPy.ipynb and out of programs_list.py (which is used to create the command-line programs for a pip release).

[2018-07-02 20:41] moonshoes87 commented on #378
the notebook example in aniso_magic no longer works:

<img width="1173" alt="screen shot 2018-07-02 at 1 40 42 pm" src="https://user-images.githubusercontent.com/1836578/42185401-99351020-7dfd-11e8-9147-c4e7126fba3e.png">

[2018-07-02 20:49] moonshoes87 commented on #378
it worked as of: abcece2

broken at:  7f18001a9f836ce5efeedaaca5ed477c605133a9

[2018-07-02 21:06] moonshoes87 commented on #378
@ltauxe, vec will always be an int because of the call to `vec = int(vdi[0]) - 1`.

But I think I finally understand the input message.  The user is choosing principal, major, or minor component with 1, 2, or 3, and then the dec and inc.  Perhaps this is obvious to everybody else, but I got totally stuck.  Maybe we could just add an example line with valid input for vdi at the end of the input str

[2018-07-02 21:21] #375 closed

[2018-07-02 23:15] moonshoes87 commented on #380
@ltauxe, should kly4s_magic and k15_magic be added to the programs/deprecated directory?  I noticed they've been deleted from the programs directory but not added to deprecated.

Also, ipmag.kly4s_magic and ipmag.k15_magic are still called from within Pmag GUI, is this ok?

[2018-07-03 17:08] moonshoes87 opened #381 "improve PmagPy_nb notebook with links"
https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

[2018-07-03 17:23] njarboe commented on #348
Pulled PmagPy for the first time in awhile and now I get this error with multiple data files that worked before. Is this the panda problem that hopefully will be fixed soon?
[magic_contribution_16463.txt](https://github.com/PmagPy/PmagPy/files/2160359/magic_contribution_16463.txt)

njarboe$ make_magic_plots.py -F magic_contribution_16463.txt

Traceback (most recent call last):
  File "/Users/njarb

[2018-07-03 17:27] moonshoes87 opened #382 "deal with conversion_scripts and deprecated stuff"
https://github.com/PmagPy/PmagPy/commit/7f18001a9f836ce5efeedaaca5ed477c605133a9

deprecate:  basemap_magic, customize_criteria, extract_methods, measurements_normalize, nrm_specimens_magic

other deleted programs need to be in conversion_scripts

[2018-07-03 17:39] moonshoes87 commented on #348
Ah, I added the ‘sort’ argument in based on a FutureWarning (see PmagPy issue #375).   You can solve it  by upgrading pandas to the latest version.  Or, I could revert it and make the update later.  Eventually we will need that ‘sort’ argument to maintain the correct behavior when the default changes.  What do you think?

[2018-07-03 17:40] moonshoes87 commented on #380
remove cookbook sections for deprecated programs

[2018-07-03 17:42] moonshoes87 commented on #382
fix name of plot_map_pts in Cookbook

[2018-07-03 17:59] #373 closed

[2018-07-03 18:55] moonshoes87 opened #383 "speed up ani_depthplot"
re-write with pandas to get rid of get_dictitem etc.

[2018-07-03 19:19] njarboe commented on #348
I have not done a conda update in awhile. Are you running anaconda as your python management system? And how do you decide when to update? I guess anytime I pull from the PmagPy master, running a conda update would be a good idea?

[2018-07-03 20:18] moonshoes87 commented on #348
Dealing with versions and updates in a more systematic way has been on my list for a while.  I use conda to update most things (there are a few exceptions, like wxPython, that must be managed with pip).

It is possible, with pip or conda, to "freeze" a requirements file which can be in version control and made available.

wxPython and basemap are a bit annoying, because they are tucked away not in

[2018-07-03 21:10] moonshoes87 opened #384 "add upgrade pandas warning"

[2018-07-03 21:11] moonshoes87 opened #385 "polemap_magic stalls"

[2018-07-03 22:55] njarboe commented on #348
I just did a full conda and python package update:
conda update -n root conda
conda update --all
and that solved the problem.

Is the pip list for if you are not using the conda install? Or is it a list of everything that is not in conda? I thought you meant the latter and thus tried your pip command. I got this error:
kamacite:pmagpy njarboe$ pip install -r pmagpy_requirements.txt
Collecting alab

[2018-07-04 17:36] moonshoes87 commented on #383
fixed in https://github.com/PmagPy/PmagPy/commit/8a42d6a086c691674e259c19d9915364636332b8

[2018-07-04 17:36] #383 closed

[2018-07-04 17:53] moonshoes87 commented on #382
deprecated: basemap_magic.py, customize_criteria.py, extract_methods.py, measurements_normalize.py, nrm_specimens_magic.py

revived: huji_sample_magic.py, iodp_samples_magic.py, jr6_magic.py, k15_magic.py, kly4s_magic.py, livdb_magic.py, microwave_magic.py, mini_magic.py, old_iodp_jr6_magic.py

next step:  upgrade to 3.0 and move the revived programs to conversion_scripts

[2018-07-05 18:29] #385 closed

[2018-07-05 19:21] moonshoes87 commented on #348
The conda list seems to include everything except for wxPython and scripttest.

The pip list includes everything (whether installed by conda or pip), but doesn't specify where to get it -- so I assume it will just try to get everything from PyPI, which won't work.

So, I think the best approach is probably to include the conda environment file, which can then be duplicated by a user as a new envir

[2018-07-05 19:23] moonshoes87 commented on #348
I will need to make a separate environment file for Windows.

[2018-07-06 16:33] moonshoes87 commented on #348
Unfortunately I can only generate an environment file for 32 bit Windows, so that probably won't be useful to most people.  The pmagpy_env file I've generated should be directly useable by all Anaconda/OS X users, and others should be able to at least check version numbers in the file.  I can also generate a more readable format that can't be directly installed by anyone.

[2018-07-06 21:22] moonshoes87 commented on #348
So, there is now a requirements file that should work to install all pmagpy dependencies (except wx and scripttest): https://github.com/PmagPy/PmagPy/blob/master/pmagpy_env_osx.txt

and a general, more readable file you can use to check version requirements: https://github.com/PmagPy/PmagPy/blob/master/pmagpy_dependencies.txt

Unfortunately I got nothing but errors when I tried generating an equiv

[2018-07-06 21:22] #348 closed

[2018-07-09 22:08] ltauxe opened #386 "download_magic.py"
This doesn't work with any files downloaded from the MagIC database these days - nor does the version called by pmag_gui.   here is our favorite, the Lawrence et al McMurdo contribution.

[magic_contribution_16436.txt](https://github.com/PmagPy/PmagPy/files/2178171/magic_contribution_16436.txt)

I get this error:

skipping....
WARNING:  problem in file with line:
McMurdo	mc229	DSC_0196D.JPG	Outcro

[2018-07-09 22:09] moonshoes87 commented on #386
I’ll check on this.

[2018-07-09 22:19] moonshoes87 commented on #386
It seems to work on all of our old MagIC files, including 3.0 files.  So perhaps there has been some change to the formatting?  I will look more in depth today if I can.

[2018-07-09 23:38] ltauxe commented on #386
it does work on some downloaded files, but not this one (and maybe some others).
lisa

[2018-07-09 23:46] moonshoes87 commented on #386
Looks like there is an extra tab on the front of the file.

Another problem is that the measurements rows come without extra tabs, so they are the “wrong” length.

Solutions:  I can strip away the leading tab if one is present.  And, I can pad the short rows with the appropriate number of empty strings.  Does that seem ok?

I’m not sure why this issue is coming up now and not earlier.  Perhaps the

[2018-07-09 23:54] moonshoes87 opened #387 "MagicDataFrames duplicate information in index/column causes pandas FutureWarning"
./test_ipmag.py:686: FutureWarning: 'sample' is both an index level and a column label.
    Defaulting to column, but this will raise an ambiguity error in a future version
  depth_scale='core_depth')

[2018-07-10 00:35] ltauxe commented on #386
yeah why don’t we do that - i didn’t know there was a terminal tab at the end of these MagIC files and should MagIC fix all these errors when it processes the data for download?
lisa

[2018-07-10 01:22] moonshoes87 commented on #386
I’m not sure.  What download_magic expects is output formatted like this:

col1 col2 col3
val1\t\t

instead of

col1 col2 col3
val1

with no tabs at the end of the row.  It’s not really a big deal, as long as we’re expecting it.

[2018-07-10 02:22] moonshoes87 commented on #386
@ltauxe, I put in a fix, you can have a look and see if it resolves everything as expected.

[2018-07-10 03:17] njarboe opened #388 "missing module named 'mpl_toolkits.basemap' when running polemap_magic.py using make_magic_plots"
When running make_magic_plots on this 3.0 file I get the error below. Is there another package I need to install?

Here is the magic text file.
[magic_contribution_12067.txt](https://github.com/PmagPy/PmagPy/files/2178720/magic_contribution_12067.txt)

working on:  Eastern Iceland
-I- writing sites records to /home/magic/batchPlots/12067/tmp_sites.txt
-I- 808 records written to sites file
-I- writ

[2018-07-10 03:22] njarboe commented on #388
Here is the magic text file.
[magic_contribution_12067.txt](https://github.com/PmagPy/PmagPy/files/2178717/magic_contribution_12067.txt)

[2018-07-10 03:28] njarboe opened #389 "error in polemap_magic.py when running make_magic_plots - local variable 'files' referenced before assignment"
Running make_magic_plots with this file:
[magic_contribution_12066.txt](https://github.com/PmagPy/PmagPy/files/2178730/magic_contribution_12066.txt)

working on:  Laanila Dykes
-I- writing locations records to /home/magic/batchPlots/12066/tmp_locations.txt
-I- 1 records written to locations file
working on pole map
polemap_magic.py -sav -fmt png
Traceback (most recent call last):
  File "/home/mag

[2018-07-10 18:11] rminnett commented on #386
Ah, yes, that's possible that the measurement rows are being written without trailing tabs. I'm not sure if we ever defined the "correct" behavior for MagIC text files with empty columns at the end, but it's probably good that PmagPy can handle both cases (with and without trailing tabs). It's also possible that other tables could be written this way if only some of the rows have values in the las

[2018-07-10 18:36] moonshoes87 commented on #386
That makes sense.  I have fixed it so that errors should be thrown only if the number of values in a row is greater than the number of headers.

[2018-07-10 18:52] njarboe commented on #389
I had not updated in a few days. This error now gone. Will remember to do that first next time. Thanks for taking a look.

[2018-07-10 18:52] #389 closed

[2018-07-10 19:09] njarboe commented on #388
Thanks. You said the cookbook was in flux, so I won't worry about why I did not have that already installed.

[2018-07-10 19:09] #388 closed

[2018-07-10 19:18] njarboe opened #390 "Problem with plot_title when running make_magic_plots.py --> polemap_magic.py"
Pulled from master a few hours ago.  Got the following error with this file:
[magic_contribution_12003.txt](https://github.com/PmagPy/PmagPy/files/2181821/magic_contribution_12003.txt)

magic@ip-172-31-53-34:~/batchPlots/12003$ make_magic_plots.py
propagation successful

working on:  Arqueros Formation
-I- writing locations records to /home/magic/batchPlots/12003/tmp_locations.txt
-I- 2 records wr

[2018-07-11 22:32] moonshoes87 commented on #370
I didn't fully pandas-ify foldtest_magic, but I did update it fully to 3.0.

[2018-07-11 22:32] #370 closed

[2018-07-11 22:37] moonshoes87 commented on #390
I can't reproduce this error locally.  I'll try to see if I can figure out any additional context, and maybe look on my Linux VM.

[2018-07-11 22:37] moonshoes87 commented on #390
Oh, I need to test things with the IS_SERVER flag set to True.

[2018-07-11 22:43] #390 closed

[2018-07-11 22:43] #386 closed

[2018-07-12 17:19] moonshoes87 commented on #382
mini_magic is broken (and has been broken), but it is now broken equally for 2.5 and 3.0.  I will work on getting it to actually work.

[2018-07-13 20:23] njarboe opened #391 "Higher level parameters not given in plot names"
I'm not sure if this should be fixed at this point or is a work in progress, but for putting the plots onto the website Rupert needs the Location, Site and Sample names in the plot name. For this contribution
[magic_contribution_16462.txt](https://github.com/PmagPy/PmagPy/files/2194053/magic_contribution_16462.txt)
we get files names like:
LO:__SI:__SA:__SP:_0SC2105_CO:_g_TY:_demag_.png
LO:__SI:__

[2018-07-13 21:46] moonshoes87 opened #392 "Add options for auto-save or no auto-save for specimen interpretations in Demag/Thellier GUIs"

[2018-07-13 23:31] moonshoes87 commented on #391
@njarboe, this is not something I've been working on, but I can go about fixing now.  zeq_magic.py should now be producing file names as expected, and I'll also check the others.

What should we do in a case like polemap_magic, where multiple locations are plotted in one figure? It currently looks like this:

    'LO:_' + locations + '_POLE_map.' + fmt

but that probably won't work well.  Any idea

[2018-07-13 23:52] moonshoes87 commented on #391
Other question: in all cases, will we need the full hierarchy, from location down, in order to use the figure?

[2018-07-13 23:53] ltauxe commented on #391
colon delimited list of locations?

[2018-07-13 23:54] ltauxe commented on #391
it would seem so but that will be awkward and should only happen within make_magic_plots and not in all the sub programs.  It is really annoying to have some of these programs break because of a lack of full hierarchy.
lisa

[2018-07-14 03:59] moonshoes87 commented on #391
@ltauxe, definitely -- I will set it up so it won't break anything.  For the most part, this code will only be run when isServer is set to True.  And even on the server, it won't break if the full hierarchy is missing, it will just produce incomplete plot names.  Propagating all of the names down will slow the program down a bit, but again, it will only be run when isServer is set to True.

[2018-07-14 05:40] moonshoes87 commented on #391
Regarding the list of location names: colons aren't permitted in filenames in Windows, but should be ok in Linux.  @njarboe, are we assuming that the relevant server for MagIC will always be Linux?

Another issue is that occasionally a contribution will have a lot of locations, and then sometimes a too-long filename is created.  This occurred with one of the contributions I was testing recently, s

[2018-07-15 19:22] njarboe commented on #391
It's unlikely we would move to a Windows OS for the MagIC plot server, so the colons should be fine.

[2018-07-16 17:57] moonshoes87 commented on #391
Right, and the whole filenames are already full of colons.  I forgot about that.

I'm checking through the rest of the plotting programs and should be done soon!

[2018-07-16 18:17] moonshoes87 commented on #391
For programs like dayplot_magic.py, where all specimens are being plotted, what should the naming convention look like?  Currently, it looks like this: `LO:_McMurdo_SI:__SA:__SP:__TY:_day_.svg`.  Is that satisfactory?

[2018-07-16 18:42] moonshoes87 commented on #391
@njarboe, aside from the above question, the naming convention should be fixed.  Let me know what other issues you find in make_magic_plots.py.

[2018-07-16 20:36] njarboe commented on #391
I've run through most of the MagIC Files with your first changes here. Filenames are much improved. Thanks. There aren't any errors thrown at this point. I'll rerun them to get your most recent improvements. Then I'll take a close look at those plots that don't seem to be working and let you know if there are data files that should be plotting but aren't and open those as new issues.

[2018-07-16 20:50] njarboe commented on #391
If the pole map is plotting the poles for all the locations in the contribution, it would be nice to have 'MC:_' + MagicContributionNumber + '_POLE_map.' + fmt  This plot would be shown at the contribution level.

I'm not sure how it currently is expected to work, but it would also be nice to have the plots of the pole for each location, if available, by itself to display at the location level. In

[2018-07-16 20:57] njarboe commented on #391
I think leaving out levels that are not expected to exist is cleaner for humans to read but the other is more explicit to what is going on. Since it will just be machine read or looked at by developers I would say keep the LO:_McMurdo_SI:__SA:__SP:__TY:_day_.png format.

[2018-07-16 23:36] njarboe opened #393 "Problems plotting MagIC 3.0 pole plots with multiple rows in the location table with the same name"
Here is an example of a contribution that is typical for a pole only contribution. It has two locations but four rows in the location table. The "Guyana Permo-Triassic Dykes" location is listed only once and should have its pole plotted by make_magic_plots.

The next three rows in the locations table are for the "La Quinta Formation Lavas". The first row, with all the sites averaged, and then the

[2018-07-17 14:47] ltauxe commented on #393
do you have a clever way to automatically search for these cases?  are they properly distinguished by method codes?
lisa

[2018-07-17 20:05] njarboe commented on #393
They are not currently labeled with method codes. There is a DE-POLE method code that could/should be added to rows that describe poles, but I don't see that being used. I could add DE-POLE-R with a description of "The pole calculated using only the reverse directions/VGPs of the same named location dataset" and DE-POLE-N with "The pole calculated using only the normal directions/VGPs of the same

[2018-07-19 00:35] njarboe commented on #393
Thanks Lori

[2018-07-19 04:58] moonshoes87 commented on #393
The reason that no poles show up in the plot is because only rows with 'result_type' of 'a' are kept.  The result types in this contribution are all individual.  If I remove that restriction, I get this plot (and we can adjust the title to say something useful):

![mc _12012_ty _pole_map](https://user-images.githubusercontent.com/1836578/42914771-ff5a4fd6-8ab0-11e8-966a-94a262c87c47.png)

@ltauxe,

[2018-07-19 21:43] moonshoes87 commented on #382
I am missing documentation and an example data file for microwave_magic.py.  It looks like it is a plotting program, not a conversion script.  Should it be deprecated or upgraded to MagIC 3?  @ltauxe, what do you want done with this?

I think jr6_magic.py is out of date, and has been superseded by jr6_jr6_magic and jr6_txt_magic.  @ltauxe, can you confirm this?

add

[2018-07-19 21:56] moonshoes87 commented on #382
add s_magic as well.

[2018-07-19 22:41] ltauxe opened #394 "k15_magic.py has a bug"
For some reason the geographic coordinates are fine, but the specimen coordinates only have 5 tensor elements for the aniso_s column and not the required 6.  I'm looking at data_files/notebooks/Essentials/Chapter_13/Problem_2/east.k15 as an example.

[2018-07-20 00:09] moonshoes87 commented on #393
Ok, I'm pushing a fix that ignores the result_type but only if isServer.  However, we might want to use a more sophisticated way of plotting only appropriate results.  @ltauxe, feel free to give your input on this.

When run locally, everything should still work exactly as it did before.

@njarboe, I did the plot filenames slightly differently than your spec -- mainly just adding \_TY\_ for consis

[2018-07-20 00:10] moonshoes87 commented on #393
@njarboe, let me know if this works as you were hoping.

[2018-07-20 00:17] moonshoes87 commented on #382
what about old_iodp_jr6_magic?  That was for an older iodp format, but I'm honestly not sure exactly what time span that format should cover.  Should that be updated to MagIC 3, or should we just keep the iodp_jr6_magic that is (supposedly) current?

[2018-07-20 00:23] #380 closed

[2018-07-20 00:23] #379 closed

[2018-07-20 00:24] moonshoes87 commented on #382
need to upgrade and move mst_magic too

[2018-07-20 00:28] #381 closed

[2018-07-20 18:10] moonshoes87 commented on #382
Missing data files and docs for: mst_magic, microwave_magic.

deprecate?: old_jr6_magic

[2018-07-20 18:15] moonshoes87 commented on #382
I’m setting up the convert functions like this:

    from pmagpy import convert_2_magic as convert
    convert._2g_bin(args)

I think that syntax should be pretty readable, @ltauxe let me know if you have a different preference.

I’m making sure we have tests for all of the import scripts that don’t have them, and I’m also rewriting the scripts so that they use default arguments instead of `kwargs

[2018-07-21 02:56] #394 closed

[2018-07-21 03:13] ltauxe commented on #382
yes depricate old_jr6_magic.  I have some MsT data - i’ll hunt around.  we have to ask andy biggen for a recent microwave file - they are always changing their format…   Nick, can you get one from Andy?
lisa

[2018-07-21 03:18] ltauxe commented on #382
here’s the MsT data from our instrument.  the first column is temperature in C and the second is an uncalibrated moment.  one would have to specify the specimen name as an argument.
lisa

[2018-07-21 05:41] ltauxe commented on #382
I'll send an email to Andy requesting a microwave file.

Nick

On Fri, Jul 20, 2018 at 8:13 PM, Lisa Tauxe <ltauxe@ucsd.edu> wrote:

[2018-07-22 23:00] njarboe commented on #393
@moonshoes87, these look good. Thanks.

[2018-07-22 23:00] #393 closed

[2018-07-22 23:02] njarboe commented on #391
@moonshoes87 Running through all the data files again. I'll spot check a few more and then I think we should be ready to put them on the live site. Thanks.

[2018-07-22 23:02] #391 closed

[2018-07-22 23:46] njarboe opened #395 "polemap_magic.py breaks in server mode when dir_polarity column is missing in locations table"
polemap_magic.py breaks in server mode when dir_polarity column is missing in locations table.
Happens with:
[magic_contribution_12002.txt](https://github.com/PmagPy/PmagPy/files/2217514/magic_contribution_12002.txt)

[2018-07-22 23:48] njarboe commented on #395
Fixed. Added check to see if the column was present.

[2018-07-22 23:48] #395 closed

[2018-07-23 22:16] moonshoes87 commented on #382
@ltauxe, it doesn't look like the MsT file actually got attached....

[2018-07-24 04:27] ltauxe opened #396 "demag_gui criteria"
This program is stuck in data model 2.5 as far as the acceptance criteria go.  instead of "ACCEPT" the criteria should be DE-SPEC, DE-SAMP, etc.

[2018-07-24 04:34] ltauxe commented on #396
Also, it puts in an illegal column:  dir_n_specimens
AND doesn't seem to do the site averaging including lines and planes. or i did it wrong!

[2018-07-24 04:36] ltauxe opened #397 "measurements_methods3"
does not put in the required column "sequence".  It should.

[2018-07-24 04:43] ltauxe commented on #397
Ok.  I just made sequence= treat_step_num which doesn't seem to be in Datamodel 3 anymore.

[2018-07-24 17:00] moonshoes87 commented on #397
treat_step_num is still in Data model 3:

![screen shot 2018-07-24 at 9 58 09 am](https://user-images.githubusercontent.com/1836578/43154127-1f0b3eb4-8f28-11e8-8055-42ad71e9b55e.png)

Also, isn't measurements.treat_step_num reset with each new specimen?  vs. measurements.sequence should go from 0( or 1) - n for each line in the file?

[2018-07-24 17:05] moonshoes87 commented on #396
I'm not sure how the DE-SPEC, DE-SAMP criteria are supposed to work.  I can try to work this out from parallels with Thellier GUI, but this might be a better job for you, @Caoimhinmg, if you have time?

@ltauxe, dir_n_specimens is legal at the locations, sites, or samples level.  Is my validation code malfunctioning, or is dir_n_specimens being added to a different table?

[2018-07-24 17:14] ltauxe commented on #397
ah.  ok.  whatever.  sequence seems a bit arbitrary then and I think it shouldn’t be required.
lisa

[2018-07-24 18:08] moonshoes87 commented on #397
I believe that sequence is so that the measurement file line order doesn't have to be preserved.  I think, also, @rminnet was planning to add it automatically if it is missing from a contribution.

@ltauxe, I could relax that validation for PmagPy?  Or we could just add it in measurements_methods distinct from treat_step_num?

[2018-07-24 19:11] moonshoes87 commented on #382
@ltauxe, send me that MsT file when you have a chance!

[2018-07-24 21:03] ltauxe commented on #382
thought i had…

[2018-07-24 21:15] ltauxe commented on #397
I fixed it in pmag.measurements_methods3

[2018-07-24 21:18] #397 closed

[2018-07-24 21:19] ltauxe commented on #396
I think i did it wrong. it seems to be working now.

[2018-07-24 21:20] ltauxe commented on #369
It now plots by site.

[2018-07-24 21:20] #369 closed

[2018-07-24 21:21] ltauxe commented on #363
i put it in ipmag as ipmag.aniso_magic_nb.  it seems to work well

[2018-07-24 21:21] #363 closed

[2018-07-25 04:14] moonshoes87 commented on #382
It wasn't actually attached where you said "here's the MsT file"...

[2018-07-25 05:51] ltauxe commented on #382
Did you get it now? I definitely attached it this time

On Tue, Jul 24, 2018 at 9:14 PM Lori J <notifications@github.com> wrote:

[2018-07-25 20:34] moonshoes87 commented on #382
Sorry, but no.  You probably either have to send it as a private message to my email (not the Github email chain), or attach it on the Github issue (via the website, not email).

[2018-07-25 22:32] ltauxe commented on #382
so sorry.  it is the file that is in data_files/curie  so i guess you can find it yourself.  :)
lisa

[2018-07-26 18:36] moonshoes87 opened #398 "volume default in jr6_txt conversion"
The current default is 2.5 * 1e-6.  In most of the other conversions, the default volume is 2.5**3 * 1e-6.   @ltauxe , Is that correct?

[2018-07-26 18:51] moonshoes87 commented on #398
Same question with jr6_jr6 magic

[2018-07-26 19:16] njarboe commented on #398
2.5 * 1e-6 is definitely wrong. Thanks for catching that.

2.5**3 * 1e-6 for a default would be a one inch cube.
For my work I would use a one inch diameter core, one inch in length as the default:
3.14*(1.25*1.25)*2.5*1e-6

But if all the others use cube defaults and Lisa thinks that is best, I'll agree with her.
Having them all the same is key.

[2018-07-26 20:44] moonshoes87 opened #399 "update MsT conversion to MagIC 3"
@ltauxe, the MsT conversion script outputs a column called "measurement_magnitude" which is uncalibrated.  There is no equivalent to this in MagIC 3 -- any thoughts about where we should put this in the new data model?

@rminnett, do you have any suggestions?

[2018-07-26 21:51] moonshoes87 commented on #399
@ltauxe, I also think that MsT_magic is mishandling the first measurement record.

It warns:  `... skipping repeated temperature step`

even though it is the first record, and then method_codes for that initial lines is assigned as "".  If the first line is NRM, should the first method code be just "LT-NO"?

[2018-07-26 22:02] ltauxe commented on #399
we should have an uncalibrated option for magnetization.  These will never be absolutely calibrated.  can we add a column to MagIC data model 3?  or use magn_moment with an appropriate method code?  [that would be a bit sloppy].  How about magn?  which would have arbitrary units]

[2018-07-26 22:02] ltauxe commented on #399
well you are catching a lot of bad things.  thanks!
lisa

[2018-07-26 22:13] ltauxe commented on #398
right.  2.51e-6 is totally wrong.  I would go with the standard core as a default - the cubes can have many sizes.
lisa

[2018-07-27 16:50] moonshoes87 opened #400 "add sequence in Contribution"
start at 1

[2018-07-28 20:11] ltauxe opened #401 "demag_gui should read many types of intensity"
right now, demag_gui expects only magn_moment, but other types are allowed in the data model. it should find the most appropriate one, e.g., using nb.get_intensity_meth

[2018-07-30 18:05] moonshoes87 commented on #398
So, is this correct?  Input is in cc, and the default should be:

3.14 * 1.25 * 1.25 * 2.51  (which is 12.3146875)

or use whatever number is inputted by the user.

Then multiply by 1e-6 to convert to m^3.

Is that correct?  If so, I will implement that in all of the conversion scripts that take a volume default.

[2018-07-30 18:07] moonshoes87 commented on #401
I can implement this, but will probably be busy with other things for the next few days.  @Caoimhinmg, let me know if you want to do it, otherwise I will put it on my docket.

[2018-07-30 21:34] moonshoes87 opened #402 "make sure all wxPython programs have an pip/anaconda version"
livdb_magic, tdt_magic, but check for others!

[2018-07-31 17:13] ltauxe commented on #398
yes - or round off to 12cc which is what i usually use.
lisa

[2018-07-31 23:30] moonshoes87 commented on #398
Ok, I changed a bunch.  mini_magic currently is 10 cc -- should that last one be changed as well?

[2018-08-01 02:17] ltauxe commented on #398
yes

[2018-08-01 19:36] jbowles100 opened #403 "AARM defined field directions incorrect"
The defined applied field declinations associated with the AARM code appear to be incorrect for positions 11-15.

In pmag.py, def designAARM(npos):

INCORRECT line:
  Dec = [315., 225., 180., 135., 45., 90., 270.,
           270., 270., 90., 180., 180., 0., 0., 0.]

CORRECT line:
    Dec = [315., 225., 180., 135., 45., 90., 270.,
           270., 270., 90., 0., 0., 0.,180., 180.]

[2018-08-02 16:27] #402 closed

[2018-08-02 16:29] moonshoes87 commented on #399
I have fixed what I can, but we still need to decide what to do with the uncalibrated magnetization.  I am using "magn_moment" in 3.0 at present, but that is wrong.  @ltauxe, @rminnet, @njarboe, any updates on how we want to handle this in the data model?

[2018-08-02 17:59] #382 closed

[2018-08-02 18:05] moonshoes87 opened #404 "add Linux install instructions to Cookbook"

[2018-08-02 18:08] #372 closed

[2018-08-02 18:09] moonshoes87 opened #405 "PmagPy 4.0"
@ltauxe, I believe everything all of the conversion scripts now: are updated to 3.0, moved into convert_2_magic, and have working tests!

Next tasks:

- add all conversion scripts to _PmagPy-cli.ipynb
- improve and add doc-strings to all convert_2_magic functions that are currently missing them, in the standard numpy format #138.
- drag the last few programs into 3.0 that are still stuck in 2.5

O

[2018-08-02 19:33] #374 closed

[2018-08-02 19:42] moonshoes87 commented on #405
@ltauxe, now would also be a good time to rename any functions or whatever that you don't like.  For instance, I think we've talked about possibly renaming some of the functions in pmagplotlib.py to PEP 8 style guidelines?  I have a script that can go in and replace a name throughout the repo, so it is pretty simple, we just have to decide to do it.

[2018-08-02 21:30] moonshoes87 commented on #365
I've basically finished with upgrading chi_magic, although it is a little bit simplified from how it worked in 2.5.  There isn't interactive entry anymore, and it only generates two plots instead of 3 (I just adapted what you have in the notebook instead of upgrading chi_magic2 directly).  Have a test if you want, I can add more to it asap or we can also flesh this out later if it isn't a high pri

[2018-08-02 23:09] ltauxe commented on #365
thanks lori - this is not top priority.
lisa

[2018-08-02 23:17] ltauxe commented on #405
good idea.  there are a few in pmag.py but quite a lot in pmagplotlib.py   won’t that break lots of stuff?  or is it worth it?
lisa

[2018-08-03 04:32] moonshoes87 commented on #405
@ltauxe, Unfortunately, here is a list of sneaky programs that *still* aren't in 3.0.

Can I deprecate:

change\_case\_magic.py?

and:

site\_edit\_magic.py?

The rest of these either need to be upgraded to 3 (and possibly moved into conversion_scripts), or deprecated.  Let me know what you want to happen with each of them.  I really thought there weren't this many left.... sigh.
<img width="1215"

[2018-08-03 16:15] moonshoes87 commented on #405
As far as renaming is concerned, my magic auto-replace script (using sed) will replace all instances of a string in the repo.  So, if we want to rename drawFIGS to draw_figs, it will replace it everywhere it is used.  It will only break integrations if people are using pmagplotlib in their own code -- but that is to be expected with jumping a version #.

[2018-08-03 16:47] #378 closed

[2018-08-03 17:11] moonshoes87 commented on #405
@ltauxe, if you can weigh in on which of these things you think should happen or not, and what if anything else you want to add for the 4.0 release.

name changes:

- new_builder.py to contribution_builder.py.
- some of the pmagplotlib functions to pep 8 standards

deprecate:

- change_case_magic
- maybe grab_magic_key
- possibly some others from the list above?

update to MagIC 3:

- some more of

[2018-08-03 17:20] ltauxe commented on #405
yes let's move new_builder.py to contribution_builder.py
let's change all the pmagplotlib functions to pep 8 standards AND ADD PROPER DOC STRING

deprecate:  change_case_magic.
i still use grab_magic_key on occasion.
keep site_edit_magic and make it 3.0

chi_magic can be upgraded to 3.0 - see PmagPy_nb.
i think revtest_magic may already be upgraded in ipmag (by another name).

[2018-08-03 17:22] ltauxe commented on #405
there is only one exception to this that i know of - i put a cartopy version of plotMAP called plot_map  - i’ll change that to plot_map_cartopy so we won’t get snarled up.
lisa

[2018-08-03 17:24] ltauxe commented on #405
well, let’s hold our breath and give it a go.

[2018-08-03 17:28] moonshoes87 commented on #405
chi_magic and revtest_magic are already upgraded (and not on the list ;) )

I will deprecate: change_case_magic

I will upgrade: site_edit_magic, grab_magic_key

I need to know about: scalc_magic, umich_magic, biplot_magic, microwave_magic, site_edit_magic, trmaq_magic, plotxy_magic, magic_select, susar4_asc_magic, plot_magic_keys

I will change function names in pmagplotlib, and open an issue for

[2018-08-03 18:01] moonshoes87 opened #406 "doc strings for all pmagplotlib functions"

[2018-08-03 19:14] ltauxe commented on #405
deprecate:
	plotxy_magic
	plot_magic_keys
	umich_magic (they closed up shop so no new data will be coming)
	biplot_magic
	susar4_asc_magic -  i might bring this back someday, but I don’t know who uses it - Nick Jarboe?

i think grab_magic_key and magic_select are data model agnostic.  I find them handy on the command line so don’t deprecate them

scalc_magic should be upgraded to data model 3:  se

[2018-08-03 20:15] moonshoes87 commented on #405
Ok, I will take a break from the grand pmagplotlib renaming and look at upgrading trmaq_magic and scalc_magic

[2018-08-03 20:19] ltauxe commented on #405
no these are low priority.  really.
lisa

[2018-08-03 20:23] moonshoes87 commented on #405
ok, I'll just put them on the list.  what about convert_samples_magic?

[2018-08-03 20:40] ltauxe commented on #405
all that does is takes a samples table and creates a template for the orient.txt file.  I think that is what step 2 in pmag_gui does pretty much anyway - go ahead and deprecate.
lisa

[2018-08-04 01:43] njarboe commented on #399
I think that magn_raw  and magn_arbitrary aren't quite right if it is really just uncalibrated. Better would be magn_uncalibrated, but that is a bit long. How about magn_uncal? Too cryptic? I will add that to the data model and then change it if we decide on something else.

@ltauxe Do you have a paper/reference that uses this type of measurement so I can get a clear understanding of how it is use

[2018-08-04 02:05] njarboe commented on #399
I have now added the magn_uncal to the measurement group. Not adding it to the specimen level unless needed/requested to keep things simpler. @ltauxe If you know people/papers that would need to use this column at the specimen level, I would be happy to add it, but if not maybe wait?

New column info:
  |   |   | Group | Table | Column Name | Display Name | Type | Unit | Description | Notes | Exam

[2018-08-04 04:54] rminnett commented on #399
@njarboe Thanks! Do you want me to update the JSON file, deploy a new version of the app, and add the column to the Elasticsearch mappings? Without that, updating the spreadsheet alone wouldn't allow a contribution with that column to be uploaded and the column isn't visible on the data model page.

[2018-08-04 06:41] njarboe commented on #399
@rminnett If it not much trouble. We can change it later if Lisa wants to and Lori can test out her new code. I can add a better description, notes, and other minor details after I have a better idea of how it is used.

[2018-08-05 23:25] moonshoes87 commented on #405
ok, I finished with pmagplotlib.  There are a lot of functions in there!  I added a note #not used by all the functions that aren't used at all in the code (including in any notebook) -- there are about 10 of them.  @ltauxe, can I remove them or do you want to have a look at them first?

Also, I tried in a few cases to rename the functions for clarity.  For example, plotA --> plot_arai.  I was hop

[2018-08-06 21:08] #400 closed

[2018-08-06 21:09] moonshoes87 commented on #384
Unfortunately I don't know what this means anymore.  I will re-open if it comes back up.

[2018-08-06 21:09] #384 closed

[2018-08-06 21:12] #365 closed

[2018-08-07 04:57] moonshoes87 opened #407 "wxPython Menu.Append() deprecation warning"
In Demag GUI tests:

    DeprecationWarning: Menu.Append() is deprecated

[2018-08-07 16:33] moonshoes87 opened #408 "doc strings for all convert_2_magic functions"

[2018-08-07 16:34] moonshoes87 commented on #401
This should work now -- it will prioritize magn_moment if available in the table and populated with data.  @ltauxe or @Caoimhinmg, feel free to check this out and let me know if you see any problems.

[2018-08-07 16:34] #401 closed

[2018-08-07 17:11] moonshoes87 opened #409 "cookbook should link to textbook fifth web edition, not 4th"

[2018-08-07 17:13] #407 closed

[2018-08-07 18:41] rminnett commented on #399
I fixed a missing quote in the examples list, added magn_uncal to the JSON file with a slightly different description to match the other columns, updated the app, and added the column to the Elasticsearch mappings:

![image](https://user-images.githubusercontent.com/1182698/43794333-ca3ff47c-9a32-11e8-9a22-33fc06a7b552.png)

[2018-08-07 18:58] moonshoes87 commented on #405
Some more name changes for clarity:

- pmag_basic_dialogs_native3 --> pmag_gui_dialogs
- pmag_menu_dialogs --> pmag_gui_menu_dialogs
- pmag_er_magic_dialogs --> ???
- pmag_basic_dialogs --> pmag_gui_dialogs2  ??

[2018-08-08 04:11] rminnett opened #410 "make_magic_plots.py log and error outputs"
@moonshoes87, @njarboe: Here are a few thoughts I had about the specs for adding reporting to make_magic_plots.py after the meeting today:

- Don't worry about trying to make an output txt file for every plot that didn't get made since that requires knowledge of all of the plots that are capable of being made with a contribution.

- _errors.txt_, _warnings.txt_, _log.txt_ should use the same forma

[2018-08-09 16:05] moonshoes87 opened #411 "make_magic_plots improvements for the server"
We will want to include more information for isServer, and improve formatting.

- contribution id should be included in plots
- fix formatting issues
- title should be displayed in plot not filename

Ultimately, we should have an images table (image name can be simple, just 1.png, 2.png)

Error logging:

basic case for each potential plot:
fails because of bug
fails because of missing data
succeed

[2018-08-09 16:13] #411 closed

[2018-08-09 16:15] moonshoes87 opened #412 "fix formatting/image issues in make_magic_plots for server"
contribution id should be included in plots
fix formatting issues
title should be displayed in plot not filename
Ultimately, we should have an images table (image name can be simple, just 1.png, 2.png)

[2018-08-09 16:28] moonshoes87 commented on #399
Thanks @rminnett and @njarboe !

[2018-08-09 16:28] #399 closed

[2018-08-09 16:37] moonshoes87 commented on #408
These may need to be improved, but the basics are in place.

[2018-08-09 16:41] moonshoes87 commented on #405
Ok, I think I've done all the things I wanted to do, except these items for input from @ltauxe :

- input on renaming pmagplotlib.plotAZ
- input on removing the 10 pmagplotlib functions that are never used
- are there other breaking changes to make before 4.0?  I.e., renaming things, deprecating things, etc.

After that, I will make sure all tests are passing, and notebooks are running, and then y

[2018-08-09 17:31] moonshoes87 opened #413 "problems with freshly downloaded controlled vocabularies json"
Trying to update the data model, but something is wrong with the new json I downloaded for controlled vocabulary:

    import pandas as pd
    # no problem
    pd.io.json.read_json('/Users/***/Python/PmagPy/pmagpy/data_model/controlled_vocabularies_February_6_2017.json')
    # fails
    pd.io.json.read_json('/Users/***/Python/PmagPy/pmagpy/data_model/controlled_vocabularies_August_9_2018.json')

B

[2018-08-09 19:43] moonshoes87 commented on #413
Well, this makes no sense.  I just pulled out the new json in a few chunks and pasted it into a different file.  And now it works.

[2018-08-09 20:08] moonshoes87 commented on #413
@rminnett, I'm not sure if this is a concern for you, but it might be relevant for others trying to use the controlled vocabularies/suggested vocabularies json.

Neither file could be parsed by pandas, although jsonlint said they were both valid.  All I had to do to make each file work was to copy and paste its contents into a new json file, which initially had me very confused.

The diff between

[2018-08-09 20:15] moonshoes87 commented on #319
This file is a list of dependencies with #s:  https://github.com/PmagPy/PmagPy/blob/master/pmagpy_dependencies.txt
It should be kept updated with the package numbers that work with PmagPy.

This file is also a list of dependencies, but it is OSX specific and you can use it to install needed packages:  https://github.com/PmagPy/PmagPy/blob/master/pmagpy_env_osx.txt

[2018-08-09 20:15] #319 closed

[2018-08-09 20:15] #413 closed

[2018-08-10 01:50] ltauxe commented on #405
i’ll take a look soon but right now can’t. sorry.

[2018-08-10 03:26] rminnett commented on #413
Thanks! I wonder if one of the javascript packages changed to produce a JSON string with a leading BOM? I expected it to be UTF-8 encoded, but without the BOM. I'll look into it.

[2018-08-11 00:33] ltauxe commented on #405
PlotAZ plots Arai and Zijderveld plots.ill take a look soon

On Thu, Aug 9, 2018 at 3:50 PM Lisa Tauxe <ltauxe@ucsd.edu> wrote:

[2018-08-14 18:07] moonshoes87 commented on #410
@ltauxe, can I remove the logic for navigating Location_* directories in make\_magic\_plots.py, or do you think that will still be useful?  By default, ipmag.download_magic no longer splits a contribution out into separate directories, but that functionality is still available.

I suspect that we don't need to support plotting by Location_* directories anymore in make_magic_plots, unless you think

[2018-08-14 18:27] ltauxe commented on #410
by all means

[2018-08-14 19:15] moonshoes87 commented on #410
Right now make_magic_plots runs eqarea_magic for sites only.  If there is dir_dec/dir_inc at the measurement level, should equal area plots be created?  For instance:
https://earthref.org/MagIC/16426

[2018-08-14 20:05] ltauxe commented on #410
if we did that it would be specimen by specimen (as these are unoriented data) and would complement the zijderveld and arai plots.
lisa

[2018-08-14 22:38] #404 closed

[2018-08-15 19:27] #409 closed

[2018-08-15 19:28] ltauxe opened #414 "hysteresis_magic.py backfield IRM option failing"
the backfield IRM option is broken.

[2018-08-15 19:28] ltauxe opened #415 "ldeo_magic.py"
doesn't seem to work at all.

[2018-08-15 19:29] ltauxe opened #416 "convert_2_magic.py missing some docstrings"
doc strings need a lot of work.

[2018-08-15 19:29] ltauxe opened #417 "thellier_gui.py should not require treat_ac_field"
should not be looking for treat_ac_field.  even if required by the data model it is not required by this program.

[2018-08-15 19:31] ltauxe opened #418 "livdb_magic produces extra columns and is missing req'd columns"
produces a very out of date data model 3.0 - it has many un-necessary columns (like sample, site) but is missing the required fields of treat_ac_field and sequence.  It does add them but somehow measurements_methods3 removes them and i can't see where.

[2018-08-15 19:32] ltauxe opened #419 "mst_magic.py site/location defaults"
is still quite buggy about site and location defaults.

[2018-08-15 20:00] moonshoes87 commented on #410
Ok, I've added this specimen by specimen equal area plots.  We can take them out again if they aren't helpful.

The plotting of intensity histograms has gotten messed up somehow:

McMurdo:
![lo _mcmurdo_ty _intensities_histogram _](https://user-images.githubusercontent.com/1836578/44162981-ce264600-a076-11e8-996b-7c1eeba40566.png)

contribution 11875:
![lo _iceland_ty _intensities_histogram _](htt

[2018-08-15 20:07] moonshoes87 commented on #410
@njarboe, I've started a new branch for working on make_magic_plots and error logging (error_logging).  I've implemented some logging, as well as made a few fixes along the way.

If you could try it out on the server, that would be helpful to me.  The program now produces up to two log files.  log.txt lists each PmagPy program that is run, along with a timestamp and location.  errors.txt contains

[2018-08-15 20:42] moonshoes87 commented on #410
@rminnett, quite a few of the problems I am running into relate to invalid/incomplete contributions.  For example, in https://earthref.org/MagIC/11943, location name is present, but doesn't match the name in sites.txt.  Since I need to sort by location to plot, this causes problems.

I am trying to figure out if I should be building in safeguards and workarounds for this kind of thing, or if it wi

[2018-08-15 23:24] ltauxe opened #420 "demag_gui.py parsing specimens/samples/sites etc."
This program should insist on  parsing specimens, samples, sites if none provided.  often what is desired is a quick look at data without all the hassle of making a full contribution.  is there someway to suppress this behavior?

[2018-08-16 00:59] ltauxe opened #421 "aarm_magic.py"
This program has a lot of Data Model 2.5 debris in it and there is no "notebook" way to do this.   We should  strip out all the stuff that isn't data model 3 and put it into ipmag as ipmag.aarm_magic  so it can be called within a notebook without the command line.

[2018-08-16 01:30] ltauxe opened #422 "atrm_magic.py"
Same issue as for aarm_magic.py

[2018-08-16 03:47] rminnett commented on #410
Ah, that makes sense. I'm working on running the validation rules against all of the existing contributions. Sometime next week I should be able to give you a list of all of the contributions with validation issues so you can avoid dealing with them.

Ideally, plotting should still do what it can with an incomplete contribution since it's very useful to start getting that visual feedback in the pr

[2018-08-16 03:51] moonshoes87 commented on #415
@ltauxe, for each conversion script there is a working example in _PmagPy-cli.ipynb and one in pmagpy_tests/test_imports3.py.  (At least, they work in the sense that they run and create output files.)  Let me know more specifically what you are trying that isn't working, and I'll fix it!

[2018-08-16 03:53] moonshoes87 commented on #416
@ltauxe Definitely -- I just did a first pass.  Basically, they all just have Parameters and Return values, which should at least be accurate.  Let me know how you want to attack improving them.

[2018-08-16 04:39] ltauxe commented on #415
It generates an output file, but the method codes are all wrong so neither demag_gui nor zeq_magic work properly.  they just plot the first point.
maybe it is because there seems to be an AF step before the thermal, but that never bothered sio_magic….
lisa

[2018-08-16 04:51] ltauxe commented on #415
oh i got it... the codelist can't be blank - must be set to "AF" or something.  on the command line that is -LP AF.  I fixed both notebooks.  I'll add a doc string to make that more clear.

[2018-08-16 05:14] moonshoes87 commented on #415
great — the docstrings are totally minimal and definitely need more TLC.  Also, should codelist be set to “AF” as the default in ldeo(), instead of default “"?

[2018-08-16 05:28] moonshoes87 commented on #417
Is thellier_magic generating an error message, or is something else going wrong?  Could you send the the relevant data file and specific command you were trying?

[2018-08-16 05:37] ltauxe commented on #415
I added a bunch of instructions to ldeo_magic and sio_magic.  the rest have at least something although meant for command line and not the convert_2_magic function....

[2018-08-16 05:37] #415 closed

[2018-08-16 05:37] #416 closed

[2018-08-16 05:58] moonshoes87 commented on #408
Many of the convert_2_magic functions have Parameters/Returns, but many do not!

Incomplete docstrings:  iodp_samples, k15_magic, kly4s_magic, livdb, sufar4

missing docstrings: iodp_srm, jr6_txt, mini, mst, pmd, s_magic, utrecht

Not sure how I missed so many!  I think I was trying to get #405 done, so I stopped worrying about these docstrings.  @ltauxe, I'm going to reopen this issue and get to

[2018-08-16 06:38] ltauxe commented on #415
AHHH my bad - codelist has to be set to something, e.g., ‘AF’.

[2018-08-16 18:12] moonshoes87 commented on #406
@ltauxe, I'm glad you're working on these, I think they will be very helpful!  I do have one suggestion -- it is useful to include the data type of each variable in the Parameters section.  Some of them have a data type, but others are missing:

For instance, in plot_qq_exp, it isn't clear what format 'data' should have:

    Parameters
    _________
    fignum : matplotlib figure number
    I : d

[2018-08-16 18:13] moonshoes87 commented on #405
Can we change plotAZ to plot_arai_zij?

Can I remove the unused pmagplotlib functions, or do you want to just leave them with the 'deprecated' docstring?  I think we should remove them, since we can always bring them back if needed.

[2018-08-16 18:14] moonshoes87 commented on #417
I was looking in thellier_magic, not thellier_gui.  I'll check this out!

[2018-08-16 18:15] ltauxe commented on #405
i just changed it to plot_az, but plot_arai_zij would be better.  and yes you can just remove them.  they are very very old.

[2018-08-16 18:19] moonshoes87 opened #423 "thellier GUI calculate anisotropy tensors failing with non numeric measurement_number"
**What happened:**

Tried to calculate anisotropy tensors with  BenYosif_2016 dataset:

    Traceback (most recent call last):
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 2851, in on_menu_calculate_aniso_tensor
        self.calculate_anisotropy_tensors(data_model=self.data_model)
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 3327, in     calcul

[2018-08-16 18:25] moonshoes87 commented on #405
great, I will do that name change, and remove the deprecated functions.

of the currently open issues, which (if any) do you want me to crush before we make the 4.0 pip release?

[2018-08-16 18:28] ltauxe commented on #405
i think all the other things on my list are minor with the possilble exception of aarm_magic and atrm_magic.  could you maybe make those ipmag version like all the others?  then I can fiddle with them in the notebook.  after that, we can go to 4.0  and clean up the cookbook!
lisa

[2018-08-16 18:36] moonshoes87 commented on #419
@ltauxe, can you give more detail about this problem?

[2018-08-16 18:38] moonshoes87 commented on #405
ok, I'll work on aarm_magic and atrm_magic next!

[2018-08-16 18:39] ltauxe commented on #417
i used  livdb_magic.py to create these files:

they crash both thellier_gui and thellier_magic because of missing treat_ac_field,  which is required by MagIC but not necessary for this program.  also livdb_magic doesn’t make a sequence column.  both of these errors must be caused somewhere in measurements_methods3 but i haven’t had time to figure it out.
lisa

[2018-08-16 18:41] moonshoes87 commented on #423
Hmm.  The problem is that the "correct" data model conversion is measurement --> measurement_number.  But it seems like what Thellier GUI *really* wants is treat_step_num --> measurement_number.

<img width="1074" alt="screen shot 2018-08-16 at 11 37 52 am" src="https://user-images.githubusercontent.com/1836578/44227998-f41c1b00-a148-11e8-97ac-ddeeb1f4d2c4.png">

Maybe I can add some custom logic

[2018-08-16 19:01] moonshoes87 commented on #410
@rminnett, I think what I will do if the hierarchy is incomplete/incorrect is simply plot the entire contribution as if it were all one location.  That should be straightforward enough to implement.

[2018-08-16 19:47] moonshoes87 commented on #421
@ltauxe, I've moved this into ipmag and added a docstring and a (minimal) test.  The function still supports MagIC 2.5 and 3.0, and it was one of the earlier scripts we converted, so it works by reading in 3.0 data, converting it to 2.5, doing the calculations, and converting it back out to 3.0.  So all of the heavy lifting happens in 2.5.  The output should be *correct* 3.0, and it looks ok to me

[2018-08-16 20:09] ltauxe commented on #421
Thanks - the 2.5 to 3.0 transitions are purely cosmetic

On Thu, Aug 16, 2018 at 12:47 PM Lori J <notifications@github.com> wrote:

[2018-08-16 20:15] moonshoes87 commented on #410
@rminnett, how about specimen/sample/site names with quotes in them?  For instance, contribution 16305 has a totally bonkers mix of quotation marks in names, I presume from cutting and pasting in some irregular way, which also messes up the hierarchy.  Is that something you will be fixing?

[2018-08-16 21:04] ltauxe commented on #421
nice.  could you do the same for atrm_magic?

[2018-08-16 21:57] ltauxe commented on #421
I can’t find it - maybe you need to push?
lisa

[2018-08-16 21:58] ltauxe commented on #421
never mind.  it just came through

[2018-08-16 22:13] ltauxe commented on #421
one tiny bug left. ipmag.aarm_magic doesn't propagate the sample name or just overwrites the specimens.txt file.  in any case, after running it, there is no sample name column in the specimens.txt file.   otherwise, it seems ok.
lisa

[2018-08-16 22:25] moonshoes87 commented on #410
note to self: currently works by a combination of reading in tmp\_\*.txt files and using dataframes.  Eventually we will fully switch to using the dataframes only.  For now, the logic is complicated and redundant since we're doing both.

[2018-08-17 00:08] moonshoes87 commented on #421
ok, I'll try to get this last piece fixed tomorrow.

[2018-08-17 00:09] ltauxe commented on #421
Also atrm_magic?

On Thu, Aug 16, 2018 at 5:08 PM Lori J <notifications@github.com> wrote:

[2018-08-17 00:12] moonshoes87 commented on #421
Yes, I should be able to get that moved tomorrow too!

[2018-08-17 06:00] rminnett commented on #410
Yes, I see the quotes in 16305 - technically any non-tab characters should be allowed within the text columns of a table (we haven't considered escaping tabs in a tab-delimited MagIC text file, perhaps with quotes like in a CSV, but I don't think it's necessary).

Although those probably aren't intentional (maybe the web validation should produce a warning for this, but not an error), as long as t

[2018-08-17 21:07] moonshoes87 commented on #422
I moved this to ipmag.  I didn't test extensively, so let me know if it doesn't perform as expected!

[2018-08-17 21:08] moonshoes87 commented on #417
@ltauxe, I think when you try to attach files to the Github issues via email nothing happens.  You can email me directly or attach 'em on the Github issue page.  If you send me the livdb file, I will check this out.

[2018-08-17 22:28] ltauxe commented on #422
This works, except now the specimens.txt table has a sample column, but it is blank.  there is a correct sample column generated by sio_magic in place before beginning, but that is not used.  there was a similar problem with aarm_magic (except there was no sample column) and that is now fixed.

[atrm_magic.zip](https://github.com/PmagPy/PmagPy/files/2298888/atrm_magic.zip)

[2018-08-17 22:29] #359 closed

[2018-08-17 22:44] moonshoes87 opened #424 "refactor plotting programs"
Goals:

1.  Each plotting program must work on the command line, in a notebook, and in tests.
2. Each command line program should have main() function that is only for the command line logic, and calls an ipmag function that does the calculation.
3. Each program should return a list of saved files.
4. Each program should be able to take a contribution/pandas dataframe argument instead of reading i

[2018-08-17 22:45] moonshoes87 commented on #410
In this case the quotes do seem to break the hierarchy.  I agree that this should generate a validation warning, not an error.  Make_magic_plots will handle this by plotting as if the entire contribution is one location.

I also agree that an images table will be a better way of tracking the plots.  That will be part of round 2 of refactoring -- I want to redo the plotting programs so that I can p

[2018-08-18 00:16] njarboe commented on #410
@moonshoes87 I've pulled the latest version onto the plot server and checked out the error_logging branch. I'll run it on the 3.0 contributions (less the two huge ones) over the weekend and can take a look for possible problems next week.

Without validation being in place since the new system went online, I'm sure there are some very ugly formatted contributions that are now in the system. You do

[2018-08-20 17:34] moonshoes87 commented on #410
@njarboe, thanks for running these.  I've now merged the changes over into master, since I discovered and fixed some bugs in the process of working through make\_magic\_plots.  If you run through the contributions again, you can use master.

[2018-08-20 18:47] moonshoes87 commented on #422
atrm_magic now reads in specimen data (it used to just overwrite the specimen file).  I just need to get the sio_magic command figured out for testing.

[2018-08-20 19:45] ltauxe commented on #422
look at the _PmagPy_nb example for atrm_magic  - it starts from sio_magic

[2018-08-20 23:26] ltauxe commented on #405
Ok how abt tomorrow afternoon

On Mon, Aug 20, 2018 at 4:15 PM Lori J <notifications@github.com> wrote:

[2018-08-20 23:55] moonshoes87 commented on #418
measurements_methods3 is not called in livdb.

I tested this on the LIVDB_magic/TH_IZZI+ data.

The problem was that MeasRec['treat_ac_field'] wasn't initialized across all records.  In non-AF studies, treat_ac_field is only set if there are no prior treatments AND peak field is not 999, -99 or 0.  In the TH_IZZI+ data, the first peak field is 0.  So the first MeasRec doesn't have the treat_ac_fie

[2018-08-20 23:58] moonshoes87 commented on #417
I've found a file that is missing treat_ac_field and crashes Thellier GUI.  I will see about fixes.

[2018-08-21 14:15] ltauxe commented on #418
Yes I think that will work - I can test it on other examples

On Mon, Aug 20, 2018 at 4:55 PM Lori J <notifications@github.com> wrote:

[2018-08-21 17:09] moonshoes87 commented on #417
@ltauxe, I've attempted a fix.  I definitely need you to double-check this one, though.  In both Thellier GUI and thellier\_magic, treat_ac_field is ONLY expected if the method code LT-AF-Z is used.  I added logic to prevent it from crashing, but I need you to check if this is legit.

[2018-08-21 17:32] moonshoes87 commented on #417
@ltauxe, same for my thellier_magic fix.

[2018-08-21 18:15] njarboe commented on #410
@moonshoes87 Thanks Lori, I'll pull from master in the future for updates to make_magic_plots.

Here are a couple of comments/suggestions/bug reports. @moonshoes87 Would you like me to make a new issue for each future bug/improvement suggestion for make_magic_plots to better keep track of them?

1) It would be nice if the errors were also sent to stderr. One can see them right away on the screen a

[2018-08-21 18:26] moonshoes87 commented on #418
@ltauxe, I also fixed livdb so it will generate samples/sites/locations tables if possible.  Let me know if you have more problems here.

[2018-08-21 21:03] moonshoes87 commented on #418
New error:

    -W- No intensity data found for specimens
    Traceback (most recent call last):
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 8182, in <module>
    main()
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 8175, in main
    app.frame = Arai_GUI(WD)
      File "/Users/nebula/Python/PmagPy/programs/thellier_gui.py", line 405, in __init_

[2018-08-21 23:40] ltauxe opened #425 "convert.tdt() not handling additivity checks correctly"
**What command was run:**
in the _PmagPy_nb notebook:
convert.tdt('../measurement_import/tdt_magic/')

**What happened:**
All files successfully created, but method_codes are not correct resulting in bizarre thellier_gui plots (see attached).

**What I expected to happen:**
The problem seems to be in correctly identifying the treatment steps labeled XXX.4 in the file.  These are "additivity checks

[2018-08-22 03:45] moonshoes87 commented on #418
@ltauxe, this is kinda rough. I'm using the data_files/Measurement_Import/LIVDB_magic/MW_C+ data.

The problem is that Thellier GUI is trying to index on the list of 'treatment_mw_power' values:

    [0, 10, 10, 20, 18, 25, 25, 25, 6, 28, 28, 30, 30, 30, 25, 33, 33, 35, 35, 40, 40, 40, 30]

But, the values in the drop down boxes for tmin/tmax are:

    ['0', '1', '2', '3', '4', '5', '6', '7', '8']

[2018-08-22 19:46] moonshoes87 commented on #418
@ltauxe, I put in a possible solution for this.  Give it a try and see if it seems like the expected behavior to you.  It's a little odd, how this was set up....

[2018-08-22 19:57] ltauxe commented on #418
will do

[2018-08-24 20:16] moonshoes87 opened #426 "git rename lower-cased folders"
https://stackoverflow.com/questions/13201906/issue-with-renaming-a-directory-in-git-to-lowercase-while-ignorelowercase-true

[2018-08-24 21:11] moonshoes87 opened #427 "Get 4.0 out the door"
- clean up & move PmagPy-nb (@ltauxe)
- clean up & move PmagPy-cli
- deal with case for all directories
- make sure notebooks run
- release 4.0

[2018-08-24 22:03] ltauxe commented on #427
i just did step one.
have at it…

[2018-08-25 04:57] moonshoes87 opened #428 "convert.sufar4 vs ipmag.sufar4"
figure out the difference and which should be used.

[2018-08-25 05:14] moonshoes87 opened #429 "_PmagPy.ipynb should delete files it creates"
We can use: pmag.remove_files(file_list, directory), which is platform independent.  or glob + shutil/os.remove if we want to use wildcards.

[2018-08-25 05:15] moonshoes87 commented on #426
I think this is done where needed.

[2018-08-25 05:15] #426 closed

[2018-08-27 21:33] moonshoes87 commented on #429
PmagPy-cli.ipynb should use the same, instead of !rm filename.txt.

[2018-08-27 22:11] #427 closed

[2018-08-28 17:35] moonshoes87 opened #430 "discrepancy between thellier_GUI.log and specimens.txt causes problems"
**What command was run:**

thellier_gui.py

**What happened:**

If there is an interpretation in specimens.txt but NOT in thellier_GUI.redo, no interpretation is displayed in the GUI.  Thus the interpretation cannot be deleted or modified.

**What I expected to happen:**

thellier_GUI.redo and GUI display should have both saved interpretations and saved temperature bounds.

**Data file(s):**

**Sc

[2018-08-29 21:01] #417 closed

[2018-08-31 20:51] #429 closed

[2018-09-04 18:13] moonshoes87 opened #431 "Dealing with SPD statistics that aren't in MagIC 3"
Some of the statistics in Greig Paterson's SPD (which are implemented in Thellier GUI) are not part of the MagIC data model.

Because of the way our MagIC 2 --> MagIC 3 mapping is set up, that means that Thellier GUI does not write non-MagIC 3 statistics to the specimens file when saving interpretations.  This is confusing to users who expect to see all of the statistics they have selected in thei

[2018-09-04 18:18] #430 closed

[2018-09-04 18:55] moonshoes87 commented on #431
@ltauxe pointed out that int_k_prime is in fact in the data model -- not sure how I missed that.   Perhaps all of the important ones are already added in and this is a non-issue?

[2018-09-04 18:59] moonshoes87 commented on #431
It looks like we may just have been missing k_prime and k_prime_sse in the PmagPy mapping.  So I think this is actually now fixed.  Maybe those were added later and that's how I missed them?  Otherwise I don't currently see anything else missing.

[2018-09-04 18:59] #431 closed

[2018-09-04 19:42] moonshoes87 opened #432 "Method codes in mini_magic"
@ltauxe, can you take a look at the first few lines of convert_2_magic.mini?  I don't think the method codes were ever handled correctly here, and I'm not sure what the intention was exactly.  I moved the parsing of method codes from mini\_magic.py to convert_2_magic.mini and made a few guesses, but I don't know what the method code for Thermal demag actually ought to be.

[2018-09-05 23:10] njarboe opened #434 "Need to remove first underscore in _2g_magic.py program and everywhere else"
I'm removing the underscore in the PmagPy notebook where possible. Leaving it where needed to run the code.

[2018-09-05 23:26] moonshoes87 commented on #434
That won’t work. Python packages can’t start with a number, so renaming _2g_bin to 2g_bin will break Pmag GUI. That is why the underscore is there. We could change the name to use “two” instead of 2 or some different renaming scheme...

https://stackoverflow.com/questions/17487209/can-a-python-package-name-start-with-a-number

[2018-09-06 00:38] njarboe commented on #434
Ok. Good to know. I'll put it back in.

[2018-09-06 19:26] moonshoes87 commented on #408
This is finally done!  The docstrings may need some clarifications or changes, but they are all there in something approaching a standard format.

[2018-09-06 19:26] #408 closed

[2018-09-06 19:27] #405 closed

[2018-09-06 19:29] #355 closed

[2018-09-06 19:32] moonshoes87 commented on #371
I'm just going to leave this workaround in -- it doesn't create any problems anyway and insures proper behavior.

[2018-09-06 19:32] #371 closed

[2018-09-06 20:56] ltauxe opened #435 "add cookbook example for irm_unmix.py"
I tested this contribution by @botaoxiongyong and it works well.   I think we should add it to the PmagPy distribution - BUT, there are some dependencies and subtleties about the installation.  Lori, how do you think we should go about it. is there a straightforward way to add this without complicating the PmagPy install process?

[2018-09-07 21:03] #428 closed

[2018-09-10 17:29] moonshoes87 commented on #423
It looks like Thellier GUI is functioning correctly.  The relevant contribution had measurements.measurement values like this: jh10a3:LP-AN-ARM1, and no treat_step_num.

However, I'm trying out adding code to extrapolate the measurement number from the experiment name.  In other words, measurement number should start at 1 and increment up until the experiment name changes.  Or, should it start at

[2018-09-10 17:43] #434 closed

[2018-09-10 17:52] moonshoes87 commented on #196
@njarboe, @ltauxe, and @ronshaar -- some pieces of this issue were fixed.  We have two remaining questions:

1.  Should we delete all but the highest-priority orientation?

2.  How should we deal with pre-existing method codes when running orientation_magic?  We can either append method-codes together, or create a new row if there is any pre-existing information in method_codes for that specimen.

[2018-09-10 17:55] moonshoes87 commented on #435
See the [PR](https://github.com/PmagPy/PmagPy/pull/436)

[2018-09-10 19:57] moonshoes87 commented on #387
I made some mistakes.  Unfortunately, we have duplicate information in the way we do MagicDataFrames.  Currently:

![screen shot 2018-09-10 at 12 50 27 pm](https://user-images.githubusercontent.com/1836578/45320649-1f035000-b4f8-11e8-9368-0a6160a91343.png)

We could either do this:

![screen shot 2018-09-10 at 12 51 42 pm](https://user-images.githubusercontent.com/1836578/45320732-55d96600-b4f8-11

[2018-09-12 03:58] moonshoes87 commented on #387
https://github.com/pandas-dev/pandas/issues/21080

[2018-09-12 18:33] moonshoes87 commented on #387
Trying to solve this in a branch: https://github.com/PmagPy/PmagPy/tree/fix_magic_dataframes

[2018-09-16 00:59] moonshoes87 commented on #387
Alternate solution:  https://github.com/PmagPy/PmagPy/tree/alternate_fix_dataframes

[2018-09-16 20:57] moonshoes87 commented on #387
Eventually we may want to remove the duplicate information that occurs both in the index and in a column, but for now we are going to take the simple route that doesn't introduce more bugs.  That is: renaming the index.

[2018-09-20 01:12] moonshoes87 commented on #435
example is added to PmagPy.ipynb -- interactive program doesn't work for PmagPy-cli.ipynb.

[2018-09-20 01:12] #435 closed

[2018-09-24 22:23] njarboe opened #438 "pmag_gui_anaconda fails to start on new anaconda and pip install"
I'm going through the cookbook and got this error. I created a new user on my Mac for the install, MacOS10.13.6, did the anaconda and pip install. PmagPy in the interpreter works, running "eqarea.py -h" works, but this does not:

kamacite:anaconda3 testing$ pmag_gui_anaconda
-I- Importing Pmag GUI dependencies
Traceback (most recent call last):
  File "/Users/testing/anaconda3/bin/pmag_gui_anacond

[2018-09-26 07:22] hl04445567 opened #439 "How to adjust the colormap in the plot_pole_colorbar function"
I was wondering how can I adjust the color scheme (colormap) in plot_pole_colorbar function?

Sorry if this is a stupid question. I am new to Python and PmagPy.

[2018-09-26 15:40] ltauxe commented on #438
We’ll we can migrate to cartopy, but it is very slow and the contourf
function is buggy

On Tue, Sep 25, 2018 at 10:26 PM Lori J <notifications@github.com> wrote:

[2018-09-26 16:40] moonshoes87 commented on #438
I'm working on submitting a bug report to cartopy for the contours problem.  I'm trying to simplify the example as much as possible first.

Basemap can be downgraded (for OSX 64 bit with python 3.6) with these commands:

    conda install https://conda.anaconda.org/conda-forge/osx-64/pyproj-1.9.5.1-py36_0.tar.bz2
    conda install https://conda.anaconda.org/conda-forge/osx-64/basemap-1.1.0-py36_4.

[2018-09-26 17:40] moonshoes87 commented on #438
https://github.com/SciTools/cartopy/issues/1131

[2018-09-26 17:59] njarboe commented on #438
Running those commands allows pmag_gui to run for me. A bit clumsy, as you say, to make people do this, but if nothing else works then that will have to do. If these are installed and then things change so they are not necessary, if a person does a pip pmagpy update, will they have to know to uninstall them? That could create quite a bit of confusion for people.

I still get this error running pma

[2018-09-26 19:20] Swanson-Hysell commented on #439
Is your question how to change the range of values? Or how to change the colors that are used for the range of values?

There is currently no option to change the colormap within the plot_pole_colorbar of ipmag. At present it will use the default color map of matplotlib. However, it should be straightforward to put in such functionality so I will look to implement that functionality not.

[2018-09-26 19:32] #439 closed, assigned to nobody

[2018-09-26 19:45] Swanson-Hysell commented on #439
There is now the option to change the color map. Here is an example where the colormap is changed to be 'plasma' (for a list of matplotlib colormaps look here: https://matplotlib.org/tutorials/colors/colormaps.html)

<img width="565" alt="screen shot 2018-09-26 at 12 41 19 pm" src="https://user-images.githubusercontent.com/4332322/46104942-91775f80-c189-11e8-9775-f0ac9dcd2cad.png">

Using this fil

[2018-09-26 19:50] Swanson-Hysell commented on #438
Since there is pretty minimal use of Basemap within pmag_gui (just within a VGP viewer within demag_gui I think) we could pull it out of there for the moment.

I am willing to help with the cartopy transition (our issue #292). It seems like this switch is necessary given the end-of-life declaration for Basemap: https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announce

[2018-09-26 19:51] ltauxe commented on #439
that’s nice Nick - you could make color_map an argument as is done in pmagplotlib.plot_eq_cont
lisa

[2018-09-26 19:53] ltauxe commented on #438
I agree.  I worked out the basics - it is pretty slow and contourf definately has problems, but we will have to go there eventually.  I’ll send you some attempts  by regular mail.
lisa

[2018-09-26 19:55] ltauxe commented on #438
i agree with Nick S-H - we should just take the basemap stuff out of pmag_gui.
lisa

[2018-09-26 19:56] Swanson-Hysell commented on #439
That is what the code does now following commit 0a53974eba8358ad8b8e2213ebf4886e6b630a15. There is an ```colormap``` argument with the default set to be the same default as matplotlib ('viridian').

[code]

This function could be a bit more full-featured as there is a lot that needs to be wrapped around it as seen in the code example above. So I might look to make further improvements (however, pe

[2018-09-26 20:02] Swanson-Hysell commented on #438
Thanks for the cartopy files, @ltauxe. @moonshoes87, is it going to cause any problems if we start switching out some functions to cartopy and make that package an install requirement?

Oddly, a conda install of cartopy bundles it with Basemap (but this probably doesn't concern us):

[code]

[2018-09-26 20:02] moonshoes87 opened #440 "deprecate iodp_dscr_magic"
iodp\_dscr\_magic and iodp\_jr6\_magic examples are missing from PmagPy.ipynb

[2018-09-26 20:27] moonshoes87 commented on #438
Yes, we definitely want to switch out Basemap for cartopy.   In the meantime, I put in some checks so that a missing (or broken) Basemap won't break anything.  So things are stable for the moment.

@Swanson-Hysell, if you want to make a cartopy branch, I think that would be great. I'd like to change over those dependencies in one fell swoop.

[2018-09-26 20:29] moonshoes87 commented on #438
I've left Basemap in demag_gui/thellier_gui -- but prevented it from causing any breaking problems.  For now, people can continue to use Basemap if they have a compatible version or are using it in a conda env.

[2018-09-26 20:51] Swanson-Hysell commented on #438
Ok. I can start a cartopy branch. I will focus the implementation within ipmag. While I am at it, I might make some more "full service" functions that can generate a full figure. At present, the user always needs to generate a map to start with. This approach is great for flexibility and plotting multiple datasets on one map, but being able to generate a full figure with a single function has its

[2018-09-26 20:52] moonshoes87 opened #441 "Travis-CI tests should include 3.6"
Get Python 3.6 working in test environment

[2018-09-26 20:58] moonshoes87 opened #442 "put all dependencies into setup.py/command-line-setup.py if possible"
Put pmagpy requirements into setup.py and pmagpy-cli requirements into command_line_setup.py.  I remember there was some obstacle to doing this, but I am not sure exactly what it is.  If possible, this will simplify the pip install.

    # List run-time dependencies here.  These will be installed by pip when
    # your project is installed. For an analysis of "install_requires" vs pip's
    # requ

[2018-09-26 21:01] moonshoes87 commented on #438
That sounds great!  One small suggestion is don't edit existing notebooks in the branch -- merging those is always a mess.

[2018-09-26 22:16] Swanson-Hysell commented on #292
I have started a cartopy branch and have committed within it changes to:

ipmag.equi()
ipmag.plot_pole()
ipmag.plot_vgp()

and have added a make_orthographic_map() function to ipmag.

Things are working pretty well. For example,

[code]
<img width="350" alt="screen shot 2018-09-26 at 3 03 44 pm" src="https://user-images.githubusercontent.com/4332322/46111905-83cbd500-c19d-11e8-8f40-6840d969fba2.pn

[2018-09-26 22:59] lfairchild commented on #438
@Swanson-Hysell Regarding the specific issue with the deprecated `get_axis_bgcolor` function, this [has already been fixed](https://github.com/matplotlib/basemap/commit/ef252cf943126357b131cd600a473e86e351d48d) on the Basemap github repository (>= v1.1.0). The problem seems to be that the version on the "defaults" conda channel has not been updated since v1.0.7, but you can just update Basemap via

[2018-09-26 23:46] Swanson-Hysell commented on #292
In the cartopy branch, all of the ipmag functions are now updated to use cartopy rather than basemap. Not as much of a hassle as I thought it would be.

In pmagplotlib, it looks like the only two functions that use Basemap are:

- plot_mag_map()
- plot_map()

@moonshoes87 or @ltauxe could you commit your implementation of those functions using cartopy to the branch?

And then it lives within a num

[2018-09-27 01:50] hl04445567 commented on #439
Wow! Thanks Nick and Lisa for the prompt response!

I've got another stupid question. I tried to run your example code, but I got a TypeError:

plot_pole_colorbar() got an unexpected keyword argument 'colormap'

I think this is because the PmagPy package on my computer hasn't got the update you just made. I was wondering how should I update PamgPy?

I've ran
  pip install --upgrade pmagpy --no-dep

[2018-09-27 02:07] moonshoes87 commented on #438
In the install instructions we’ve been recommending:  conda install basemap —channel conda-forge

which also does the trick without needing a specific url.  Sounds like this will not be an issue for much longer, though.

[2018-09-27 02:48] moonshoes87 commented on #439
I'll need to make a new pip release -- I will do that tonight or tomorrow morning!

[2018-09-27 02:53] moonshoes87 commented on #292
@Swanson-Hysell, thanks!  I do notice that there are a few failing tests (you can see these on https://travis-ci.com/PmagPy/PmagPy/builds).  It looks like there is just a misplaced or forgotten quotation mark.  I usually check travis-ci and then run locally any tests that are failing for non-obvious reasons.

@ltauxe, I think you all of the cartopy functions on your machine -- if you want me to fi

[2018-09-27 16:32] Swanson-Hysell commented on #292
I fixed that quotation mark in ipmag.equi() that was causing the test to fail. Nice catch! There is still a unit test failing due to the cartopy import. Where does this need to be addressed?

[code]

[2018-09-27 17:10] ltauxe commented on #292
looks nice - and i had the same problem in the map_points_cartopy  function in pmagplotlib of the color of the outline - i have no idea why.  perhaps the order of operation?
lisa

[2018-09-27 17:39] moonshoes87 commented on #292
.travis.yml is where the testing environment is defined.  I added cartopy, so hopefully tests are passing now!

[2018-09-27 17:53] Swanson-Hysell commented on #292
I have raised an issue over at cartopy regarding the map data occurring as a color of the outline issue (https://github.com/SciTools/cartopy/issues/1133). It happens with quite simple plots:

[code]
![screen shot 2018-09-27 at 10 46 52 am](https://user-images.githubusercontent.com/4332322/46164672-79fcad00-c243-11e8-9cad-5b4a8ed6aba8.png)

[2018-09-27 17:54] Swanson-Hysell commented on #292
Note that I am putting minimal examples of using the cartopy functions within the docstrings. These could be pulled out and used in the pmagpy notebook.

[2018-09-27 17:59] Swanson-Hysell commented on #292
For what it is worth, I have noticed that the orthographic projection is quite fast to render while the Mollweide is quite slow.

[2018-09-27 18:04] moonshoes87 commented on #292
Testing environment issues persist, including: https://github.com/SciTools/cartopy/issues/1035

[2018-09-27 18:33] ltauxe commented on #292
because you can do a help(ipmag.WHATEVER) in the notebook, we don’t need additional verbiage.  Also demonstrates the value of doc strings.
lisa

[2018-09-27 19:43] moonshoes87 commented on #292
Ok, I finally got the testing environment fixed (and in fact, improved!).  All tests are passing now.  I would encourage, where possible, making tests for the new functions.

[2018-09-27 19:44] moonshoes87 commented on #439
@hl04445567, the new release is now available!  Please let us know if you have any more issues.

[2018-09-27 19:52] moonshoes87 opened #443 "Update pmagpy_tests/README.md"

[2018-09-27 19:54] moonshoes87 commented on #441
fixed!  can't test on 3.7 yet because wxpython isn't available.

[2018-09-27 19:54] #441 closed

[2018-09-27 19:56] moonshoes87 commented on #438
@njarboe, could you try again installing the new pmagpy/pmagpy-cli and verify that it works in your fresh environment?  If you run the programs in your base env (which is what you will do by default), Basemap should just fail gracefully and be ignored.  If you create a pmagpy environment:

    conda create --clone base --name pmagpy
    source activate pmagpy

you should be able to actually use th

[2018-09-28 00:44] njarboe commented on #438
I'll can do full install from scratch with a newly created user or should I just uninstall and reinstall pmagpy and pmagpy-cli as my fresh user?

[2018-09-28 04:54] moonshoes87 opened #444 "deprecation and future warnings with matplotlib"
**What command was run:**

pmag_gui.py -h

**What happened:**

    /Users/nebula/Python/PmagPy/programs/pmag_gui.py:11: UserWarning: matplotlib.pyplot as already been imported, this call will have no effect.
      matplotlib.use('WXAgg')

**What I expected to happen:**

Backend should have been set to WXAgg, instead of being stuck as MacOSX.  Problem is solved by downgrading to 2.3.3.  Possibly th

[2018-09-28 05:53] njarboe commented on #438
Starting from the top with a new user, I installed without the basemap to start. Succeeded. I got a red highlight error about msgpack (see below), but continued and everything worked fine. pmag_gui ran and I could open the dmag and thellier programs.

After installing basemap, I get the gracefully failing message running pmag_gui_anaconda and it still runs.

After creating the pmagpy environment a

[2018-09-28 16:17] moonshoes87 commented on #438
Thanks, @njarboe.

I will add a note to the install directions explaining that importing pmagpy for the first time is slow.

Which command did you run to produce the scripttest/msgpack error?  I am working on removing scripttest as a dependency for the pip install, since it is really only useful to developers.

[2018-09-28 16:38] moonshoes87 commented on #438
Ok.  So you're saying you saw that error when running `pip install --upgrade pip` as well?

I've taken out `pip install scripttest`, except for developer installs.

Possibly I should add  `conda install msgpack-python` or `pip install msgpack`.

Looks there is some issue possibly related to msgpack-python being renamed to msgpack (but only on PyPI, not on conda).  https://github.com/dask/distribut

[2018-09-28 16:56] njarboe commented on #438
@moonshoes87 "So you're saying you saw that error when running pip install --upgrade pip as well?"
Yes. I logged out of that test user, so I could not go back and copy the command verbatim. I guess I used update instead of upgrade as that is how I think about what is happening with that command. The word upgrade as a bit of a misnomer as many times (like this case with basecamp) the upgrade breaks

[2018-09-28 18:18] moonshoes87 opened #445 "Problems in Binder"
**PmagPy.ipynb**

irm_unmix fails because of

    ImportError: libGL.so.1: cannot open shared object file: No such file or directory

probably need Pyqt5

**PmagPy-cli.ipynb**

Lots of programs:

    _tkinter.TclError: no display name and no $DISPLAY environment variable

I don't think this happened before....

    ModuleNotFoundError: No module named 'wx'

[2018-09-28 18:57] Swanson-Hysell commented on #292
Perhaps you saw this, but based on feedback in this issue discussion (SciTools/cartopy#1133) I was able to fix the weird plotting issue in cartopy that led to the color of the outline issue with this commit that tweaks the ipmag.equi() function (https://github.com/PmagPy/PmagPy/commit/9413b5fa83313760493ead6a8093c896e64d43ba). The workaround is to reversed the order in which the points are being p

[2018-09-28 19:53] moonshoes87 commented on #442
After some experimenting, I've decided against this.  We mainly want people to use conda, pip will install all requirements from PyPI.  This just leads to chaos.  So, I am actually removing all of the install_requires.  If someone wants to make a case for doing this differently, reopen the issue.

[2018-09-28 19:53] #442 closed

[2018-09-28 20:40] moonshoes87 commented on #445
https://github.com/conda-forge/pygridgen-feedstock/issues/10

[2018-09-28 21:28] ltauxe commented on #440
let's depricate iodp_dscr_magic and i added the iodp_jr6_example data.

[2018-09-28 21:41] ltauxe commented on #292
polemap_magic.py works just fine now.

[2018-09-28 23:00] Swanson-Hysell commented on #292
It was  @Caoimhinmg who put the plot VGP code into demag GUI (calling on ```draw_map()``` in demag_dialogs.py. I am going ahead and having a look at switching it over.

In the pmag.import_cartopy() function, we should have it import ```import cartopy.crs as ccrs``` as well. What is the best way to do this @moonshoes87?

[2018-09-28 23:17] Swanson-Hysell commented on #292
@Caoimhinmg, would you be able to have a quick look at this? To make the change in demag_dialogs this is the class that needs to change over to cartopy:

```class VGP_Dialog(wx.Dialog):```

[code]

should be replaced with something along the lines of:

```ipmag.make_mollweide_map()```

and

[code]

should be the cartopy syntax like in ```ipmag.plot_vgp```:

[code]

I tried to implement this change

[2018-09-29 00:33] ltauxe commented on #292
i enabled the mapping part of thellier_gui as cartopy as well as basemap.  there is no checking for version yet and the projection is kind of weird - also there is no "plot by location" option yet.  but it works.

[2018-09-29 01:06] ltauxe commented on #445
that is reasonable.

[2018-09-29 18:59] Swanson-Hysell commented on #292
For simplicity, in ipmag.py I overwrote all of the functions that previously used Basemap with functions that use cartopy. I think I prefer this approach in terms of simplicity — although there are clear backward capability issues that arise. Is it ok that we keep it this way or should I put the Basemap functions back into ipmag with the the suffix _basemap on them?

[2018-09-30 04:01] ltauxe commented on #292
I prefer if you keep the old ones, but rename them _basemap
that is what I’m doing in pmagplotlib anyway and for the command line programs.

lisa

[2018-09-30 04:28] ltauxe commented on #292
I'm at my wit's end with cartopy and plot_magmap.  I'm sending a notebook illustrates my problem (or at least the most vexing one).   by rotating the central longitude by 27 degrees or more, the contourf function in cartopy just doesn't work (although the contours are just fine, if you plot them.

[2018-10-01 17:02] moonshoes87 commented on #440
Just to confirm — i will remove iodp_dscr_magic from Pmag GUI, PmagPy-cli.ipynb, and remove iodp_dscr_magic from programs?

[2018-10-01 17:04] moonshoes87 commented on #445
Great.  Everything is now working in the vanilla PmagPy Binder, and we can still move forward with providing specific workflow demos.

[2018-10-01 17:04] #445 closed

[2018-10-01 17:19] moonshoes87 commented on #438
Ok, well, it doesn't seem like that warning breaks anything.  I removed scripttest as a dependency, for what that's worth.

I've also updated the Cookbook in a few more minor ways, including warning users that importing pmagpy can take a minute or more the first time.

[2018-10-01 17:19] #438 closed

[2018-10-01 19:05] ltauxe commented on #440
can you just move iodp_dscr_magic to the deprecated folder?  All of those IODP programs will be updated when I go out to sea with the new system.
lisa

[2018-10-01 19:09] moonshoes87 commented on #440
I definitely can move it, but then it won’t be available by default for Pmag GUI and the notebooks.  If you want people to still have easy access to it, we should leave it where it is and update when you’re at sea.  Let me know which you prefer!

[2018-10-01 19:27] moonshoes87 commented on #292
@Swanson-Hysell

I could add the ccrs import into import_cartopy.  However, I'm wondering if we would rather just do:

    if has_cartopy:
        import cartopy.crs as ccrs
        from cartopy import config
        from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter

as Lisa has it in Thellier GUI, since different elements will be needed depending on the program.

Just importing

[2018-10-01 19:43] moonshoes87 commented on #292
@ltauxe, it looks like you already did the basemap/cartopy reasonable checks in Thellier GUI, and plot_magmap.  I made some tiny changes in Thellier GUI.  @ltauxe and @Swanson-Hysell , are there other parts of this transition that you want support on?

[2018-10-01 20:15] moonshoes87 commented on #444
https://github.com/matplotlib/matplotlib/issues/12362

[2018-10-01 22:40] ltauxe commented on #292
just to make sure the demag gui works…
lisa

[2018-10-01 22:52] ltauxe commented on #440
this should disappear from the Notebook and pmag_gui anyway - it is hopelessly out of date.
lisa

[2018-10-02 04:58] moonshoes87 commented on #440
Great, I will do it!

[2018-10-02 05:01] moonshoes87 commented on #292
Great.  I will give everything a good shakedown before we make a new release!

[2018-10-02 16:49] njarboe commented on #425
@moonshoes87 I will add a LT-PTRM-ADD, if that is what is needed. @ltauxe Can you give me a description for that method code?

[2018-10-02 17:40] ltauxe commented on #425
I think the correct code that thellier_gui is looking for  is LT-PTRM-AC (or LT-PMRM-AC).  Apparently this is not in the method code list (?).    it needs to be added in the conversion script and the list.  The description would be "PTRM additivity check step”.   the reference would be the Leonhardt paper.

[2018-10-02 18:32] Swanson-Hysell commented on #292
I am still not clear on how I should be using pmag.import_cartopy() or taking other approaches to make cartopy installation optional in ipmag. At present, I just had there be these import statements at the top: ```import cartopy``` ```import cartopy.crs as ccrs```

Currently, it looks like the import is done two different ways in pmagplotlib.

In ```plot_mag_map()``` it is done this way:
[code]

I

[2018-10-02 18:54] moonshoes87 commented on #292
@Swanson-Hysell, totally, feel free to do it that way.  The reason I added a function for the Basemap import is because there are three different ways the import could fail, and thus different relevant error messages -- reproducing that over and over felt a bit repetitive.  Cartopy is (so far!) a simpler import.

I would just consider `except ImportError` instead of a generic `except`, so that we

[2018-10-02 18:55] moonshoes87 commented on #292
Oh, and just to respond to one more point -- Python won't reimport a module that's already been imported unless you use importlib.reload.

[2018-10-02 19:04] moonshoes87 commented on #292
I do think we want to have at least a transitional period where we don't require cartopy, but simply recommend that users install it.  I agree that we should have imports at the top of the module, not in each individual function.  So, either `try/except ImportError` or pmag.import_cartopy should happen at the beginning of ipmag/pmagplotlib/etc..  Does that seem sensible?

[2018-10-02 20:17] ltauxe commented on #292
roger that.

[2018-10-02 20:20] moonshoes87 commented on #440
should iodp_srm_magic be deprecated as well?

[2018-10-02 21:14] ltauxe commented on #440
yeah i think so.  these are all hopelessly out of date.  i will rewrite the whole thing when i go out on the ship.
lisa

[2018-10-02 21:16] moonshoes87 commented on #440
So, iodp_jr6_magic, iodp_samples_magic should be removed as well?

[2018-10-02 21:19] Swanson-Hysell commented on #292
Sounds good.

[2018-10-02 21:34] moonshoes87 commented on #440
Update: we're leaving these all in place, they will just be updated when Lisa is at sea.

[2018-10-02 21:34] #440 closed

[2018-10-02 22:14] Swanson-Hysell commented on #292
All should be good in ipmag with the both the cartopy and basemap plotting functions.

I am still having a bit of a hard time trying to implement a successful solution in demag_gui for the VGP map in cartopy. The issue is that previously the code was setup to create a axis object and then set the basemap to that axis. But the cartopy syntax is rather to create a 'geoaxis' object rather than set to

[2018-10-03 20:21] moonshoes87 commented on #410
@njarboe, I just re-found this thread.  I will make these changes in the error_logging branch and then we can re-assess.

[2018-10-03 20:41] moonshoes87 commented on #410
@njarboe, I'm working on making the error messages better.  [magic_contribution_16462.txt](https://github.com/PmagPy/PmagPy/files/2307484/magic_contribution_16462.txt)  seems to be missing a contribution id.  Is that a bug?

[2018-10-03 20:54] moonshoes87 commented on #410
It loos like zeq\_magic is created incomplete image names, i.e.:

    zeq_magic.py -f tmp_measurements.txt -fsp tmp_specimens.txt -fsa tmp_samples.txt -fsi tmp_sites.txt -sav -fmt png -crd g
    -I- Using online data model
    1  saved in  04VC0101-2_g_eqarea.png

This is also in contribution 16462.  This should be fixed.

[2018-10-03 21:21] moonshoes87 commented on #410
Looks like the incomplete image names is only happening when `isServer == False`, so that's not a problem for now.

[2018-10-03 22:00] njarboe opened #446 "Anaconda default install is now Python 3.7"
Anaconda default install is now Python 3.7.

I have done a fresh OSX pip install. Anaconda default is 3.7 but pmag_gui and both demag_gui and thellier_gui work at first glance. @moonshoes87  Do you expect and issues with moving to 3.7?

[2018-10-03 22:13] moonshoes87 commented on #446
That is good to know. I will set up the test environment to run python 3.7, which should help expose possible errors. I will also try upgrading.  There may not be a version of wxpython for python 3.7 on Linux, so I will make sure to note that in the Linux install.

[2018-10-04 01:11] ltauxe commented on #446
everything of mine still works with 3.7 except basemap.  ideas?
lisa

[2018-10-04 07:03] njarboe commented on #410
@moonshoes87 adding location + contribution id would work fine. I'll try and figure out why 16462 doesn't have and id. They all should.

[2018-10-04 23:05] moonshoes87 commented on #446
Is this a new Basemap issue, or just the same problem that Basemap needs to be used in a conda env?  If it is the same old problem, I recommend just creating a conda env.

The alternative is that you could *try* downloading this version of Basemap if you really want to use it in your base env with Python 3.7.  I think this is before the breaking change:  https://anaconda.org/conda-forge/basemap/1.

[2018-10-04 23:18] moonshoes87 commented on #446
I got tests passing in the 3.7 environment, so aside from Basemap troubles, I would say we are currently supporting 3.6 and 3.7.

@njarboe, in your fresh install, do you get matplotlib 3.0 or matplotlib 2.*?  There are some issues with matplotlib 3.0.0 and setting the backend correctly.

[2018-10-05 16:40] Swanson-Hysell opened #447 "include the ability to set a random.seed() in each function that uses random or np.random()"
One thing that seems to be adopted as best-practice is to set a seed for any pseudo-random number generator so that analyses that use random number generation are in fact reproducible. When no seed is set, the current system time is used which leads to a different set of psuedo-random numbers each time a function is executed. Having a different seed can result in slight differences each time the c

[2018-10-06 20:40] moonshoes87 commented on #410
I've added a few more fixes on the error\_logging branch.  Error output now should have location and contribution id if available.  Also, I've made some fixes for generating eqarea plots.

[2018-10-08 19:02] moonshoes87 commented on #292
@ltauxe, do you want to update install\_etopo.py to work with cartopy instead?  It looks like it still searches for the basemap data directory.

[2018-10-08 19:04] moonshoes87 commented on #292
It looks like people are at least poking at the contourf issue in cartopy, so I am optimistic that it will be resolved (eventually):
https://github.com/SciTools/cartopy/issues/1131

[2018-10-08 19:07] ltauxe commented on #292
I thought it just looked in data_files/etopo20   won’t that work?
lisa

[2018-10-08 19:35] moonshoes87 commented on #292
instal\l_etopo.py finds the files in data_files/etopo20, but then it tries to put them into the basemap\_datadir.  I guess they no longer need to be moved at all, then?  So install\_etopo.py is only needed if using Basemap?

[2018-10-08 19:53] moonshoes87 opened #448 "cont_rot.py example fails with cartopy"
cont\_rot.py is not working correctly with cartopy.

**What command was run:**

`cont_rot.py -con af:sam -prj ortho -eye -20 0 -sym k-  1 -age 180 -res l  -fmt png`

**What happened:**

    Traceback (most recent call last):
      File "/Users/nebula/anaconda3/lib/python3.6/tkinter/__init__.py", line 1702, in __call__
    return self.func(*args)
      File "/Users/nebula/anaconda3/lib/python3.6/tk

[2018-10-08 22:19] ltauxe commented on #425
now the conversion script is behaving properly, but thellier_gui is not.

[2018-10-08 22:19] #425 closed

[2018-10-09 00:15] ltauxe commented on #292
Maybe not even for basemap?  but it works fine for me in cartopy version - for pip people too?
lisa

[2018-10-09 05:50] moonshoes87 commented on #292
install\_etopo can *only* work if you have Basemap installed, since it tries to import Basemap and then prints out an error message if it can't import Basemap.  If you only have cartopy installed, it won't do anything.  Perhaps I will just update the error message to say that install\_etopo is only helpful if you're using basemap, otherwise don't worry about it?

[2018-10-09 18:13] Swanson-Hysell commented on #292
Should we close out this main issue given that cartopy is now integrated throughout much of the code and focus instead on smaller issues that are relevant to specific aspects of the implementation?

[2018-10-09 18:15] moonshoes87 commented on #292
Yes, I agree.  I've fixed the install\_etopo error message, and I will make a separate issue for adding cartopy into the Demag GUI vgp viewer eventually.

[2018-10-09 18:15] #292 closed

[2018-10-09 18:16] moonshoes87 opened #449 "Use cartopy instead of Basemap for the Demag GUI vgp viewer"

[2018-10-09 22:51] Swanson-Hysell commented on #449
https://github.com/PmagPy/PmagPy/issues/292#issuecomment-425591772

[2018-10-10 00:39] Caoimhinmg commented on #449
@Swanson-Hysell I can take a look at it this weekend if y'all want. Sorry I've been so out of commission, but I've been meaning to add a map projection option to that dialog for a long time and I need to learn Cartopy anyway. I'll also see if I can work on some of the lingering Demag GUI issues a bit.

[2018-10-10 00:44] Swanson-Hysell commented on #449
If you can that would be great. The new ipmag functions using cartopy could be a helpful guide. And there is now a function in ipmag that plot dp/dm that it could make sense to use for plotting site-level means.

[2018-10-10 01:03] ltauxe commented on #449
check out the PmagPy notebook and pmagplotlib.plot_map for help on cartopy implementation.

[2018-10-10 13:08] Caoimhinmg commented on #449
@Swanson-Hysell and @ltauxe, sounds good I'll take a look this weekend. There is also plenty of screen room on that dialog maybe I'll add a radio button for dp/dm vs. a95 so you can switch between that shouldn't be too hard.

[2018-10-11 22:19] moonshoes87 opened #450 "standalones won't compile (again) for OSX"
Pyinstaller requires brew python not Anaconda Python, but there are some new issues.

To make cartopy work:

- pip install cython
- brew install proj
- pip install cartopy

wxPython is also a problem.  I'm working on it.

[2018-10-12 18:21] moonshoes87 commented on #450
Mostly working, but Thellier GUI plot paleointensity curve with show map gives this error:

    Assertion failed: (0 != cs), function GEOSCoordSeq_getSize_r, file geos_ts_c.cpp, line 3991.

Fixed by:

    pip install geos --upgrade

[2018-10-12 19:08] moonshoes87 commented on #450
To make the executables with Pyinstaller, I can't use Anaconda Python but must install python with brew/pip instead.  Unfortunately, cartopy isn't cooperating.  @Swanson-Hysell, @ltauxe, did you encounter any error messages like this while you were working with cartopy?

    plot_magmap.py -el B

    ...
    Unknown exception thrown
    Geometry must be a Point or LineString
    Assertion failed:

[2018-10-12 19:09] moonshoes87 commented on #450
Tried:

    pip install Pillow

which means I can now `import geos` without errors.  But problems persist.

[2018-10-12 19:36] moonshoes87 commented on #450
Cartopy killing the kernel in Jupyter:  https://github.com/SciTools/cartopy/issues/738

Trouble installing cartopy:  https://github.com/SciTools/cartopy/issues/823

[2018-10-12 22:02] moonshoes87 commented on #450
Here's what I've done to get brew Python up and running (sort of) with cartopy:

`brew install python`
`pip3 install pandas numpy scipy matplotlib future`

There are issues with installing geos, shapely, and cartopy together.  https://stackoverflow.com/questions/11294556/missing-libgeos-c-so-on-osx

Installing with pip, geos version == 0.2.0.  Installing with brew, I can get 3.7.0 and geos lives h

[2018-10-12 22:23] ltauxe commented on #450
we can just take the cartopy stuff out of the GUIs - they really are not that important….
lisa

[2018-10-12 23:22] moonshoes87 commented on #450
@ltauxe, maybe I just take map plotting out for the executables only.  Also, this makes me appreciate how reasonably smoothly things go with Anaconda!  Brew-installed Python is just all over the place.

[2018-10-12 23:43] Swanson-Hysell commented on #450
I had the same thought about being grateful for conda as I saw this issue progress. I am ok with the map plotting not being in the executables. It is just a minor add-on functionality in demag_gui at present.

[2018-10-15 15:00] #449 closed

[2018-10-15 22:05] moonshoes87 commented on #450
Ok, in this case I believe I have solved everything else to make the executables run.  I will see about blocking the cartopy functionality in a way that causes the least amount of confusion/frustration.

[2018-10-16 01:00] moonshoes87 commented on #450
Wow, leaving out cartopy/basemap slashes the size of the executables -- they are down to 87 MB each!

[2018-10-16 17:07] moonshoes87 commented on #448
I'm going to leave this open since it would be nice to update it eventually.

[2018-10-16 17:09] #446 closed

[2018-10-16 18:22] moonshoes87 opened #451 "Fix up Contributing document"
- Fix incorrectly named stuff
- Link to the right notebooks
- Take out any unnecessary stuff
- Python resources should link to Lisa's class

[2018-10-16 18:25] moonshoes87 opened #452 "move_data_files.py shouldn't fail for developer install"
Directory not copied. Error: [Errno 2] No such file or directory: '/Users/nebula/anaconda3/data_files'

[2018-10-16 18:54] njarboe commented on #446
@moonshoes87 Sorry I did not see your question earlier. Just saw that you closed it. The fresh install had matplotlib 2.2.3.

[2018-10-17 18:29] moonshoes87 commented on #450
@ltauxe or @njarboe, if either of you have a chance to just download Pmag GUI and open it, it would be nice to have a little assurance that it works on another machine.  https://github.com/PmagPy/PmagPy-Standalone-OSX/releases/tag/4.2.1

[2018-10-17 18:51] Swanson-Hysell commented on #450
The newest Pmag GUI executable is working for me!

[2018-10-17 19:16] moonshoes87 opened #453 "Thellier GUI fails to correctly process anisotropy data (only if no -WD selected, and only on windows)"
**What command was run:**

`thellier_gui.py -DM 3`
- select McMurdo directory
- open Thellier GUI

This only happens on windows, and only if -WD is *not* specified on the command line.

**What happened:**

IndexError with anisotropy data:
<img width="1289" alt="screen shot 2018-10-17 at 12 14 32 pm" src="https://user-images.githubusercontent.com/1836578/47110636-3ecc1900-d206-11e8-87a1-e3d38f2b6cb

[2018-10-17 19:37] #451 closed

[2018-10-17 19:42] moonshoes87 commented on #453
False alarm -- looks like this was only happening on a weird, out-of-date McMurdo.

[2018-10-17 19:42] #453 closed

[2018-10-17 20:55] #452 closed

[2018-10-17 22:00] #450 closed

[2018-10-19 19:39] moonshoes87 opened #454 "Demag GUI overwriting intensity"
demag\_gui.py is overwriting intensity records during the Save MagIC tables step.  It looks like  meas_step_min/meas_step_max/method_codes are the affected columns.

@Caoimhinmg or @Swanson-Hysell, do either of you want to work on this?  If not, I am happy to get into it, I'm  just less familiar with this code.

[measurements.txt](https://github.com/PmagPy/PmagPy/files/2497127/measurements.txt)
[s

[2018-10-20 16:05] moonshoes87 opened #455 "Review/debug import scripts in Pmag GUI"
Go through all of the import scripts in Pmag GUI from start to finish.  There will be bugs.

[2018-10-20 16:28] moonshoes87 opened #456 "jr6_jr6 example files corrupted"
It looks like Roi's files are still corrupted.  The example in PmagPy.ipynb isn't working (again?).  @ltauxe , did you fix these?  If so, something in the code is re-corrupting them, I guess.  We should figure out what that is.

[2018-10-22 20:43] ltauxe commented on #456
well that is weird.  it works fine on mine.  here is the file.  try overwriting yours with this one….
lisa

[2018-10-22 20:45] ltauxe commented on #456
I can't attach the files so sent by email.

[2018-10-22 21:28] moonshoes87 commented on #454
Whoops, I named the fix incorrectly, but here it is:

5de16068c168774250451b4acf62a37759e3d793

[2018-10-22 22:02] moonshoes87 commented on #456
Turns out the problem was just with string matching -- the notebook was trying to read in a sites file as if it was a jr6 measurements file.  I will just update PmagPy.ipynb and it will be fine.

[2018-10-22 22:20] #456 closed

[2018-10-22 22:41] Caoimhinmg commented on #454
@moonshoes87, at a glance it looks okay, though I think on line 6750 that should be a ~ not a - sign. I'll try to test the code in a few days or this weekend.

I think it is a great idea to add some kind of concatenation logic to MagicDataFrame.merge_dfs. The original idea when I made that function was to abstract a way to correctly preserve data in the old mdf while at the same time replacing it

[2018-10-23 00:06] njarboe commented on #423
@moonshoes87 As this is still open I hope this response is useful.

We have three numbers in the measurement table that are related to measurement_number.

measurements.sequence: this is described as the order of the measurements and is a signed integer.  For each experiment lower values indicate that they came before higher values. In general one would just start at 1 and count upward for all mea

[2018-10-23 02:53] moonshoes87 commented on #454
Thanks, @Caoimhinmg. It '-' and '~' seem to work the same on a boolean Series, but I think '~' is the accepted convention.

Let me know when you've had a chance to test it :)

[2018-10-23 18:33] moonshoes87 opened #457 "GUIs needn't prompt for data model 3.0 vs. 2.5"
We should just assume 3.0 at this point.  It's been long enough.

[2018-10-23 18:45] moonshoes87 opened #458 "Tauxe 2004 still not quite right"
@ltauxe, it looks like this contribution is still not working correctly:

https://earthref.org/MagIC/16520

I get this error when I try to open Thellier GUI:

[code]

I believe I fixed the root cause of why some 0s may have been replaced with np.nan/None (it was an issue of whether or not to treat 0 as null).  I didn't fully implement that fix until October 19 at 5 pm, so it looks like you might n

[2018-10-23 19:58] moonshoes87 commented on #412
I've fixed that issue and also merged the error_logging branch into master, so you can use master now on the server.

[2018-10-23 20:01] njarboe commented on #412
@moonshoes87  I'm already running master on the server as per previous instruction. Thanks for the reminder and the update.

[2018-10-23 22:35] moonshoes87 commented on #455
@ltauxe, I am running through all of the import types in Pmag GUI and fixing bugs.  I'm wondering, what do you want me to do when everything *works*, but what is coming out looks a bit weird, i.e. the MIT example:

![7325b71_zij](https://user-images.githubusercontent.com/1836578/47394843-3af23800-d6d9-11e8-9496-52540a36d373.png)

[2018-10-24 00:07] Swanson-Hysell commented on #455
I plotted that data up in another plotting program. It is a really weak low-coercivity poorly behaved sample. The weirdness is in the data not the code.

[2018-10-24 02:01] njarboe commented on #412
That fixed it. Thanks.

[2018-10-24 02:08] njarboe commented on #412
If it is easy to do instead of the title "all locations" put the actual number of locations plotted. For example "MagIC contribution 12038 all locations(1)" or "MagIC contribution 12038 all locations(15)" , if that is not to complicated. That will help people because they will already know the number of locations that they expect and seeing the value will either make them more confident things are

[2018-10-24 04:02] moonshoes87 commented on #455
Thanks, good to know!

[2018-10-24 20:06] moonshoes87 opened #459 ""Export result tables" in Pmag GUI was never upgraded to 3.0"
@ltauxe, do we want to upgrade ipmag.pmag_results_extract to 3.0?  It is called in Pmag GUI, but is still stuck in 2.5.  Is generating a table like that still useful for people writing papers, etc.?

[2018-10-24 20:57] moonshoes87 opened #460 "Pmag GUI step 3: Added location should be available in drop down menus"
A location added during Pmag GUI step 3 should be available in the drop-down-menu in the sites table, but it appears not to be.

[2018-10-24 22:01] moonshoes87 commented on #412
This is relatively straightforward.  However, see for example the resulting plot for the McMurdo data:

![mc _13436_ty _pole_map](https://user-images.githubusercontent.com/1836578/47464276-91c14580-d79d-11e8-8487-5610d5be4ffc.png)

There is only one location (McMurdo), but 4 different location rows resulting in 4 different points being plotted.  So, do we actually want the title to reflect how man

[2018-10-24 23:02] njarboe commented on #412
Looks nice. A few more suggested changes.

Change the title to "Pole(4) plot of MagIC_13426, all locations(1)"
This gives a lot of info to people. If they are going to use it in a paper or slide show, they will likely change it, but scientists like to have compact data descriptions like that.

Clean up and change the URL at the bottom to point to the contribution directly. So in this case: https:/

[2018-10-24 23:03] ltauxe commented on #412
there should not  be four different poles for this - at most there should be two (one normal and one reverse and maybe one grand mean). and they should all be very close to the north pole so i don’t know what those other poles are (the one in greanland and the one at the equator).

lisa

[2018-10-24 23:10] ltauxe commented on #459
in this case we would just pick out columns from the site table, split them into intensities and directions and spit out two tables.  i guess this is still useful.  I’ll take a look.
lisa

[2018-10-24 23:13] njarboe commented on #412
@lisa Looking at the location table on the website I see that there are five rows, all with the same name.
One row is just meta data like Outcrop, one is a Normal Pole, one Reversed Pole, one a Grand Mean Pole, and then a row for the Average V[A]DM. We would want only those three (and if we could color code R,N,Combined, that would be even better)

Not sure how one decides on which ones to plot bu

[2018-10-25 16:30] ltauxe commented on #423
jeez.  no wonder our code keeps breaking.
right now PmagPy maps 2.5 magic_measurements.measurement_number to treat_step_num  which was NOT what you describe below, at least originally.  that would be measurement.sequence  which may or may not be present or filled in correctly because this apparently changed at some point after PmagPy’s mapping was set up.

so… do we change PmagPy’s mapping?  I fea

[2018-10-25 20:55] ltauxe commented on #423
This now seems like a hopeless mess.  How are we going to fix all the existing contributions?
i can meet on zoom if you like…
lisa

[2018-10-25 21:06] njarboe commented on #423
I'll be on the MagIC meeting Zoom, Lisa. Meet you there?
On Thu, Oct 25, 2018 at 1:55 PM Lisa Tauxe <notifications@github.com> wrote:

[2018-10-25 21:09] moonshoes87 commented on #423
I have a sick baby, so I can’t make zoom right now.  I do have a suggestion for our next step on the measurement_number/treat_step_num issue:  I will explore using pandas magic to create a usable treat_step_num type column for internal use.  This shouldn’t be *too* hard.  I think this is likely to be the best solution.

[2018-10-25 22:04] njarboe commented on #423
@moonshoes87
Lisa and I just chatted. This is what we are thinking
In a 3.0 data file, treat_step_num should be the 2.5 measurement_number. I will change the definition in the 3.0 data model page to reflect that clearly. In the past some non-SIO people may have used measurement_number not in that way so that some 3.0 data files have treat_step_num values that are not a sequence of integers increas

[2018-10-25 22:06] njarboe commented on #423
We are making a list of problems with the data conversion from 2.5 to 3.0 (https://github.com/earthref/MagIC/issues/374) that we hope to fix soon after AGU.

[2018-10-25 22:18] moonshoes87 opened #463 "Demag GUI VGP viewer Mercator/Mollweide projections"
Some projections don't work well with the Demag GUI VGP viewer.  The stereographic projections work, but Mercator and Mollweide don't look very good.

See the McMurdo data:

<img width="1228" alt="screen shot 2018-10-25 at 3 15 38 pm" src="https://user-images.githubusercontent.com/1836578/47533512-da920080-d868-11e8-9767-d6cb24242c7b.png">
<img width="1228" alt="screen shot 2018-10-25 at 3 16 05 p

[2018-10-25 22:45] Caoimhinmg commented on #463
Oh wow, that's new, and for some reason it doesn't do that on my machine. Regardless I dug into it a bit and it looks like it may have to do with this [cartopy issue](https://github.com/SciTools/cartopy/pull/324) which was linked to by [this one](https://github.com/SciTools/cartopy/issues/624). Our best bet may be to try to verify it is a cartopy bug and that all those that are experiencing the bu

[2018-10-26 20:29] moonshoes87 commented on #463
Here is my cartopy version:

    cartopy                   0.16.0           py36h9263bd1_0

Have you tried upgrading your cartopy?  I'll also try downgrading and see what happens.

Alternatively, we could wait on this a while.  Looks like 0.17 is expected in early November, so several fixes will be added (including some of our issues).

[2018-10-27 22:18] yuempark opened #464 "central_longitude breaks map for make_mollweide_map and make_robinson_map"
**What command was run:**
[code]

**What happened:**
If any central_longitude other than 0 is used, the map does not plot correctly:
<img width="461" alt="image" src="https://user-images.githubusercontent.com/13757095/47609830-5623b700-d9fb-11e8-9bae-2b88d1d6bf4f.png">

However, make_orthographic_map works as expected.

I could look into why this error is occurring/how to fix it, but it would have

[2018-10-27 22:59] moonshoes87 commented on #464
@yuempark, it looks like this is cartopy bug which will be fixed in the next release (0.17.0), hooray!

In the meantime, you can use the development version of cartopy:

    pip install git+git://github.com/SciTools/cartopy.git

[2018-10-27 23:04] moonshoes87 commented on #463
Installed the latest (dev) version of cartopy from Github, in which case Mercator works but Mollweide gives a lengthy error:

[code]

[2018-10-28 21:12] ltauxe commented on #464
this is a cartopy bug - i’ve been trying to figure out how to fix it for months now.  I think we must be patient.
lisa

[2018-10-29 22:03] moonshoes87 commented on #464
@ltauxe, It is fixed in the latest version of cartopy, which will be released soon (or can be downloaded from GitHub now).

[2018-10-29 22:21] ltauxe commented on #464
halleluja

[2018-10-30 15:38] lfairchild opened #465 "demag GUI issues redundant data warnings"
This is a very small issue that should just require a simple check to see if a warning was already issued. I can look into implementing this fix soon.

---
**What command was run:**
`pmag_gui.py` / `demag_gui.py`

**What happened:**
The "Current Data Warnings" box in Demag GUI will issue a "multiple good measurements" warning for each measurement at a single treatment step. If there is more than o

[2018-10-30 18:06] lfairchild commented on #463
I was having these same issues earlier. I made a few tweaks that were merged a few days ago (pull request #462) that seem to have improved these display problems on my end (with the 0.16.0 release of cartopy). Let me know if/when either of you have a chance to test it out and whether you're still seeing these problems on your end.

[2018-10-30 21:44] yuempark commented on #464
great! thanks for the heads up.

[2018-10-31 17:19] moonshoes87 commented on #463
@lfairchild, it looks like an error is still occurring with the Mollweide projection (using cartopy 0.16.0 and the latest PmagPy on master).  All of the other projections work great, though.

[2018-10-31 17:23] #455 closed

[2018-10-31 17:29] moonshoes87 opened #466 "UPX not working with Pyinstaller/Windows"
upx failing pyinstaller windows missing dlls

[2018-10-31 19:32] moonshoes87 opened #468 "Quit only top window in Pmag GUI"
`Command/ctrl - q` should close the topmost window in Pmag GUI, not the entire GUI.  This is already implemented for Thellier GUI and Demag GUI, but should work with Pmag GUI steps 1 - 3 as well.

[2018-10-31 19:36] moonshoes87 commented on #459
@ltauxe, this looks good.  I added ipmag.extract_sites back into Pmag GUI and added some tests.

Should we add the criteria functionality back in?  Also, some of the column spacing seems off in the LaTeX output.  Should we try to make it line up more precisely?

[2018-10-31 19:42] lfairchild commented on #463
I initially had trouble reproducing that error with other data but then saw the same thing when opening up the McMurdo data files. The code appears to be getting hung up while drawing the ellipse for only one site, mc43. Upon quick inspection of the ellipse coordinates (output by `ipmag.ellipse`), the mc43 data appear to be irregular/non-elliptical. I'm not sure why this is the case for this parti

[2018-10-31 22:05] ltauxe commented on #459
Funny thing I noticed - if you typeset it twice it is fine

On Wed, Oct 31, 2018 at 12:43 PM Lori J <notifications@github.com> wrote:

[2018-10-31 22:06] ltauxe commented on #459
And yes I’ll do specimens, criteria and locTion averaged

On Wed, Oct 31, 2018 at 3:05 PM Lisa Tauxe <ltauxe@ucsd.edu> wrote:

[2018-10-31 23:17] moonshoes87 commented on #463
This seems great!

[2018-10-31 23:17] #463 closed

[2018-11-01 04:35] moonshoes87 commented on #459
Great, I’ll put them into Pmag GUI when ready.

[2018-11-01 20:35] #465 closed

[2018-11-06 00:17] #468 closed

[2018-11-06 20:00] moonshoes87 commented on #412
I am very confused as to why there are 4 points.  It appears that there are 3 lats/lons that are given to plot_magmap:

    lats [84.6, -79.9, 83.1] lons [214.5, 2.7, 197.5]

And that's it.  So why do we have this doubled up point?

I made a simple example that shows the problem:

[code]

Which results in this plot:

![figure_1](https://user-images.githubusercontent.com/1836578/48090089-dea01580-e

[2018-11-06 20:31] moonshoes87 commented on #412
@njarboe, the full title that you suggested doesn't fit with our current formatting, but I've tweaked that.

We currently only plot poles with result_type == 'a' (if result type is available) and where pole_lat/pole_lon are both not null.  So in this case we are effectively selecting the pole, reverse pole, and the grand mean.  The McMurdo data have the method codes filled in as well, so plotting

[2018-11-06 21:00] moonshoes87 commented on #412
Regarding the cartopy bug, I may have found a clue.  When I upgrade to cartopy 0.16.1 (dev), I get this warning:

[code]

And, at any rate, I've opened this issue on Github

https://github.com/SciTools/cartopy/issues/1172

[2018-11-07 03:52] Swanson-Hysell commented on #412
I don't reproduce the issue with my install of cartopy 0.16.0 where your example looks like this:

<img width="438" alt="screen shot 2018-11-06 at 10 46 57 pm" src="https://user-images.githubusercontent.com/4332322/48109659-5f402f80-e216-11e8-8c1d-107139a8d81c.png">

Note that there should only be two points shown in that example since one is in the Southern Hemisphere.

[2018-11-07 05:06] yanyongg commented on #244
dev_setup.py doesn't work on my Windows 10.

I have used pmagpy for a long time within comment line. Recently, Dear Lisa came to China and give a lecture, then I reinstall the Pmagy with pip, and it work for several months. Last week, the eqarea.py plotting is frequently get stuck. So I reinstall it follow the developer install instruction, it is good to work.
But after I had a try on the "git pul

[2018-11-07 17:21] moonshoes87 commented on #412
@Swanson-Hysell, what version of pyproj do you have?

    pyproj                    1.9.5.1          py36h833a5d7_1

[2018-11-07 18:06] Swanson-Hysell commented on #412
I looks like I am behind you (and should stay that way):

[code]

[2018-11-07 18:14] njarboe commented on #412
@moonshoes87
That title will work. But the purple line on the left is a bit strange.  Also if you would change the MAGIC text in the URL on the bottom to "MagIC". We like that case as it is sort of a branding for us.

[2018-11-07 18:20] moonshoes87 commented on #412
@njarboe, I have no idea where that purple line came from!  I'll try to get rid of it.  And will fix MAGIC --> MagIC.

[2018-11-07 19:17] moonshoes87 commented on #464
@yuempark, could you send me the data you were trying to plot?  I am missing the NP_compiled variable.  I thought this issue was solved but it just cropped up again in a different place.  It looks like it might depend not just on the central_longitude but also on the specific points you are trying to plot.

[2018-11-07 21:31] moonshoes87 opened #471 "polemap_magic.py problems"
@ltauxe, should we drop_duplicates in polemap_magic?

For example, I have contribution 12622 which has two rows with identical location names and pole_lat/pole_lon.  The only difference in the rows is dir_tilt_correction.  If we are plotting all, can we just drop the redundant records?

[2018-11-07 21:32] moonshoes87 commented on #471
www.earthref.org/MagIC/12622

[2018-11-07 22:53] moonshoes87 commented on #244
@yanyongg, thanks for adding to this issues.  Here are a few things that may help.

`dev_setup.py` does have some significant problems on Windows (@Caoimhinmg, is this something you are able to look into soon?)  However, when you run `git pull` you should *not* need to re-run `dev_setup.py`.

Here is what you should try:

1.  It looks like you have a misspelling in your path variable: it should be

[2018-11-08 06:34] yanyongg commented on #244
@moonshoes87  good news, it is ok.
First, I fix the spelling error of PYTHONPATH. Restarting the command prompt as well as the PC, it still doesn't work.

Then, I tried uninstall and reinstall with pip, the error is still there.
![1](https://user-images.githubusercontent.com/38656591/48180998-b7834880-e360-11e8-8392-b680689a7112.png)
At last, I delete the file folder of Pmagpy in C:\lenove\PmagPy

[2018-11-08 09:47] yuempark commented on #464
@moonshoes87 - NP_compiled is a pandas dataframe. The relevant columns are:

[code]

[2018-11-08 18:05] ltauxe commented on #471
we want the dir_tilt_correction to be 100 if available, then 0, then nothing.  if the pole positions are identical, yes they can be dropped.
lisa

[2018-11-09 19:44] moonshoes87 commented on #244
@yanyongg, the problem with the pip install has also been fixed!  The latest version (pmagpy-4.2.8) works correctly now, and you should be able to install without problems.  Please let me know if you run into anything else!

[2018-11-09 20:05] moonshoes87 commented on #471
Ok, I will drop_duplicates.

@ltauxe, the current default behavior is to plot all rows without regard to dir_tilt_correction unless `-crd` is specified.  Do you want me to change to prioritizing 100 --> 0 --> blank?

One more minor thing -- if reverse poles are included in the pole count, we get plot titles for the server like "1 location, 3 poles" where only 2 poles are visible.  I prefer to igno

[2018-11-09 20:11] ltauxe commented on #471
yes - it makes no sense to plot different coordinate systems on the same map.
for the reverse poles, I would take the antipode (abs lat and lon+180) and use a different symbol (like white with black edges).  then all the poles show up in one hemisphere.
lisa

[2018-11-13 19:20] moonshoes87 commented on #471
@ltauxe, we don't want to plot any poles with `result_type == 'i'`?  That is the current behavior for polemap_magic, which excludes a lot of rows.

I'm wondering if these contributions like 12003, which has only 'individual' location results, are a result of people using result_type differently/incorrectly?  And we might still want to plot some of these on the server?  https://earthref.org/MagIC/1

[2018-11-13 20:53] moonshoes87 commented on #412
@njarboe, I have done a bunch of fixes for polemap_magic on the server.  Tell me if there is anything that still doesn't look right.

Also, once you have similar feedback for the other generated plots, let me know, and I will work on those fixes.

[2018-11-13 20:59] njarboe commented on #471
@ltauxe @moonshoes87
For poles I think the result_type should always be "a" for average. A single site pole is VGP but what we mean by pole is a decent number of site poles that can be average to get the GAD pole direction at a specific small time-window.

result_type has always been a bit of a confusing label for me. A site direction is labeled with an "i" even though it is an average of many sam

[2018-11-14 01:09] ltauxe commented on #471
yeah.  resuit_type has been poorly understood and populated incorrectly by many many contributions - it is basically meaningless.  the only results in the location table SHOULD be averages of a bunch of sites (paleomagnetic poles and opposed to virtual poles) but probably a lot of contributions are wrong.
lisa

[2018-11-15 21:50] moonshoes87 commented on #459
@ltauxe, I've tested all 3 functions and implemented them into Pmag GUI.  I'll leave this issue open until you add the extract_locations function as well that you had mentioned?

[2018-11-15 21:56] moonshoes87 commented on #471
Ok, at this point every problem that has been raised for polemap_magic has been squared away, so I am closing this issue.

[2018-11-15 21:56] #471 closed

[2018-11-15 21:59] moonshoes87 commented on #444
This problem is present in 3.0.1, but should be solved in 3.0.2 (see matplotlib issue referenced above).

[2018-11-16 22:44] njarboe opened #472 "Some errors from the current run-through of make_magic_plots on the bulk of MagIC contributions"
@moonshoes87
I pulled the most recent pmagpy onto the pmagpy server and ran through the files again with make_magic_plots. Included is the error log and the plain output log. I have include those files and you can reach the output plots and other related files for a contribution produced in the process at:
https://pmagpy.earthref.org/plots/$CONTRIBUTION_NUMBER
https://pmagpy.earthref.org/plots/120

[2018-11-17 06:47] yanyongg commented on #460
There is an error when importing my 2G binary datafiles using Pmag_gui.py. The error is not always occurred when importing data. Is there anything wrong with the name of my dadafiles as shown below?
![1](https://user-images.githubusercontent.com/38656591/48658109-1f2f4700-ea77-11e8-9c2c-22f851a3d2ca.png)
![2](https://user-images.githubusercontent.com/38656591/48658111-22c2ce00-ea77-11e8-953a-1a43b

[2018-11-18 00:37] njarboe commented on #412
@moonshoes87. Opened another issue #472 with some problems with the plotting. It includes the error and standard log from running most of the contributions we have. Not sure if I should close that one and move the info over here.

I'm out for Thanksgiving week and will take another look at the plots on my return.

[2018-11-19 18:17] moonshoes87 commented on #464
@yuempark, ok, great.  This seems to work as expected with the latest version of cartopy, so I am closing this issue!

[2018-11-19 18:17] #464 closed

[2018-11-19 18:51] ltauxe commented on #432
deprecated the offending file.

[2018-11-19 18:51] #432 closed

[2018-11-19 19:17] ltauxe commented on #420
I meant that it should NOT require parsing if nothing is there.  but never mind....

[2018-11-19 19:17] #420 closed

[2018-11-19 19:37] moonshoes87 commented on #472
I suspect that we're attempting to do a lot more plots now that I've removed result_type, so we're getting never before seen problems.  Yay.  I've made several fixes, which should seriously cut down on the number of contributions that are raising errors.  @njarboe, I think it would be reasonable at this point to re-run plots on the server at this point, and see if there are more problems lurking.

[2018-11-19 19:39] #419 closed

[2018-11-19 20:00] ltauxe commented on #418
this seems to work ok now.

[2018-11-19 20:00] #418 closed

[2018-11-19 20:19] ltauxe commented on #459
I think we skip extract_locations unless there is a demand from the community.

[2018-11-19 20:19] #459 closed

[2018-11-19 21:15] moonshoes87 commented on #458
@ltauxe, I've fixed this. You should be able to upload the fixed version now.

[2018-11-19 21:39] moonshoes87 opened #473 "hysteresis_magic.py --> ipmag.hysteresis_magic"
Take code from hysteresis_magic and put it into ipmag.hysteresis_magic for notebook use.

[2018-11-19 22:54] ltauxe commented on #190
This works for me.  I'm closing this issue.

[2018-11-19 22:54] #190 closed

[2018-11-20 17:41] moonshoes87 commented on #460
@yanyongg, thanks for reporting this bug.  I am not sure what is causing this problem.  Could you zip your data files and attach them to this issue?  Or, if you prefer to keep them private, you can email them to me at ljonestrask@ucsd.edu.  Thanks!

[2018-11-20 19:51] moonshoes87 commented on #473
@ltauxe, I'm turning this over to you -- give it a test and let me know if anything is weird.

[2018-11-20 23:51] ltauxe commented on #473
Two things:  1) there should be input_dir_path and dir_path (for saved figures if applicable) as in other ipmag functions.  2) There is a bug that does this:
![screen shot 2018-11-20 at 3 48 40 pm](https://user-images.githubusercontent.com/174861/48810046-04a9d780-ecdc-11e8-8ac6-101f4c6aea44.png)

[2018-11-26 20:43] moonshoes87 commented on #473
I fixed the bug.

I need some clarification about how you want the input_directory/output_directory to work.  It ends up a bit weird to have different input/output directories for the files, but it's easy to do.  For example, you read in the specimens file from a directory, update it with hysteresis parameters, and then write out the updated specimens table to another directory.  So then you end u

[2018-11-26 22:32] ltauxe commented on #473
most of the ipmag scripts have different intput and output directories - i didn’t set it up like that (thought you did).  but the dir_path is set to ‘.’ and the input_dir_path is set to dir_path if it is not otherwise set.  I can do it if you don’t want to.

there are differences among the various conversion scripts and I don’t want to change them all as someone might be using them…..   but most d

[2018-11-26 23:30] moonshoes87 commented on #473
I set it up that way, and you're right, that is consistent with most of the others.  I think it is reasonable enough to do that way.  Give it a try and let me know.

[2018-11-28 20:17] njarboe commented on #472
@moonshoes87
Pulled from master this morning on the server and am running all the contributions again. Below are few errors from the beginning of the run. Also have included the error and stdout+error logs for this run up to now. The plots on the server won't be updated till all of them are finished.
Looks like the 0 lat problem pops up, but also some others that may or may not be data corruption

[2018-11-28 21:07] moonshoes87 commented on #472
@njarboe, thanks.

How much work is it for you to restart the process and try again?  I've got some fixes based on the errors you sent me, but I haven't had a good way to test them since I can't easily find the failing contributions.  If it's straightforward, I'll just push these few little fixes and you can restart.  If it's annoying to restart, then I will try to track down the contribution ids

[2018-11-28 21:51] njarboe commented on #472
@moonshoes87 To restart is very easy. Takes less than a minute. If you push the changes I'll pull them onto the server and start again.

[2018-11-28 21:53] moonshoes87 commented on #472
Ok -- changes are up.  I've been trying to test some locally, and so far the fixes seem fine.  Update me when you have more errors!

[2018-11-28 21:57] njarboe commented on #472
Ok. Running from the start. I'll let you know if/when some error show up.

[2018-11-28 23:35] moonshoes87 opened #474 "thellier_magic IndexError"
**What command was run:**

[code]
**What happened:**

[code]

**Details:**

It looks like the problem is happening because the zijdblock is 1 record longer then the length of the araiblock:

zijdblock:

[code]

araiblock[1]:
[code]

This means that `end` is set to 11, which causes the error in `domean`.

[code]

How should we fix this error, or is this a problem with the data file?

**Data file(s)

[2018-11-29 03:11] njarboe commented on #472
@moonshoes87
Pulled the latest and am re running. About half way through. One problem file so far:

working on:  Mexico
-I- writing sites records to /home/magic/contributions/batchPlots/12365/tmp_sites.txt
-I- 110 records written to sites file
-I- writing locations records to /home/magic/contributions/batchPlots/12365/tmp_locations.txt
-I- 2 records written to locations file
-I- No sample data fou

[2018-11-29 19:35] moonshoes87 commented on #474
I think that might be because it isn’t getting to the problem specimen:

In ipmag.thellier_magic:

    specimens = specimens[0:5]  # just plot the first 5

Is that line a mistake?

[2018-11-29 19:44] moonshoes87 commented on #472
Well, CI tests are failing with a segfault, unrelated to this fix.  I'm trying to fix that, so you can go ahead and restart make_magic_plots as you see fit.

[2018-11-29 20:05] njarboe commented on #472
Here are a few more from before the above fix. These contributions are from when we had better data checking so I hope they are software bugs, but let me know if they are due to data problems. I'll run it again after you take a look at these? Thanks.

I put a "----------" line between errors.

file is /home/magic/contributions/afterVersion3/magic_contribution_12578.txt
startIndex is 59
65
endIndex

[2018-11-29 20:18] moonshoes87 opened #475 "cartopy error with polemap_magic for contribution 12578"
**What command was run:**

[code]

**What happened:**
[code]

**Details:**

Lisa, do you want to try to fix this cartopy mapping error?

**Data file(s):**

[magic_contribution_12578.txt](https://github.com/PmagPy/PmagPy/files/2630747/magic_contribution_12578.txt)

**Screenshot(s):**

**PmagPy version:**

[2018-11-29 22:11] moonshoes87 commented on #472
@njarboe, one note for the server: make sure matplotlib=2.2.3.  The default is now 3.0, and that breaks things.  3.0.2 should be ok, once it is released.

[2018-11-29 22:51] njarboe commented on #472
@moonshoes87, I haven't upgraded for awhile and have matplotlib=2.2.2
That seems to work OK. How would you switch to 2.2.3 and not to 3.0 if I need to?
I'll re-run now.

[2018-11-30 00:59] ltauxe commented on #474
oh.  oops.  yeah that shouldn’t be in there.
i’ll take a look.

[2018-11-30 01:01] moonshoes87 commented on #472
To install a specific version, the syntax is:  `conda install matplotlib=2.2.3`

[2018-11-30 19:43] moonshoes87 commented on #424
Note to self:  I will need to go back and fix PmagPy-cli.ipynb when this is done, but I don't want to do it in a branch as that will just lead to chaos and pain.

[2018-11-30 19:46] moonshoes87 opened #476 "Anaconda install has changed"
Run through the Anaconda install flow, make sure Cookbook instructions are correct and up to date.

[2018-11-30 21:51] ltauxe commented on #475
never mind about the -sym key, i see now what was wrong.  but I cannot reproduce this error. but I put in a test if the projection is NOT a mercator, it won't plot the grid.  this is for cartopy only.

[2018-11-30 23:45] moonshoes87 commented on #475
I am still seeing this problem.  I haven't been able to upgrade cartopy to 0.17.0, either.  Could you send me the results of `conda list`.

[2018-12-02 21:07] ltauxe commented on #474
I fixed both the limit on specimens (shouldn't have been there in the first place) and the failure to plot specimens with no data.

[2018-12-02 21:09] ltauxe commented on #475
this is what I'm currently running:

[conda_list_output.txt](https://github.com/PmagPy/PmagPy/files/2637390/conda_list_output.txt)

[2018-12-02 21:10] ltauxe commented on #475
and it should work now - i put in a command that skips the gridding if the projection is not a mercator.

[2018-12-03 19:52] moonshoes87 commented on #474
@ltauxe, do you want me to implement the various options that are available in the command line version of thellier_magic.py into ipmag.thellier_magic?

[2018-12-03 19:53] moonshoes87 commented on #472
@njarboe, I'm closing this issue as it has gotten very long.  Please open a new issue with the next set of problems.

[2018-12-03 19:53] #472 closed

[2018-12-03 20:04] moonshoes87 commented on #475
@ltauxe, this is still throwing errors.  I don't think it is related to the grid, but to the transform to Geodetic in plot_map:
[code]

But I was able to resolve it by installing `cartopy` 0.17.0 from `conda-forge`, which it looks like you already did.  Looking at your list of packages, you must have `conda-forge` listed in your .condarc file.  That might be one of the new defaults.  (`conda-forge

[2018-12-03 20:14] ltauxe commented on #475
right.  I am running cartopy 0.17.0 and can’t reproduce your error.
would you mind changing the install instructions once again?  sorry….   but hopefully that will also fix our other cartopy problems (central longitude on mollweide projection).  I’ll test that this afternoon.
lisa

[2018-12-03 22:41] ltauxe commented on #474
sure that would be great!  thanks
lisa

[2018-12-03 22:44] moonshoes87 commented on #475
Ok, I updated the install instructions.  I will revisit them some time safely after AGU, once cartopy 0.17.0 and matplotlib 3.0.2 are both available through the conda default channel.

[2018-12-03 22:44] #475 closed

[2018-12-04 20:42] ltauxe commented on #448
nah - if someone wants to do it, they can do it through the PmagPy notebook way.  it’s ok
lisa

[2018-12-04 21:31] #423 closed

[2018-12-05 01:16] moonshoes87 commented on #474
it looks like the IndexError is not fully resolved:

See:
[code]
@ltauxe, can you look at this?  Otherwise I think the implementation of ipmag.thellier_magic is working well, and it is now being used in thellier_magic.py.

[2018-12-05 14:51] botaoxiongyong opened #477 "would it be interesting to add field model of CALS10k.2"
Recently I rewrite a python interface for the model CALS10k.2, which originally in FORTRAN.

Now the model can run directly in python, also in Jupyter Notebook. One can calculate the global field at specific time, and for the whole time range at specific location.

A Notebook example is here [CALS10k_example.ipynb](https://github.com/botaoxiongyong/pyMagModel/blob/master/CALS10k2/CALS10k_example.i

[2018-12-05 15:00] ltauxe commented on #477
Cals10k.2 is already in igrf.py - along with a bunch of other models. see
the example in PmagPy.ipynb

Thanks for this

On Wed, Dec 5, 2018 at 6:51 AM Jiabo <notifications@github.com> wrote:

originally in FORTRAN.

Now the model can run directly in python, also in Jupyter Notebook. One can
calculate the global field at specific time, and for the whole time range
at specific location.

A Notebook

[2018-12-05 15:15] botaoxiongyong commented on #477
good, I should check this first then.

[2018-12-05 15:15] #477 closed

[2018-12-05 15:44] botaoxiongyong commented on #477
Nevertheless, you may check the different ways of calculating coefs. [CALS10kcoefs.py](https://github.com/botaoxiongyong/pyMagModel/blob/master/CALS10k2/CALS10kcoefs.py) and [pmagpy/cals10k.py](https://github.com/PmagPy/PmagPy/blob/master/pmagpy/cals10k.py)

[2018-12-05 16:11] ltauxe commented on #477
yes - i do it the same for all the models, but i think the smoothing between the different models is not quite right in pmag.doigrf()   I’ll take a look at how you are doing it.  thanks!
lisa

[2018-12-05 20:20] moonshoes87 commented on #473
I can't seem to reproduce problem 2:

    1  saved in  /Users/nebula/Python/PmagPy/data_files/hysteresis_magic/IS06a-1_hyst.svg
   ...

I did change the argument name from dir\_path to output\_dir\_path, but the above seems to work correctly for me.  Are you up to date?

[2018-12-06 00:00] ltauxe commented on #473
it only happens in the notebook - it is the figure manager bit i think.  but everything in ipmag should be notebook compatible.   looking at how ipmag.thellier_magic works, for example, might help.
lisa

[2018-12-06 00:50] ltauxe opened #478 "pmagplotlib.plot_init() no longer works"
**What command was run:**
pmagplotlib.plot_init(1,5,5) from within a notebook

**What happened:**
NonGuiException                           Traceback (most recent call last)
<ipython-input-8-9f63f6ff2089> in <module>
----> 1 pmagplotlib.plot_init(1,5,5)

~/PmagPy/pmagpy/pmagplotlib.py in plot_init(fignum, w, h)
    135     plt.figure(num=fignum, figsize=(w, h), dpi=dpi)
    136     if not isServer

[2018-12-06 00:51] ltauxe commented on #478
i think this will affect all plotting functions from within the notebook.

[2018-12-06 00:54] ltauxe commented on #478
actually - it doesn't...   just some

[2018-12-06 19:07] moonshoes87 opened #479 "take MagIC 2.5 examples out of PmagPy.ipynb"
- Take 2.5 examples out
- Re-release static html notebooks
- Re-release binder notebook

[2018-12-06 20:01] moonshoes87 opened #480 "forc_diagram has lots of warnings on Windows"
but the plot seems to be generated ok.

[2018-12-06 20:16] moonshoes87 commented on #478
Yes, some of the plot interactivity stuff doesn't work very smoothly within the notebooks.  Which plotting functions in particular are you having problems with?

In general it seems easier to save plots silently then display them with Image() as needed in the notebooks.  This is especially true with plotting routines that produce dozens or hundreds of plots -- having those all open at once (or all

[2018-12-06 20:18] moonshoes87 commented on #473
I'll check on this.

[2018-12-06 20:29] moonshoes87 commented on #473
That doesn't happen for me:

<img width="1233" alt="screen shot 2018-12-06 at 12 22 17 pm" src="https://user-images.githubusercontent.com/1836578/49609861-a32b6f00-f951-11e8-9845-ccc64ab65ba0.png">

plot_init shouldn't be called at all in this case, because save_plots is True by default and so plot_init is skipped.  I don't think we should be calling plot_init in the notebooks, or is there a reaso

[2018-12-07 04:37] moonshoes87 opened #481 "in Binder demo, xlwt module not found"
Although it is in binder/environment.yml, xlwt isn't actually getting installed to the environment.

<img width="1135" alt="screen shot 2018-12-06 at 8 36 38 pm" src="https://user-images.githubusercontent.com/1836578/49628015-bdd40700-f996-11e8-9bfc-44854d1abf1b.png">

[2018-12-07 04:42] moonshoes87 commented on #424
These programs should all have an option to only plot the first n plots....

[2018-12-07 19:34] njarboe opened #482 "Latest plot server run log with errors"
@moonshoes87,
Here is the latest log from the plot server. Below is the first error message in the file. Searching on "Traceback" works well to find the others in the log. I imagine you won't get to these until after AGU but, as we discussed, implementing plots on the website should not be an issue as is. The plots will just be missing.

Plotting log:https://pmagpy.earthref.org/plots/batchLog.txt

[2018-12-07 20:30] moonshoes87 commented on #482
Another new error:

[code]

[2018-12-07 20:31] moonshoes87 commented on #482
Another:

[code]

[2018-12-07 20:33] moonshoes87 commented on #482
Another:
[code]

[2018-12-07 20:35] moonshoes87 commented on #482
[code]

[2018-12-07 20:41] moonshoes87 commented on #482
A list of additional contributions with (apparently unique) errors:

/home/magic/contributions/batchPlots/14019
/home/magic/contributions/batchPlots/14254
/home/magic/contributions/batchPlots/14290
/home/magic/contributions/batchPlots/14575
/home/magic/contributions/batchPlots/14736
/home/magic/contributions/batchPlots/15417
/home/magic/contributions/batchPlots/16302
/home/magic/contributions/batc

[2018-12-07 20:44] moonshoes87 commented on #476
@njarboe, that would be great.  I think that Anaconda puts different stuff into .bash_profile or .bashrc than it used to, but I'm not sure if this causes any practical changes.

[2018-12-07 20:44] njarboe commented on #482
@moonshoes87
I wasn't sure how best to report the dozen or more errors in the log but listing each one in its own comment is a good idea I'll follow in the future. I'm sure some of these errors are due to bad data that would now not pass our validation and never be in the database. In those cases it is good if an error message get thrown or even a crash, instead of the error just getting ignored.

[2018-12-07 20:51] moonshoes87 commented on #482
I'm giving each individual comment a thumbs up when it's solved.

[2018-12-07 20:53] moonshoes87 commented on #482
@njarboe, I'll let you know if there is obviously bad data.

We still need to deal with bad data gracefully though, right?  Or do we expect to fix all data to pass validations?

[2018-12-07 20:54] moonshoes87 commented on #482
And yes, I do write out my custom error messages to sys.stderr.

[2018-12-07 20:59] njarboe commented on #482
@moonshoes87
Hopefully in the future all data will pass validations. Going back and fixing everything will take some time and really more people working for MagIC. In the near future (in a few weeks) new data will be fully validated and any data errors that get by validation will be cause to fix up the validation code.

[2018-12-07 21:06] njarboe commented on #482
@moonshoes87
I don't think we will be rerunning make_magic_plots on every contribution very often. Only when a new plot type is added. So if a few have really corrupt data, we can just know that is the case and ignore the errors. Once the major plot debugging is done, the plot server will just take new contribution data and create the plots for that.

[2018-12-07 21:27] moonshoes87 opened #483 "thellier_magic issues with contribution 13238"
**What command was run:**

Contribution 13238
`thellier_magic.py -f measurements.txt -fsp specimens.txt -sav -fmt png`

**What happened:**

[code]

This is the code in ipmag.thellier_magic that is failing:
[code]
No units are found in find_dmag_rec().

Method codes used in this measurement table:

[code]

However, units are only assigned in pmag.find_dmag_rec() if LT-AF-Z, LT-T-Z, or LT-M-Z are fo

[2018-12-07 21:41] moonshoes87 opened #484 "pmag.domean is not setting mpars['specimen_dang'] for calculation type DE-BFL-A"
In pmag.domean:

`  if calculation_type == 'DE-BFL-A':`

should 'specimen_dang' ('dir_dang') be assigned?  Currently it is not, which is causing errors in zeq_magic.py with certain contributions.  Or, at least, can mpars['specimen_dang'] be assigned to ""?

**What command was run:**

`zeq_magic.py -sav -fmt png -crd s`

**What happened:**

[code]

@ltauxe?

**Data file(s):**

[magic_contribution_1

[2018-12-07 22:21] moonshoes87 commented on #482
I'm adding contributions with bad data in this issue:  https://github.com/earthref/MagIC/issues/391

[2018-12-08 00:03] ltauxe commented on #484
no as it by definition is anchored to the origin so DANG would always be zero (and meaningless).  you could assign it to “” or 0.
lisa

[2018-12-08 00:05] ltauxe commented on #483
if no units are found, the data are “dimensionless”.  can we assign units to “” in that case and put in a special case in plot_arai_zij.
lisa

[2018-12-08 23:39] sslotznick opened #485 "Pmag GUI--Reopening misaligned bad measurements"
Using the DemagGui within the PmagGui 4.2.5 Standalone for Windows, we encountered an error.  Measurements that were marked bad on a previous opening of site/sample file shifted up down one measurement (irregardless of temperature step.)  This happened in multiple different site files.  This is on a Windows 64x bit laptop using Windows 10 Home v. 1803.

[2018-12-09 01:15] njarboe commented on #444
I know you told me somewhere how to downgrade, but I can't find the info at the moment.
conda install matplotlib=2.3.3 does not work as it looks like anaconda has removed it from their repos.

[2018-12-09 20:05] #484 closed

[2018-12-09 22:32] moonshoes87 opened #486 "thellier_magic.py produces "posx posy should be finite values" error"
**What command was run:**

[code]

**What happened:**

`posx posy should be finite values` error happens for 4 specimens.

**Data file(s):**

[magic_contribution_16302.txt](https://github.com/PmagPy/PmagPy/files/2661075/magic_contribution_16302.txt)

[2018-12-10 16:46] njarboe opened #487 "Pmag_gui places a table divider at the end of the file when creating a MagIC file."
@moonshoes87, When I load this file into pmag_gui
[Bogue2017_16550.txt](https://github.com/PmagPy/PmagPy/files/2664026/Bogue2017_16550.txt)
unpack it, make a few interpertations, and then save for MagIC, I end up with this file
[Eastern-Sheep-Creek_Sheep-Creek_Valmy-Contact-Sheep-Creek_09.Dec.2018.txt](https://github.com/PmagPy/PmagPy/files/2664049/Eastern-Sheep-Creek_Sheep-Creek_Valmy-Contact-She

[2018-12-10 20:05] moonshoes87 commented on #483
I put in some default behaviors to avoid everything breaking in this situation.  However, I discovered why this seems to be happening, and it might be a problem in the livdb file:

There is only 1 measurement for specimen ATPIPV22-10B:

[code]

And in the original data file:

[code]

So now that I've fixed the plots to "work", they are still kind of stupid, i.e.:

![atpipv22-10b_arai](https://user

[2018-12-10 20:56] moonshoes87 commented on #327
This should get optimized (sometimes it is called more than once unnecessarily).  Also, controlled/suggested vocabularies should be grabbed in the same way.

[2018-12-10 20:56] #487 closed

[2018-12-10 21:05] moonshoes87 commented on #485
@sslotznick, I can't reproduce this error yet.  Can you please specify the exact steps you took?  (E.g., opened Demag GUI, marked measurements as bad, saved tables, closed Demag GUI).  I'm not sure I understand exactly what you mean by "opening" site/sample files.

Also, it might help if you could send me an example files of before and after.

Thanks for reporting this bug!

[2018-12-10 23:12] njarboe opened #488 "int_scat values should be set to "t" and "f" not TRUE and FALSE"
int_scat values should be set to "t" and "f" not TRUE and FALSE

A quick grep in programs did not find where "TRUE" was being set but found it in this latest version of Tauxe 2004:
[magic_contribution_16533.txt](https://github.com/PmagPy/PmagPy/files/2665310/magic_contribution_16533.txt)

This is now caught by the validation so that data file does not pass. Might use this in the demo.

[2018-12-10 23:37] njarboe opened #489 "Sites in data file uploaded into pmag_gui loses many required columns on the creation of a new MagIC file"
@moonshoes87, If I take this file from the current version of Bogue 2017 which passes the current validation
[Bogue2017_16550.txt](https://github.com/PmagPy/PmagPy/files/2665329/Bogue2017_16550.txt)
and open it up in pmag_gui, it loads up the file and I can look at the directions. I then added two interpretations and exported into the MagIC format using the defaults in the dialog and exporting spe

[2018-12-11 00:31] moonshoes87 opened #490 "Binder problems"
The Binder demo is basically working, except for some reason data_files/download_magic/magic_contribution_whatever.txt is missing.  And xlwt doesn't work self install (although I have put in a workaround for that).

[2018-12-11 01:49] sslotznick commented on #485
@moonshoes87, I have attached screenshots of what steps were taken.  Essentially it is as you said, we would opened Demag GUI, mark measurements as bad, save tables, and then close Demag GUI.  Then when we reopened Demag GUI the error would occur.

This happened with PmagGui 4.2.5 Standalone and a similar issue on 3.18.0.

[ErrorSteps.pdf](https://github.com/PmagPy/PmagPy/files/2665616/ErrorSteps.

[2018-12-11 21:35] moonshoes87 commented on #488
Our list actually contains values that don't work -- "0", "False", "FALSE, "Fail", and "b" all evaluate to True.

One option is that I could leave it flexible within PmagPy and just fix int_scat in upload_magic.  However, since you can now upload multiple MagIC files, it's possible that some people will skip using upload_magic.

For now, I'm trying to change it so that PmagPy (basically Thellier G

[2018-12-11 22:19] moonshoes87 commented on #483
I think livdb is Ron's code originally.  I did a little bit of surgery in there to get it into convert_2_magic, but it's mainly his.  I don't really know what should happen to measurements like that.  I guess they should be left in?

[2018-12-11 22:31] moonshoes87 opened #491 "some 2g bin specimen names are getting munched into \x00"
See email exchange

[2018-12-11 22:34] moonshoes87 opened #492 "Update so that controlled/suggested vocabularies are also grabbed from Earthref"
Otherwise, we get crazy problems when updating.  Sigh.  Or maybe go back to using the cached version of the data model....

[2018-12-11 23:44] moonshoes87 commented on #491
Also, make sure output/input directory stuff is fully consistent (seems that measurement file is being treated differently than specimen files for output).

[2018-12-12 05:41] moonshoes87 commented on #488
I’m guessing that it might not have have replaced the old values in fits you didn’t re-calculate, if scat was calculated previously.  I would try deleting the entire int_scat column, then running Thellier GUI —> save MagIC tables.  Or, I can look at  this (but not until tomorrow, possibly as late as afternoon).

[2018-12-12 15:30] njarboe commented on #488
@moonshoes87 Ok. I can change them all to t in the file and then load into pmag_gui. Thanks.

[2018-12-12 21:15] moonshoes87 commented on #485
Thank you for the detailed bug report.  I’m able to reproduce the issue now, and I’ll let you know when I have a solution!

[2018-12-12 23:20] moonshoes87 commented on #489
@njarboe, I'm working on this now.

It looks like if I just do download_magic/upload_magic I get no validation errors, so the issue is something that is happening in the process of making interpretations.  I will continue to look into this.  Also, please let me know what (if anything) is most urgent for right now.

[2018-12-13 01:03] moonshoes87 commented on #489
I tried download_magic/Demag GUI 2 interpretations saving only specimen tables/upload_magic, and got these 3 errors on validation:

<img width="886" alt="screen shot 2018-12-12 at 3 24 48 pm" src="https://user-images.githubusercontent.com/1836578/49905350-2cdfae80-fe22-11e8-89a3-1424fcdffda8.png">

Taken from the file I uploaded:

Relevant row in specimens:

specimen    experiments sample  dir_alp

[2018-12-13 02:55] rminnett commented on #489
So, if I understand correctly, these measurements have experiment names that include colons?

If so, this creates a problem in the specimens table because the experiments column is defined as a colon-delimited list and the validation is breaking up the experiment name and then trying to find matches that won't exist. We can either:

1) add a "no colons" validation to measurements.experiment (and t

[2018-12-13 04:12] njarboe commented on #489
I think no colons in experiment names is fine. I'll look into why this contribution ended up with that and change them in the data file to underscores.

[2018-12-13 05:08] njarboe opened #493 "demag_gui cookbook instructions need updating"
demag_gui cookbook instructions need updating. They refer to pmag tables that are gone in data model 3.0 among other things that are possibly out of date.

[2018-12-14 01:05] moonshoes87 commented on #489
pmag.measurements_methods3 (which is used in most conversion scripts) uses colons for measurements.experiment.

Would we just want to replace ":" with "_", or another simple fix?  I am not sure exactly how measurements.experiment is used internally throughout PmagPy, particularly in the Demag/Thellier GUIs. @ltauxe?

This line is where measurements.experiment is set (around line 8695)

    rec["ex

[2018-12-14 19:18] moonshoes87 commented on #485
@sslotznick, I have a fix on the master branch.  I will make new releases for pip and standalones today or on Monday, then I will close this issue.

[2018-12-14 20:20] moonshoes87 commented on #492
For the moment, only used the cached stuff.  We need to either do all from earthref or all cached.

[2018-12-14 20:21] moonshoes87 commented on #491
Looks like directory in/out is fine (I written one kind of weird test).  @ltauxe, my fix for specimen name seems to work on our example in data_files as well as for the new example file I was given.  Please feel free to change it if there is something about the file format that I misunderstood.

[2018-12-14 23:04] njarboe commented on #489
@moonshoes87, I'm heading back from AGU this evening and will take a look at this next week. I think we can have multiple experiments on the same specimen, so we have a colon delimited list of experiments in the specimens table. I think using an _ or - instead of : should be fine but not sure what pmag_gui programs expect.

[2018-12-18 00:36] moonshoes87 commented on #485
@sslotznick, sorry for the delay!  I'm fixing some more edge cases, and will release very soon.

[2018-12-18 18:41] moonshoes87 commented on #483
Lori to do:  Change thellier_magic to only plot if you have at least 3 points.

Lisa to do:  Figure out why the livdb conversion isn't working awesomely:  /data_files/convert_2_magic/livdb_magic/TH_IZZI+/

[2018-12-18 18:59] moonshoes87 commented on #478
Trying to run ipmag.hysteresis_magic with save_plots=False

[2018-12-18 19:01] moonshoes87 commented on #478
See if we can check automatically for if we're in a notebook.

Also have a default of 5 plots.

[2018-12-18 19:03] moonshoes87 commented on #474
This works now.

[2018-12-18 19:03] #474 closed

[2018-12-24 19:57] njarboe opened #494 "Current Tauxe 2004 data file on MagIC does not load into demag_gui"
This files used to upload into demag_gui, so the bug is probably in the program and not the data file. On the most recent developer pull when I run pmag_gui.py, unpack this file just downloaded from MagIC:
[magic_contribution_16533.txt](https://github.com/PmagPy/PmagPy/files/2707709/magic_contribution_16533.txt)
 and then try to run demag_gui, I get this error:

pmag_gui.py
-I- Importing Pmag GUI

[2018-12-25 04:02] #494 closed

[2018-12-25 18:51] njarboe commented on #494
Looks good. Thanks.

[2018-12-27 01:14] moonshoes87 commented on #494
I need to do a bit more to make sure all edge cases are covered, and re-release, but I can’t do that until I have WiFi again! Should be December 29 or 30 at the latest.

[2019-01-01 20:18] moonshoes87 commented on #485
@sslotznick, this should be entirely fixed in all releases.

[2019-01-01 20:18] #485 closed

[2019-01-01 20:30] moonshoes87 commented on #481
I was able to fix this.

[2019-01-01 20:30] #481 closed

[2019-01-02 04:10] njarboe commented on #482
Ok. Re-running now.

[2019-01-02 21:47] moonshoes87 commented on #478
@ltauxe, it seems that we want three separate behaviors for plotting functions like ipmag.hysteresis_magic.

1.  Plot everything silently and save it
2.  Plot everything (or just the first five) and display it immediately (notebook)
3.  Plot everything and interactively ask users to save/continue/quit at each plot or set of plots (command line)

Does this seem right to you?

[2019-01-03 00:54] ltauxe commented on #478
yup.  that sums it up.
lisa

[2019-01-06 00:01] moonshoes87 commented on #478
I've modified plot_init so that it works fine within the notebook.  I've added a constant IS_NOTEBOOK to pmag_env/set_env.py, and modified plot_init to work correctly within the notebook environment.  So far so good.

I've updated ipmag.thellier_magic as a test case to fit this model.  (I know we were talking about hysteresis_magic earlier, but I did this with thellier_magic first).  It now takes

[2019-01-06 00:39] moonshoes87 opened #495 "make output_dir_path/input_dir_path convention the same everywhere"
See how it is done in ipmag.hysteresis_magic, etc.  Make it like that everywhere.

[2019-01-06 00:50] moonshoes87 opened #496 "updates/fixes for combine_magic"
- Deal with measurements.sequence in a smarter way
- input/output directory

[2019-01-06 01:11] moonshoes87 commented on #478
plot_init has been fixed to work with notebooks just fine.  This work of refactoring will now be continued in https://github.com/PmagPy/PmagPy/issues/424

[2019-01-06 01:11] #478 closed

[2019-01-06 01:38] ltauxe commented on #170
I finally got a chance to look into this, but of course the branch is still in python2 so doesn't run on my computer and the two projects have diverged since you wrote this (my bad - really sorry).  But your logic above looks sound to me.  The only trouble I can foresee is that some folks start their plots at high temperature (say 500C!) so somehow we should be able to ignore the NRM if it isn't p

[2019-01-06 01:56] moonshoes87 commented on #493
I will work on this!

[2019-01-08 21:23] moonshoes87 commented on #170
@Caoimhinmg, I know it's been a long time, but is there any chance that you would have some time to port this over to python/MagIC 3?  Let me know if I can help, or maybe take this on entirely if you are too busy?

[2019-01-09 00:58] #496 closed

[2019-01-11 17:50] jbowles100 opened #497 "Problem with eqarea_magic.py"
Lines 105-107 (first three below) were already there.  Get error that "do_plot called before defined".  So added next two lines.

    if save_plots:
        do_plot = True
        verbose = False
    else:                       #### ADDED LINE
        do_plot = False   #### ADDED LINE

[2019-01-11 17:51] jbowles100 opened #498 "Problem with vgpmap_magic.py"
Only plots first VGP in file unless you specify the -rev switch.  Couldn't track down source of the problem. (sorry)

[2019-01-11 22:16] moonshoes87 commented on #498
@jbowles100, thanks for the bug report!  I suspect there is a bug with something specific in your file, since I can't reproduce the problem on the datasets I have.  For example, this call in [PmagPy-cli.ipynb](http://pmagpy.github.io/PmagPy-cli.html) seems to plot all VGPs without -rev:

![screen shot 2019-01-11 at 2 10 59 pm](https://user-images.githubusercontent.com/1836578/51062210-e8733a00-15a

[2019-01-14 15:57] jbowles100 commented on #498
Thanks, Lori.  I was using data files downloaded from MagIC (see attached) that I use in a homework problem.  I can try around with some other files later this week.

Julie

tab 	sites
age	age_sigma	age_unit	citations	conglomerate_test	contact_test	criteria	description	dir_alpha95	dir_dec	dir_inc	dir_k	dir_n_samples	dir_n_specimens_lines	dir_n_specimens_planes	dir_nrm_origin	dir_polarity	dir_r	dir

[2019-01-14 18:46] moonshoes87 commented on #495
I believe I have fixed this everywhere that is relevant in ipmag.  In a few functions, there is only input or only output directory required, and these ones I have left alone.

[2019-01-14 19:33] moonshoes87 commented on #497
@jbowles100, I believe this is fixed.  If you have a developer install, you should be able to pull and test it out.  If you installed with pip, let me know and I will make a new release so you can check it.  Thanks!

[2019-01-14 19:34] moonshoes87 commented on #498
@jbowles100, thanks, I will check it out with what you sent.

[2019-01-14 19:54] moonshoes87 commented on #498
@jbowles100, when I plot the sites file you sent me (with the command `vgpmap_magic.py -fmt png`), I get the following plot:

![snake river_vgp_map](https://user-images.githubusercontent.com/1836578/51136583-b6074e00-17f1-11e9-992a-267ba729b62c.png)

This seems to be plotting multiple VGPs correctly.  Were you using any other command line options that might have been causing the bug?

[2019-01-14 20:17] moonshoes87 opened #499 "do_lnp figures are huge in PmagPy.ipynb"
In lnp_magic section of PmagPy.ipynb:

<img width="1192" alt="screen shot 2019-01-14 at 12 15 43 pm" src="https://user-images.githubusercontent.com/1836578/51138575-4c3d7300-17f6-11e9-9a03-d88dc5724be7.png">

[2019-01-14 20:50] moonshoes87 commented on #499
It's definitely because of irm_unmix, although this didn't use to happen.  irm_unmix does set the backend to QTAgg (or tries to).

[2019-01-14 20:55] moonshoes87 commented on #499
Ah, this happens with matplotlib 3.0.2.

[2019-01-17 22:02] moonshoes87 opened #500 "Small issues with Demag GUI"
1.

VGP viewer quietly failing with TypeError if site_lat is missing.
[code]

2.  When trying to check sample orientations (hotkey ctrl-o), warning message about missing azimuth/dip pops up at least twice (and sometimes three times?).

I got both of these errors using the Pmag GUI tutorial data.

[2019-01-17 22:06] moonshoes87 commented on #493
I've made updates for MagIC 3.0 accuracy and clarity in the Demag GUI install instructions.  Those are now up.  @njarboe, if you wanted to have a look, that would be great.

[2019-01-17 23:52] njarboe opened #501 "Some plotting format problems"
I'm working on the plot server again in prep for Rupert setting up the linking to the live site. I'm going to focus on problems with data files that pass the current more extensive validation so there should be less problems with missing data causing errors.

For Magic file
[magic_contribution_16502.txt](https://github.com/PmagPy/PmagPy/files/2770989/magic_contribution_16502.txt)
I get these plott

[2019-01-18 20:21] moonshoes87 commented on #495
I'm pretty sure this is done.

[2019-01-18 20:21] #495 closed

[2019-01-23 20:33] moonshoes87 commented on #501
With my new fixes:

![fixed_arai_](https://user-images.githubusercontent.com/1836578/51634846-1d1bb580-1f0a-11e9-999e-f8225dad2017.png)

![fixed_zijd](https://user-images.githubusercontent.com/1836578/51634893-3f153800-1f0a-11e9-81fd-f165430ce4c9.png)

I *think* I have fixed everything in this issue.  Please open a new issue for what comes next, or reopen this if these fixes don't look right.

[2019-01-23 20:33] #501 closed

[2019-01-24 20:02] ltauxe opened #502 "thellier_gui upset about measurement_number"
**What command was run:**

thellier_gui.py

**What happened:**

Traceback (most recent call last):
  File "/Users/ltauxe/PmagPy/programs/pmag_gui.py", line 467, in on_btn_thellier_gui
    evt_quit=ThellierGuiExitEvent)
  File "/Users/ltauxe/PmagPy/programs/thellier_gui.py", line 400, in __init__
    self.Data, self.Data_hierarchy = self.get_data()
  File "/Users/ltauxe/PmagPy/programs/thellier_gui

[2019-01-24 20:07] ltauxe commented on #502
i fixed this by changing the except ValueError: to except:

[2019-01-24 20:07] #502 closed

[2019-01-25 21:31] #500 closed

[2019-01-28 17:22] jbowles100 commented on #498
Thanks, Lori.  Sorry for taking so long to get back to you, but after some more testing, it seems the problem is limited to the Mac.  When I run it on a PC, it seems to work fine.  What operating system are you using?

I’ve attached figures resulting from the same command on Mac and PC.

My students are all using PCs, so it’s not particularly urgent for me.

Thanks!!

Julie

tab 	sites
age	age_sig

[2019-01-28 22:14] moonshoes87 opened #503 "Maximum recursion depth environment error (pandas 0.24.0)"
Weird problems are happening with maximum recursion depth errors.  I think this might have to do with the version of pandas, but when I try to downgrade pandas, I get other strange errors:  https://github.com/ContinuumIO/anaconda-issues/issues/10557

See eqarea_magic.py examples in PmagPy-cli.ipynb.  Possibly matplotlib figures need to be closed that aren't getting closed?  But why did this just s

[2019-01-28 23:15] moonshoes87 commented on #503
Two fixes, one permanent and one temporary:

- downgrade pandas to 0.23.4 (0.24.0 causes things to break).
- use plt.close() in pmagplotlib.save_plots

[2019-01-29 04:20] moonshoes87 commented on #498
@jbowles100, no problem on the delay!  I am on a Mac as well, and I don't seem to get this problem.

Unfortunately your attachments didn't make it through (with the Github issues, you can't attach files using email, you have to go do that directly on https://github.com/PmagPy/PmagPy/issues/498).

With that said, I can think of two possibilities.  One, you have an older, buggy version of cartopy.

[2019-01-29 19:55] moonshoes87 commented on #498
@jbowles -- and if you have a developer install, you can still follow the same steps to create a pmagpy environment, you will just update with `git pull` instead of `pip install pmagpy pmagpy-cli`.

[2019-01-29 19:56] moonshoes87 commented on #503
To do:
- update Cookbook instructions to specify pandas version.
- revisit this problem in a few weeks, see if the pandas bug has been fixed

[2019-01-29 20:05] moonshoes87 commented on #488
I have made the update so that Thellier GUI outputs "t" and "f" for SCAT.  There was some discussion of changing the validations to allow other values, and I'm not sure where we landed on that.  I am closing this issue, as it is now a MagIC issue not a PmagPy one.

[2019-01-29 20:05] #488 closed

[2019-01-29 20:06] #493 closed

[2019-01-29 20:09] moonshoes87 commented on #476
I've now uninstalled/reinstalled Anaconda.  The init code in .bash_profile is indeed different than it used to be:

[code]

but this is not consequential for general use.  I believe this just allows users to run custom code on Anaconda startup.

[2019-01-29 20:09] #476 closed

[2019-01-29 22:39] jbowles100 commented on #498
Thank you!  It was the cartopy.

[2019-01-29 23:15] moonshoes87 commented on #498
Great, I'm glad that's working!  I'm going to close this issue, please keep us posted of any other problems you run into.

[2019-01-29 23:15] #498 closed

[2019-01-30 07:35] njarboe opened #504 "Demag_gui doc review comments and minor suggested changes"
@moonshoes87, I'm looking over the dmag_gui docs as I look over the missing column issue. Here are some comments. I'm on a Mac and just pulled from master.

On 3.4 Demag GUI quick start
1) Maybe you state elsewhere that for hotkey ctrl means command on a Mac, but unfortunately Mac also has a control key and that does not work for the hot keys. Coming directly to this page, I tried ctrl-n and it di

[2019-01-30 08:22] njarboe opened #505 "Saving data from demag_gui issues"
@moonshoes87, when saving the data to magic tables, in the dialogue box the default age box is out of date. There is now longer and er_ages.txt file. It is now just ages.txt. Also the age of the site should also be able to be determined using the age columns in the sites table. Age tables will rarely be filled out for all of the sites and often for none so this option should be the default one. Wh

[2019-01-30 08:28] njarboe opened #506 "Validation tool states that the dir_nrm_origin and dir_polarity columns in the samples table are required when they should not be"
Validation tool states that the dir_nrm_origin and dir_polarity columns in the samples table are required when they should not be.

![screen shot 2019-01-30 at 12 26 54 am](https://user-images.githubusercontent.com/1278789/51968126-099aae00-2426-11e9-9e94-d02fe7c18bfa.png)

These may have been changed recently to not required.

[2019-01-30 23:33] moonshoes87 commented on #505
How does this look cosmetically?  I haven't made it actually *work* yet ;)

<img width="956" alt="screen shot 2019-01-30 at 3 32 26 pm" src="https://user-images.githubusercontent.com/1836578/52019953-59b85580-24a4-11e9-83be-110c27d15620.png">

[2019-01-31 00:15] njarboe commented on #505
I guess we don't need to display the computer column names. It is a bit confusing to have both and if we do we should have it everywhere for consistency.  How about just "younger bound", "older bound", "age", "age one sigma"? It would be nice if the labels were closer to the boxes but I imagine that is a gui setting you don't control. With the shorter names maybe you can fit them all on one line.

[2019-01-31 00:36] njarboe opened #507 "Validation check still says I have missing columns after I have added them"
On the Bogue2017 file I'm testing on, when I added some interpretations and then went to export I add two columns dir_nrm_origin and dir_polarity, saved and then the tool said I still had to add them. Went back and the columns were there but still had the error. Tried saving the grid and the same issue.

Maybe the problem is related to #506

Screen after adding the columns, saving the grid, and re

[2019-01-31 00:54] njarboe opened #508 "Warning error message change requested"
@moonshoes87 When I open pmag_gui to look at a data file downloaded from MagIC and forget to "Unpack txt file downloaded from MagIC" before clicking on the Demag GUI, I get the error:
![screen shot 2019-01-30 at 4 44 37 pm](https://user-images.githubusercontent.com/1278789/52022684-dcdea900-24ae-11e9-874f-2ac3d0888e0e.png)

This does not mention the cause of my problem which is that I did not unpa

[2019-01-31 19:00] njarboe opened #509 "pmag_gui validation does not read Boolean vocabulary correctly - cannot save data to magic file"
I am trying to just download the recent upload, Bono 2019, from magic, load it into pmag_gui, and export it as a magic file to compare with the original download.

If I uppack the data file (
[magic_contribution_16534.txt](https://github.com/PmagPy/PmagPy/files/2818669/magic_contribution_16534.txt)
) and then try to save as a magic file without doing anything else, I get these errors:

![screen sh

[2019-01-31 22:51] moonshoes87 commented on #505
Ok.  What do you think of having those values saved into the sites table instead of the ages table?  I think this makes more sense with the data model, as these would likely be inferred ages if they are being entered in this way rather than individually by site.

[2019-02-01 00:06] njarboe commented on #505
That makes sense. No reason to make an age table if the person does not need it. We have had many ideas of how the age table should work over the years, but currently it is when you want to give more information about an age. Like it is from another paper, or which chron its in or to make it clear the age was done in this paper, etc.

I'm not sure how it works right now, but not having the age box

[2019-02-01 00:08] ltauxe commented on #505
i agree

[2019-02-01 20:59] ltauxe commented on #509
seems like we should recognize ’t’, ‘1’, ‘True’, ‘true’ (and similar for False) as being valid and then convert them to whatever MagIC wants within the GUI.  no?
lisa

[2019-02-04 20:32] moonshoes87 commented on #506
@rminnet, the "update_day" in the data model .json doesn't appear have changed with these latest minor changes.  The cached version I have PmagPy and the latest downloaded from Earthref both say "updated_day": "2018:10:30", however they do contain differences.

What is your standard for updating that field?

[2019-02-04 20:38] moonshoes87 commented on #506
@njarboe, in the samples table dir_nrm_origin is: requiredIfGroup("Direction").  It is the same for dir_polarity (in the samples table only).  So I believe this validation is being executed correctly.  Perhaps that should be changed?

[2019-02-04 20:41] moonshoes87 commented on #509
@njarboe, yes, this is easily fixed.  Just need to add it to the boolean list.  Thanks!

[2019-02-04 21:41] njarboe commented on #509
@moonshoes, With your changes made above is it ready for me to test again? On master?

[2019-02-04 21:43] moonshoes87 commented on #509
You can either test on master (which has all of the fixes other than Demag GUI ages stuff), or on the demag_gui branch (which has all the fixes from master AND the more experimental fixes for Demag GUI).

[2019-02-04 21:51] #508 closed

[2019-02-04 21:59] moonshoes87 commented on #507
@njarboe, the validation is not re-run until you exit validation mode and do upload_magic again.  I can see how this could confuse people.  I will see about refactoring so that the validations for a particular table are re-run once the table window is closed -- if it is straightforward to implement, it seems like a worthwhile update.

[2019-02-04 22:16] njarboe commented on #509
Great. I'll use demag_gui branch and see how that works and also try it on master.

@moonshoes87 Do you know why, after I checkout the pmag_gui branch and then pull, I have to leave a merge message? I don't have to do that when just pulling from master.
Thanks.

[2019-02-04 23:18] njarboe commented on #505
Yes. Not requiring ages when just doing analysis is much better. Many times you won't even have an age till later.

As Lisa said, when exporting the data to create a MagIC file for upload is the time to check for the required ages. Then it would be nice to do the complicated rules check for ages as being slow is not an issue.

[2019-02-04 23:33] njarboe commented on #506
This is one of the cases where we want people to be able to leave it blank and then we fill in the default. That is probably not going to get done for awhile. In the mean time I can quickly add "" and/or " " to the vocabulary list for these required controlled vocab columns. @rminnett @moonshoes87 Will that work or should I add " " instead/in addition?

Here are the controlled vocab where I am add